@using CRS.CUSTOMER.APPLICATION.Library
@model CRS.CUSTOMER.APPLICATION.Models.LocationManagementV2.LocationV2ClubHostModel
@{
    var PrefecturesArea = ViewBag.LocationId;
    var LocationJapaneseLabel = ViewBag.LocationJapaneseLabel;
    string[] PrefecturesAreaPart = PrefecturesArea.Split('/');
    string[] PrefecturesAreaJapnesePart = LocationJapaneseLabel.Split('/');
    ViewBag.Title = $"{PrefecturesAreaJapnesePart[0]}({PrefecturesAreaJapnesePart[1]})のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》";
    //ViewBag.Title = $"{PrefecturesAreaPart[2]}({PrefecturesAreaPart[1]})のホストクラブ‖ホスログ ||◤推しホストが見つかる◢|| ホストクラブ初回来店・ネット予約";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var MetaClubCount = ViewBag.MetaClubCount;
    var MetaHostCount = ViewBag.MetaHostCount;
    var metaContent = $"『{PrefecturesAreaPart[2]}({PrefecturesAreaPart[1]})』エリア{MetaClubCount}件のホストクラブ・{MetaHostCount}人のホスト情報を掲載中！業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びに失敗しません☆予約時に好みをリクエスト出来て推しホストに出会いやすい！";
}
<meta name="description" content="@metaContent">

<style>

    #innersec {
        overflow-y: visible;
    }

    /* The Modal (background) */
    .my-custom-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    .loader {
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 1px;
        background-color: #3E3E3E;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Modal Content (image) */
    .my-modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 50px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    .club_content .call-now-button {
        border-radius: 4px;
        border: 1px solid #D75A8B;
        display: flex;
        justify-content: center;
        gap: 4px;
        width: 100%;
        max-width: 84px;
        align-items: center;
        color: #D75A8B;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.56px;
        line-height: 150%;
        height: 45px;
    }
</style>
<style>

    .next-prev-btn {
        border: 1px solid #F8F8F8;
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        flex: none;
        cursor: pointer
    }

    .page-number-list div {
        border: 1px solid #F8F8F8;
        display: flex;
        height: 44px;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        cursor: pointer;
        max-width: 51px;
        width: 100%;
    }

        .page-number-list div.active {
            color: #D75A8B;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            background: #F3F3F3;
        }

    .owl-dots > .active {
        background: #E3A1A1;
    }

    .locationSearch:focus {
        outline: none;
    }
</style>
<!-- #region Search -->
<script src="~/Content/assets/js/call_popup_modal.js"></script>
<div class=" border border-[#D6CEB4] flex my-2 mx-4 rounded-[4px] search-input" onclick="redirectToSearchPage()">
    <span class=" mt-[10px] ml-3 material-icons-outlined text-[#D6CEB4]">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.125 1.875C11.5698 1.875 14.375 4.68018 14.375 8.125C14.375 9.62158 13.8501 10.9937 12.9688 12.0703L17.9492 17.0508L17.0508 17.9492L12.0703 12.9688C10.9937 13.8501 9.62158 14.375 8.125 14.375C4.68018 14.375 1.875 11.5698 1.875 8.125C1.875 4.68018 4.68018 1.875 8.125 1.875ZM8.125 3.125C5.35645 3.125 3.125 5.35645 3.125 8.125C3.125 10.8936 5.35645 13.125 8.125 13.125C10.8936 13.125 13.125 10.8936 13.125 8.125C13.125 5.35645 10.8936 3.125 8.125 3.125Z"
                  fill="#BCB08A" />
        </svg>
    </span>
    <input class="w-full ml-1 text-xs text-[#BCB08A] locationSearch "
           title="Search"
           type="text"
           placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.Search_Filter_Placeholder" readonly />
    <div class="group flex justify-end cursor-pointer p-3 rotate-90" title="Filter">
        <a onclick="redirectToSearchPage()">
            <svg class="group-hover:bg-primaryLight w-4 h-4 text-[#BCB08A] " aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                      d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2" />
            </svg>
        </a>
    </div>

</div>

<!-- #endregion -->
<!-- #region Slider image -->
<div class="owl-carousel owl-theme " style="background: #EFEFEF; padding-top: 8px;">
    @foreach (var item in Model.Banners)
    {
        if (!string.IsNullOrEmpty(item.BannerImage))
        {
            <div class="item ">
                <img src="@item.BannerImage" class="h-[152px] object-cover" alt="slider">
            </div>
        }
        else
        {
            <div class="item ">
                <img src="~/Content/assets/images/customer/demo-image.jpeg" class="h-[152px] object-cover" alt="slider">
            </div>
        }
    }
</div>
<!-- #endregion -->
<!-- #region Tab -->

<div class="">
    <div class="flex px-[16px] gap-[24px]" style="border-bottom: 4px solid #EFEFEF;">
        <div class="grid grid-cols-2 w-full tab-container-plane bg-white gap-[14px]">
            <button id="tab1Button" class="tab-button-plane tab-link active">
                @*     @CRS.CUSTOMER.APPLICATION.Resources.Resource.HostClubList*@ 店舗一覧
            </button>
            <button id="tab2Button" class="tab-button-plane tab-link">
                @*   @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host*@ ホスト一覧
            </button>
        </div>
    </div>
</div>
<div class="">
    <div class="bg-white">
        <div id="tab1" class="tab-content-plane">
            <div class="list_wrap">

                @if (Model.ClubListModel == null || Model.ClubListModel.Count <= 0)
                {
                    <!--comming soon page start-->
                    <div style="height:168px; margin:12px 0;padding:48px 16px; background:#fff; gap:4px;  align-self:stretch" class="px-4; flex flex-col justify-between items-center">
                        <span>
                            <span>
                                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="path-1-inside-1_17_34" fill="white">
                                        <path d="M42 24C42 33.9411 33.9411 42 24 42C14.0589 42 6 33.9411 6 24C6 14.0589 14.0589 6 24 6C33.9411 6 42 14.0589 42 24Z" />
                                    </mask>
                                    <path d="M42 24C42 33.9411 33.9411 42 24 42C14.0589 42 6 33.9411 6 24C6 14.0589 14.0589 6 24 6C33.9411 6 42 14.0589 42 24Z" fill="white" />
                                    <path d="M41 24C41 33.3888 33.3888 41 24 41V43C34.4934 43 43 34.4934 43 24H41ZM24 41C14.6112 41 7 33.3888 7 24H5C5 34.4934 13.5066 43 24 43V41ZM7 24C7 14.6112 14.6112 7 24 7V5C13.5066 5 5 13.5066 5 24H7ZM24 7C33.3888 7 41 14.6112 41 24H43C43 13.5066 34.4934 5 24 5V7Z" fill="#F2F2F2" mask="url(#path-1-inside-1_17_34)" />
                                    <path d="M18 18V19.8282L16.5 21.8282V22.0001C16.5 22.8224 17.1778 23.5002 18 23.5002V30.0004H26.0003V25.5002H27.0003V30.0004H30.0004V23.5002C30.8227 23.5002 31.5005 22.8224 31.5005 22.0001V21.8282L30.0004 19.8282V18H18ZM19.0001 19H29.0004V19.5H19.0001V19ZM18.7501 20.5001H29.2504L30.4536 22.1095C30.3989 22.3263 30.2348 22.5001 30.0004 22.5001C29.7231 22.5001 29.5004 22.2775 29.5004 22.0001H28.5004C28.5004 22.2775 28.2777 22.5001 28.0004 22.5001C27.723 22.5001 27.5004 22.2775 27.5004 22.0001H26.5003C26.5003 22.2775 26.2777 22.5001 26.0003 22.5001C25.723 22.5001 25.5003 22.2775 25.5003 22.0001H24.5003C24.5003 22.2775 24.2776 22.5001 24.0002 22.5001C23.7229 22.5001 23.5002 22.2775 23.5002 22.0001H22.5002C22.5002 22.2775 22.2775 22.5001 22.0002 22.5001C21.7228 22.5001 21.5002 22.2775 21.5002 22.0001H20.5001C20.5001 22.2775 20.2775 22.5001 20.0001 22.5001C19.7228 22.5001 19.5001 22.2775 19.5001 22.0001H18.5001C18.5001 22.2775 18.2774 22.5001 18 22.5001C17.7657 22.5001 17.6016 22.3263 17.5469 22.1095L18.7501 20.5001ZM19.0001 23.1095C19.2657 23.3498 19.6173 23.5002 20.0001 23.5002C20.3829 23.5002 20.7345 23.3498 21.0001 23.1095C21.2658 23.3498 21.6174 23.5002 22.0002 23.5002C22.383 23.5002 22.7346 23.3498 23.0002 23.1095C23.2658 23.3498 23.6174 23.5002 24.0002 23.5002C24.3831 23.5002 24.7346 23.3498 25.0003 23.1095C25.2659 23.3498 25.6175 23.5002 26.0003 23.5002C26.3831 23.5002 26.7347 23.3498 27.0003 23.1095C27.266 23.3498 27.6175 23.5002 28.0004 23.5002C28.3832 23.5002 28.7348 23.3498 29.0004 23.1095V29.0004H28.0004V24.5002H25.0003V29.0004H19.0001V23.1095ZM20.0001 24.5002V28.0003H24.0002V24.5002H20.0001ZM21.0001 25.5002H23.0002V27.0003H21.0001V25.5002Z" fill="#C8C8C8" />
                                    <g clip-path="url(#clip0_17_34)">
                                        <rect x="30" y="30" width="12" height="12" rx="6" fill="white" />
                                        <path d="M36.0013 30.668C33.0603 30.668 30.668 33.0603 30.668 36.0013C30.668 38.9423 33.0603 41.3346 36.0013 41.3346C38.9423 41.3346 41.3346 38.9423 41.3346 36.0013C41.3346 33.0603 38.9423 30.668 36.0013 30.668ZM36.0013 31.5569C38.4614 31.5569 40.4457 33.5412 40.4457 36.0013C40.4457 38.4614 38.4614 40.4457 36.0013 40.4457C33.5412 40.4457 31.5569 38.4614 31.5569 36.0013C31.5569 33.5412 33.5412 31.5569 36.0013 31.5569ZM35.5569 32.4457V36.4457H38.668V35.5569H36.4457V32.4457H35.5569Z" fill="url(#paint0_linear_17_34)" />
                                    </g>
                                    <rect x="30.5" y="30.5" width="11" height="11" rx="5.5" stroke="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear_17_34" x1="31.7346" y1="31.7346" x2="42.0845" y2="32.8214" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#99AEFB" />
                                            <stop offset="0.578125" stop-color="#F04AA4" />
                                            <stop offset="1" stop-color="#E7B282" />
                                        </linearGradient>
                                        <clipPath id="clip0_17_34">
                                            <rect x="30" y="30" width="12" height="12" rx="6" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </span>

                        </span>
                        <p style="height: 20px; width: 100%; text-align: center; color: #18181B; font-weight:600;font-family:14px; line-height:24px">Coming soon</p>
                    </div>
                    <!--comming soon page end-->
                }
                else
                {

                    foreach (var item in Model.ClubListModel)
                    {
                        if (item.ClubCategory.Trim().ToUpper() == "P")
                        {
                            <div class="club_content" style="cursor:pointer">
                                <!-- s/link -->
                                <a onclick="ClubDetailRedirectFunction('@item.ClubCode', '@ViewBag.LocationId')">
                                    <ul class="club_tags">
                                        @if (!string.IsNullOrEmpty(@item.Tag1))
                                        {
                                            <li class="tag_location"><img class="map_pin" src="~/Content/assets/images/location_icon.svg" alt="ピン"> @item.Tag1</li>
                                        }
                                        @if (!string.IsNullOrEmpty(@item.Tag2))
                                        {
                                            <li class="tag_rank">
                                                ランク @item.Tag2
                                            </li>
                                        }
                                        @if (!string.IsNullOrEmpty(@item.Tag3))
                                        {
                                            <li class="tag_platinum">  @item.Tag3</li>
                                        }

                                        @if (!string.IsNullOrEmpty(@item.Tag4))
                                        {
                                            <li class="tag_good">@item.Tag4</li>
                                        }
                                        @if (!string.IsNullOrEmpty(@item.Tag5))
                                        {
                                            <li class="tag_big">  @item.Tag5</li>
                                        }
                                    </ul>
                                    <div class="club_header">
                                        <div class="club_logo"><img class="logo" alt="ロゴ" src="@item.ClubLogo"></div>
                                        <div class="club_info">
                                            <h3 class="club_name">@item.ClubName</h3>
                                            <p class="club_kana">@item.ClubNameJapanese</p>
                                            <p class="club_group">@item.GroupName</p>
                                        </div>
                                        @if (item.IsBookmarked.ToUpper() == "Y")
                                        {
                                            <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId','','club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-filled.svg"></div>
                                        }
                                        else
                                        {
                                            <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId','','club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-notfilled.svg"></div>
                                        }
                                    </div>
                                    <ul class="club_thumb">
                                        @foreach (var item2 in item.HostGalleryImage)
                                        {
                                            <li><img alt="@item.ClubName ([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="@item2"></li>
                                        }

                                    </ul>
                                    <div class="club_rate">
                                        <ul class="rate_stars">
                                            @{
                                                var unratedScale = (5 - item.AverageRating);
                                                for (int i = 0; i < item.AverageRating; i++)
                                                {
                                                    <li><img src="~/Content/assets/images/ratingstar-filled.svg" alt="未評価"></li>
                                                }
                                                for (int i = 0; i < unratedScale; i++)
                                                {
                                                    <li><img src="~/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>
                                                }
                                            }

                                            <li class="rate_value"> @item.AverageRating</li>
                                        </ul>
                                        <ul class="rate_review">
                                            <li><img src="~/Content/assets/images/comment.svg" alt="コメント"></li>
                                            <li class="comment_value">@item.TotalComment</li>
                                        </ul>
                                    </div>
                                    <p class="club_pr"> @item.ClubDescription</p>
                                </a>
                                <!-- e/link -->
                                <!-- s/club footer -->
                                <div class="club_footer">
                                    <!-- s/club status -->
                                    <div class="club_status">
                                        @{
                                            DateTime currentTime = DateTime.Parse(DateTime.Now.ToString("HH:ss"));
                                        }
                                        <!-- s/opening hours -->
                                        @if (!string.IsNullOrEmpty(@item.ClubOpeningTime) && !string.IsNullOrEmpty(@item.ClubClosingTime))
                                        {
                                            if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "DAY")
                                            {
                                                <div class="opening_hours">
                                                    <img src="~/Content/assets/images/customer/sun.svg" alt="夜">
                                                    <span style="line-height:13px;">
                                                        @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime

                                                    </span>
                                                </div>
                                            }
                                            else if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                                            {
                                                <div class="opening_hours">
                                                    <img src="/Content/assets/images/customer/moon.svg" alt="夜">
                                                    <span style="line-height:13px;">
                                                        @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime

                                                    </span>
                                                </div>
                                            }

                                            <!-- e/opening hours -->
                                            <!-- s/available -->

                                            if (!string.IsNullOrEmpty(item.TodaysClubSchedule) && item.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE")
                                            {
                                                <div class="available">本日空席あり</div>
                                            }
                                            else
                                            {
                                                <div class="available disabled">本日空席あり</div>
                                            }
                                        }
                                        <!-- e/available -->
                                    </div>
                                    <a class="call-now-button" onclick="callPopupModal('@item.ClubNameJapanese', '@item.ClubLogo', '@item.LandLine', '@item.Tag1','@item.ClubCategory');">
                                        @* <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                                                <path d="M5.91022 2.0752C5.58307 2.0752 5.26081 2.19238 4.99225 2.40723L4.95319 2.42676L4.93366 2.44629L2.98053 4.45801L3.00006 4.47754C2.39704 5.03418 2.21149 5.8667 2.47272 6.58691C2.47516 6.5918 2.47028 6.60156 2.47272 6.60644C3.00251 8.12256 4.35749 11.0498 7.00397 13.6963C9.66022 16.3525 12.6265 17.6538 14.0938 18.2275H14.1133C14.8726 18.4814 15.6954 18.3008 16.2813 17.7978L18.254 15.8252C18.7715 15.3076 18.7715 14.4092 18.254 13.8916L15.7149 11.3525L15.6954 11.3135C15.1778 10.7959 14.2598 10.7959 13.7423 11.3135L12.4923 12.5635C12.0406 12.3462 10.9639 11.7895 9.93366 10.8057C8.91071 9.8291 8.38825 8.70605 8.19538 8.2666L9.44538 7.0166C9.97028 6.4917 9.98004 5.61768 9.42585 5.10254L9.44538 5.08301L9.38678 5.02441L6.88678 2.44629L6.86725 2.42676L6.82819 2.40723C6.55964 2.19238 6.23737 2.0752 5.91022 2.0752ZM5.91022 3.3252C5.95661 3.3252 6.00299 3.34717 6.04694 3.38379L8.54694 5.94238L8.60553 6.00098C8.60065 5.99609 8.64215 6.06201 8.56647 6.13769L7.00397 7.70019L6.711 7.97363L6.84772 8.36426C6.84772 8.36426 7.56549 10.2856 9.07428 11.7236L9.211 11.8408C10.6636 13.1665 12.3751 13.8916 12.3751 13.8916L12.7657 14.0674L14.6212 12.2119C14.7286 12.1045 14.709 12.1045 14.8165 12.2119L17.3751 14.7705C17.4825 14.8779 17.4825 14.8389 17.3751 14.9463L15.461 16.8603C15.1729 17.1069 14.8677 17.1582 14.504 17.0361C13.088 16.4795 10.3365 15.271 7.88288 12.8174C5.40973 10.3442 4.11823 7.53906 3.6446 6.17676C3.54938 5.92285 3.61774 5.54687 3.83991 5.35644L3.87897 5.31738L5.7735 3.38379C5.81745 3.34717 5.86383 3.3252 5.91022 3.3252Z" fill="#D75A8B" />
                                            </svg>*@
                                        電話予約
                                    </a>

                                    <button class=" flex justify-center items-center gap-[1px] px-[20px] py-[10px] rounded whitespace-nowrap"
                                            style="background: linear-gradient(96deg, #99AEFB 10%, #F04AA4 61.32%, #E7B282 98.78%);flex-grow:1" data-drawer-placement="bottom" aria-controls="drawer-bottom-example"
                                            onclick="InitiateClubReservationFunction('@item.ClubId')">

                                        <span class="text-[14px] font-semibold leading-[21px] tracking-[0.56px] text-[#fff] ">ネット予約</span>
                                    </button>



                                </div>
                                <!-- e/club footer -->
                            </div>
                        }
                        else
                        {

                            <div class="club_content" style="cursor:pointer">
                                <!-- s/link -->
                                <a onclick="ClubDetailRedirectFunction('@item.ClubCode', '@ViewBag.LocationId')">
                                    <ul class="club_tags">
                                        @if (!string.IsNullOrEmpty(@item.Tag1))
                                        {
                                            <li class="tag_location"><img class="map_pin" src="~/Content/assets/images/location_icon.svg" alt="ピン"> @item.Tag1</li>
                                        }
                                    </ul>
                                    <div class="club_header">
                                        <div class="club_logo"><img class="logo" alt="ロゴ" src="@item.ClubLogo"></div>
                                        <div class="club_info">
                                            <h3 class="club_name">@item.ClubName</h3>
                                            <p class="club_kana">@item.ClubNameJapanese</p>
                                            <p class="club_group">@item.GroupName</p>
                                        </div>
                                        @if (item.IsBookmarked.ToUpper() == "Y")
                                        {
                                            <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId','','club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-filled.svg"></div>
                                        }
                                        else
                                        {
                                            <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId','','club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-notfilled.svg"></div>
                                        }
                                    </div>
                                    <ul class="club_thumb">
                                        @foreach (var item2 in item.HostGalleryImage)
                                        {
                                            <li><img alt="@item.ClubName ([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="@item2"></li>
                                        }

                                    </ul>
                                    @if (!string.IsNullOrEmpty(@item.ClubDescription))
                                    {
                                        <p class="club_pr"> @item.ClubDescription</p>
                                    }
                                </a>
                                <!-- e/link -->
                                <!-- s/club footer -->
                                <div class="club_footer">
                                    <!-- s/club status -->
                                    <div class="club_status">
                                        @{
                                            DateTime currentTime = DateTime.Parse(DateTime.Now.ToString("HH:ss"));
                                        }
                                        <!-- s/opening hours -->
                                        @if (!string.IsNullOrEmpty(@item.ClubOpeningTime) && !string.IsNullOrEmpty(@item.ClubClosingTime))
                                        {
                                            if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "DAY")
                                            {
                                                <div class="opening_hours">
                                                    <img src="~/Content/assets/images/customer/sun.svg" alt="夜">
                                                    <span style="line-height:13px;">
                                                        @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime

                                                    </span>
                                                </div>
                                            }
                                            else if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                                            {
                                                <div class="opening_hours">
                                                    <img src="/Content/assets/images/customer/moon.svg" alt="夜">
                                                    <span style="line-height:13px;">
                                                        @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime

                                                    </span>
                                                </div>
                                            }
                                            <!-- e/opening hours -->
                                            <!-- s/available -->

                                            if (!string.IsNullOrEmpty(item.TodaysClubSchedule) && item.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE")
                                            {
                                                <div class="available">営業中</div>
                                            }
                                            else
                                            {
                                                <div class="available disabled">営業中</div>
                                            }
                                        }
                                        <!-- e/available -->
                                    </div>
                                    <a class="call-now-button" onclick="callPopupModal('@item.ClubNameJapanese', '@item.ClubLogo', '@item.LandLine', '@item.Tag1','@item.ClubCategory');">

                                        電話予約
                                    </a>
                                    <button class=" flex justify-center items-center gap-[1px] px-[20px] py-[10px] rounded whitespace-nowrap"
                                            style="background: #F0F0F0; color:#fff" data-drawer-placement="bottom" aria-controls="drawer-bottom-example">

                                        <span class="text-[14px] font-semibold leading-[21px] tracking-[0.56px] text-[#fff] ">ネット予約</span>
                                    </button>
                                </div>
                                <!-- e/club footer -->
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div id="tab2" class="tab-content-plane hidden" style="background: #FAFAFA; margin-bottom: 4px; ">
            @if (Model.HostListModel == null || Model.HostListModel.Count <= 0)
            {
                <!--comming soon page start-->
                <div style="height:168px; margin:12px 0;padding:48px 16px; background:#fff; gap:4px;  align-self:stretch" class="px-4; flex flex-col justify-between items-center">
                    <span>
                        <img src="~/Content/assets/images/customer/timer.svg" style="height:48px; width:48px" />
                    </span>
                    <p style="height: 20px; width: 100%; text-align: center; color: #18181B; font-weight:600;font-family:14px; line-height:24px">Coming soon</p>
                </div>
                <!--comming soon page end-->
                <!--comming soon page end-->
            }
            else
            {
                <!-- one row for club card  -->
                <div class="grid grid-cols-3 justify-center  hover:cursor-pointer  py-4 px-[8px] gap-2 ">
                    @foreach (var item in Model.HostListModel)
                    {
                        <div class="h-auto flex flex-col justify-end  text-center relative rounded-sm">
                            <div class="w-full relative">
                                <a class="" onclick="HostDetailRedirectFunction('@item.HostCode', '@item.ClubCode', '@ViewBag.LocationId');">
                                    @if (!string.IsNullOrEmpty(item.HostImage))
                                    {
                                        <img class="w-full h-[157px]  object-cover rounded-sm" src="@item.HostImage" />
                                    }
                                    else
                                    {
                                        <img class="w-full h-[157px]  object-cover rounded-sm" src="~/Content/assets/images/customer/demo-image.jpeg" />
                                    }
                                </a>
                                @if (item.IsBookmarked.ToString().Trim() == "N")
                                {
                                    <div class="absolute top-2 right-2" style="width: 24px; height: 24px;" onclick="ManageBookmark('@item.ClubId','@item.HostId','host', this)">
                                        <img src="~/Content/assets/images/customer/favorite-unfilled.svg" alt="unfilled" style="width: 24px; height: 24px;" />
                                    </div>
                                }
                                else
                                {
                                    <div class="absolute top-2 right-2" style="width: 24px; height: 24px;" onclick="ManageBookmark('@item.ClubId','@item.HostId','host', this)">
                                        <img src="~/Content/assets/images/customer/favorite-filled.svg" alt="filled" style="width: 24px; height: 24px;" />
                                    </div>
                                }
                            </div>
                            <div class="absolute w-full flex flex-row">

                                <div style="background-color: #000000B2; " class=" rounded rounded-b-[2px] w-full  p-1  justify-start  flex   flex-col   ">
                                    <div class=" flex flex-row justify-center  text-xs  ">
                                        <div class="text-[12px] font-[700] pl-[2px] text-[#FFFFFF]">@item.HostNameJapanese</div>
                                    </div>
                                    <div class="flex flex-row items-center justify-center   ">
                                        <div class=" font-[700] pl-[2px]">
                                            @if (!string.IsNullOrEmpty(item.ClubLogo))
                                            {
                                                <img class="h-[11px]  w-[11px] rounded-full" src="@item.ClubLogo"
                                                     alt="club">
                                            }
                                            else
                                            {
                                                <img class="h-[11px]  w-[11px] rounded-full" src="~/Content/assets/images/customer/demo-image.jpeg"
                                                     alt="club">
                                            }
                                        </div>
                                        <div class="text-[10px] text-[#FFFFFF] text-start ml-[4px] font-[400] h-[15px] overflow-hidden">
                                            @item.ClubName
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

    </div>
</div>

<div id="pagination-container" class="flex justify-between pagination-container-wrapper my-[7px] " style="width:100%; padding-right:8px; padding-left:8px; margin-bottom:7px;">
    <button id="prev-btn" class="next-prev-btn" disabled>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <path d="M10.707 2.13599C10.8945 2.32351 10.9998 2.57782 10.9998 2.84299C10.9998 3.10815 10.8945 3.36246 10.707 3.54999L5.75705 8.49999L10.707 13.45C10.8892 13.6386 10.99 13.8912 10.9877 14.1534C10.9854 14.4156 10.8803 14.6664 10.6949 14.8518C10.5095 15.0372 10.2586 15.1424 9.99645 15.1447C9.73425 15.1469 9.48165 15.0461 9.29305 14.864L3.63605 9.20699C3.44858 9.01946 3.34326 8.76515 3.34326 8.49999C3.34326 8.23482 3.44858 7.98052 3.63605 7.79299L9.29305 2.13599C9.48058 1.94852 9.73488 1.8432 10 1.8432C10.2652 1.8432 10.5195 1.94852 10.707 2.13599Z" fill="#959595" />
        </svg>
    </button>
    <div id="page-numbers" class=" page-number-list flex  w-full" style="justify-content:space-evenly"></div>
    <button id="next-btn" class="next-prev-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <path d="M5.29295 2.13605C5.10548 2.32358 5.00017 2.57788 5.00017 2.84305C5.00017 3.10821 5.10548 3.36252 5.29295 3.55005L10.243 8.50005L5.29295 13.45C5.11079 13.6387 5.01 13.8913 5.01228 14.1535C5.01456 14.4156 5.11973 14.6665 5.30513 14.8519C5.49054 15.0373 5.74135 15.1424 6.00355 15.1447C6.26575 15.147 6.51835 15.0462 6.70695 14.864L12.364 9.20705C12.5514 9.01952 12.6567 8.76521 12.6567 8.50005C12.6567 8.23488 12.5514 7.98058 12.364 7.79305L6.70695 2.13605C6.51942 1.94858 6.26512 1.84326 5.99995 1.84326C5.73479 1.84326 5.48048 1.94858 5.29295 2.13605Z" fill="#959595" />
        </svg>
    </button>
</div>

<div class=" ">
    <div>
    </div>
    <div class=" ">
        <div style="height:8px; background:#EFEFEF; width:100%">
        </div>
        <div style="background-color: #FFFFFF;" class="flex flex-row items-center justify-end gap-1 my-[12px]">
            <div class="flex flex-row items-center justify-end gap-1 pr-[8px] " id="scrollToTopButton">

                @* <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M7.99996 2.34375L1.89062 8.45308L2.60929 9.15575L7.99996 3.76508L13.3906 9.15575L14.1093 8.45308L7.99996 2.34375ZM7.99996 5.84375L1.89062 11.9531L2.60929 12.6557L7.99996 7.26508L13.3906 12.6557L14.1093 11.9531L7.99996 5.84375Z"
                                  fill="#040000" />
                        </svg>
                    </div>
                    <div class="font-normal text-[12px] leading-[16.34px] text-[#000]">
                        トップに戻る
                    </div>*@
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M6.99219 7.83594H24.9858V9.68464H6.99219V7.83594ZM23.5763 23.5191L16.9187 16.6789V30.6674H15.0893V16.6789L8.43168 23.5191L7.14213 22.1942L15.989 13.1047L24.8359 22.1942L23.5763 23.5191Z" fill="black" />
                    <path d="M9.81179 1.39648C9.96611 1.39648 10.0278 1.45811 10.0278 1.61217V1.67379C10.0278 1.82785 9.96611 1.88947 9.81179 1.88947H8.63897C8.6081 1.88947 8.6081 1.88947 8.6081 1.92028V6.51123C8.6081 6.54204 8.57724 6.57286 8.54637 6.57286C8.51551 6.57286 8.48465 6.54204 8.48465 6.51123V1.92028C8.48465 1.79704 8.51551 1.76623 8.63897 1.76623H9.81179C9.87352 1.76623 9.90439 1.73541 9.90439 1.67379V1.61217C9.90439 1.55054 9.87352 1.51973 9.81179 1.51973H6.84886C6.78713 1.51973 6.75627 1.55054 6.75627 1.61217V1.67379C6.75627 1.73541 6.78713 1.76623 6.84886 1.76623H8.02169C8.14514 1.76623 8.17601 1.82785 8.17601 1.92028V6.51123C8.17601 6.54204 8.14514 6.57286 8.11428 6.57286C8.08342 6.57286 8.05255 6.54204 8.05255 6.51123V1.92028C8.05255 1.88947 8.05255 1.88947 8.02169 1.88947H6.84886C6.69454 1.88947 6.63281 1.82785 6.63281 1.67379V1.61217C6.63281 1.45811 6.69454 1.39648 6.84886 1.39648H9.81179Z" fill="black" />
                    <path d="M12.9571 3.15188C12.9571 2.31996 12.4941 1.82697 11.8151 1.82697C11.1052 1.82697 10.6731 2.31996 10.6731 3.15188V3.67568C10.6731 3.82973 10.6114 3.89136 10.4571 3.89136H10.3953C10.241 3.89136 10.1793 3.82973 10.1793 3.67568V3.15188C10.1793 2.01184 10.8274 1.33398 11.8151 1.33398C12.8027 1.33398 13.4509 2.01184 13.4509 3.15188V3.82973C13.4509 3.86055 13.42 3.89136 13.3891 3.89136C13.3583 3.89136 13.3274 3.86055 13.3274 3.82973V3.15188C13.3274 2.07347 12.741 1.45723 11.8151 1.45723C10.8892 1.45723 10.3028 2.10428 10.3028 3.15188V3.67568C10.3028 3.7373 10.3336 3.76811 10.3953 3.76811H10.4571C10.5188 3.76811 10.5497 3.7373 10.5497 3.67568V3.15188C10.5497 2.22752 11.0435 1.70372 11.8151 1.70372C12.5867 1.70372 13.0805 2.25834 13.0805 3.15188V3.82973C13.0805 3.86055 13.0496 3.89136 13.0188 3.89136C12.9879 3.89136 12.9571 3.86055 12.9571 3.82973V3.15188ZM10.6423 4.81571C10.6423 5.64763 11.1052 6.14061 11.7842 6.14061C12.4941 6.14061 12.9262 5.64763 12.9262 4.81571V4.29191C12.9262 4.13785 12.9879 4.07623 13.1422 4.07623H13.204C13.3583 4.07623 13.42 4.13785 13.42 4.29191V4.81571C13.42 5.95574 12.7719 6.6336 11.7842 6.6336C10.7966 6.6336 10.1484 5.95574 10.1484 4.81571V4.13785C10.1484 4.10704 10.1793 4.07623 10.2102 4.07623C10.241 4.07623 10.2719 4.10704 10.2719 4.13785V4.81571C10.2719 5.89412 10.8583 6.51035 11.7842 6.51035C12.7101 6.51035 13.2966 5.86331 13.2966 4.81571V4.29191C13.2966 4.23029 13.2657 4.19947 13.204 4.19947H13.1422C13.0805 4.19947 13.0496 4.23029 13.0496 4.29191V4.81571C13.0496 5.74006 12.5558 6.26386 11.7842 6.26386C11.0126 6.26386 10.5188 5.70925 10.5188 4.81571V4.13785C10.5188 4.10704 10.5497 4.07623 10.5805 4.07623C10.6114 4.07623 10.6423 4.10704 10.6423 4.13785V4.81571Z" fill="black" />
                    <path d="M17.8352 1.39648C17.9896 1.39648 18.0513 1.45811 18.0513 1.61217V1.67379C18.0513 1.82785 17.9896 1.88947 17.8352 1.88947H16.6624C16.6315 1.88947 16.6315 1.88947 16.6315 1.92028V6.51123C16.6315 6.54204 16.6007 6.57286 16.5698 6.57286C16.5389 6.57286 16.5081 6.54204 16.5081 6.51123V1.92028C16.5081 1.79704 16.5389 1.76623 16.6624 1.76623H17.8352C17.897 1.76623 17.9278 1.73541 17.9278 1.67379V1.61217C17.9278 1.55054 17.897 1.51973 17.8352 1.51973H14.8723C14.8106 1.51973 14.7797 1.55054 14.7797 1.61217V1.67379C14.7797 1.73541 14.8106 1.76623 14.8723 1.76623H16.0451C16.1686 1.76623 16.1994 1.82785 16.1994 1.92028V6.51123C16.1994 6.54204 16.1686 6.57286 16.1377 6.57286C16.1069 6.57286 16.076 6.54204 16.076 6.51123V1.92028C16.076 1.88947 16.076 1.88947 16.0451 1.88947H14.8723C14.718 1.88947 14.6562 1.82785 14.6562 1.67379V1.61217C14.6562 1.45811 14.718 1.39648 14.8723 1.39648H17.8352Z" fill="black" />
                    <path d="M21.0781 3.15188C21.0781 2.31996 20.6152 1.82697 19.9362 1.82697C19.2263 1.82697 18.7942 2.31996 18.7942 3.15188V3.67568C18.7942 3.82973 18.7325 3.89136 18.5782 3.89136H18.5164C18.3621 3.89136 18.3004 3.82973 18.3004 3.67568V3.15188C18.3004 2.01184 18.9485 1.33398 19.9362 1.33398C20.9238 1.33398 21.572 2.01184 21.572 3.15188V3.82973C21.572 3.86055 21.5411 3.89136 21.5102 3.89136C21.4794 3.89136 21.4485 3.86055 21.4485 3.82973V3.15188C21.4485 2.07347 20.8621 1.45723 19.9362 1.45723C19.0103 1.45723 18.4239 2.10428 18.4239 3.15188V3.67568C18.4239 3.7373 18.4547 3.76811 18.5164 3.76811H18.5782C18.6399 3.76811 18.6708 3.7373 18.6708 3.67568V3.15188C18.6708 2.22752 19.1646 1.70372 19.9362 1.70372C20.7078 1.70372 21.2016 2.25834 21.2016 3.15188V3.82973C21.2016 3.86055 21.1707 3.89136 21.1399 3.89136C21.109 3.89136 21.0781 3.86055 21.0781 3.82973V3.15188ZM18.7634 4.81571C18.7634 5.64763 19.2263 6.14061 19.9053 6.14061C20.6152 6.14061 21.0473 5.64763 21.0473 4.81571V4.29191C21.0473 4.13785 21.109 4.07623 21.2633 4.07623H21.3559C21.5102 4.07623 21.572 4.13785 21.572 4.29191V4.81571C21.572 5.95574 20.9238 6.6336 19.9362 6.6336C18.9485 6.6336 18.2695 5.95574 18.2695 4.81571V4.13785C18.2695 4.10704 18.3004 4.07623 18.3313 4.07623C18.3621 4.07623 18.393 4.10704 18.393 4.13785V4.81571C18.393 5.89412 18.9794 6.51035 19.9053 6.51035C20.8312 6.51035 21.4176 5.86331 21.4176 4.81571V4.29191C21.4176 4.23029 21.3868 4.19947 21.3251 4.19947H21.2633C21.2016 4.19947 21.1707 4.23029 21.1707 4.29191V4.81571C21.1707 5.74006 20.6769 6.26386 19.9053 6.26386C19.1337 6.26386 18.6399 5.70925 18.6399 4.81571V4.13785C18.6399 4.10704 18.6708 4.07623 18.7016 4.07623C18.7325 4.07623 18.7634 4.10704 18.7634 4.13785V4.81571Z" fill="black" />
                    <path d="M23.8834 3.89224C24.5933 3.89224 24.9945 3.49168 24.9945 2.87545C24.9945 2.25921 24.5933 1.85866 23.8834 1.85866H22.8958C22.8649 1.85866 22.8649 1.85866 22.8649 1.88947V6.35717C22.8649 6.51123 22.8032 6.57286 22.6489 6.57286H22.5871C22.4328 6.57286 22.3711 6.51123 22.3711 6.35717V1.64298C22.3711 1.48892 22.4328 1.39648 22.618 1.39648H23.8834C24.9019 1.39648 25.4883 1.98191 25.4883 2.87545C25.4883 3.76899 24.9019 4.35441 23.8834 4.35441H23.1118C23.081 4.35441 23.0501 4.3236 23.0501 4.29279C23.0501 4.26198 23.081 4.23116 23.1118 4.23116H23.8834C24.8093 4.23116 25.3649 3.67655 25.3649 2.84464C25.3649 2.01272 24.8093 1.45811 23.8834 1.45811H22.5871C22.4945 1.45811 22.4637 1.48892 22.4637 1.58135V6.35717C22.4637 6.4188 22.4945 6.44961 22.5563 6.44961H22.618C22.6797 6.44961 22.7106 6.4188 22.7106 6.35717V1.92028C22.7106 1.79704 22.7415 1.76623 22.8649 1.76623H23.8526C24.6242 1.76623 25.0871 2.2284 25.0871 2.87545C25.0871 3.52249 24.6242 3.98467 23.8526 3.98467H23.081C23.0501 3.98467 23.0192 3.95386 23.0192 3.92305C23.0192 3.89224 23.0501 3.86142 23.081 3.86142H23.8834V3.89224Z" fill="black" />
                </svg>
            </div>
        </div>
    </div>
</div>
<form method="get" id="club-pagination-form-id">
    <input name="GroupId" value="" id="club-pagination-group-id" hidden />
    <input name="RenderId" value="club" id="club-pagination-render-id" hidden />
</form>
<form method="get" id="host-pagination-form-id">
    <input name="GroupId" value="" id="host-pagination-group-id" hidden />
    <input name="ClubId" value="" id="host-pagination-club-id" hidden />
    <input name="PageNo" value="" id="host-pagination-page-id" hidden />
</form>
<!-- The Modal -->
<div id="myModal" class="my-custom-modal">
    <span class="close" onclick="closeImagePopup();">&times;</span>
    <img class="my-modal-content" id="img01">
</div>
@*<div class="loader" id="loader-id">
        <img src="~/Content/assets/images/loader.gif" class="h-[150px]" />
    </div>*@
<!-- #endregion -->
@section scripts
{
    <script>
        $(document).ready(function () {
            EnableLoaderFunction();
           var RenderValue = '@ViewBag.RenderValue';
            var tab1Button = document.getElementById("tab1Button");
            var tab2Button = document.getElementById("tab2Button");

            if (RenderValue && (RenderValue === "host" || RenderValue === "club")) {
                if (RenderValue === "host") {
                    tab1Button.classList.remove("active");
                    tab2Button.classList.add("active");
                    tab1.classList.add("hidden");
                    tab2.classList.remove("hidden");
                } else {
                    tab2Button.classList.remove("active");
                    tab1Button.classList.add("active");
                    tab2.classList.add("hidden");
                    tab1.classList.remove("hidden");
                }
            }

            let currentPage = @Model.RequestModel.GroupId??1;
            const totalPages = @ViewBag.TotalGroupCount??0; // Define the total number of pages
            let currentPageSecond = @Model.RequestModel.PageNo?? 1

            function updatePagination() {

                $('#page-numbers').empty();

                // Show "prev" button and update its disabled state
                $('#prev-btn').prop('disabled', currentPage === 1);

                // Determine the range of page numbers to display
                let startPage = Math.max(1, currentPage - 2);
                let endPage = Math.min(totalPages, currentPage + 2);

                // Adjust range if there are fewer than 5 pages at the start or end
                if (currentPage - 2 < 1) {
                    endPage = Math.min(5, totalPages);
                }
                if (currentPage + 2 > totalPages) {
                    startPage = Math.max(1, totalPages - 4);
                }

                // Add the first page and ellipsis if necessary
                if (startPage > 1) {
                    $('#page-numbers').append(createPageElement(1));
                    if (startPage > 2) {
                        $('#page-numbers').append(createEllipsis());
                    }
                }

                // Show page numbers based on current page
                for (let i = startPage; i <= endPage; i++) {
                    const pageElement = createPageElement(i);
                    if (i === currentPage) {
                        pageElement.addClass('active');  // Add "active" class to the current page
                    }
                    $('#page-numbers').append(pageElement);
                }

                // Add ellipsis and the last page if necessary
                if (endPage < totalPages) {
                    if (endPage < totalPages - 1) {
                        $('#page-numbers').append(createEllipsis());
                    }
                    $('#page-numbers').append(createPageElement(totalPages));
                }

                // Show "next" button and update its disabled state
                $('#next-btn').prop('disabled', currentPage === totalPages);
            }

            function createPageElement(page) {
                return $('<div>', {
                    text: page,
                    click: function () { ClubFunction(page); }
                });
            }

            function createEllipsis() {
                return $('<div>', { text: '...' });
            }

            updatePagination();  // Call the function to set up the pagination


          /*  updatePaginationSecond();*/
            // Handle "prev" button click
            $('#prev-btn').on('click', function () {
                if (currentPage > 1) {
                    currentPage--;
                    ClubFunction(currentPage);
                    updatePagination();
                }
            });

            // Handle "next" button click
            $('#next-btn').on('click', function () {
                if (currentPage < totalPages) {
                    currentPage = Math.min(currentPage + 1, totalPages);
                    ClubFunction(currentPage);
                    updatePagination();
                }
            });
            setTimeout(DisableLoaderFunction, 1000);
            //setTimeout(LoaderFunction, 1000);
        });
        //function LoaderFunction() {
        //    var myDiv = document.getElementById("loader-id");
        //    myDiv.style.display = "none";
        //    document.body.classList.remove('body-no-scroll');
        //}
    </script>
    <script src="~/Content/CustomHelper_v1.js"></script>
    <!-- cursol script -->
    <script>
        function OpenImagePopup(ImageURL) {
            if (ImageURL != '' && ImageURL != null) {
                var modalImg = document.getElementById("img01");
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                modalImg.src = ImageURL;
            }
        }

        function closeImagePopup() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }

        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                center: true,
                items: 1.25,
                loop: true,
                margin: 8,
                autoplay: true,
                autoplayTimeout: 3000,
            })

            localStorage.clear();
        })</script>
    <script>
        function ClubReservationActionFunction(i, j, k) {
            DataStorageFunction(i, j);
            window.location.href = "/LocationManagement/ClubReservation?ClubId=" + i + "&SelectedDate=" + k;
        }

        function redirectToSearchPage() {
           var locationId = '@ViewBag.LocationId';
            var searchUrl = `/search${locationId}/?target=club`;
            window.location.href = searchUrl;
        }

         function ActivateLoaderFunction() {
             var myDiv = document.getElementById("loader-id");
             myDiv.style.display = "flex";
        }
        function DeactivateLoaderFunction() {
             var myDiv = document.getElementById("loader-id");
             myDiv.style.display = "none";
         }
    </script>
    <script>
        const DataStorageFunction = (i, j) => {
            localStorage.setItem("ClubId", EncryptParameter(i));
            localStorage.setItem("ClubName", EncryptParameter(j));
        }</script>
    <script>
        function ClubFunction(i) {
            $('#club-pagination-group-id').val(i);
            var locationId = '@ViewBag.LocationId';
            const tab1Button = document.getElementById('tab1Button');
            const tab2Button = document.getElementById('tab2Button');
            if (tab1Button.classList.contains('active')) {
                $('#club-pagination-render-id').val('club');
            }
            if (tab2Button.classList.contains('active')) {
                $('#club-pagination-render-id').val('host');
            }

            var form = document.getElementById("club-pagination-form-id");
            form.action = "/area" + locationId;
            form.submit();

        }
        function HostFunction(i, j, k) {
            $('#host-pagination-page-id').val(i);
            $('#host-pagination-group-id').val(j);
            $('#host-pagination-club-id').val(k);
            var locationId = '@ViewBag.LocationId';
            var form = document.getElementById("host-pagination-form-id");
            form.action = "/area" + locationId;
            form.submit();
        }</script>

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 20) {
                    $('#scrollToTopButton').fadeIn();
                } else {
                    $('#scrollToTopButton').fadeOut();
                }
            });

            $('#scrollToTopButton').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });

            $('.flex-col').on('click', function () {
                $('.flex-col').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
}
