@model CRS.CUSTOMER.APPLICATION.Models.LocationManagement.ClubDetailModel
@{
    ViewBag.Title = "Club Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime todayDate = DateTime.Now;
    string formattedDate = todayDate.ToString("MMMM yyyy");
}
<style>
    /* The Modal (background) */
    .my-custom-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 150px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .my-modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 50px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<!-- breadcrumb  -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="@Url.Action("Index","DashboardV2")" class="active">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Home
    </a>
    <i class="las la-angle-right"></i>
    <a href="@Url.Action("Index", "LocationManagement", new {LocationId = Model.LocationId})" class="active">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Clubs
    </a>
    <i class="las la-angle-right"></i>
    <a href="#">@Model.ClubNameEng</a>
</div>
<div>
    <img src="@Model.ClubCoverPhoto" alt="banner" class="h-[190px] w-full object-cover" />
</div>
<!-- section 1 -->
<div class="px-2 pt-[12px] pb-2 flex gap-0.5">
    @if (!string.IsNullOrEmpty(Model.Tag1))
    {
        <div class="px-[10px] bg-[#E3A1A1] text-[10px] rounded-[2px] text-white">@Model.Tag1</div>
    }
    @if (!string.IsNullOrEmpty(Model.Tag2))
    {
        <div class="px-[10px] bg-[#BFA3B6] text-[10px] rounded-[2px] text-white">@Model.Tag2</div>
    }
    @if (!string.IsNullOrEmpty(Model.Tag3))
    {
        <div class="px-[10px] bg-[#697DBF] text-[10px] rounded-[2px] text-white">@Model.Tag3</div>
    }
    @if (!string.IsNullOrEmpty(Model.Tag4))
    {
        <div class="px-[10px] bg-[#96B41F] text-[10px] rounded-[2px] text-white">@Model.Tag4</div>
    }
    @if (!string.IsNullOrEmpty(Model.Tag5))
    {
        <div class="px-[10px] bg-[#EFB726] text-[10px] rounded-[2px] text-white">@Model.Tag5</div>
    }
</div>
<!-- section 2 -->
<div class="px-4 pb-[12px] flex justify-between border-b-2 border-[#FAFAFA]">
    <div class="flex gap-[8px]">
        <div>
            <img src="@Model.ClubLogo"
                 class="h-[48px] w-[48px] object-cover rounded-full object-cover" />
        </div>
        <div>
            <div class='text-sm font-bold text-charcolBlack '>@Model.ClubNameEng</div>
            <div class='text-xs  text-[#404040] '>@Model.ClubNameJp</div>
            <div class="text-[10px] text-primary-softrose">@Model.GroupName</div>
        </div>
    </div>
    @if (Model.IsBookmarked.ToUpper() == "N")
    {
        <div class="flex items-center cursor-pointer" onclick="handleAddBookmarks('@Model.ClubId', '', 'club')">
            <img src="~/Content/assets/images/customer/bookmark-outlined.svg" class="h-[20px] w-[25px]" />
        </div>
    }
    else
    {
        <div class="flex items-center cursor-pointer" onclick="handleRemoveBookmarks('@Model.ClubId', '', 'club')">
            <img src="~/Content/assets/images/customer/bookmark-filled.svg" class="h-[20px] w-[25px]">
        </div>
    }

</div>
<div class="px-4 py-[12px]">
    <div class="flex gap-[14px] pb-2">
        <div class="flex gap-1 text-base  items-center">
            @{
                var unratedScale = (5 - Model.AverageRating);
                for (int i = 0; i < Model.AverageRating; i++)
                {
                    <svg key={ind} xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M16.3501 6.76236L10.8678 6.18339L8.62355 1.14954L6.37926 6.18339L0.896973 6.76236L4.99185 10.453L3.84865 15.8448L8.62355 13.091L13.3984 15.8448L12.2553 10.453L16.3501 6.76236Z"
                              fill="#F89336" />
                    </svg>
                }
                for (int i = 0; i < unratedScale; i++)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                        <g opacity="0.3">
                            <path d="M9.44612 1.1453L8.95768 2.25692L7.20604 6.18126L2.928 6.63601L1.71533 6.77076L2.62484 7.5792L5.8081 10.4593L4.91544 14.67L4.6628 15.849L5.72389 15.2426L9.44612 13.0868L13.1684 15.2426L14.2294 15.849L13.9768 14.67L13.0841 10.4593L16.2674 7.5792L17.1769 6.77076L15.9642 6.63601L11.6862 6.18126L9.93456 2.25692L9.44612 1.1453ZM9.44612 3.7896L10.8272 6.9055L10.962 7.19182L11.2651 7.22551L14.6505 7.5792L12.1241 9.85296L11.8883 10.0719L11.9557 10.3751L12.6631 13.6931L9.7156 12.0088L9.44612 11.8404L9.17664 12.0088L6.22917 13.6931L6.93656 10.3751L7.00393 10.0719L6.76813 9.85296L4.24173 7.5792L7.62711 7.22551L7.93028 7.19182L8.06502 6.9055L9.44612 3.7896Z"
                                  fill="#C8B477" />
                        </g>
                    </svg>
                }
            }
            <div class="text-secondary-1">@Model.AverageRating</div>
        </div>
        <div class="flex gap-1 text-base items-center">
            <i class="las la-comment text-[#BCB08A]"></i>
            <div class="text-secondary-1">@Model.TotalComment</div>
        </div>
    </div>
    <div class="text-sm leading-4	text-secondary-1">
        @Model.ClubDescription
    </div>
</div>
<div>
    <div class=" text-[10px] flex border-t border-b border-[#EFEFEF] justify-between px-[17px] border-custom">
        @foreach (var item2 in Model.ClubWeeklyScheduleList)
        {
            if (!string.IsNullOrEmpty(item2.EnglishDay) && item2.EnglishDay.ToUpper().Trim() == "SAT")
            {
                <div class="text-blue">
                    @item2.DayLabel
                </div>
            }
            else if (!string.IsNullOrEmpty(item2.EnglishDay) && item2.EnglishDay.ToUpper().Trim() == "SUN")
            {

                <div class="text-red">
                    @item2.DayLabel
                </div>
            }
            else
            {
                <div>
                    @item2.DayLabel
                </div>
            }
        }
    </div>
    <div class="text-[10px] flex border-t border-b border-[#EFEFEF] justify-between px-[17px] border-custom">
        @foreach (var item2 in Model.ClubWeeklyScheduleList)
        {
            var imageURL = "/Content/assets/images/" + item2.Schedule + ".svg";
            if (!string.IsNullOrEmpty(item2.Schedule) && item2.Schedule.Trim().ToUpper() == "RESERVABLE")
            {
                @*<div onclick="ClubReservationActionFunction('@Model.ClubId', '@Model.ClubNameEng','@item2.FullDate')">*@
                <div onclick="InitiateClubReservationFunction('@Model.ClubId','@item2.FullDate' )">
                    @item2.Date <div class="flex justify-center mt-1">
                        <img src="@imageURL" class="h-[11px] w-[11px]">
                    </div>
                </div>
            }
            else
            {
                <div>
                    @item2.Date <div class="flex justify-center mt-1">
                        <img src="@imageURL" class="h-[11px] w-[11px]">
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="px-4 py-[12px] flex justify-between items-center">
    <div>
        @if (!string.IsNullOrEmpty(Model.ClubOpeningTime) && !string.IsNullOrEmpty(Model.ClubClosingTime))
        {
            <div class="flex justify-center items-center gap-1 pb-1">
                @if (!string.IsNullOrEmpty(Model.ClubTimePeriod) && Model.ClubTimePeriod.Trim().ToUpper() == "DAY")
                {
                    <div class="h-4 w-4 rounded-[2px] bg-[#F89336] flex justify-center items-center">
                        <img src="~/Content/assets/images/customer/sun.svg" />
                    </div>
                }
                else if (!string.IsNullOrEmpty(Model.ClubTimePeriod) && Model.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                {
                    <div class="h-4 w-4 rounded-[2px] bg-[#F89336] flex justify-center items-center">
                        <img src="~/Content/assets/images/customer/moon.svg" />
                    </div>
                }
                <div class="text-sm text-secondary-1">@Model.ClubOpeningTime~@Model.ClubClosingTime</div>
            </div>
            if (!string.IsNullOrEmpty(Model.TodaysClubSchedule) && Model.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE")
            {
                <div class="bg-[#BCB08A] text-white w-max px-2 rounded-[2px] text-xs h-[18px] flex items-center justify-center">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Reservable
                </div>
            }
            else
            {
    <div class="bg-[#D7D7D7] text-white w-max px-2 rounded-[2px] text-xs h-[18px] flex items-center justify-center">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Reservable
    </div>
            }
        }
    </div>
    @*<button class="btn-gradient" onclick="ClubReservationActionFunction('@Model.ClubId', '@Model.ClubNameEng')">*@
    <button class="btn-gradient" onclick="InitiateClubReservationFunction('@Model.ClubId')">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.BookNow
    </button>
</div>
<div class="divider-customer"></div>
<div class="">
    @*<div class="flex px-[16px] gap-[24px] w-full overflow-hidden overflow-x-scroll no-scrollbar" style="border-bottom: 4px solid #EFEFEF;">*@
    <div class="flex px-[16px] gap-[24px] w-full" style="border-bottom: 4px solid #EFEFEF;">
        <div class="flex tab-container-plane bg-white gap-[14px]">
            <button id="tab1Button" class="tab-button-plane tab-link active h-[42px] w-max">@CRS.CUSTOMER.APPLICATION.Resources.Resource.ClubTop</button>
            <button id="tab2Button" class="tab-button-plane tab-link h-[42px] w-max">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Host</button>
            <button id="tab3Button" class="tab-button-plane tab-link h-[42px] w-max">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Reviews</button>
            <button id="tab4Button" class="tab-button-plane tab-link h-[42px] w-max">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Gallery</button>
            <button id="tab5Button" class="tab-button-plane tab-link h-[42px] w-max">@CRS.CUSTOMER.APPLICATION.Resources.Resource.ClubDetails</button>
        </div>
    </div>
</div>
<div class="">
    <div class="bg-white">
        <div id="tab1" class="tab-content-plane px-[16px]">
            <div class="mx-[8px] py-[6.54px] p-l-[22px] p-r-[10px] ">
                <div class="customer-title">
                    <h3>@CRS.CUSTOMER.APPLICATION.Resources.Resource.TopRanking</h3>
                    <p>@formattedDate</p>
                </div>
            </div>
            <div class=" pb-4 flex gap-[8px] " draggable="true">
                <div class="owl-carousel owl-theme store-host-carousel">
                    @{
                        foreach (var item in Model.TopHostListModels)
                        {
                            <div class="item" style="width:128px">
                                <div class=" relative flex-none" draggable="true" onclick="window.location.href='/LocationManagement/ViewHostDetail?HostId=@item.HostId'">
                                    <div class="flex pb-1">
                                        <div class="absolute top-1 left-0">
                                            @if (!string.IsNullOrEmpty(item.Rank) && item.Rank.Trim() == "1")
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="31"
                                                     viewBox="0 0 19 31" fill="none">
                                                    <path d="M9.33333 0C8.23698 0 7.33333 0.903646 7.33333 2C7.33333 2.75 7.75521 3.40885 8.375 3.75L6.41667 7.66667L3.35417 5.47917C3.75521 5.11198 4 4.58073 4 4C4 2.90365 3.09635 2 2 2C0.903646 2 0 2.90365 0 4C0 4.89844 0.617187 5.64583 1.4375 5.89583L2.66667 12.6667V16H16V12.6667L17.2292 5.89583C18.0495 5.64583 18.6667 4.89844 18.6667 4C18.6667 2.90365 17.763 2 16.6667 2C15.5703 2 14.6667 2.90365 14.6667 4C14.6667 4.58073 14.9115 5.11198 15.3125 5.47917L12.25 7.66667L10.2917 3.75C10.9115 3.40885 11.3333 2.75 11.3333 2C11.3333 0.903646 10.4297 0 9.33333 0ZM9.33333 1.33333C9.70833 1.33333 10 1.625 10 2C10 2.375 9.70833 2.66667 9.33333 2.66667C8.95833 2.66667 8.66667 2.375 8.66667 2C8.66667 1.625 8.95833 1.33333 9.33333 1.33333ZM2 3.33333C2.375 3.33333 2.66667 3.625 2.66667 4C2.66667 4.375 2.375 4.66667 2 4.66667C1.625 4.66667 1.33333 4.375 1.33333 4C1.33333 3.625 1.625 3.33333 2 3.33333ZM16.6667 3.33333C17.0417 3.33333 17.3333 3.625 17.3333 4C17.3333 4.375 17.0417 4.66667 16.6667 4.66667C16.2917 4.66667 16 4.375 16 4C16 3.625 16.2917 3.33333 16.6667 3.33333ZM9.33333 4.83333L11.3958 8.95833L12.3958 9.20833L15.7292 6.83333L14.7917 12H3.875L2.9375 6.83333L6.27083 9.20833L7.27083 8.95833L9.33333 4.83333ZM4 13.3333H14.6667V14.6667H4V13.3333Z"
                                                          fill="#E3AB00" />
                                                    <line x1="9.5" y1="15" x2="9.5" y2="31" stroke="#E3AB00" />
                                                </svg>
                                            }
                                            else if (!string.IsNullOrEmpty(item.Rank) && item.Rank.Trim() == "2")
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="31"
                                                     viewBox="0 0 19 31" fill="none">
                                                    <path d="M9.33333 0C8.23698 0 7.33333 0.903646 7.33333 2C7.33333 2.75 7.75521 3.40885 8.375 3.75L6.41667 7.66667L3.35417 5.47917C3.75521 5.11198 4 4.58073 4 4C4 2.90365 3.09635 2 2 2C0.903646 2 0 2.90365 0 4C0 4.89844 0.617187 5.64583 1.4375 5.89583L2.66667 12.6667V16H16V12.6667L17.2292 5.89583C18.0495 5.64583 18.6667 4.89844 18.6667 4C18.6667 2.90365 17.763 2 16.6667 2C15.5703 2 14.6667 2.90365 14.6667 4C14.6667 4.58073 14.9115 5.11198 15.3125 5.47917L12.25 7.66667L10.2917 3.75C10.9115 3.40885 11.3333 2.75 11.3333 2C11.3333 0.903646 10.4297 0 9.33333 0ZM9.33333 1.33333C9.70833 1.33333 10 1.625 10 2C10 2.375 9.70833 2.66667 9.33333 2.66667C8.95833 2.66667 8.66667 2.375 8.66667 2C8.66667 1.625 8.95833 1.33333 9.33333 1.33333ZM2 3.33333C2.375 3.33333 2.66667 3.625 2.66667 4C2.66667 4.375 2.375 4.66667 2 4.66667C1.625 4.66667 1.33333 4.375 1.33333 4C1.33333 3.625 1.625 3.33333 2 3.33333ZM16.6667 3.33333C17.0417 3.33333 17.3333 3.625 17.3333 4C17.3333 4.375 17.0417 4.66667 16.6667 4.66667C16.2917 4.66667 16 4.375 16 4C16 3.625 16.2917 3.33333 16.6667 3.33333ZM9.33333 4.83333L11.3958 8.95833L12.3958 9.20833L15.7292 6.83333L14.7917 12H3.875L2.9375 6.83333L6.27083 9.20833L7.27083 8.95833L9.33333 4.83333ZM4 13.3333H14.6667V14.6667H4V13.3333Z"
                                                          fill="#C9CACA" />
                                                    <line x1="9.5" y1="15" x2="9.5" y2="31" stroke="#C9CACA" />
                                                </svg>
                                            }
                                            else if (!string.IsNullOrEmpty(item.Rank) && item.Rank.Trim() == "3")
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="31"
                                                     viewBox="0 0 19 31" fill="none">
                                                    <path d="M9.33333 0C8.23698 0 7.33333 0.903646 7.33333 2C7.33333 2.75 7.75521 3.40885 8.375 3.75L6.41667 7.66667L3.35417 5.47917C3.75521 5.11198 4 4.58073 4 4C4 2.90365 3.09635 2 2 2C0.903646 2 0 2.90365 0 4C0 4.89844 0.617187 5.64583 1.4375 5.89583L2.66667 12.6667V16H16V12.6667L17.2292 5.89583C18.0495 5.64583 18.6667 4.89844 18.6667 4C18.6667 2.90365 17.763 2 16.6667 2C15.5703 2 14.6667 2.90365 14.6667 4C14.6667 4.58073 14.9115 5.11198 15.3125 5.47917L12.25 7.66667L10.2917 3.75C10.9115 3.40885 11.3333 2.75 11.3333 2C11.3333 0.903646 10.4297 0 9.33333 0ZM9.33333 1.33333C9.70833 1.33333 10 1.625 10 2C10 2.375 9.70833 2.66667 9.33333 2.66667C8.95833 2.66667 8.66667 2.375 8.66667 2C8.66667 1.625 8.95833 1.33333 9.33333 1.33333ZM2 3.33333C2.375 3.33333 2.66667 3.625 2.66667 4C2.66667 4.375 2.375 4.66667 2 4.66667C1.625 4.66667 1.33333 4.375 1.33333 4C1.33333 3.625 1.625 3.33333 2 3.33333ZM16.6667 3.33333C17.0417 3.33333 17.3333 3.625 17.3333 4C17.3333 4.375 17.0417 4.66667 16.6667 4.66667C16.2917 4.66667 16 4.375 16 4C16 3.625 16.2917 3.33333 16.6667 3.33333ZM9.33333 4.83333L11.3958 8.95833L12.3958 9.20833L15.7292 6.83333L14.7917 12H3.875L2.9375 6.83333L6.27083 9.20833L7.27083 8.95833L9.33333 4.83333ZM4 13.3333H14.6667V14.6667H4V13.3333Z"
                                                          fill="#BD764B" />
                                                    <line x1="9.5" y1="15" x2="9.5" y2="31" stroke="#BD764B" />
                                                </svg>
                                            }
                                            else
                                            {
                                                <svg></svg>
                                            }
                                        </div>
                                        @if (string.IsNullOrEmpty(@item.Rank))
                                        {
                                            <div class="pl-6">-</div>
                                        }
                                        <div class="pl-6">@item.Rank</div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(item.HostImage))
                                    {
                                        <img src="@item.HostImage"
                                             class="w-[128px] h-[180px] object-cover rounded-[6px] object-cover" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/assets/images/customer/demo-image.jpeg"
                                             class="w-[128px] h-[180px] object-cover rounded-[6px]" />
                                    }
                                    <div class="pt-[5px]">
                                        <div class="text-xs  text-charcoalBlack">@item.HostName</div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(item.Rank) && item.Rank.Trim() == "1")
                                    {
                                        <div class=" store-top-image-title text-ellipsis-customer h-[23px]">
                                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.RookieKingSalesNo1
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    }
                </div>
                <script>
                    $(document).ready(function () {
                        $('.store-host-carousel').owlCarousel({
                            margin: 10,
                            loop: true,
                            autoWidth: true,
                            items: 4
                        })

                    })
                </script>
            </div>
            <script>
                $(document).ready(function () {
                    $('.owl-carousel').owlCarousel({
                        margin: 10,
                        loop: true,
                        autoWidth: true,
                        items: 4
                    })
                })
            </script>
        </div>
        <div id="tab2" class="tab-content-plane hidden px-[16px] ">
            <div class="mx-[8px] py-[6.54px] p-l-[22px] p-r-[10px] ">
                <div class="customer-title">
                    <h3>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Host</h3>
                    <p>@CRS.CUSTOMER.APPLICATION.Resources.Resource.ListOfHosts</p>

                </div>
            </div>
            <div class="p-[10px] grid grid-cols-3 gap-3">
                @foreach (var item in Model.HostListModels)
                {
                    <div onclick="window.location.href='/LocationManagement/ViewHostDetail?HostId=@item.HostId'">
                        @if (!string.IsNullOrEmpty(item.HostImage))
                        {
                            <img src="@item.HostImage"
                                 class="w-[104px] h-[104px] object-cover rounded-[6px] object-cover" />
                        }
                        else
                        {
                            <img src="~/Content/assets/images/customer/demo-image.jpeg"
                                 class="w-[104px] h-[104px] object-cover rounded-[6px]" />
                        }
                        <div class="pt-[5px]">
                            <div class="text-[10px] font-bold text-primaryDark">@item.HostPosition</div>
                            <div class="text-xs  text-charcoalBlack">@item.HostName</div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="tab3" class="tab-content-plane  hidden">
            <div class="mx-[8px] py-[6.54px] p-l-[22px] p-r-[10px] px-[16px]">
                <div class="customer-title">
                    <h3>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Review</h3>
                    <p>@CRS.CUSTOMER.APPLICATION.Resources.Resource.ClubReview</p>

                </div>
            </div>
            <!-- section 1 -->
            @foreach (var item in Model.ClubReviewsModel)
            {
                <div class=" border-b-2 border-[#efefef]">
                    <div class="px-4 py-[10px]">
                        <div class="flex gap-[8px] items-center ">
                            <div>
                                @if (!string.IsNullOrEmpty(item.CustomerImage))
                                {
                                    <img src="@item.CustomerImage"
                                         class="h-[48px] w-[48px] object-cover rounded-full" />
                                }
                                else
                                {
                                    <img src="~/Content/assets/images/customer/demo-image.jpeg"
                                         class="h-[48px] w-[48px] object-cover rounded-full" />
                                }
                            </div>
                            <div>
                                <div class='text-[11px] font-bold text-charcolBlack '>@item.CustomerName</div>
                                <div class="flex gap-1 items-center">
                                    <div class="rating-review text-[11px]" id="stars">
                                        @{
                                            var unratedScale2 = (5 - Convert.ToInt32(item.RatingScale));
                                            for (int i = 0; i < Convert.ToInt32(item.RatingScale); i++)
                                            {
                                                <svg key={ind} xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                    <path d="M16.3501 6.76236L10.8678 6.18339L8.62355 1.14954L6.37926 6.18339L0.896973 6.76236L4.99185 10.453L3.84865 15.8448L8.62355 13.091L13.3984 15.8448L12.2553 10.453L16.3501 6.76236Z"
                                                          fill="#F89336" />
                                                </svg>
                                            }
                                            for (int i = 0; i < unratedScale2; i++)
                                            {
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                                                    <g opacity="0.3">
                                                        <path d="M9.44612 1.1453L8.95768 2.25692L7.20604 6.18126L2.928 6.63601L1.71533 6.77076L2.62484 7.5792L5.8081 10.4593L4.91544 14.67L4.6628 15.849L5.72389 15.2426L9.44612 13.0868L13.1684 15.2426L14.2294 15.849L13.9768 14.67L13.0841 10.4593L16.2674 7.5792L17.1769 6.77076L15.9642 6.63601L11.6862 6.18126L9.93456 2.25692L9.44612 1.1453ZM9.44612 3.7896L10.8272 6.9055L10.962 7.19182L11.2651 7.22551L14.6505 7.5792L12.1241 9.85296L11.8883 10.0719L11.9557 10.3751L12.6631 13.6931L9.7156 12.0088L9.44612 11.8404L9.17664 12.0088L6.22917 13.6931L6.93656 10.3751L7.00393 10.0719L6.76813 9.85296L4.24173 7.5792L7.62711 7.22551L7.93028 7.19182L8.06502 6.9055L9.44612 3.7896Z"
                                                              fill="#C8B477" />
                                                    </g>
                                                </svg>
                                            }
                                        }
                                    </div>
                                    <div class="text-[11px] mt-[2px]">@item.RatingScale</div>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-1 items-center mt-2">
                            <div class="text-[11px] font-bold ">
                                #推しが見つかった
                            </div>
                            <div class="linear-gradient rounded-[2px] text-[8px] text-white px-4">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Extended_Course
                            </div>
                        </div>
                        <div>
                            @foreach (var item2 in item.GetClubReviewRemarkList)
                            {
                                if (item2.RemarkType.Trim().ToUpper() == "GOOD" && !string.IsNullOrEmpty(item2.Remark))
                                {
                                    <div class="review-experience h-[19px] mb-0 text-[10px] active">
                                        @item2.Remark
                                    </div>
                                }
                                else if (item2.RemarkType.Trim().ToUpper() == "Bad" && !string.IsNullOrEmpty(item2.Remark))
                                {
                                    <div class="review-experience h-[19px] mb-0 text-[10px] blue-dotted ">
                                        @item2.Remark
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="px-4 py-[11px] bg-[#F6F6F6]">
                        <div class="text-[9px] font-bold flex gap-[2px] items-center leading-[17px]">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_in_charge
                            <span data-tooltip-target="tooltip-right" data-tooltip-placement="right" class="cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                    <path d="M4.5 0C2.01855 0 0 2.01855 0 4.5C0 6.98145 2.01855 9 4.5 9C6.98145 9 9 6.98145 9 4.5C9 2.01855 6.98145 0 4.5 0ZM4.5 0.75C6.57568 0.75 8.25 2.42432 8.25 4.5C8.25 6.57568 6.57568 8.25 4.5 8.25C2.42432 8.25 0.75 6.57568 0.75 4.5C0.75 2.42432 2.42432 0.75 4.5 0.75ZM4.5 2.25C3.67529 2.25 3 2.92529 3 3.75H3.75C3.75 3.33105 4.08105 3 4.5 3C4.91895 3 5.25 3.33105 5.25 3.75C5.25 4.03711 5.06543 4.29199 4.79297 4.38281L4.64062 4.42969C4.33447 4.53076 4.125 4.82373 4.125 5.14453V5.625H4.875V5.14453L5.02734 5.09766C5.60449 4.90576 6 4.35791 6 3.75C6 2.92529 5.32471 2.25 4.5 2.25ZM4.125 6V6.75H4.875V6H4.125Z"
                                          fill="#7E6D5E" />
                                </svg>

                            </span>

                            <div id="tooltip-right" role="tooltip"
                                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white text-[7px] w-[200px] bg-gray-900 rounded-lg leading-[17px] opacity-0 tooltip ">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_in_charge_Info_Icon
                                <div class="tooltip-arrow" data-popper-arrow>
                                </div>
                            </div>
                        </div>

                        <div class="flex gap-[3px] w-full overflow-y-scroll no-scrollbar py-[6px]">
                            @{
                                var hostDetails = item.GetClubReviewHostList.FirstOrDefault(x => x.HostId == x.MVPHostId);
                                if (hostDetails != null)
                                {

                                    <div>
                                        <div class="relative linear-gradient-yellow-border flex justify-center items-center flex-col">
                                            @if (!string.IsNullOrEmpty(hostDetails.HostImage))
                                            {
                                                <img class="inline-block h-[31px] w-[31px] rounded-full "
                                                     src="@hostDetails.HostImage"
                                                     alt="">
                                            }
                                            else
                                            {
                                                <img class="inline-block h-[31px] w-[31px] rounded-full "
                                                     src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                                     alt="">
                                            }
                                            <i class="las la-crown linear-gradient-yellow absolute top-[-6px] left-[24.3px] rotate-[41deg] text-xs "></i>
                                        </div>
                                        <div class="text-ellipsis-customer h-[11px] w-[28px] text-[7px] text-[#7E6D5E] ">@hostDetails.HostName</div>
                                    </div>
                                }
                            }
                            @{
                                var hostListDetails = item.GetClubReviewHostList.Where(x => x.HostId != x.MVPHostId).ToList();
                                foreach (var item2 in hostListDetails)
                                {
                                    <div class="flex-none">
                                        @if (!string.IsNullOrEmpty(item2.HostImage))
                                        {
                                            <img class="inline-block h-[34px] w-[34px] rounded-full border-2 border-[#fff]"
                                                 src="@item2.HostImage"
                                                 alt="">
                                        }
                                        else
                                        {
                                            <img class="inline-block h-[34px] w-[34px] rounded-full border-2 border-[#fff]"
                                                 src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                                 alt="">
                                        }
                                        <div class="text-ellipsis-customer h-[11px] w-[28px] text-[7px] text-[#7E6D5E] ">@item2.HostName</div>

                                    </div>
                                }
                            }
                            <div id="tooltip-right" role="tooltip"
                                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white text-[7px] w-[200px] bg-gray-900 rounded-lg leading-[17px] opacity-0 tooltip ">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_in_charge_Info_Icon
                                <div class="tooltip-arrow" data-popper-arrow>
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="px-[24px] py-[9px] flex gap-[16px]">
                        <div class="flex text-[#A09E91] gap-[2px] text-[9px] items-center">
                            <i class="las la-calendar text-[#7E6D5E] text-[12px] "></i>
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Visited_On :@item.VisitedOn
                        </div>
                        <div class="flex text-[#A09E91] gap-[2px] text-[9px] items-center">
                            <i class="las la-clock text-[#7E6D5E] text-[12px] mr-2"></i>
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Commented_On :@item.CommentedOn
                        </div>

                    </div>
                </div>
            }
            <!-- section 1 end -->

        </div>
        <div id="tab4" class="tab-content-plane  hidden">
            <div class="mx-[8px] py-[6.54px] p-l-[22px] p-r-[10px] px-[16px] ">
                <div class="customer-title">
                    <h3>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Gallery</h3>
                    <p>@CRS.CUSTOMER.APPLICATION.Resources.Resource.OverallClubGallery</p>
                </div>
            </div>
            <div class="bg-[#3A3A3A] px-[2px] py-1 grid gap-[2px] grid-cols-3">
                @foreach (var item in Model.ClubGalleryImageList)
                {
                    <img src="@ViewBag.FileLocationPath@item" alt="img" class="h-[117px] w-full object-cover object-cover" onclick="OpenImagePopup('@ViewBag.FileLocationPath@item')" />
                }
            </div>
        </div>
        <div id="tab5" class="tab-content-plane hidden">
            <div class="px-[16px] ">
                <div class="mx-[8px] py-[6.54px] p-l-[6px] p-r-[10px] bg-white">
                    <div class="customer-title">
                        <h3>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Club_Details</h3>
                        <p>@CRS.CUSTOMER.APPLICATION.Resources.Resource.DetailedInformationOfClub</p>
                    </div>
                </div>
            </div>
            <div id="accordion-collapse" class="grid gap-2 py-2 px-4 bg-[#EFEFEF]" data-accordion="collapse"
                 data-active-classes="bg-white" data-inactive-classes="bg-white">
                <div>
                    <h2 id="accordion-collapse-heading-1" class="bg-white">
                        <button type="button"
                                class="flex text-[#333] bg-white items-center justify-between w-full p-5 font-medium text-left text-sm border-b border-[#EFEFEF]  "
                                data-accordion-target="#accordion-collapse-body-1" aria-expanded="false"
                                aria-controls="accordion-collapse-body-1">
                            <span>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Events</span>
                            <svg data-accordion-icon class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M14.364 5.29149C14.1764 5.10402 13.9221 4.9987 13.657 4.9987C13.3918 4.9987 13.1375 5.10402 12.95 5.29149L7.99995 10.2415L3.04995 5.29149C2.86135 5.10933 2.60875 5.00854 2.34655 5.01081C2.08435 5.01309 1.83354 5.11826 1.64813 5.30367C1.46272 5.48908 1.35756 5.73989 1.35528 6.00209C1.353 6.26428 1.45379 6.51688 1.63595 6.70549L7.29295 12.3625C7.48048 12.55 7.73479 12.6553 7.99995 12.6553C8.26512 12.6553 8.51942 12.55 8.70695 12.3625L14.364 6.70549C14.5514 6.51796 14.6567 6.26365 14.6567 5.99849C14.6567 5.73332 14.5514 5.47902 14.364 5.29149Z" fill="#101828" />
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-1" class="hidden bg-white" aria-labelledby="accordion-collapse-heading-3">
                        <div class="p-3 pb-4 pt-3 text-[#101828]">
                            @*<p class="text-xs">
                                    @Model.EventTitle
                                </p>*@
                            @foreach (var item in Model.ClubEventList)
                            {
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Date : @item.EventDate
                                </p>
                                <p class="text-xs">
                                    @item.EventDescription
                                </p>
                            }
                        </div>
                    </div>
                </div>
                <div>
                    <h2 id="accordion-collapse-heading-2" class="bg-white">
                        <button type="button"
                                class="flex text-[#333] bg-white items-center justify-between w-full p-5 font-medium text-left text-sm border-b border-[#EFEFEF]  "
                                data-accordion-target="#accordion-collapse-body-2" aria-expanded="true"
                                aria-controls="accordion-collapse-body-2">
                            <span>SNS</span>
                            <svg data-accordion-icon class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M14.364 5.29149C14.1764 5.10402 13.9221 4.9987 13.657 4.9987C13.3918 4.9987 13.1375 5.10402 12.95 5.29149L7.99995 10.2415L3.04995 5.29149C2.86135 5.10933 2.60875 5.00854 2.34655 5.01081C2.08435 5.01309 1.83354 5.11826 1.64813 5.30367C1.46272 5.48908 1.35756 5.73989 1.35528 6.00209C1.353 6.26428 1.45379 6.51688 1.63595 6.70549L7.29295 12.3625C7.48048 12.55 7.73479 12.6553 7.99995 12.6553C8.26512 12.6553 8.51942 12.55 8.70695 12.3625L14.364 6.70549C14.5514 6.51796 14.6567 6.26365 14.6567 5.99849C14.6567 5.73332 14.5514 5.47902 14.364 5.29149Z" fill="#101828" />
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-2" class="hidden bg-white" aria-labelledby="accordion-collapse-heading-2">
                        <div class="p-3 pb-4 pt-3 grid gap-2">
                            <a href="@Model.InstagramLink" target="_blank">
                                <div class="flex gap-1 items-start text-[#101828]  leading-[15px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="flex-none" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M5.33239 1.59998C3.27426 1.59998 1.6001 3.27568 1.6001 5.33435V10.6677C1.6001 12.7258 3.27581 14.4 5.33447 14.4H10.6678C12.7259 14.4 14.4001 12.7243 14.4001 10.6656V5.33227C14.4001 3.27413 12.7244 1.59998 10.6657 1.59998H5.33239ZM11.7334 3.73331C12.0278 3.73331 12.2668 3.97224 12.2668 4.26664C12.2668 4.56104 12.0278 4.79997 11.7334 4.79997C11.439 4.79997 11.2001 4.56104 11.2001 4.26664C11.2001 3.97224 11.439 3.73331 11.7334 3.73331ZM8.0001 4.79997C9.7649 4.79997 11.2001 6.23517 11.2001 7.99997C11.2001 9.76477 9.7649 11.2 8.0001 11.2C6.2353 11.2 4.8001 9.76477 4.8001 7.99997C4.8001 6.23517 6.2353 4.79997 8.0001 4.79997ZM8.0001 5.86664C7.4343 5.86664 6.89168 6.0914 6.4916 6.49148C6.09152 6.89156 5.86676 7.43418 5.86676 7.99997C5.86676 8.56577 6.09152 9.10839 6.4916 9.50847C6.89168 9.90854 7.4343 10.1333 8.0001 10.1333C8.56589 10.1333 9.10851 9.90854 9.50859 9.50847C9.90867 9.10839 10.1334 8.56577 10.1334 7.99997C10.1334 7.43418 9.90867 6.89156 9.50859 6.49148C9.10851 6.0914 8.56589 5.86664 8.0001 5.86664Z"
                                              fill="#101828" />
                                    </svg>
                                    <div class="break-all">
                                        @Model.InstagramLink

                                    </div>
                                </div>
                            </a>
                            <a href="@Model.TwitterLink" target="_blank">
                                <div class="flex gap-1 items-start text-[#101828]  leading-[15px]">
                                    @*<svg xmlns="http://www.w3.org/2000/svg" class="flex-none" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M7.99996 0.960022C4.11196 0.960022 0.959961 4.11202 0.959961 8.00002C0.959961 11.5296 3.55996 14.4439 6.9478 14.953V9.86594H5.20604V8.01538H6.9478V6.78402C6.9478 4.7453 7.94108 3.85026 9.63548 3.85026C10.447 3.85026 10.8761 3.91042 11.0793 3.93794V5.5533H9.92348C9.20412 5.5533 8.95292 6.23522 8.95292 7.00386V8.01538H11.0611L10.775 9.86594H8.95292V14.968C12.3891 14.5018 15.04 11.5639 15.04 8.00002C15.04 4.11202 11.888 0.960022 7.99996 0.960022Z"
                                                  fill="#101828" />
                                        </svg>*@
                                    <img src="~/Content/assets/images/customer/Twitter_bb.svg" />
                                    <div class="break-all">

                                        @Model.TwitterLink
                                    </div>
                                </div>

                            </a>
                            <a href="@Model.TiktokLink" target="_blank">
                                <div class="flex gap-1 items-start text-[#101828]  leading-[15px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="flex-none" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M12.8 2.13336H3.19997C2.61063 2.13336 2.1333 2.6107 2.1333 3.20003V12.8C2.1333 13.3894 2.61063 13.8667 3.19997 13.8667H12.8C13.3893 13.8667 13.8666 13.3894 13.8666 12.8V3.20003C13.8666 2.6107 13.3888 2.13336 12.8 2.13336ZM12.1008 7.18616C12.0314 7.19256 11.9616 7.19683 11.8912 7.19683C11.0938 7.19683 10.393 6.78723 9.98504 6.16696C9.98504 7.79309 9.98504 9.64376 9.98504 9.67469C9.98504 11.1067 8.82397 12.2672 7.3925 12.2672C5.96104 12.2667 4.79997 11.1056 4.79997 9.67416C4.79997 8.24216 5.96104 7.08163 7.3925 7.08163C7.4469 7.08163 7.4997 7.08643 7.5525 7.08963V8.3675C7.49917 8.36109 7.44744 8.35149 7.3925 8.35149C6.66184 8.35149 6.0693 8.94403 6.0693 9.67469C6.0693 10.4054 6.6613 10.9979 7.3925 10.9979C8.1237 10.9979 8.76904 10.4219 8.76904 9.69123C8.76904 9.66189 8.78184 3.7339 8.78184 3.7339H10.0026C10.1173 4.82563 10.9989 5.68749 12.1008 5.76643V7.18616Z"
                                              fill="#101828" />
                                    </svg>
                                    <div class="break-all">

                                        @Model.TiktokLink
                                    </div>
                                </div>

                            </a>
                            <a href="#">
                                <div class="flex gap-1 text-[#101828] items-center leading-[15px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="flex-none" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M2.88027 1.28009C1.99707 1.28009 1.28027 1.99689 1.28027 2.88009V13.1201C1.28027 14.0033 1.99707 14.7201 2.88027 14.7201H13.1203C14.0035 14.7201 14.7203 14.0033 14.7203 13.1201V2.88009C14.7203 1.99689 14.0035 1.28009 13.1203 1.28009H2.88027ZM8.00027 3.52009C10.6467 3.52009 12.8003 5.23504 12.8003 7.34384C12.8003 8.18544 12.4672 8.94754 11.7696 9.69634C11.2672 10.2659 10.4516 10.8929 9.69965 11.4113C8.94765 11.9233 8.25627 12.3264 8.00027 12.432C7.89787 12.4736 7.82107 12.4926 7.76027 12.4926C7.54907 12.4926 7.56802 12.2691 7.58402 12.1763C7.59682 12.1059 7.65465 11.7726 7.65465 11.7726C7.67065 11.6542 7.6864 11.466 7.6384 11.3476C7.584 11.2164 7.36957 11.149 7.21277 11.117C4.90877 10.8162 3.20027 9.23184 3.20027 7.34384C3.20027 5.23504 5.35387 3.52009 8.00027 3.52009ZM7.67777 6.07947C7.51655 6.08246 7.36027 6.20549 7.36027 6.40009V8.32009C7.36027 8.49673 7.50363 8.64009 7.68027 8.64009C7.85691 8.64009 8.00027 8.49673 8.00027 8.32009V7.39884L8.69965 8.50572C8.88077 8.75916 9.28027 8.63145 9.28027 8.32009V6.40009C9.28027 6.22345 9.13691 6.08009 8.96027 6.08009C8.78363 6.08009 8.64027 6.22345 8.64027 6.40009V7.36009L7.9409 6.21447C7.87298 6.11943 7.7745 6.07767 7.67777 6.07947ZM4.80027 6.08009C4.62363 6.08009 4.48027 6.22345 4.48027 6.40009V8.32009C4.48027 8.49673 4.62363 8.64009 4.80027 8.64009H5.76027C5.93691 8.64009 6.08027 8.49673 6.08027 8.32009C6.08027 8.14345 5.93691 8.00009 5.76027 8.00009H5.12027V6.40009C5.12027 6.22345 4.97691 6.08009 4.80027 6.08009ZM6.72027 6.08009C6.54363 6.08009 6.40027 6.22345 6.40027 6.40009V8.32009C6.40027 8.49673 6.54363 8.64009 6.72027 8.64009C6.89691 8.64009 7.04027 8.49673 7.04027 8.32009V6.40009C7.04027 6.22345 6.89691 6.08009 6.72027 6.08009ZM9.92027 6.08009C9.74363 6.08009 9.60027 6.22345 9.60027 6.40009V8.32009C9.60027 8.49673 9.74363 8.64009 9.92027 8.64009H10.8803C11.0569 8.64009 11.2003 8.49673 11.2003 8.32009C11.2003 8.14345 11.0569 8.00009 10.8803 8.00009H10.2403V7.68009H10.8803C11.0572 7.68009 11.2003 7.53673 11.2003 7.36009C11.2003 7.18345 11.0572 7.04009 10.8803 7.04009H10.2403V6.72009H10.8803C11.0569 6.72009 11.2003 6.57673 11.2003 6.40009C11.2003 6.22345 11.0569 6.08009 10.8803 6.08009H9.92027Z"
                                              fill="#101828" />
                                    </svg>
                                    +81 @Model.ClubMobileNumber
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 id="accordion-collapse-heading-3" class="bg-white">
                        <button type="button"
                                class="flex text-[#333] bg-white items-center justify-between w-full p-5 font-medium text-left text-sm border-b border-[#EFEFEF]  "
                                data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                                aria-controls="accordion-collapse-body-3">
                            <span>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Address</span>
                            @*<span>ご住所</span>*@
                            <svg data-accordion-icon class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M14.364 5.29149C14.1764 5.10402 13.9221 4.9987 13.657 4.9987C13.3918 4.9987 13.1375 5.10402 12.95 5.29149L7.99995 10.2415L3.04995 5.29149C2.86135 5.10933 2.60875 5.00854 2.34655 5.01081C2.08435 5.01309 1.83354 5.11826 1.64813 5.30367C1.46272 5.48908 1.35756 5.73989 1.35528 6.00209C1.353 6.26428 1.45379 6.51688 1.63595 6.70549L7.29295 12.3625C7.48048 12.55 7.73479 12.6553 7.99995 12.6553C8.26512 12.6553 8.51942 12.55 8.70695 12.3625L14.364 6.70549C14.5514 6.51796 14.6567 6.26365 14.6567 5.99849C14.6567 5.73332 14.5514 5.47902 14.364 5.29149Z" fill="#101828" />
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-3" class="hidden bg-white" aria-labelledby="accordion-collapse-heading-3">
                        <div class="p-3 pb-4 pt-3 text-[#101828]">
                            <p class="text-xs">
                                @Model.ClubLocation
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 id="accordion-collapse-heading-4" class="bg-white">
                        <button type="button"
                                class="flex text-[#333] bg-white items-center justify-between w-full p-5 font-medium text-left text-sm border-b border-[#EFEFEF]  "
                                data-accordion-target="#accordion-collapse-body-4" aria-expanded="false"
                                aria-controls="accordion-collapse-body-4">
                            <span>@CRS.CUSTOMER.APPLICATION.Resources.Resource.WorkingHoursHoliday</span>

                            <svg data-accordion-icon class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M14.364 5.29149C14.1764 5.10402 13.9221 4.9987 13.657 4.9987C13.3918 4.9987 13.1375 5.10402 12.95 5.29149L7.99995 10.2415L3.04995 5.29149C2.86135 5.10933 2.60875 5.00854 2.34655 5.01081C2.08435 5.01309 1.83354 5.11826 1.64813 5.30367C1.46272 5.48908 1.35756 5.73989 1.35528 6.00209C1.353 6.26428 1.45379 6.51688 1.63595 6.70549L7.29295 12.3625C7.48048 12.55 7.73479 12.6553 7.99995 12.6553C8.26512 12.6553 8.51942 12.55 8.70695 12.3625L14.364 6.70549C14.5514 6.51796 14.6567 6.26365 14.6567 5.99849C14.6567 5.73332 14.5514 5.47902 14.364 5.29149Z" fill="#101828" />
                            </svg>


                        </button>
                    </h2>
                    <div id="accordion-collapse-body-4" class="hidden bg-white" aria-labelledby="accordion-collapse-heading-4">
                        <div class="p-3 pb-4 pt-3 text-[#101828]">
                            <p class="text-xs">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Working_Hours: @Model.ClubOpeningTime - @Model.ClubClosingTime
                            </p>
                            <p class="text-xs">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Holiday: @CRS.CUSTOMER.APPLICATION.Resources.Resource.Sunday
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 id="accordion-collapse-heading-5" class="bg-white">
                        <button type="button"
                                class="flex text-[#333] bg-white items-center justify-between w-full p-5 font-medium text-left text-sm border-b border-[#EFEFEF]  "
                                data-accordion-target="#accordion-collapse-body-5" aria-expanded="false"
                                aria-controls="accordion-collapse-body-5">
                            <span>@CRS.CUSTOMER.APPLICATION.Resources.Resource.LastEntryLastOrderTime</span>
                            <svg data-accordion-icon class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M14.364 5.29149C14.1764 5.10402 13.9221 4.9987 13.657 4.9987C13.3918 4.9987 13.1375 5.10402 12.95 5.29149L7.99995 10.2415L3.04995 5.29149C2.86135 5.10933 2.60875 5.00854 2.34655 5.01081C2.08435 5.01309 1.83354 5.11826 1.64813 5.30367C1.46272 5.48908 1.35756 5.73989 1.35528 6.00209C1.353 6.26428 1.45379 6.51688 1.63595 6.70549L7.29295 12.3625C7.48048 12.55 7.73479 12.6553 7.99995 12.6553C8.26512 12.6553 8.51942 12.55 8.70695 12.3625L14.364 6.70549C14.5514 6.51796 14.6567 6.26365 14.6567 5.99849C14.6567 5.73332 14.5514 5.47902 14.364 5.29149Z" fill="#101828" />
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-5" class="hidden bg-white" aria-labelledby="accordion-collapse-heading-5">
                        <div class="p-3 pb-4 pt-3 text-[#101828]">
                            <p class="text-xs">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Last_Entry : @Model.ClubLastEntrySyokai
                            </p>
                            <p class="text-xs">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Last_Order : @Model.ClubLastOrderTime
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 id="accordion-collapse-heading-6" class="bg-white">
                        <button type="button"
                                class="flex text-[#333] bg-white items-center justify-between w-full p-5 font-medium text-left text-sm border-b border-[#EFEFEF]  "
                                data-accordion-target="#accordion-collapse-body-6" aria-expanded="false"
                                aria-controls="accordion-collapse-body-6">
                            <span>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Plans</span>
                            <svg data-accordion-icon class="w-3 h-3 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M14.364 5.29149C14.1764 5.10402 13.9221 4.9987 13.657 4.9987C13.3918 4.9987 13.1375 5.10402 12.95 5.29149L7.99995 10.2415L3.04995 5.29149C2.86135 5.10933 2.60875 5.00854 2.34655 5.01081C2.08435 5.01309 1.83354 5.11826 1.64813 5.30367C1.46272 5.48908 1.35756 5.73989 1.35528 6.00209C1.353 6.26428 1.45379 6.51688 1.63595 6.70549L7.29295 12.3625C7.48048 12.55 7.73479 12.6553 7.99995 12.6553C8.26512 12.6553 8.51942 12.55 8.70695 12.3625L14.364 6.70549C14.5514 6.51796 14.6567 6.26365 14.6567 5.99849C14.6567 5.73332 14.5514 5.47902 14.364 5.29149Z" fill="#101828" />
                            </svg>
                        </button>
                    </h2>
                    <div id="accordion-collapse-body-6" class="hidden bg-white" aria-labelledby="accordion-collapse-heading-6">
                        <div class="p-3 pb-4 pt-3 text-[#101828]">
                            @if (!string.IsNullOrEmpty(Model.ClubRegularPrice))
                            {
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Regular_Price 1 @CRS.CUSTOMER.APPLICATION.Resources.Resource.Hour: @Model.ClubRegularPrice 円
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(Model.ClubNominationFee))
                            {
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Nomimation_Fee: @Model.ClubNominationFee 円
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(Model.ClubAccompanyingFee))
                            {
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Accompanying_Fee: @Model.ClubAccompanyingFee 円
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(Model.ClubOnSiteNominationFee))
                            {
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.On_site_Nomination: @Model.ClubOnSiteNominationFee 円
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(Model.ClubVariousDrinksFee))
                            {
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Various_Drinks: @Model.ClubVariousDrinksFee 円
                                </p>
                            }
                            @if (!string.IsNullOrEmpty(Model.ClubTax))
                            {
                                <br />
                                <p class="text-xs">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Excluding_Tax @Model.ClubTax %
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider-customer"></div>
<div class="px-[10px] py-4 flex justify-between items-center">
    @if (Model.IsBookmarked.ToUpper() == "N")
    {
        <div class="text-[#bcb08a] text-lg" onclick="handleAddBookmarks('@Model.ClubId', '', 'club')">
            <img src="~/Content/assets/images/customer/bookmark-outlined.svg" class="h-[20px] w-[25px]" />
        </div>
    }
    else
    {
        <div class="text-[#bcb08a] text-lg" onclick="handleRemoveBookmarks('@Model.ClubId', '', 'club')">
            <img src="~/Content/assets/images/customer/bookmark-filled.svg" class="h-[20px] w-[25px]">
        </div>
    }
    @*<div class="text-[#bcb08a] text-lg"><i class="las la-bookmark"></i></div>*@
    <div class="text-[#BCB08A] text-lg" id="shareButton"><i class="las la-share-square"></i></div>
    <a class="text-[#BCB08A] text-lg" href="@Model.LocationURL" target="_blank"><i class="las la-map-marked-alt"></i></a>
    <button class="btn-gradient" data-drawer-placement="bottom" aria-controls="drawer-bottom-example" onclick="InitiateClubReservationFunction('@Model.ClubId')">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.BookNow
    </button>
    @*<button class="btn-gradient" data-drawer-placement="bottom" aria-controls="drawer-bottom-example" onclick="ClubReservationActionFunction('@Model.ClubId', '@Model.ClubNameEng')">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.BookNow
        </button>*@
</div>
<!-- Modal toggle -->
<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white  shadow dark:bg-gray-700 rounded-[6px]">
            <img src="~/Content/assets/images/customer/demo-image.jpeg" alt="img"
                 class="h-[66px] w-[66px] rounded-full ring-2 ring-white absolute top-[-33px] left-[50%] translate-x-[-50%]" />
            <!-- Modal body -->
            <div class=" bg-white pt-12 rounded-[6px]">
                <div class="grid justify-center text-center pb-[28px]">
                    <div class="text-[10px] text-warmgray-1 flex gap-1 justify-center">
                        <i class="fa-solid fa-location-dot text-primaryDark"></i>歌舞伎町
                    </div>
                    <div class="font-bold">ACQUA FUKUOKA</div>
                    <div class="text-xs pb-[6px] text-warmgray-2">アクアフクオカ</div>
                    <div class="text-[11px] bg-creamy-secondary rounded-[2px] py-[6px] px-[10px]">来店日：2023.10.18</div>
                </div>
                <div class="flex justify-center items-center pb-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" fill="none">
                        <path d="M14 19.6465L1 1" stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <div class="text-sm font-bold">ご来店ありがとうございました！</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22" fill="none">
                        <path d="M1 20.6465L12 0.999999" stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </div>
                <div class="bg-blushpink py-[12px] px-[20px]">
                    <div class="text-sx font-bold  text-center">店舗へのレビュー投稿で</div>
                    <div class="flex justify-center items-center gap-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="30" viewBox="0 0 26 30" fill="none">
                            <g clip-path="url(#clip0_4314_43017)">
                                <path d="M15.0886 12.8806L12.2553 14.6993C10.5754 15.7739 9.32118 17.3972 8.70897 19.306L7.85039 21.9663L7.66001 22.5525L7.54803 22.8493L7.42857 22.5525L7.23819 21.9663L6.37961 19.306C5.76741 17.4009 4.51314 15.7739 2.83331 14.6993L0 12.8806L2.82211 10.9042C4.30409 9.86336 5.42398 8.37539 6.01378 6.66196L7.53309 2.25439L7.54429 2.2807L7.55176 2.25439L9.07107 6.66196C9.66461 8.37539 10.7808 9.86336 12.2627 10.9042L15.0849 12.8806H15.0886Z"
                                      fill="#A99BEA" />
                                <path d="M26.0001 7.07174L24.1149 8.28166C22.9988 8.99559 22.1626 10.0778 21.7557 11.3478L21.1846 13.1176L21.0576 13.5046L20.983 13.7038L20.9046 13.5046L20.7777 13.1176L20.2065 11.3478C19.7996 10.0778 18.9635 8.99559 17.8473 8.28166L15.9622 7.07174L17.8398 5.75661C18.8253 5.06147 19.5682 4.07324 19.9639 2.93096L20.9755 -0.00366211L20.983 0.0151255V-0.00366211L21.9983 2.93096C22.394 4.07324 23.1369 5.06147 24.1224 5.75661L26.0001 7.07174Z"
                                      fill="#EC4FA8" />
                                <path d="M20.9792 25.2768L19.6353 26.1372C18.8402 26.6445 18.2466 27.4148 17.9555 28.3204L17.5486 29.5829L17.459 29.8609L17.4067 30.0037L17.3507 29.8609L17.2611 29.5829L16.8543 28.3204C16.5631 27.4186 15.9695 26.6483 15.1744 26.1372L13.8306 25.2768L15.167 24.3411C15.8688 23.8489 16.3988 23.1425 16.6788 22.3309L17.3993 20.2417L17.4067 20.253V20.2417L18.1309 22.3309C18.4109 23.1425 18.941 23.8489 19.6428 24.3411L20.9792 25.2768Z"
                                      fill="#EA918C" />
                            </g>
                            <defs>
                                <clipPath id="clip0_4314_43017">
                                    <rect width="26" height="30" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <div class="text-[72px] font-bold leading-[60px] tracking-[-3.6px]">500</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                            <g clip-path="url(#clip0_4314_43021)">
                                <path d="M29.2264 17.4743C29.2264 17.7814 29.0381 18.0605 28.7463 18.1721L24.2321 19.8842C22.6458 20.489 21.3985 21.7405 20.8148 23.327L19.0967 28.0026C19.0826 28.0398 19.059 28.0631 19.0402 28.0956C19.0261 28.1236 19.012 28.1468 18.9931 28.1701C18.9649 28.2073 18.9366 28.2399 18.9037 28.2678C18.8519 28.3143 18.7907 28.3562 18.7295 28.3841C18.6872 28.398 18.6495 28.4167 18.6071 28.4213C18.5648 28.4306 18.5271 28.4353 18.4848 28.4353L18.353 28.4213C18.3106 28.4167 18.2729 28.4027 18.2306 28.3841C18.1647 28.3562 18.1035 28.3143 18.0517 28.2678C18.0188 28.2399 17.9905 28.2073 17.967 28.1747C17.9529 28.1561 17.9387 28.1329 17.9246 28.1096C17.9011 28.0724 17.8728 28.0445 17.8587 28.0072L16.1406 23.3316C15.5616 21.7452 14.319 20.489 12.728 19.8889L8.21384 18.1768C7.922 18.0651 7.729 17.786 7.729 17.4789C7.729 17.1533 7.94553 16.8648 8.2562 16.7718L12.3843 15.4877C14.173 14.9295 15.5805 13.5617 16.1877 11.8124L17.8681 6.90412C17.887 6.84829 17.9152 6.79712 17.9434 6.75059C17.9623 6.71802 17.9858 6.69011 18.014 6.6622C18.0752 6.59706 18.1506 6.54589 18.2447 6.50867C18.2682 6.49936 18.3012 6.49006 18.3294 6.48541C18.3765 6.47145 18.4283 6.4668 18.48 6.4668C18.5318 6.4668 18.5836 6.47145 18.6307 6.48541C18.6636 6.49006 18.6919 6.49936 18.7154 6.50867C18.7954 6.54123 18.8707 6.58776 18.9319 6.64359C18.9555 6.66685 18.979 6.69476 18.9978 6.71802C19.0402 6.77385 19.0731 6.82968 19.0967 6.89481L20.7771 11.8031C21.3749 13.557 22.7918 14.9201 24.5711 15.4784L28.6992 16.7625C29.0146 16.8602 29.2264 17.1486 29.2264 17.4696V17.4743Z"
                                      fill="#FFC229" />
                                <path d="M29.2264 17.4743C29.2264 17.7814 29.0381 18.0605 28.7463 18.1721L24.2321 19.8842C22.6458 20.489 21.3985 21.7405 20.8148 23.327L19.0967 28.0026C19.0826 28.0398 19.059 28.0631 19.0402 28.0956C19.0261 28.1236 19.012 28.1468 18.9931 28.1701C18.9649 28.2073 18.9366 28.2399 18.9037 28.2678C18.8519 28.3143 18.7907 28.3562 18.7295 28.3841C18.6872 28.398 18.6495 28.4167 18.6071 28.4213C18.5648 28.4306 18.5271 28.4353 18.4848 28.4353L18.353 28.4213C18.3106 28.4167 18.2729 28.4027 18.2306 28.3841C18.1647 28.3562 18.1035 28.3143 18.0517 28.2678C18.0188 28.2399 17.9905 28.2073 17.967 28.1747C17.9529 28.1561 17.9387 28.1329 17.9246 28.1096C17.9011 28.0724 17.8728 28.0445 17.8587 28.0072L16.1406 23.3316C15.5616 21.7452 14.319 20.489 12.728 19.8889L8.21384 18.1768C7.922 18.0651 7.729 17.786 7.729 17.4789C7.729 17.1533 7.94553 16.8648 8.2562 16.7718L12.3843 15.4877C14.173 14.9295 15.5805 13.5617 16.1877 11.8124L17.8681 6.90412C17.887 6.84829 17.9152 6.79712 17.9434 6.75059C17.9623 6.71802 17.9858 6.69011 18.014 6.6622C18.0752 6.59706 18.1506 6.54589 18.2447 6.50867C18.2682 6.49936 18.3012 6.49006 18.3294 6.48541C18.3765 6.47145 18.4283 6.4668 18.48 6.4668C18.5318 6.4668 18.5836 6.47145 18.6307 6.48541C18.6636 6.49006 18.6919 6.49936 18.7154 6.50867C18.7954 6.54123 18.8707 6.58776 18.9319 6.64359C18.9555 6.66685 18.979 6.69476 18.9978 6.71802C19.0402 6.77385 19.0731 6.82968 19.0967 6.89481L20.7771 11.8031C21.3749 13.557 22.7918 14.9201 24.5711 15.4784L28.6992 16.7625C29.0146 16.8602 29.2264 17.1486 29.2264 17.4696V17.4743Z"
                                      fill="#F766C2" />
                                <path d="M12.6433 6.47609C12.6433 6.65753 12.5303 6.82037 12.3609 6.8855L9.70607 7.89041C8.77406 8.24399 8.03975 8.98372 7.69613 9.91419L6.68881 12.6637C6.68881 12.6637 6.66527 12.701 6.65586 12.7196C6.64644 12.7335 6.63703 12.7521 6.62761 12.7661C6.61349 12.7894 6.59467 12.808 6.57584 12.8219C6.54289 12.8498 6.50994 12.8731 6.47228 12.8917C6.44874 12.901 6.42521 12.9103 6.40167 12.9103C6.37814 12.915 6.3546 12.9196 6.33107 12.9196L6.25105 12.9103C6.22751 12.9103 6.20397 12.8964 6.18044 12.8917C6.14278 12.8731 6.10513 12.8498 6.07218 12.8219C6.05335 12.8033 6.03923 12.7847 6.0204 12.7661C6.01098 12.7521 6.00628 12.7428 5.99686 12.7289C5.98274 12.7103 5.96862 12.6917 5.9592 12.6684L4.95188 9.91884C4.61297 8.98837 3.87866 8.24864 2.94665 7.89506L0.287134 6.8855C0.117678 6.82037 0 6.65753 0 6.47609C0 6.28534 0.127092 6.11786 0.310669 6.05738L2.73954 5.29904C3.78923 4.97338 4.61768 4.16852 4.97542 3.13569L5.9592 0.25588C5.97333 0.223314 5.98745 0.195399 6.00628 0.167485C6.0204 0.148876 6.02981 0.130266 6.04864 0.116309C6.0863 0.0790902 6.12866 0.0465236 6.18515 0.0279142C6.19927 0.0232618 6.2181 0.0139571 6.23692 0.0139571C6.26517 0.00465237 6.29341 0 6.32636 0C6.35931 0 6.38755 0 6.41579 0.0139571C6.43462 0.0139571 6.45345 0.0232618 6.46757 0.0279142C6.51464 0.0465236 6.55701 0.0744378 6.59467 0.107004C6.60879 0.120961 6.62291 0.134919 6.63232 0.153528C6.65586 0.186095 6.67939 0.218661 6.68881 0.25588L7.6773 3.14035C8.03033 4.16852 8.85879 4.97338 9.90847 5.3037L12.3373 6.06203C12.5256 6.11786 12.648 6.29 12.648 6.48074L12.6433 6.47609Z"
                                      fill="#FFE6A1" />
                                <path d="M12.6433 6.47609C12.6433 6.65753 12.5303 6.82037 12.3609 6.8855L9.70607 7.89041C8.77406 8.24399 8.03975 8.98372 7.69613 9.91419L6.68881 12.6637C6.68881 12.6637 6.66527 12.701 6.65586 12.7196C6.64644 12.7335 6.63703 12.7521 6.62761 12.7661C6.61349 12.7894 6.59467 12.808 6.57584 12.8219C6.54289 12.8498 6.50994 12.8731 6.47228 12.8917C6.44874 12.901 6.42521 12.9103 6.40167 12.9103C6.37814 12.915 6.3546 12.9196 6.33107 12.9196L6.25105 12.9103C6.22751 12.9103 6.20397 12.8964 6.18044 12.8917C6.14278 12.8731 6.10513 12.8498 6.07218 12.8219C6.05335 12.8033 6.03923 12.7847 6.0204 12.7661C6.01098 12.7521 6.00628 12.7428 5.99686 12.7289C5.98274 12.7103 5.96862 12.6917 5.9592 12.6684L4.95188 9.91884C4.61297 8.98837 3.87866 8.24864 2.94665 7.89506L0.287134 6.8855C0.117678 6.82037 0 6.65753 0 6.47609C0 6.28534 0.127092 6.11786 0.310669 6.05738L2.73954 5.29904C3.78923 4.97338 4.61768 4.16852 4.97542 3.13569L5.9592 0.25588C5.97333 0.223314 5.98745 0.195399 6.00628 0.167485C6.0204 0.148876 6.02981 0.130266 6.04864 0.116309C6.0863 0.0790902 6.12866 0.0465236 6.18515 0.0279142C6.19927 0.0232618 6.2181 0.0139571 6.23692 0.0139571C6.26517 0.00465237 6.29341 0 6.32636 0C6.35931 0 6.38755 0 6.41579 0.0139571C6.43462 0.0139571 6.45345 0.0232618 6.46757 0.0279142C6.51464 0.0465236 6.55701 0.0744378 6.59467 0.107004C6.60879 0.120961 6.62291 0.134919 6.63232 0.153528C6.65586 0.186095 6.67939 0.218661 6.68881 0.25588L7.6773 3.14035C8.03033 4.16852 8.85879 4.97338 9.90847 5.3037L12.3373 6.06203C12.5256 6.11786 12.648 6.29 12.648 6.48074L12.6433 6.47609Z"
                                      fill="#B68CDD" />
                                <path d="M35.9999 29.5611C35.9999 29.7425 35.887 29.9053 35.7175 29.9705L33.0627 30.9754C32.1307 31.329 31.3964 32.0687 31.0528 32.9992L30.0454 35.7487C30.0454 35.7487 30.0219 35.7859 30.0125 35.8045C30.0031 35.8185 29.9936 35.8325 29.9842 35.8464C29.9701 35.8697 29.9513 35.8883 29.9325 35.9022C29.8995 35.9302 29.8666 35.9534 29.8289 35.972C29.8054 35.9813 29.7818 35.9906 29.7583 35.9906C29.7348 35.9953 29.7112 35.9999 29.6877 35.9999L29.6077 35.9906C29.5841 35.9906 29.5606 35.9767 29.5371 35.972C29.4994 35.9534 29.4617 35.9302 29.4288 35.9022C29.41 35.8836 29.3958 35.865 29.377 35.8464C29.3676 35.8325 29.3629 35.8232 29.3535 35.8092C29.3394 35.7906 29.3252 35.772 29.3158 35.7487L28.3085 32.9992C27.9696 32.0687 27.2353 31.329 26.3033 30.9754L23.6485 29.9705C23.479 29.9053 23.3613 29.7425 23.3613 29.5611C23.3613 29.3703 23.4884 29.2028 23.672 29.1424L26.1009 28.384C27.1506 28.0584 27.979 27.2535 28.3367 26.2207L29.3252 23.3362C29.3394 23.3036 29.3535 23.2757 29.3723 23.2478C29.3864 23.2292 29.3958 23.2106 29.4147 23.1966C29.4523 23.1594 29.4947 23.1268 29.5512 23.1082C29.5653 23.1036 29.5841 23.0943 29.603 23.0943C29.6312 23.085 29.6594 23.0803 29.6924 23.0803C29.7253 23.0803 29.7536 23.0803 29.7818 23.0943C29.8007 23.0943 29.8195 23.1036 29.8336 23.1082C29.8807 23.1268 29.923 23.1548 29.9607 23.1873C29.9748 23.2013 29.9889 23.2152 29.9984 23.2338C30.0219 23.2664 30.0454 23.299 30.0548 23.3362L31.0433 26.2207C31.3964 27.2488 32.2248 28.0537 33.2745 28.384L35.7034 29.1424C35.8917 29.1982 36.014 29.3703 36.014 29.5611H35.9999Z"
                                      fill="#F766C2" />
                                <path d="M27.2966 10.1888C27.2966 9.49555 27.8662 8.93262 28.5675 8.93262C29.2689 8.93262 29.8385 9.49555 29.8385 10.1888C29.8385 10.882 29.2689 11.4449 28.5675 11.4449C27.8662 11.4449 27.2966 10.882 27.2966 10.1888Z"
                                      fill="#B192E2" />
                                <path d="M7.16887 32.3572C7.87078 32.3572 8.43979 31.7949 8.43979 31.1011C8.43979 30.4074 7.87078 29.845 7.16887 29.845C6.46696 29.845 5.89795 30.4074 5.89795 31.1011C5.89795 31.7949 6.46696 32.3572 7.16887 32.3572Z"
                                      fill="#E99A89" />
                                <path d="M1.48267 19.698C1.48267 19.3212 1.78863 19.0188 2.1699 19.0188C2.55118 19.0188 2.85714 19.3212 2.85714 19.698C2.85714 20.0749 2.55118 20.3773 2.1699 20.3773C1.78863 20.3773 1.48267 20.0749 1.48267 19.698Z"
                                      fill="#F588CE" />
                                <path d="M32.5591 15.311C32.5591 14.8551 32.9309 14.4875 33.3922 14.4875C33.8535 14.4875 34.2254 14.8551 34.2254 15.311C34.2254 15.7669 33.8535 16.1345 33.3922 16.1345C32.9309 16.1345 32.5591 15.7669 32.5591 15.311Z"
                                      fill="#F588CE" />
                                <path d="M31.726 8.10446C32.1861 8.10446 32.5591 7.73578 32.5591 7.28099C32.5591 6.8262 32.1861 6.45752 31.726 6.45752C31.2658 6.45752 30.8928 6.8262 30.8928 7.28099C30.8928 7.73578 31.2658 8.10446 31.726 8.10446Z"
                                      fill="#F588CE" />
                                <path d="M8.93326 25.0468C9.3934 25.0468 9.76642 24.6782 9.76642 24.2234C9.76642 23.7686 9.3934 23.3999 8.93326 23.3999C8.47312 23.3999 8.1001 23.7686 8.1001 24.2234C8.1001 24.6782 8.47312 25.0468 8.93326 25.0468Z"
                                      fill="#F588CE" />
                            </g>
                            <defs>
                                <clipPath id="clip0_4314_43021">
                                    <rect width="36" height="36" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="text-[15px] font-bold  text-center pt-2">ポイントプレゼント!!!</div>
                    <div class="text-[11px] bg-[#FDFBFA] rounded-[2px] py-[7px] px-[10px] text-center mt-2">
                        来店日：2023.10.18
                    </div>
                </div>
                <div class="py-[13px] px-[20px]">
                    <button class="btn-gradient-rounded w-full" data-modal-hide="defaultModal">レビューを投稿する</button>
                </div>
                <div class="text-sm font-bold text-center py-[20px]">今はスキップ</div>
            </div>
        </div>
    </div>
</div>
<!-- drawer component -->
<div id="drawer-bottom-example"
     class="fixed bottom-0 left-0 right-0 z-[120] w-full bg-white overflow-y-auto  bg-white dark:bg-gray-800 transition-transform -translate-x-full transform"
     tabindex="-1" aria-labelledby="drawer-bottom-label">
    <div class="py-[10px] px-4 border-b border-b-[#EDEDED] flex justify-between bg-white">
        <h5 id="drawer-bottom-label" class="text-sm text-secondary-1">
            共有
        </h5>
        <button type="button" data-drawer-hide="drawer-bottom-example" aria-controls="drawer-bottom-example" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M13.3 0.710032C12.91 0.320032 12.28 0.320032 11.89 0.710032L6.99997 5.59003L2.10997 0.700032C1.71997 0.310032 1.08997 0.310032 0.699971 0.700032C0.309971 1.09003 0.309971 1.72003 0.699971 2.11003L5.58997 7.00003L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41003L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7.00003L13.3 2.11003C13.68 1.73003 13.68 1.09003 13.3 0.710032Z"
                      fill="black" />
            </svg>
        </button>
    </div>
    <div class="py-[12px] px-4 bg-white">
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/line-1.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">LINE</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/tiktok-1.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">Tiktok</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/insta.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">Instagram</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/x.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">Twitter</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/copy.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">シェアリンクをコピー</div>
        </div>
    </div>
</div>
<div id="myModal" class="my-custom-modal">
    <span class="close" onclick="closeImagePopup();">&times;</span>
    <img class="my-modal-content" id="img01">
</div>
<div class="loader" id="loader-id">
    <img src="~/Content/assets/images/loader.gif" class="h-[150px]" />
</div>
@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // The DOM is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        // If you also want to handle external resources like images, use the load event
        window.addEventListener("load", function () {
            // The entire page, including external resources, is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                margin: 10,
                loop: true,
                autoWidth: true,
                items: 4
            });
            localStorage.clear();
        })
    </script>
    <script>
        function ClubReservationActionFunction(i, j, k) {
            DataStorageFunction(i, j);
            window.location.href = "/LocationManagement/ClubReservation?ClubId=" + i + "&SelectedDate=" + k;
        }
        const DataStorageFunction = (i, j) => {
            localStorage.setItem("ClubId", EncryptParameter(i));
            localStorage.setItem("ClubName", EncryptParameter(j));
        }

        function handleAddBookmarks(clubId, hostId, agentType) {
            ActivateLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/AddBookmarks',
                type: 'POST',
                data: { clubId: clubId, hostId: hostId, agentType: agentType },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        // Handle failure, e.g., show an error message
                        console.log('Error: ' + result.message);
                        location.reload();
                    }
                },
                error: function () {
                    // Handle unexpected errors
                    console.log('An unexpected error occurred.');
                    location.reload();
                }
            });
        }

        function handleRemoveBookmarks(clubId, hostId, agentType) {
            ActivateLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/RemoveBookmarks',
                type: 'POST',
                data: { clubId: clubId, hostId: hostId, agentType: agentType },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        // Handle failure, e.g., show an error message
                        console.log('Error: ' + result.message);
                        location.reload();
                    }
                },
                error: function () {
                    // Handle unexpected errors
                    console.log('An unexpected error occurred.');
                    location.reload();
                }
            });
        }
        function ActivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "flex";
        }
        function DeactivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "none";
        }
    </script>
    <script>
        const shareButton = document.querySelector("#shareButton");
        var shareableLink = window.location.href;
        shareButton.addEventListener("click", (event) => {
            if (navigator.share) {
                navigator.share({
                    title: "Share club details",
                    url: shareableLink,
                }).then(() => {
                    console.log('Thanks for sharing!');
                }).catch(console.error);
            } else {
                toastr.info('Web Share API is not supported in this browser.');
            }
        });
    </script>
    <script>
        function OpenImagePopup(ImageURL) {
            if (ImageURL != '' && ImageURL != null) {
                var modalImg = document.getElementById("img01");
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                modalImg.src = ImageURL;
            }
        }

        function closeImagePopup() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>
}
