@model CRS.CUSTOMER.APPLICATION.Models.LocationManagement.ClubReservationModel
@{
    ViewBag.Title = "Club Reservation";
    Layout = "~/Views/Shared/_Reservation-Layout.cshtml";
}
<div class="flex justify-between h-screen flex-col relative h-screen overflow-hidden">
    <div class="no-scrollbar overflow-y-scroll pb-[80px]">
        <div class="flex items-center border-t-[2px] border-t-[#C8B477] border-b border-b-[#E8E8E8] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[44px]">
            <div class="flex gap-2 items-center absolute top-[12px] left-4 text-sm" onclick="history.go(-1); return false;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.2347 2.74084C14.7855 2.29167 14.0614 2.29167 13.6122 2.74084L5.99469 10.3583C5.63719 10.7158 5.63719 11.2933 5.99469 11.6508L13.6122 19.2683C14.0614 19.7175 14.7855 19.7175 15.2347 19.2683C15.6839 18.8192 15.6839 18.095 15.2347 17.6458L8.59802 11L15.2439 4.35417C15.6839 3.91417 15.6839 3.18084 15.2347 2.74084Z"
                          fill="#BCB08A" />
                </svg><a class="text-[#292F33]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back</a>
            </div>
            <div class="text-center w-full font-bold">@Model.ClubName</div>
        </div>
        <div class="py-[8px] px-4 bg-[#E5E5E5] text-xs font-bold uppercase">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.ReservationDetails
        </div>
        @Html.HiddenFor(model => model.ClubId)
        <div class="px-4 py-[24px] grid gap-[12px]">
            <div class="grid gap-4 grid-cols-2">
                <div>
                    <input type="text" class="hidden" name="date" />
                    <label for="" class="block mb-[12px] text-sm text-[#707070] font-bold" id="display-value">
                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Day
                    </label>
                    <div id="toggle" class="text-black display-page cursor-pointer ">
                        <input id="selected-visit-date-id" value="" hidden />
                        <div id="setvalue"> --- @CRS.CUSTOMER.APPLICATION.Resources.Resource.Select ---</div>
                        <div class="display-page-arrow">
                            <b></b>
                        </div>
                    </div>
                    <div class="toggleDivTime" id="toggleDivTime">
                        @foreach (var item in Model.ClubWeeklyScheduleModel)
                        {
                            var imageURL = "/Content/assets/images/" + item.Schedule + ".svg";
                            if (!string.IsNullOrEmpty(item.Schedule) && item.Schedule.Trim().ToUpper() == "RESERVABLE")
                            {
                                <div class="flex items-center justify-between checkbox-common gap-4 py-[8px] px-[16px]" data-attribute="@item.FullDate">
                                    <label for=""
                                           class=" text-sm font-medium flex items-center justify-between w-full text-secondary-100">
                                        @item.DateLabel
                                    </label>
                                    <div class="text-sm font-bold text-[#B12D23]" data-value="@item.DateValue">@item.DayLabel</div>
                                    <img src="@imageURL" class="h-[21px] w-[16px]" />
                                </div>
                            }
                            else
                            {
                                <div class="flex items-center justify-between checkbox-common gap-4 py-[8px] px-[16px] disabled">
                                    <label for=""
                                           class=" text-sm font-medium flex items-center justify-between w-full text-secondary-100">
                                        @item.DateLabel
                                    </label>
                                    <div class="text-sm font-bold text-[#B12D23]" data-value="@item.DateValue">@item.DayLabel</div>
                                    <img src="@imageURL" class="h-[21px] w-[16px]" />
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="input-field-common noofpeople-class">
                    <label for="numberofpeople" class="block mb-[12px] text-sm font-medium text-secondary-100 uppercase">
                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.NumberOfPeople
                    </label>
                    <select id="numberOfPeople" style="width: 100%; font-size: 15px; height: 40px;"
                            class="text-[#B7B7B7] h-[40px] select-common">
                        @foreach (KeyValuePair<string, string> item in ViewBag.AllowedNoOfPeopleList as Dictionary<string, string>)
                        {
                            <option value="@item.Key">
                                @item.Value
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="px-4 pt-2 flex overflow-x-auto no-scrollbar gap-[12px] visittime-class">
            @foreach (KeyValuePair<string, string> item in ViewBag.ReservableTimeList as Dictionary<string, string>)
            {
                <div class="py-1 px-2 border border-[#D8D8D8] rounded-[4px] flex-none cursor-pointer select-time" data-value="@item.Key">@item.Key 時</div>
            }
        </div>
    </div>
    <div class="py-[11px] px-4 flex gap-2 h-[64px] shadow-reservation fixed bottom-0 left-0 w-full bg-white">
        <button class="btn" onclick="history.back()">
            <a class="text-[#292F33]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back</a>
        </button>
        <button class="btn btn-primary" onclick="PlanDetailActionFunction()">
            <a class="h-full w-full">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Next
            </a>
        </button>
    </div>
</div>
@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("numberOfPeople").classList.remove("select2-hidden-accessible");
            const defaultDate = '@Model.SelectedDate';
            if (defaultDate != null && defaultDate != '') {
                var divsWithSpecificValue = document.querySelectorAll('#toggleDivTime > div[data-attribute="' + defaultDate + '"]');
                var divs = document.querySelectorAll('#toggleDivTime > div');
                divs.forEach(function (div) {
                    if (!div.classList.contains('disabled')) {
                            divs.forEach(function (d) {
                                d.classList.remove('active');
                            });

                            // Add active class to the clicked div
                        //divsWithSpecificValue.classList.add('active');
                        divsWithSpecificValue.forEach(function (div) {
                            div.classList.add('active');

                            // Extract the text content of the clicked label
                            var labelText = div.querySelector('label').textContent.trim();

                            // Update the text content of the toggle element
                            setValue.textContent = labelText;

                            // Update hidden input value
                            hiddenInput.value = labelText;

                            // Hide toggleDivTime
                            toggleDivTime.style.display = 'none';
                            var divValue = div.querySelector('div')
                            var dateValue = divValue.getAttribute('data-value');
                            $('#selected-visit-date-id').val(dateValue);
                        });
                        }
                });
            }
        });
    </script>
    <script>
        // Get all the div elements
        var divs = document.querySelectorAll('.select-time');

        // Add click event listeners to each div
        divs.forEach(function (div) {
            div.addEventListener('click', function () {
                // Remove the 'bg-red' class from all divs
                divs.forEach(function (d) {
                    d.classList.remove('bg-primary');
                    d.classList.remove('text-white');
                    d.classList.remove('active');

                });

                // Add the 'bg-red' class to the clicked div
                this.classList.add('bg-primary');
                this.classList.add('text-white');
                this.classList.add('active');

            });
        });
    </script>
    <script>
        $(".default_select").select2({
            minimumResultsForSearch: Infinity
        });
    </script>
    <script>
        function PlanDetailActionFunction() {
            var ClubId = $('#ClubId').val();
            var VisitDate = $('#selected-visit-date-id').val();;
            var NoOfPeople = $('#numberOfPeople').val();
            //var NoOfPeople = $('.noofpeople-class #select2-default_select-container').text().replace(/^\s+|\s+$/gm, '');
            //var VisitTime = document.getElementById('selected-time-id').getAttribute('data-value');
            var element = document.querySelector('.select-time.active');
            if (element === null || element === "") {
                toastr.info('Visit time is required');
                return false;
            }
            var VisitTime = element.getAttribute('data-value');

            if (VisitTime === null || VisitTime === "") {
                toastr.info('Visit time is required');
                return false;
            }
            else if (VisitDate === null || VisitDate === "") {
                toastr.info('Visit date is required');
                return false;
            }
            else if (NoOfPeople === null || NoOfPeople === "") {
                toastr.info('No of people is required');
                return false;
            }
            DataStorageFunction(VisitDate, NoOfPeople, VisitTime);
            window.location.href = "/LocationManagement/PlanDetail?ClubId=" + ClubId;
        }
        const DataStorageFunction = (i, j, k) => {
            localStorage.setItem("VisitDate", EncryptParameter(i));
            localStorage.setItem("NoOfPeople", EncryptParameter(j));
            localStorage.setItem("VisitTime", EncryptParameter(k));
            localStorage.setItem("SelectedHost", '@Model.SelectedHost');
        }
    </script>
    <script>
        var toggle = document.getElementById('toggle');
        var setValue = document.getElementById('setvalue');
        var toggleDivTime = document.getElementById('toggleDivTime');
        var hiddenInput = document.querySelector('input[name="date"]');

        toggle.addEventListener('click', function () {
            if (toggleDivTime.style.display === 'none' || toggleDivTime.style.display === '') {
                toggleDivTime.style.display = 'block';
            } else {
                toggleDivTime.style.display = 'none';
            }
        });

        // Add click event listeners to each div inside toggleDivTime
        var divs = document.querySelectorAll('#toggleDivTime > div');
        divs.forEach(function (div) {
            div.addEventListener('click', function () {
                // Remove active class from all divs
                if (!div.classList.contains('disabled')) {
                    divs.forEach(function (d) {
                        d.classList.remove('active');
                    });

                    // Add active class to the clicked div
                    div.classList.add('active');

                    // Extract the text content of the clicked label
                    var labelText = div.querySelector('label').textContent.trim();

                    // Update the text content of the toggle element
                    setValue.textContent = labelText;

                    // Update hidden input value
                    hiddenInput.value = labelText;

                    // Hide toggleDivTime
                    toggleDivTime.style.display = 'none';
                    var divValue = div.querySelector('div')
                    var dateValue = divValue.getAttribute('data-value');
                    $('#selected-visit-date-id').val(dateValue);
                }
            });
        });
    </script>
    <script>
        // Get all the div elements
        var divs = document.querySelectorAll('.select-time');

        // Add click event listeners to each div
        divs.forEach(function (div) {
            div.addEventListener('click', function () {
                // Remove the 'bg-red' class from all divs
                divs.forEach(function (d) {
                    d.classList.remove('bg-primary');
                    d.classList.remove('text-white');

                });
                // Add the 'bg-red' class to the clicked div
                this.classList.add('bg-primary');
                this.classList.add('text-white');
            });
        });
    </script>
    <script>
        $(".default_select").select2({
            minimumResultsForSearch: Infinity
        });
    </script>
}