@model CRS.CUSTOMER.APPLICATION.Models.LocationManagement.HostDetailModel
@{
    ViewBag.Title = "Host";
    Layout = "~/Views/Shared/_Reservation-Layout.cshtml";
}
<div class="flex h-screen flex-col	relative h-screen overflow-hidden bg-[#F8F8F8]">
    <div class="no-scrollbar overflow-y-scroll pb-[80px]">
        <div class="flex items-center border-t-[2px] border-t-[#C8B477] border-b border-b-[#E8E8E8] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[44px]">
            <div class="flex gap-2 items-center absolute top-[12px] left-4 text-sm" onclick="history.go(-1); return false;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.2347 2.74084C14.7855 2.29167 14.0614 2.29167 13.6122 2.74084L5.99469 10.3583C5.63719 10.7158 5.63719 11.2933 5.99469 11.6508L13.6122 19.2683C14.0614 19.7175 14.7855 19.7175 15.2347 19.2683C15.6839 18.8192 15.6839 18.095 15.2347 17.6458L8.59802 11L15.2439 4.35417C15.6839 3.91417 15.6839 3.18084 15.2347 2.74084Z"
                          fill="#BCB08A" />
                </svg><a class="text-[#292F33]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back</a>
            </div>
            <div class="text-center w-full font-bold">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Hoslog</div>

        </div>

        <div class="py-[8px] px-4 bg-[#E5E5E5] text-xs font-bold">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.ChooseYourFavoriteHost
        </div>
        <div class="bg-[#373737] mx-4 my-[12px] text-center px-4 py-[10px] text-white text-xs rounded-[4px]">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.WeWillTryToBookYourSelectedHost
        </div>
        <div class="text-sm text-[#333] px-4 flex items-center gap-[10px] font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <circle cx="8" cy="8" r="7.5" fill="#D75A8B" stroke="white" />
                <path d="M12 4L6.53906 9.46094L4.07812 7L3 8.07812L6 11.0781L6.53906 11.5938L7.07812 11.0781L13.0781 5.07812L12 4Z"
                      fill="white" />
            </svg>
            <p><span id="count">0</span>/@ViewBag.NoOfHost  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Selected</p>
        </div>

        <!-- host image list  -->
        <div class="px-4 py-[8px] grid gap-4 grid-cols-3 host-detail-class pb-12">

            @foreach (var item in Model.HostListModels)
            {
                <div class="host-image">
                    @Html.HiddenFor(model => item.HostId)
                    <div class="relative">
                        <div class="circle"></div>
                        <div class="active-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 viewBox="0 0 16 16" fill="none">
                                <circle cx="8" cy="8" r="7.5" fill="#D75A8B" stroke="white" />
                                <path d="M12 4L6.53906 9.46094L4.07812 7L3 8.07812L6 11.0781L6.53906 11.5938L7.07812 11.0781L13.0781 5.07812L12 4Z"
                                      fill="white" />
                            </svg>
                        </div>
                        @if (!string.IsNullOrEmpty(item.HostImage))
                        {
                            <img src="@Url.Content(ViewBag.FileLocationPath + item.HostImage)" alt="">
                        }
                        else
                        {<img src="~/Content/assets/images/customer/demo-image.jpeg" alt="">}
                        @if (!string.IsNullOrEmpty(item.Rank))
                        {
                            <div class="text-[10px] px-[6px] rounded-[2px] absolute bottom-1 left-1 bg-[#ffffffe6] leading-[17px] max-w-[80px] text-ellipsis-customer h-[17px]">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.No. @item.Rank
                            </div>
                        }
                    </div>
                    <div class="py-1 px-2">
                        <div class="text-[10px] text-primary font-bold ">@item.HostPosition</div>
                        <div class="text-xs text-[#404040]">@item.HostName</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="py-[11px] px-4 flex gap-2 h-[64px] shadow-reservation fixed bottom-0 left-0 w-full bg-white">
        <button class="btn" onclick="history.back()">
            <a class="text-[#292F33]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back</a>
        </button>
        <button class="btn btn-primary" onclick="SubmitFunction()">
            <a class="h-full w-full">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Next
            </a>
        </button>
    </div>
</div>
@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>
    <script>
        const maxActive = '@ViewBag.NoOfHost'??0;
        $(document).ready(function () {
            SelectedHostFunction();
            var totalCount = 0;
            var SelectedHostId = localStorage.getItem("SelectedHost");
            if (SelectedHostId != null && SelectedHostId != '') {
                totalCount++;
                $('#count').text(totalCount);
            }
            $('.host-image').on('click', function () {
                var activeDivs = $('.active').length;
                const isActiveClass = $(this).hasClass('active');
                if (isActiveClass) {
                    totalCount--;
                    $(this).removeClass('active');
                }
                else if (activeDivs < maxActive && !isActiveClass) {
                    totalCount++;
                    $(this).addClass('active');
                }
                $('#count').text(totalCount);
            });

        });

        function SelectedHostFunction() {
            var SelectedHostId = localStorage.getItem("SelectedHost");
            if (SelectedHostId != null && SelectedHostId != '') {
                var divsWithSpecificValue = document.querySelectorAll('.host-image > input[value="' + SelectedHostId + '"]');
                divsWithSpecificValue.forEach(function (element) {
                    // Add the 'active' class to the parent element of the input
                    element.closest('.host-image').classList.add('active');
                });
            }
        }
    </script>
    <script>
        $(".default_select").select2({
            minimumResultsForSearch: Infinity
        });
    </script>
    <script>
        function SubmitFunction() {
            var PlanId = '@Model.PlanId';
            var ClubId = '@Model.ClubId';
            const HostIdList = [];
            $('.host-detail-class .active #item_HostId').each(function () { HostIdList.push($(this).val()); });
            if (HostIdList === null || HostIdList === "" || HostIdList.length <= 0) {
                toastr.info('Host is required');
                return false;
            }
            DataStorageFunction(HostIdList);
            window.location.href = "/LocationManagement/ReservationDetail?PlanId=" + PlanId + "&&ClubId=" + ClubId + "&&HostIdList=" + HostIdList;
        }
        const DataStorageFunction = (i) => {
            localStorage.setItem("HostIdList", JSON.stringify(i));
        }
    </script>
}