@model CRS.CUSTOMER.APPLICATION.Models.SearchFilterManagement.SearchFilterViewModel
@{
    ViewBag.Title = "SearchFilter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .boxedconstellation img {
        padding-left: 7px;
        height: 25px;
    }
</style>
<div class="relative">
    <!-- search bar -->
    <div class=" border border-[#D6CEB4] flex my-2 mx-4 rounded-[4px] search-input">
        <span class=" mt-[10px] ml-3 material-icons-outlined text-[#D6CEB4]">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.125 1.875C11.5698 1.875 14.375 4.68018 14.375 8.125C14.375 9.62158 13.8501 10.9937 12.9688 12.0703L17.9492 17.0508L17.0508 17.9492L12.0703 12.9688C10.9937 13.8501 9.62158 14.375 8.125 14.375C4.68018 14.375 1.875 11.5698 1.875 8.125C1.875 4.68018 4.68018 1.875 8.125 1.875ZM8.125 3.125C5.35645 3.125 3.125 5.35645 3.125 8.125C3.125 10.8936 5.35645 13.125 8.125 13.125C10.8936 13.125 13.125 10.8936 13.125 8.125C13.125 5.35645 10.8936 3.125 8.125 3.125Z"
                      fill="#BCB08A" />
            </svg>
        </span>
        <input class="w-full text-xs text-[#BCB08A] "
               title="Search"
               type="text"
               id="serach-text-id"
               placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.Search_Filter_Placeholder" />
        <div class="group flex justify-end cursor-pointer p-3 rotate-90" title="Filter">
            <svg class="group-hover:bg-primaryLight w-4 h-4 text-[#BCB08A] " aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                      d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2" />
            </svg>
        </div>

    </div>
    <div class="my-[10px] px-4 flex flex-col">
        <div class="text-[#0F0F0F] mb-[7px] text-[14px] font-[700]">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Search_By
        </div>
    </div>
    <!-- search by -->
    <div class="searchbutton">
        <div class="wrapper">
            <div class="buttonWrapper grid-cols-2 px-4 gap-2">
                <button id="toglbutton" class="tab-button active text-[14px] font-normal py-1.5 flex-none"
                        data-id="club" value="0">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Club
                </button>
                <button id="toglbutton2" class="tab-button text-[14px] font-normal flex-none" data-id="host" value="1">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host
                </button>
            </div>
            <div class="contentWrapper">
                <div class="content active" id="club">
                    <!-- search region  -->
                    <div class="grid border-b-[2px] border-[#EFEFEF]">
                        <div class="flex flex-col py-[10px]  px-4" style='background-color: white'>
                            <div class="text-[#0F0F0F] font-[700] text-[14px]">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Regions
                            </div>

                            <div class="flex flex-col mt-[8px] gap-[13px]">
                                <input type="text" name="selectLocationStore" class="hidden" value="clubLocation" />
                                @{
                                    int i = 1;
                                    foreach (KeyValuePair<string, string> item in ViewBag.LocationDDList as Dictionary<string, string>)
                                    {
                                        @*<div class="select-location-store select-loaction-cs text-[#333] disabled-click text-sm @(item.Key == ViewBag.LocationId ? "active" : "")">*@
                                        <div class="select-location-store select-loaction-cs text-[#333] text-sm @(item.Key == ViewBag.LocationId ? "active" : "")" data-info="@item.Key">
                                            <div class="square">
                                            </div>
                                            <div class="flex gap-1">
                                                <div class="locationValue">
                                                    @item.Value
                                                </div>
                                                @*<span>(330 Clubs )</span>*@
                                            </div>
                                        </div>

                                        i++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Search sift -->
                    <div class="grid border-b-[2px] border-[#EFEFEF] ">
                        <div class="flex flex-col py-[10px] bg-[#FFFFFF] px-4">
                            <div class="text-[#0F0F0F] mb-[17px] font-[700] text-[14px]">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Shift
                            </div>
                            <form class="boxedthird">
                                <div class="flex flex-col">
                                    <div class="flex flex-row mb-[16px]  gap-[16px]">
                                        <input type="radio" id="DAY" name="shift" value="day">
                                        <label for="DAY">
                                            <svg id="dayicon" xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" viewBox="0 0 24 24" fill="#F89336">
                                                <path d="M11.25 2.25V6H12.75V2.25H11.25ZM5.625 4.57031L4.57031 5.625L7.21875 8.29688L8.29688 7.21875L5.625 4.57031ZM18.375 4.57031L15.7031 7.21875L16.7812 8.29688L19.4297 5.625L18.375 4.57031ZM12 6.75C9.1084 6.75 6.75 9.1084 6.75 12C6.75 14.8916 9.1084 17.25 12 17.25C14.8916 17.25 17.25 14.8916 17.25 12C17.25 9.1084 14.8916 6.75 12 6.75ZM12 8.25C14.0801 8.25 15.75 9.91992 15.75 12C15.75 14.0801 14.0801 15.75 12 15.75C9.91992 15.75 8.25 14.0801 8.25 12C8.25 9.91992 9.91992 8.25 12 8.25ZM2.25 11.25V12.75H6V11.25H2.25ZM18 11.25V12.75H21.75V11.25H18ZM7.21875 15.7031L4.57031 18.375L5.625 19.4297L8.29688 16.7812L7.21875 15.7031ZM16.7812 15.7031L15.7031 16.7812L18.375 19.4297L19.4297 18.375L16.7812 15.7031ZM11.25 18V21.75H12.75V18H11.25Z" />
                                            </svg> @CRS.CUSTOMER.APPLICATION.Resources.Resource.Day
                                        </label>
                                        <input type="radio" id="NIGHT" name="shift" value="night">
                                        <label for="NIGHT">
                                            <svg id="nighticon" xmlns="http://www.w3.org/2000/svg" width="24"
                                                 height="24" viewBox="0 0 24 24" fill="black">
                                                <path id="iconnight" d=" M12.4609 4L11.2188 4.04688C7.21094 4.19043 4 7.48047 4 11.5234C4
                                                15.6572 7.36621 19.0234 11.5 19.0234C15.543 19.0234 18.833 15.8125
                                                18.9766 11.8047L19.0234 10.5859L17.9219 11.1016C17.3359 11.3799 16.6855
                                                11.5234 16 11.5234C13.5068 11.5234 11.5 9.5166 11.5 7.02344C11.5 6.33789
                                                11.667 5.71094 11.9453 5.125L12.4609 4ZM10.2812 5.78125C10.1875 6.19727
                                                10 6.57812 10 7.02344C10 10.3281 12.6953 13.0234 16 13.0234C16.4541
                                                13.0234 16.8408 12.8389 17.2656 12.7422C16.6943 15.4609 14.3945 17.5234
                                                11.5 17.5234C8.17773 17.5234 5.5 14.8457 5.5 11.5234C5.5 8.63477 7.56836
                                                6.3584 10.2812 5.78125Z" />
                                            </svg>
                                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Night
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- by catagory -->
                    <div class="grid  border-b-[2px] border-[#EFEFEF]">
                        <div class="flex flex-col py-[10px] bg-[#FFFFFF] px-4">
                            <div class="text-[#0F0F0F] mb-[17px] font-[700] text-[14px]">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.By_Club_Category
                            </div>
                            <form class="boxedsecond">
                                <div class="flex flex-col">
                                    <div class="flex flex-row mb-[16px] text-[14px] gap-[16px]">
                                        @foreach (var item in ViewBag.ClubCategory)
                                        {
                                            <input type="radio"
                                                   id="@item.Key"
                                                   name="category"
                                                   value="@item.Key">
                                            <label for="@item.Key" class='flex items-center'>@item.Value</label>
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Location -->
                    <div data-modal-target="default-modal-location " data-modal-toggle="default-modal-location"
                         class=" mx-4 py-[11px] flex justify-center items-center my-[10px]  bg-[#D75A8B] rounded-[4px] cursor-pointer">
                        <div class="flex flex-row items-center ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15"
                                 fill="none">
                                <path d="M5.25 0C2.3475 0 0 2.3475 0 5.25C0 9.1875 5.25 15 5.25 15C5.25 15 10.5 9.1875 10.5 5.25C10.5 2.3475 8.1525 0 5.25 0ZM1.5 5.25C1.5 3.18 3.18 1.5 5.25 1.5C7.32 1.5 9 3.18 9 5.25C9 7.41 6.84 10.6425 5.25 12.66C3.69 10.6575 1.5 7.3875 1.5 5.25Z"
                                      fill="white" />
                                <path d="M5.25 7.125C6.28553 7.125 7.125 6.28553 7.125 5.25C7.125 4.21447 6.28553 3.375 5.25 3.375C4.21447 3.375 3.375 4.21447 3.375 5.25C3.375 6.28553 4.21447 7.125 5.25 7.125Z"
                                      fill="white" />
                            </svg>
                            <p class="pl-[8px] text-[white]">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Search_by_nearest_store
                            </p>
                        </div>
                    </div>
                    <!-- or section -->
                    <div class="flex flex-row items-center  ">
                        <div class="flex-auto">
                            <div class="bg-[#EFEFEF]   h-[2px]  ">

                            </div>
                        </div>
                        <div class="w-auto mx-2">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Or
                        </div>
                        <div class="flex-auto">
                            <div class="bg-[#EFEFEF] h-[2px] ">
                            </div>
                        </div>

                    </div>
                    <div class="flex flex-col py-[10px]  px-4  ">
                        <div class="text-[#0F0F0F] font-[700] text-[14px]">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Newly_Added_Club
                        </div>
                    </div>

                    <!-- 1st row  -->
                    <div class="grid grid-cols-3 gap-[6px] mx-4  my-[8px]">
                        @for (int club = 0; (club < Model.ClubModel.Count && club < 6); club++)
                        {
                            <a onclick="window.location.href ='@Url.Action("ClubDetail","LocationManagement", new {LocationId= Model.ClubModel[club].ClubLocationId, ClubId= Model.ClubModel[club].ClubId })'">
                                <div class="flex">
                                    <div style="border-radius: 6px; border: 1px solid #EDEDED; background: #FFF;"
                                         class=" flex flex-col w-full   px-[8px] py-[10px]">
                                        <div class="flex flex-row justify-center">
                                            <div class="h-[48px] w-[48px] object-fill   bg-[#ffffff]  flex flex-row justify-center">
                                                <img class="h-[48px] w-[48px]  border-[1px]  rounded-full object-cover"
                                                     src="@Model.ClubModel[club].ClubLogo" alt="clublogo">
                                            </div>
                                        </div>
                                        <div class="flex flex-col">
                                            <div class="flex flex-row mt-[7px] justify-center">
                                                <p style="line-height: 100%;" class="font-[700] text-[10px]">
                                                    @Model.ClubModel[club].ClubName
                                                </p>
                                            </div>
                                            <div class="flex flex-row mt-[4px] justify-center">
                                                <p style="line-height: 100%;" class="font-[400] text-[10px]"> @Model.ClubModel[club].ClubNameJapanese</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                        <!-- fist club -->
                    </div>
                    <!-- see more  -->
                    <div id="seemore" style="display: none;" class="grid grid-cols-3 gap-[6px] mx-4  my-[8px]">
                        <!-- fist club -->
                        @for (int club = 6; (club < 12 && club < Model.ClubModel.Count); club++)
                        {
                            <a onclick="newlyAddedClubClick('@Model.ClubModel[club].ClubId')">
                                <div class="flex">
                                    <div style="border-radius: 6px; border: 1px solid #EDEDED; background: #FFF;"
                                         class=" flex flex-col w-full   px-[8px] py-[10px]">
                                        <div class="flex flex-row justify-center">

                                            <div class="h-[48px] w-[48px] object-fill   bg-[#ffffff]  flex flex-row justify-center">
                                                <img class="h-[48px] w-[48px] object-fill border-[1px]  rounded-full "
                                                     src="@Model.ClubModel[club].ClubLogo" alt="clublogo">
                                            </div>

                                        </div>
                                        <div class="flex flex-col">
                                            <div class="flex flex-row mt-[7px] justify-center">
                                                <p style="line-height: 100%;" class="font-[700] text-[10px]">
                                                    @Model.ClubModel[club].ClubName
                                                </p>
                                            </div>
                                            <div class="flex flex-row mt-[4px] justify-center">
                                                <p style="line-height: 100%;" class="font-[400] text-[10px]"> @Model.ClubModel[club].ClubName</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                    @*<div class="flex flex-row justify-center underline text-[#D75A8B] ">
                            <button style="background-color: transparent;" onclick="seemore()">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.See_more
                            </button>
                        </div>*@

                    <!-- reset button  -->
                    <div class="grid grid-cols-2 mt-6  gap-[16px] py-3 px-4 border-t border-t-[#E8E8E8]">
                        <button onclick=" window.location.reload();  " class="border-0  bg-[#E4E4E4] rounded  w-full ">
                            <div class="flex w-auto justify-center rounded  bg-[#E4E4E4]">
                                <div class="p-[10px]  font-[500] text-[#6D6D6D] text-[14px]">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Reset
                                </div>
                            </div>
                        </button>
                        <button class="border-0  w-full" id="searchButtonClub" onclick="ClubSearchFunction()">
                            <div class="flex justify-center rounded  bg-[#D75A8B]">
                                <div class="p-[10px] rounded font-[700] text-[#FFF] text-[14px]">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Search
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="content" id="host">
                    <!-- search by Handsomeness -->
                    <a href="@Url.Action("HostFilter","LocationManagement", new {LocationId = @ViewBag.LocationId})">
                        <div style="border-radius: 2px; border: 1px solid #EFEFEF;background: #FAFAFA;"
                             class="flex h-[40px] mt-[16px] mb-[8px] justify-center flex-col mx-4">
                            <div class="flex flex-row justify-between items-center  ">
                                <div class="pl-[14px] text-[14px] font-[500]">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Search_by_Handsomeness
                                </div>
                                <div class="mr-[14px] w-[18px] h-[18px] border border-[#D75A8B] rounded-full flex justify-center items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <circle cx="8" cy="8" r="7.5" stroke="#D75A8B" />
                                        <path d="M6.15296 5.13207C6.05502 5.21666 6 5.33137 6 5.45098C6 5.57059 6.05502 5.6853 6.15296 5.76989L8.73897 8.00272L6.15296 10.2356C6.0578 10.3206 6.00514 10.4346 6.00633 10.5528C6.00752 10.6711 6.06246 10.7842 6.15932 10.8679C6.25619 10.9515 6.38722 10.999 6.5242 11C6.66117 11.001 6.79314 10.9555 6.89167 10.8734L9.84704 8.32163C9.94498 8.23705 10 8.12233 10 8.00272C10 7.88311 9.94498 7.7684 9.84704 7.68381L6.89167 5.13207C6.7937 5.04751 6.66084 5 6.52232 5C6.38379 5 6.25093 5.04751 6.15296 5.13207Z" fill="#959595" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </a>
                    <!-- by region  -->
                    <div class="grid border-b-[2px] border-[#EFEFEF]">
                        <div class="flex flex-col py-[10px]  px-4" style='background-color: white'>
                            <div class="text-[#0F0F0F] font-[700] text-[14px]">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Regions
                            </div>
                            <div class="flex flex-col mt-[8px] gap-[13px]">
                                <input type="text" name="selectLocationClub" class="hidden" value="hostLocation" />
                                @{
                                    int j = 1;
                                    foreach (KeyValuePair<string, string> item in ViewBag.LocationDDList as Dictionary<string, string>)
                                    {
                                        <div class="select-location-club select-loaction-cs text-[#333] text-sm disabled-click  @(item.Key == ViewBag.LocationId ? "active" : "") ">
                                            <div class="square">
                                            </div>
                                            <div class="flex gap-1">
                                                <div class="locationValue">
                                                    @item.Value
                                                </div> @*<span>(330 Clubs )</span>*@
                                            </div>
                                        </div>
                                        j++;
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <!-- by rank  -->
                    <div class="grid border-b-[2px] border-[#EFEFEF] ">
                        <div id="dropdowndiv" class="flex flex-col mt-[16px] ">
                            <div class="flex flex-row text-[14px] mx-4 mb-[16px] font-[700] justify-start">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Choose_Rank
                            </div>
                        </div>
                        <div class="mb-[10px] mx-4 input-field-common">
                            <select id="ddlRank" style="width: 100%;"
                                    class=" default_select text-[#B7B7B7] h-[44px]">
                                <option selected> @CRS.CUSTOMER.APPLICATION.Resources.Resource.Choose_Rank</option>
                                @foreach (KeyValuePair<string, string> item in ViewBag.HostRanks as Dictionary<string, string>)
                                {
                                    <option value="@item.Key"> @item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- Height  -->
                    <div class="grid border-b-[2px] border-[#EFEFEF] ">
                        <div id="dropdowndiv" class="flex flex-col mt-[16px] ">
                            <div class="flex flex-row mx-4 text-[14px] mb-[16px] font-[700] justify-start">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_Height
                            </div>
                        </div>
                        <div class="mb-[10px] mx-4 input-field-common">
                            <select id="ddlHeight" style="width: 100%;"
                                    class=" default_select text-[#B7B7B7] h-[44px]">
                                <option selected>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_Height</option>
                                @foreach (KeyValuePair<string, string> item in ViewBag.HostHeights as Dictionary<string, string>)
                                {
                                    <option value="@item.Key"> @item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- age  -->
                    <div class="grid border-b-[2px] border-[#EFEFEF] ">
                        <div id="ddlAgeRange" class="flex flex-col mt-[16px] ">
                            <div class="flex flex-row mx-4 text-[14px] mb-[16px] font-[700] justify-start">
                                年齢を選ぶ
                            </div>
                        </div>
                        <div class="mb-[10px] mx-4 input-field-common">
                            <select id="ddl-age-id" style="width: 100%;"
                                    class=" default_select text-[#B7B7B7] h-[44px]">
                                <option selected>年齢を選ぶ</option>
                                @foreach (KeyValuePair<string, string> item in ViewBag.AgeRangeDDL as Dictionary<string, string>)
                                {
                                    <option value="@item.Key"> @item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!-- Blood  -->
                    <div class="flex flex-col border-b-[2px] border-[#EFEFEF]  ">
                        <div id="dropdowndiv" class="flex flex-col mt-[16px] ">
                            <div class="flex flex-row text-[14px] pb-4 px-4 font-[700] justify-start">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_Blood_Type
                            </div>
                        </div>
                        <form class="boxedblood px-4 pb-[16px] h-[48px]">
                            <div class="flex flex-row overflow-hidden overflow-x-auto no-scrollbar  gap-[16px]">
                                @foreach (KeyValuePair<string, string> item in ViewBag.HostBloodTypes as Dictionary<string, string>)
                                {
                                    <input type="radio" id="bloodType_@item.Key" name="HostBloodTypes" value="@item.Key">
                                    <label for="bloodType_@item.Key">@item.Value</label>
                                }
                            </div>
                        </form>
                    </div>

                    <!-- constilation -->
                    <div class="grid border-b-[2px] border-[#EFEFEF]">
                        <div id="dropdowndiv" class="flex flex-col mt-[16px] ">
                            <div class="flex flex-row mx-4 text-[14px] mb-[16px] font-[700] justify-start">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_Constellation_Group
                            </div>
                        </div>

                        <form class="boxedconstellation mx-4">
                            <div class="flex flex-col   ">
                                <div class="flex flex-row flex-wrap mb-[16px]  gap-[12px]">
                                    @{
                                        var ConstellationImage = "";
                                        foreach (var item in ViewBag.HostConstellationGroup as List<CRS.CUSTOMER.SHARED.StaticDataCommon>)
                                        {
                                            ConstellationImage = "/Content/assets/images/customer/Constellation/" + item.ExtraData1.ToString().ToLower() + ".svg";
                                            <input type="radio" id="zodiac_@item.Value" name="hostConstellationGroup" value="@item.Value">
                                            <label id="hostConstellationGroupLebal" for="zodiac_@item.Value">
                                                @item.Text <img class="h-[3px] w-[3px] object-fill  rounded-full "
                                                                src="@ConstellationImage" alt="@item.ExtraData1.ToLower()">
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- liquor -->
                    <div class="grid border-b-[2px] border-[#EFEFEF] ">
                        <div id="dropdowndiv" class="flex flex-col mt-[16px] ">
                            <div class="flex mx-4 flex-row text-[14px] mb-[16px] font-[700] justify-start">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host_Liquor_Strength
                            </div>
                        </div>

                        <form class="boxedliquor mx-4">
                            <div class="grid grid-cols-2 w-full mb-[16px]  gap-[12px]">
                                @foreach (KeyValuePair<string, string> item in ViewBag.HostLiquorStrengths as Dictionary<string, string>)
                                {
                                    <div class="w-full">
                                        <input type="radio" id="liquorStrength_@item.Key" name="liquorStrength" value="@item.Key">
                                        <label for="liquorStrength_@item.Key">@item.Value</label>
                                    </div>
                                }
                            </div>
                        </form>
                    </div>

                    <!-- choose occupation  -->
                    <div class="grid border-b-[2px] border-[#EFEFEF] ">
                        <div id="dropdowndiv" class="flex flex-col mt-[16px] ">
                            <div class="flex flex-row text-[14px] mx-4 mb-[16px] font-[700] justify-start">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.By_Previous_Occupation
                            </div>
                        </div>

                        <form class="boxedoccupation mx-4">
                            <div class="flex flex-col">
                                <div class="flex flex-row flex-wrap  mb-[16px]  gap-[12px]">
                                    @foreach (KeyValuePair<string, string> item in ViewBag.HostPreviousOccupations as Dictionary<string, string>)
                                    {
                                        <div>
                                            <input type="radio" id="prevOccupations_@item.Key" name="prevOccupations" value="@item.Key">
                                            <label for="prevOccupations_@item.Key">@item.Value</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- reset button  -->

                    <div class="grid grid-cols-2 mt-6  gap-[16px] py-3  px-4 border-t border-t-[#E8E8E8]">
                        <button onclick=" window.location.reload();  " class="border-0 bg-[#E4E4E4] rounded  w-full ">
                            <div class="flex  justify-center rounded  bg-[#E4E4E4]">
                                <div class="p-[10px]  font-[500] text-[#6D6D6D] text-[14px]">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Reset
                                </div>
                            </div>
                        </button>
                        <button class="border-0 w-full" id="searchButtonHost" onclick="HostSearchFunction()">
                            <div class="flex justify-center rounded  bg-[#D75A8B]">
                                <div class="p-[10px] rounded font-[700] text-[#FFF] text-[14px]">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Search
                                </div>
                            </div>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main modal -->
<div id="default-modal-location" tabindex="-1" aria-hidden="true"
     class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal header -->

        <div class="flex flex-col w-full bg-[#F9F9FC]  rounded-[28px] py-[24px]">
            <div class="flex justify-center flex-col text-[24px] font-[400] px-[24px] ">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Allow_Location
                <p class="pt-[16px] text-[12px]">
                    Allow <span class=" font-bold">“Hoslog”</span> to detect your
                    location.
                </p>
                <div class="flex flex-row w-full bg-[#D75A8B] cursor-pointer h-[46px] justify-center items-center rounded-[44px] mt-[24px]" onclick="GetClubDetailsUsingLocation();">
                    <div style="line-height: 15px;" class="text-white text-[15px] font-[700]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Allow</div>
                </div>
                <div class="flex flex-row justify-center text-[16px] font-[500] mt-3">
                    <p style="text-decoration: underline;" class="cursor-pointer"
                       data-modal-hide="default-modal-location"
                       href="#">
                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Cancel
                    </p>

                </div>
            </div>
            <!-- Modal body -->

        </div>
    </div>

</div>


@section scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVqzKbK_YObo2ivCYETgRkFCdjCFs2aQA&libraries=geometry&callback=initMap" async defer></script>
    <script>
        function GetClubDetailsUsingLocation() {
             var CurrentLocationId = '@ViewBag.LocationId';
                 function findNearestLocation(userLocation, locations) {
                     var userLatLng = new google.maps.LatLng(userLocation.lat, userLocation.lng);
                     var nearestLocation = null;
                     var nearestDistance = Number.MAX_VALUE;

                     for (var i = 0; i < locations.length; i++) {
                         var locationLatLng = new google.maps.LatLng(locations[i].lat, locations[i].lng);
                         var distance = google.maps.geometry.spherical.computeDistanceBetween(userLatLng, locationLatLng);

                         if (distance < nearestDistance) {
                             nearestDistance = distance;
                             nearestLocation = locations[i];
                         }
                     }
                     //console.log("Nearest Location:", nearestLocation);
                     CurrentLocationId = nearestLocation.id;
                 }
                 var userLocation = { lat: 0, lng: 0 }; // User's location
                 (async () => {
                     const rawResponse = await fetch('https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCVqzKbK_YObo2ivCYETgRkFCdjCFs2aQA', {
                         method: 'POST',
                         headers: {
                             'Accept': 'application/json',
                             'Content-Type': 'application/json'
                         },
                         body: JSON.stringify({ "considerIp": "true" }),
                     });
                     const content = await rawResponse.json();
                     userLocation.lat = content.location.lat;
                     userLocation.lng = content.location.lng;
                 })();
                 var locations = JSON.parse(@Html.Raw(Json.Encode(ViewBag.JsonLocation)));
            findNearestLocation(userLocation, locations);

            window.location.href = `/LocationManagement/ClubFilter?LocationId=${CurrentLocationId}`;
         }
    </script>
    <script>
        $(document).ready(function () {
            const checkboxes = document.querySelectorAll('input[name="myCheckbox"]');
            checkboxes.forEach((x) => {
                x.checked = false;
            });
        });
    </script>
    <script type="text/javascript">
        // see more
        function seemore() {
            var x = document.getElementById("seemore");

            if (x.style.display === "none") {
                x.style.display = "grid";
            } else {
                x.style.display = "none";
            }
        }

        const tabs = document.querySelector(".wrapper");
        const tabButton = document.querySelectorAll(".tab-button");
        const contents = document.querySelectorAll(".content");

        tabs.onclick = (e) => {
            const id = e.target.dataset.id;
            if (id) {
                tabButton.forEach((btn) => {
                    btn.classList.remove("active");
                });
                e.target.classList.add("active");

                contents.forEach((content) => {
                    content.classList.remove("active");
                });
                const element = document.getElementById(id);
                element.classList.add("active");
            }
        };

    </script>
    <script>
        function ClubSearchFunction() {
            var SearchText = $('#serach-text-id').val();
            var ClubCategory = $('input[name="category"]:checked').val() ||'';
            var Shift = $('input[name="shift"]:checked').val() ||'';
            var LocationId = '@ViewBag.LocationId';
            var activeElement = document.querySelector('.select-location-store.active');
            if (activeElement) {
               LocationId = activeElement.getAttribute('data-info');
            }
            window.location.href = `/LocationManagement/ClubFilter?SearchText=${SearchText}&Shift=${Shift}&LocationId=${LocationId}&ClubCategory=${ClubCategory}`;
        }
        function HostSearchFunction() {
            var SerachText = $('#serach-text-id').val();
            var LocationId = '@ViewBag.LocationId';
            var PreviousOccupation = $('input[name="prevOccupations"]:checked').val() ||'';
            var LiquorStrength = $('input[name="liquorStrength"]:checked').val() ||'';
            var ZodiacGroup = $('input[name="hostConstellationGroup"]:checked').val() || '';
            var BloodType = $('input[name="HostBloodTypes"]:checked').val() ||'';
            var Height = $('#ddlHeight').val() ||'';
            var Rank = $('#ddlRank').val() || '';
            var AgeRange = $('#ddl-age-id').val() || '';
            var AgentId = '';
            var Handsomeness = '';
            var activeElement = document.querySelector('.select-location-store.active');
            if (activeElement) {
                LocationId = activeElement.getAttribute('data-info');
            }
            window.location.href = '/LocationManagement/HostFilter?SearchText=' + SerachText
                + "&&LocationId=" + LocationId
                + "&&Handsomeness=" + Handsomeness
                + "&&PreviousOccupation=" + PreviousOccupation
                + "&&LiquorStrength=" + LiquorStrength
                + "&&ZodiacGroup=" + ZodiacGroup
                + "&&BloodType=" + BloodType
                + "&&Height=" + Height
                + "&&Rank=" + Rank
                + "&&AgentId=" + AgentId
                + "&&AgeRange=" + AgeRange
                + "&&Handsomeness=" + Handsomeness;
        }
        const newlyAddedClubClick = (agentId) => {
            agentId = agentId ?? null;
            var LocationId = '@ViewBag.LocationId';
            window.location.href = `/LocationManagement/ClubFilter?AgentId=${agentId}&LocationId=${LocationId}`;
        }
    </script>

    <script>
        // Get all the div elements

        var divs = document.querySelectorAll('.select-location-store');
        var seleclLocationCLub = document.querySelectorAll('.select-location-club');

        var inputField = document.querySelector('input[name="selectLocationStore"]'); // Select by name attribute
        var inputFieldsClub = document.querySelector('input[name="selectLocationClub"]'); // Select by name attribute
        var disabledClick = document.querySelectorAll('.select-location-store.disabled-click');
        // Add click event listeners to each div

        divs.forEach(function (div) {
            div.addEventListener('click', function () {

                if (!div.classList.contains('disabled-click')) {
                    // Remove the 'bg-red' class from all divs
                    divs.forEach(function (d) {
                        d.classList.remove('active');
                    });
                    // Add the 'bg-red' class to the clicked div
                    this.classList.add('active');
                    var locationSelectValue = this.querySelector('.select-location-store .locationValue')
                        .textContent.trim();
                    //console.log("locationSelectValue", locationSelectValue)
                    // Set the value of the input field to the content of the <p> tag
                    inputField.value = locationSelectValue;
                }

            });
        });

        seleclLocationCLub.forEach(function (div) {
            div.addEventListener('click', function () {
                if (!div.classList.contains('disabled-click')) {

                    // Remove the 'bg-red' class from all divs
                    seleclLocationCLub.forEach(function (d) {
                        d.classList.remove('active');

                    });
                    // Add the 'bg-red' class to the clicked div
                    this.classList.add('active');
                    var locationSelectValue = this.querySelector('.select-location-club .locationValue').textContent
                        .trim();
                    // Set the value of the input field to the content of the <p> tag
                    inputFieldsClub.value = locationSelectValue;
                }

            });
        });
    </script>
}