@model CRS.CUSTOMER.APPLICATION.Models.LocationManagement.ViewHostDetailModel
@{
    ViewBag.Title = "Host Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="py-[10px] px-[16px] flex justify-between border-b border-b-[#ECECEC] sticky top-0 bg-white z-[10]" onclick="history.back()">
    <div class="flex gap-[6px] items-center">
        <div class="text-xl text-warmgray cursor-pointer"><i class="las la-angle-left"></i></div>
        <div class="text-charcoalBlack text-sm">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
        </div>
    </div>
    <div class="flex gap-4">
        <div class="text-xl text-warmgray cursor-pointer">
            <i class="las la-bell"></i>
        </div>
        <div class="text-xl text-warmgray cursor-pointer" data-drawer-target="drawer-right-example"
             data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
            <i class="las la-bars"></i>
        </div>
    </div>

</div>
<!-- breadcrumb  -->
<div class="flex py-[8px] px-4 gap-1 items-center breadcrumb">
    <a href="@Url.Action("Index","Dashboard")" class="active">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Home
    </a>
    <i class="las la-angle-right"></i>
    <a href="@Url.Action("ClubDetail","LocationManagement", new { LocationId = Model.LocationId, ClubId = Model.ClubId })" class="active">@Model.ClubName</a>
    <i class="las la-angle-right"></i>
    <a href="#">@CRS.CUSTOMER.APPLICATION.Resources.Resource.HostDetail</a>

</div>
<!-- host image  -->

<div class="flex flex-row ">
    <div class="flex-col overflow-y-auto   pt-[6px] ">
        <div class="flex  overflow-x-auto mx-[16px] no-scrollbar flex-row gap-[8px]  mt-[8px]">
            @foreach (var item in Model.HostGalleryImageList)
            {
                <a href="#">
                    <div class="flex   h-[413px] w-[294px]">
                        <img class="object-fit  " src="@ViewBag.FileLocationPath@item"
                             alt="modelimage">
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<!-- Share -->
<div class="grid py-[8px] bg-[#F8F8F8]">
    <div class="flex flex-row px-[16px] justify-between items-center">
        <div>
            @if (!string.IsNullOrEmpty(Model.HostRank))
            {
                string concatenatedString = string.Concat(@Model.HostRank, " ", @Model.HostName);
                <p>@concatenatedString</p>
            }
            else
            {
                @Model.HostName
            }
        </div>
        <div>
            <a href="@Model.HostInstagramLink" target="_blank">
                <svg style="width: 20px;
height: 20px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 1.80078C12.6719 1.80078 12.9883 1.8125 14.0391 1.85937C15.0156 1.90234 15.543 2.06641 15.8945 2.20313C16.3594 2.38281 16.6953 2.60156 17.043 2.94922C17.3945 3.30078 17.6094 3.63281 17.7891 4.09766C17.9258 4.44922 18.0898 4.98047 18.1328 5.95312C18.1797 7.00781 18.1914 7.32422 18.1914 9.99219C18.1914 12.6641 18.1797 12.9805 18.1328 14.0313C18.0898 15.0078 17.9258 15.5352 17.7891 15.8867C17.6094 16.3516 17.3906 16.6875 17.043 17.0352C16.6914 17.3867 16.3594 17.6016 15.8945 17.7813C15.543 17.918 15.0117 18.082 14.0391 18.125C12.9844 18.1719 12.668 18.1836 10 18.1836C7.32813 18.1836 7.01172 18.1719 5.96094 18.125C4.98438 18.082 4.45703 17.918 4.10547 17.7813C3.64063 17.6016 3.30469 17.3828 2.95703 17.0352C2.60547 16.6836 2.39063 16.3516 2.21094 15.8867C2.07422 15.5352 1.91016 15.0039 1.86719 14.0313C1.82031 12.9766 1.80859 12.6602 1.80859 9.99219C1.80859 7.32031 1.82031 7.00391 1.86719 5.95312C1.91016 4.97656 2.07422 4.44922 2.21094 4.09766C2.39063 3.63281 2.60938 3.29688 2.95703 2.94922C3.30859 2.59766 3.64063 2.38281 4.10547 2.20313C4.45703 2.06641 4.98828 1.90234 5.96094 1.85937C7.01172 1.8125 7.32813 1.80078 10 1.80078ZM10 0C7.28516 0 6.94531 0.0117187 5.87891 0.0585938C4.81641 0.105469 4.08594 0.277344 3.45313 0.523438C2.79297 0.78125 2.23438 1.12109 1.67969 1.67969C1.12109 2.23438 0.78125 2.79297 0.523438 3.44922C0.277344 4.08594 0.105469 4.8125 0.0585938 5.875C0.0117188 6.94531 0 7.28516 0 10C0 12.7148 0.0117188 13.0547 0.0585938 14.1211C0.105469 15.1836 0.277344 15.9141 0.523438 16.5469C0.78125 17.207 1.12109 17.7656 1.67969 18.3203C2.23438 18.875 2.79297 19.2188 3.44922 19.4727C4.08594 19.7188 4.8125 19.8906 5.875 19.9375C6.94141 19.9844 7.28125 19.9961 9.99609 19.9961C12.7109 19.9961 13.0508 19.9844 14.1172 19.9375C15.1797 19.8906 15.9102 19.7188 16.543 19.4727C17.1992 19.2188 17.7578 18.875 18.3125 18.3203C18.8672 17.7656 19.2109 17.207 19.4648 16.5508C19.7109 15.9141 19.8828 15.1875 19.9297 14.125C19.9766 13.0586 19.9883 12.7188 19.9883 10.0039C19.9883 7.28906 19.9766 6.94922 19.9297 5.88281C19.8828 4.82031 19.7109 4.08984 19.4648 3.45703C19.2188 2.79297 18.8789 2.23438 18.3203 1.67969C17.7656 1.125 17.207 0.78125 16.5508 0.527344C15.9141 0.28125 15.1875 0.109375 14.125 0.0625C13.0547 0.0117188 12.7148 0 10 0Z"
                          fill="black" />
                    <path d="M10 4.86328C7.16406 4.86328 4.86328 7.16406 4.86328 10C4.86328 12.8359 7.16406 15.1367 10 15.1367C12.8359 15.1367 15.1367 12.8359 15.1367 10C15.1367 7.16406 12.8359 4.86328 10 4.86328ZM10 13.332C8.16016 13.332 6.66797 11.8398 6.66797 10C6.66797 8.16016 8.16016 6.66797 10 6.66797C11.8398 6.66797 13.332 8.16016 13.332 10C13.332 11.8398 11.8398 13.332 10 13.332Z"
                          fill="black" />
                    <path d="M16.5391 4.66013C16.5391 5.32419 16 5.85935 15.3398 5.85935C14.6758 5.85935 14.1406 5.32028 14.1406 4.66013C14.1406 3.99606 14.6797 3.46091 15.3398 3.46091C16 3.46091 16.5391 3.99997 16.5391 4.66013Z"
                          fill="black" />
                </svg>
            </a>
        </div>

        <!-- tiktok  -->
        <div>
            <a href="@Model.HostTiktokLink" target="_blank">
                <svg style="width: 20px;
height: 20px;" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M14.8934 0H11.5229V13.6232C11.5229 15.2464 10.2265 16.5797 8.61323 16.5797C6.99995 16.5797 5.70358 15.2464 5.70358 13.6232C5.70358 12.029 6.97115 10.7246 8.52682 10.6667V7.24639C5.09861 7.30433 2.33301 10.1159 2.33301 13.6232C2.33301 17.1594 5.15622 20 8.64205 20C12.1278 20 14.951 17.1304 14.951 13.6232V6.63767C16.2186 7.56522 17.7742 8.11594 19.4163 8.14495V4.72464C16.8812 4.63768 14.8934 2.55072 14.8934 0Z"
                          fill="black" />
                </svg>
            </a>
        </div>

        <!-- X -->
        <div>
            <a href="@Model.HostTwitterLink" target="_blank">
                <svg style="width: 20px;
height: 20px;" xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <g clip-path="url(#clip0_5386_58530)">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M7.85673 10.8762L0.713586 19.0297H3.87792L9.34551 12.7722L14.1633 19.031L20.3335 18.9973L12.5106 8.65268L19.1865 1.00564L16.073 0.970825L11.0303 6.7178L6.71588 0.980209L0.333496 0.973284L7.85673 10.8762ZM16.5966 17.1528L14.9998 17.1479L4.02916 2.78539H5.74679L16.5966 17.1528Z"
                              fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_5386_58530">
                            <rect width="20" height="20" fill="white" transform="translate(0.333496)" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>

        <!-- line  -->
        <div>
            <a href="@Model.HostLine" target="_blank">
                <svg style="width: 16px;
height: 16px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8 0C12.4107 0 16 3.05814 16 6.81861C16 8.31938 15.445 9.67837 14.2823 11.0137C13.445 12.0294 12.0856 13.1475 10.8323 14.0719C9.57896 14.9849 8.42667 15.7036 8 15.8919C7.82933 15.9661 7.70133 16 7.6 16C7.248 16 7.27958 15.6015 7.30625 15.4361C7.32758 15.3105 7.42396 14.7161 7.42396 14.7161C7.45062 14.5049 7.47687 14.1693 7.39687 13.9582C7.30621 13.7242 6.94883 13.604 6.6875 13.5469C2.8475 13.0106 0 10.1853 0 6.81861C0 3.05814 3.58933 0 8 0ZM7.4625 4.56395C7.1938 4.56928 6.93333 4.78868 6.93333 5.13569V8.55949C6.93333 8.87448 7.17227 9.13012 7.46667 9.13012C7.76107 9.13012 8 8.87448 8 8.55949V6.91669L9.16562 8.8905C9.46749 9.34244 10.1333 9.11471 10.1333 8.55949V5.13569C10.1333 4.8207 9.8944 4.56506 9.6 4.56506C9.3056 4.56506 9.06667 4.8207 9.06667 5.13569V6.84759L7.90104 4.80468C7.78784 4.6352 7.62372 4.56075 7.4625 4.56395ZM2.66667 4.56506C2.37227 4.56506 2.13333 4.8207 2.13333 5.13569V8.55949C2.13333 8.87448 2.37227 9.13012 2.66667 9.13012H4.26667C4.56107 9.13012 4.8 8.87448 4.8 8.55949C4.8 8.2445 4.56107 7.98885 4.26667 7.98885H3.2V5.13569C3.2 4.8207 2.96107 4.56506 2.66667 4.56506ZM5.86667 4.56506C5.57227 4.56506 5.33333 4.8207 5.33333 5.13569V8.55949C5.33333 8.87448 5.57227 9.13012 5.86667 9.13012C6.16107 9.13012 6.4 8.87448 6.4 8.55949V5.13569C6.4 4.8207 6.16107 4.56506 5.86667 4.56506ZM11.2 4.56506C10.9056 4.56506 10.6667 4.8207 10.6667 5.13569V8.55949C10.6667 8.87448 10.9056 9.13012 11.2 9.13012H12.8C13.0944 9.13012 13.3333 8.87448 13.3333 8.55949C13.3333 8.2445 13.0944 7.98885 12.8 7.98885H11.7333V7.41822H12.8C13.0949 7.41822 13.3333 7.16258 13.3333 6.84759C13.3333 6.5326 13.0949 6.27696 12.8 6.27696H11.7333V5.70633H12.8C13.0944 5.70633 13.3333 5.45068 13.3333 5.13569C13.3333 4.8207 13.0944 4.56506 12.8 4.56506H11.2Z"
                          fill="black" />
                </svg>
            </a>
        </div>
    </div>
</div>
<!-- details  -->
<div class="grid mt-[16px] mx-[16px] mb-[10px]">
    <div style="line-height: 140%;">
        @if (!string.IsNullOrEmpty(Model.DOB))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Birthdate :<span class="text-[#D75A8B]"> @Model.DOB</span>
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.Height))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Height :<span class="text-[#D75A8B]"> @Model.Height cm</span>
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.BloodType))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Blood_Type :<span class="text-[#D75A8B]"> @Model.BloodType</span>
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.ConstellationGroup))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Constellation :<span class="text-[#D75A8B]"> @Model.ConstellationGroup</span>
            </p>
        }

        @if (!string.IsNullOrEmpty(Model.Address))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Address :<span class="text-[#D75A8B]"> @Model.Address</span>
            </p>
        }

        @if (!string.IsNullOrEmpty(Model.PreviousOccupation))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Former_Job :<span class="text-[#D75A8B]"> @Model.PreviousOccupation</span>
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.LiquorStrength))
        {
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Strength_of_Alcohol :<span class="text-[#D75A8B]"> @Model.LiquorStrength</span>
            </p>
        }
    </div>
    <div class="flex flex-row gap-1 items-center mb-[8px]">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
            <path d="M2.71459 7.28802L2.70677 7.27992L2.70002 7.27344L2.69991 7.27333L2.69977 7.2732L2.69972 7.27314L2.69946 7.2729L2.69551 7.26898C2.69096 7.26443 2.68308 7.25648 2.67238 7.24533C2.65094 7.223 2.6184 7.18812 2.57856 7.14233C2.49833 7.0501 2.39165 6.91721 2.28715 6.75669C2.06486 6.41524 1.87295 6.01061 1.87295 5.57856C1.87295 4.15772 3.00042 3.00912 4.34113 3.00912C5.48553 3.00912 6.23896 3.72054 6.56537 4.06389L7.00022 4.52129L7.43507 4.06389C7.76149 3.72054 8.51491 3.00912 9.65931 3.00912C11 3.00912 12.1275 4.15772 12.1275 5.57856C12.1275 6.01777 11.9411 6.4329 11.7225 6.76253C11.6159 6.92322 11.509 7.05249 11.4297 7.14051C11.3902 7.18425 11.3583 7.21705 11.3376 7.23769C11.3272 7.24799 11.3198 7.25519 11.3156 7.25915L11.3127 7.26192L11.3121 7.26241L11.3121 7.26247L11.3119 7.26261L11.3118 7.26271L11.2993 7.27409L11.2859 7.28802L7.00022 11.7279L2.71459 7.28802Z"
                  stroke="#D75A8B" stroke-width="1.2" />
        </svg>
        <p>
            @Model.LoveCount
        </p>
    </div>
    <div class="flex flex-row gap-[5px]">
        <div class="" onclick="window.location.href='@Url.Action("ClubDetail","LocationManagement", new { LocationId = Model.LocationId, ClubId = Model.ClubId })'">
            <img class="object-fill h-[32px] w-[32px] rounded-full "
                 src="@ViewBag.FileLocationPath@Model.CLubLogo" alt="clublogo">
        </div>
        <div class="flex flex-col justify-center ">
            <p style="line-height: 100%;" class="text-[14px] font-[700]">
                @Model.ClubName

            </p>
            <p style="line-height: 100%;" class="text-[12px] font-[400]">
                @Model.ClubNameJapanese
            </p>

        </div>
    </div>
</div>

<div class="grid bg-[#FAFAFA]  py-[10px]">
    <div class="flex flex-row px-[16px] gap-[40px]  items-center ">
        @if (Model.IsBookmarked.ToUpper() == "N")
        {
            <div class="cursor-pointer" onclick="handleAddBookmarks('@Model.ClubId','@Model.HostId','host')">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
                    <path d="M2.12667 7.80079L2.1169 7.79066L2.10809 7.7822C2.10811 7.78222 2.1081 7.78221 2.10807 7.78217C2.10804 7.78215 2.10774 7.78186 2.10771 7.78183C2.10759 7.78171 2.10757 7.7817 2.1073 7.78144C2.10725 7.78138 2.10729 7.78141 2.10723 7.78135L2.09918 7.77339C2.09112 7.76533 2.0778 7.75187 2.06 7.73334C2.02435 7.69621 1.97105 7.63906 1.90618 7.56449C1.77571 7.41451 1.60229 7.19852 1.43212 6.93712C1.07516 6.3888 0.75 5.71481 0.75 4.98054C0.75 2.6479 2.60158 0.75 4.82143 0.75C6.70342 0.75 7.93593 1.91997 8.45644 2.46747L9 3.03923L9.54356 2.46747C10.0641 1.91997 11.2966 0.75 13.1786 0.75C15.3984 0.75 17.25 2.6479 17.25 4.98054C17.25 5.72349 16.9359 6.41326 16.5814 6.94766C16.4076 7.20972 16.2334 7.42036 16.1038 7.56416C16.0393 7.63572 15.9867 7.68978 15.9519 7.72442C15.9346 7.74171 15.9217 7.75408 15.9141 7.76129L15.9069 7.7681L15.9068 7.76817L15.9063 7.76863L15.8901 7.78337L15.8733 7.80079L9 14.9215L2.12667 7.80079Z"
                          stroke="#E3A1A1" stroke-width="1.5" />
                </svg>
            </div>
        }
        else
        {
            <div class="cursor-pointer" onclick="handleRemoveBookmarks('@Model.ClubId','@Model.HostId','host')">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="pink">
                    <path d="M2.12667 7.80079L2.1169 7.79066L2.10809 7.7822C2.10811 7.78222 2.1081 7.78221 2.10807 7.78217C2.10804 7.78215 2.10774 7.78186 2.10771 7.78183C2.10759 7.78171 2.10757 7.7817 2.1073 7.78144C2.10725 7.78138 2.10729 7.78141 2.10723 7.78135L2.09918 7.77339C2.09112 7.76533 2.0778 7.75187 2.06 7.73334C2.02435 7.69621 1.97105 7.63906 1.90618 7.56449C1.77571 7.41451 1.60229 7.19852 1.43212 6.93712C1.07516 6.3888 0.75 5.71481 0.75 4.98054C0.75 2.6479 2.60158 0.75 4.82143 0.75C6.70342 0.75 7.93593 1.91997 8.45644 2.46747L9 3.03923L9.54356 2.46747C10.0641 1.91997 11.2966 0.75 13.1786 0.75C15.3984 0.75 17.25 2.6479 17.25 4.98054C17.25 5.72349 16.9359 6.41326 16.5814 6.94766C16.4076 7.20972 16.2334 7.42036 16.1038 7.56416C16.0393 7.63572 15.9867 7.68978 15.9519 7.72442C15.9346 7.74171 15.9217 7.75408 15.9141 7.76129L15.9069 7.7681L15.9068 7.76817L15.9063 7.76863L15.8901 7.78337L15.8733 7.80079L9 14.9215L2.12667 7.80079Z"
                          stroke="#E3A1A1" stroke-width="1.5" />
                </svg>
            </div>
        }

        <div id="shareButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M17.5605 3.32812L16.5 4.38867L19.626 7.5H12.375C10.101 7.5 8.25 9.35025 8.25 11.625C8.25 13.8997 10.101 15.75 12.375 15.75H12.75V14.25H12.375C10.9275 14.25 9.75 13.0725 9.75 11.625C9.75 10.1775 10.9275 9 12.375 9H19.6289L16.5059 12.123L17.5664 13.1836L22.5 8.25L17.5605 3.32812ZM3.75 3.75V20.25H20.25V12.75L18.75 14.25V18.75H5.25V5.25H13.3901L14.8901 3.75H3.75Z"
                      fill="#BCB08A" />
            </svg>
        </div>
        <div style="border-radius: 2px ;background: linear-gradient(96deg, #99AEFB 10%, #F04AA4 61.32%, #E7B282 98.78%); border-radius: 2px;"
             class="h-[40px] items-center justify-center flex flex-row w-full  py-[7px]"
             @*onclick="window.location.href='@Url.Action("ClubReservation","LocationManagement", new {ClubId = Model.ClubId, SelectedHost = Model.HostId})'">*@
             onclick="ClubReservationActionFunction('@Model.ClubId', '@Model.ClubName', '@Model.HostId')">
            <p class="text-white">
                予約する
            </p>
        </div>
    </div>
</div>
<!-- drawer component -->
<div id="drawer-bottom-example"
     class="fixed bottom-0 left-0 right-0 z-[120] w-full bg-white overflow-y-auto  bg-white dark:bg-gray-800 transition-transform -translate-x-full transform"
     tabindex="-1" aria-labelledby="drawer-bottom-label">
    <div class="py-[10px] px-4 border-b border-b-[#EDEDED] flex justify-between bg-white">
        <h5 id="drawer-bottom-label" class="text-sm text-secondary-1">
            共有
        </h5>
        <button type="button" data-drawer-hide="drawer-bottom-example" aria-controls="drawer-bottom-example" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M13.3 0.710032C12.91 0.320032 12.28 0.320032 11.89 0.710032L6.99997 5.59003L2.10997 0.700032C1.71997 0.310032 1.08997 0.310032 0.699971 0.700032C0.309971 1.09003 0.309971 1.72003 0.699971 2.11003L5.58997 7.00003L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41003L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7.00003L13.3 2.11003C13.68 1.73003 13.68 1.09003 13.3 0.710032Z"
                      fill="black" />
            </svg>
        </button>
    </div>
    <div class="py-[12px] px-4 bg-white">
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/line-1.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">LINE</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/tiktok-1.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">Tiktok</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/insta.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">Instagram</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/x.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">Twitter</div>
        </div>
        <div class="flex py-[12px] px-4 gap-[12px] items-center">
            <img src="~/Content/assets/images/customer/copy.svg" alt="img" class="h-[22px] w-[22px]" />
            <div class="text-sm text-secondary-1">シェアリンクをコピー</div>
        </div>

    </div>
</div>
<div class="loader" id="loader-id">
    <img src="~/Content/assets/images/loader.gif" class="h-[150px]" />
</div>
@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>
    <script>
        const shareButton = document.querySelector("#shareButton");
        var shareableLink = window.location.href;
        shareButton.addEventListener("click", (event) => {
            if (navigator.share) {
                navigator.share({
                    title: "Share host details",
                    url: shareableLink,
                }).then(() => {
                    console.log('Thanks for sharing!');
                }).catch(console.error);
            } else {
                toastr.info('Web Share API is not supported in this browser.');
            }
        });
        $(document).ready(function () {
            localStorage.clear();
        });
        document.addEventListener("DOMContentLoaded", function () {
            // The DOM is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        // If you also want to handle external resources like images, use the load event
        window.addEventListener("load", function () {
            // The entire page, including external resources, is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        function handleAddBookmarks(clubId, hostId, agentType) {
            ActivateLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/AddBookmarks',
                type: 'POST',
                data: { clubId: clubId, hostId: hostId, agentType: agentType },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        // Handle failure, e.g., show an error message
                        console.log('Error: ' + result.message);
                        location.reload();
                    }
                },
                error: function () {
                    // Handle unexpected errors
                    console.log('An unexpected error occurred.');
                    location.reload();
                }
            });
        }

        function handleRemoveBookmarks(clubId, hostId, agentType) {
            ActivateLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/RemoveBookmarks',
                type: 'POST',
                data: { clubId: clubId, hostId: hostId, agentType: agentType },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        // Handle failure, e.g., show an error message
                        console.log('Error: ' + result.message);
                        location.reload();
                    }
                },
                error: function () {
                    // Handle unexpected errors
                    console.log('An unexpected error occurred.');
                    location.reload();
                }
            });
        }
        function ActivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "flex";
        }
        function DeactivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "none";
        }

        function ClubReservationActionFunction(i, j, k) {
            DataStorageFunction(i, j);
            window.location.href = "/LocationManagement/ClubReservation?ClubId=" + i + "&SelectedHost=" + k;
        }

        const DataStorageFunction = (i, j) => {
            localStorage.setItem("ClubId", EncryptParameter(i));
            localStorage.setItem("ClubName", EncryptParameter(j));
        }
    </script>
}