@model CRS.CUSTOMER.APPLICATION.Models.ReservationHistoryV2.InitateRescheduleReservationModel
@{
    var disabledClassLabel = string.Empty;
}

<style>
    .waitingMessageWrapper {
        border-radius: 4px;
        background: #FFEDED;
        margin-top: 16px;
        /*display: none;*/
    }

    .waitingMessage {
        color: #000;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
</style>
<div id="drawer-date" class="fixed bottom-0 left-0 right-0 z-40 w-full h-screen overflow-y-auto transition-transform"
     tabindex="-1" aria-labelledby="drawer-bottom-label" aria-hidden="true">
    <div class="h-screen flex flex-col justify-end" style=" background: rgba(27, 27, 27, 0.50); ">
        <div class="text-center text-white mb-2 text-2xl">
            <div onclick="CloseInitiatedRescheduleReservationFunction();">
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="px-4 pt-6 bg-white  " style="padding-top: 24px; border-radius: 6px 6px 0px 0px;">
            <div class="text-sm text-[#333] font-bold mb-3">カレンダー</div>
            <div class="pb-3 border-b-[1px] border-[#EFEFEF]">
                <div id="datepicker" style="margin-top:10px; display:flex; justify-content:center"></div>
                <div class="flex flex-col gap-[13px] mt-[13px]">
                    <div class="flex justify-between items-center">
                        <div class="text-sm text-[#333] flex justify-between items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M10 2C5.58844 2 2 5.58844 2 10C2 14.4116 5.58844 18 10 18C14.4116 18 18 14.4116 18 10C18 5.58844 14.4116 2 10 2ZM10 3.33333C13.6898 3.33333 16.6667 6.31022 16.6667 10C16.6667 13.6898 13.6898 16.6667 10 16.6667C9.12413 16.6681 8.25659 16.4966 7.44712 16.1621C6.63764 15.8275 5.90216 15.3365 5.28282 14.7172C4.66349 14.0978 4.17248 13.3624 3.83794 12.5529C3.50341 11.7434 3.33193 10.8759 3.33333 10C3.33333 6.31022 6.31022 3.33333 10 3.33333ZM9.33333 4.66667V10.6667H14V9.33333H10.6667V4.66667H9.33333Z" fill="#B08194" />
                            </svg>
                            <span> お時間</span>
                        </div>
                        <!----------------------------------------------------------------------------------------------------------------->
                        <div class="relative">
                            <div class=" showTimeList h-[32px] w-[72px] px-3 py-1 bg-[#F6F6F6] rounded-[4px] text-[#666] text-xs flex justify-between items-center">
                                <div id="selected-time-id">
                                    @Model.Time
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
                                        <path d="M4 5L0.535898 0.5L7.4641 0.5L4 5Z" fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                            <div id="timeListContainer" class=" timeListContainer rounded-[4px] bg-[#F6F6F6] w-[72px]" style="display: none;">
                                @{
                                    foreach (var item in Model.ClubReservableTimeModel)
                                    {
                                        DateTime itemTime;
                                        bool isValidTime = DateTime.TryParse(item.Time, out itemTime);
                                        disabledClassLabel = (!isValidTime || itemTime < DateTime.Now ||
                                                              (!string.IsNullOrEmpty(item.TimeStatus) && item.TimeStatus.Trim().ToUpper() != "ACTIVE"))
                                                              ? "disabled" : string.Empty;

                                        DateTime lastEntryTime = DateTime.ParseExact(Model.ClubReservableTimeModel[0].LastEntryTime.ToString(), "HH:mm", null);
                                        DateTime currentTime = DateTime.ParseExact(item.Time.ToString(), "HH:mm", null);

                                        if (currentTime > lastEntryTime)
                                        {
                                            <div class="timeList h-[32px] px-3 py-1 text-[#666] text-xs flex justify-between items-center disabled">
                                                <div class="timeValue">
                                                    @item.Time
                                                </div>
                                                <div class="activeTime">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                                        <path d="M8.94643 3L4.88393 7.31494L3.05357 5.37077L2.25 6.22238L4.48214 8.59236L4.88393 9L5.28571 8.59236L9.75 3.8524L8.94643 3Z" fill="#666666" />
                                                    </svg>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="timeList @disabledClassLabel h-[32px] px-3 py-1 text-[#666] text-xs flex justify-between items-center">
                                                <div class="timeValue">
                                                    @item.Time
                                                </div>
                                                <div class="activeTime">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                                        <path d="M8.94643 3L4.88393 7.31494L3.05357 5.37077L2.25 6.22238L4.48214 8.59236L4.88393 9L5.28571 8.59236L9.75 3.8524L8.94643 3Z" fill="#666666" />
                                                    </svg>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <!----------------------------------------------------------------------------------------------------------------->
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="text-sm text-[#333] flex justify-between items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M5.8 5C3.81953 5 2.2 6.49957 2.2 8.33333C2.2 9.43576 2.78594 10.4167 3.68125 11.0243C2.09922 11.7513 1 13.2574 1 15H2.2C2.2 13.1532 3.80547 11.6667 5.8 11.6667C7.79453 11.6667 9.4 13.1532 9.4 15H10.6C10.6 13.1532 12.2055 11.6667 14.2 11.6667C16.1945 11.6667 17.8 13.1532 17.8 15H19C19 13.2574 17.9008 11.7513 16.3188 11.0243C17.2141 10.4167 17.8 9.43576 17.8 8.33333C17.8 6.49957 16.1805 5 14.2 5C12.2195 5 10.6 6.49957 10.6 8.33333C10.6 9.43576 11.1859 10.4167 12.0813 11.0243C11.207 11.4258 10.4734 12.0595 10 12.8472C9.52656 12.0595 8.79297 11.4258 7.91875 11.0243C8.81406 10.4167 9.4 9.43576 9.4 8.33333C9.4 6.49957 7.78047 5 5.8 5ZM5.8 6.11111C7.13359 6.11111 8.2 7.09852 8.2 8.33333C8.2 9.56814 7.13359 10.5556 5.8 10.5556C4.46641 10.5556 3.4 9.56814 3.4 8.33333C3.4 7.09852 4.46641 6.11111 5.8 6.11111ZM14.2 6.11111C15.5336 6.11111 16.6 7.09852 16.6 8.33333C16.6 9.56814 15.5336 10.5556 14.2 10.5556C12.8664 10.5556 11.8 9.56814 11.8 8.33333C11.8 7.09852 12.8664 6.11111 14.2 6.11111Z" fill="#B08194" />
                            </svg>
                            <span> 人数</span>
                        </div>
                        <!----------------------------------------------People--------------------------------------------------------------->
                        <div class="relative disabled">
                            <div class=" showPeopleList cursor-pointer h-[32px] w-[72px] px-3 py-1 bg-[#F6F6F6] rounded-[4px] text-[#666] text-xs flex justify-between items-center">
                                <div id="selected-noofpeople-id">
                                    @Model.NoOfPeople
                                </div>
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
                                        <path d="M4 5L0.535898 0.5L7.4641 0.5L4 5Z" fill="#666666" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!----------------------------------------------People--------------------------------------------------------------->
                    </div>
                </div>
            </div>
            <div class="flex items-center  gap-[6px] py-[11px] px-4"
                 style="box-shadow: 0px -4px 9px 0px rgba(0, 0, 0, 0.04);">
                <button class="btn" type="button" onclick="CloseInitiatedRescheduleReservationFunction();">
                    戻る
                </button>
                <button class="btn btn-primary" onclick="SubmitRescheduleReservationFunction();">
                    <a class="h-full w-full">
                        次
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<form action="/ReservationHistoryManagementV2/RescheduleClubReservation" method="post" id="club-reschedule-reservation-id">
    <input type="text" id="club-id" name="ClubId" value="@Model.ClubId" hidden />
    <input type="text" name="ReservationId" value="@Model.ReservationId" required hidden />
    <input type="text" id="time-id" name="Time" value="@Model.Time" required hidden />
</form>
