@model CRS.CUSTOMER.APPLICATION.Models.ReservationHistoryV2.ReservationHistoryDetailModel
@{
    ViewBag.Title = "予約確認・変更 ‖ ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!Doctype html>
<html>
<body>
    <div class="flex items-center border-b-[2px] border-t-[#C8B477] sticky top-0 bg-white z-[10] relative px-4 py-[10px] mb-4 h-[44px]">
        <div class="flex gap-2 items-center absolute top-[9px] left-4 text-sm text-[#292F33]" onclick="window.history.go(-1); return false;">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                <path d="M15.2352 3.24084C14.786 2.79167 14.0618 2.79167 13.6127 3.24084L5.99518 10.8583C5.63768 11.2158 5.63768 11.7933 5.99518 12.1508L13.6127 19.7683C14.0618 20.2175 14.786 20.2175 15.2352 19.7683C15.6843 19.3192 15.6843 18.595 15.2352 18.1458L8.59851 11.5L15.2443 4.85417C15.6843 4.41417 15.6843 3.68084 15.2352 3.24084Z"
                      fill="#BCB08A" />
            </svg> 戻る
        </div>
        <div class="text-center text-sm w-full font-[700] text-[#333] ">ご予約確認・変更</div>
    </div>
    <div class="flex flex-col justify-between h-screen relative pb-8">
        @if (Model.ClubId != null && Model.ClubId != "")
        {
            <div>
                <!-- header end  -->
                <div style="height: calc(100vh - 140px);" class="no-scrollbar overflow-y-scroll pb-4 ">
                    <!-- image  -->
                    <div class="px-[14px] py-3 grid gap-3">
                        <div class="flex gap-[8px] p-[14px] bg-[#F6F6F6] border border-[#EAEAEA] rounded-[6px]">
                            <div data-modal-target="defaultModal" data-modal-toggle="defaultModal">
                                <img src="@Model.ClubLogo"
                                     class="h-[48px] w-[48px] object-cover rounded-full border-[2px] border-[#EAEAEA]" />
                            </div>
                            <div>
                                <div class='text-sm font-bold text-charcolBlack '>@Model.ClubNameEng</div>
                                <div class='text-xs  text-[#404040] '> @Model.ClubNameJp</div>
                                <div class="text-[10px] text-[#A09E91] flex gap-[2px] items-center">
                                    <i class="fa-solid fa-location-dot text-primary"></i>
                                    @Model.LocationName
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Selected host -->
                    <div class="px-[14px] py-3 grid gap-3">
                        <div class="flex flex-col gap-[8px] p-[14px] bg-[#F6F6F6] border border-[#EAEAEA] rounded-[6px]">
                            <div class="flex justify-between items-center text-xs font-bold">
                                選択中のホスト
                                <span class="text-primary cursor-pointer">
                                    @if (Model.TransactionStatus.Trim().ToUpper() == "P")
                                    {
                                        <i class="las la-pen" data-drawer-target="drawer-date" data-drawer-show="drawer-date" data-drawer-placement="bottom" aria-controls="drawer-date" onclick="editTime('@Model.ReservationId')"></i><span class="border-b border-primary ">編集</span>
                                    }
                                </span>
                            </div>
                            <div class="flex -space-x-2  items-center relative">
                                @if (Model.HImages != null)
                                {
                                    foreach (var H_item in Model.HImages)
                                    {
                                        if (!string.IsNullOrEmpty(H_item))
                                        {
                                            <img class="inline-block h-7 w-7 rounded-full border-2 border-white"
                                                 src="@H_item.Trim()"
                                                 alt="">
                                        }
                                        else
                                        {
                                            foreach (var hostid in Model.HostIdList)
                                            {
                                                if (hostid == "0")
                                                {


                                                    <img class="inline-block h-7 w-7 rounded-full border-2 border-white"
                                                         src="/Content/assets/images/customer/default-host-image.jpg"
                                                         alt="">
                                                }
                                                else
                                                {
                                                    <img class="inline-block h-7 w-7 rounded-full border-2 border-white"
                                                         src="/Content/assets/images/customer/demo-image.jpeg"
                                                         alt="">
                                                }
                                            }

                                        }

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Reservation details -->
                    <div class="border border-y-[1px] border-[#E3E3E3]  bg-[#fff] pl-[14px] pr-[28px] py-3">
                        <div class="flex justify-between items-center text-[13px] text-[#404040] font-bold pb-2 ">
                            ご予約内容
                            <span class="text-primary cursor-pointer">
                                @if (Model.TransactionStatus.Trim().ToUpper() == "P")
                                {
                                    <i class="las la-pen" data-drawer-target="drawer-date" data-drawer-show="drawer-date" data-drawer-placement="bottom" aria-controls="drawer-date" onclick="editTime('@Model.ReservationId')"></i><span class="border-b border-primary ">編集</span>
                                }
                            </span>
                        </div>
                        <div class="text-[12px] text=[#333] pb-[2px]">
                            来店日時：@Model.VisitDate @Model.VisitTime
                        </div>
                        <div class="text-[12px] text=[#333]">
                            来店人数：@Model.NoOfPeople 名
                        </div>
                    </div>
                    <!-- プラン内容 -->
                    <div class="px-[14px] py-3 ">
                        <div class="text-[#404040] text-[13px] font-bold pb-2">
                            プラン内容
                        </div>
                        <div class="flex flex-col p-[14px] bg-[#F6F6F6] border border-[#EAEAEA] rounded-[6px]">
                            <div class="flex justify-between items-center text-xs font-bold">
                                <div class="flex items-center gap-2">
                                    <div class="text-[13px] text-[#404040] font-bold leading-[24px]">
                                        ノーマルプラン
                                    </div>
                                    <span class="popularity">
                                        <i class="las la-crown linear-gradient-text" style="font-size:12px"></i>
                                        <div class="linear-gradient-text tracking-[1.26px]">人気</div>
                                    </span>
                                </div>
                                <span class="text-primary cursor-pointer">
                                    @if (Model.TransactionStatus.Trim().ToUpper() == "P")
                                    {
                                        <i class="las la-pen" data-drawer-target="drawer-date" data-drawer-show="drawer-date" data-drawer-placement="bottom" aria-controls="drawer-date" onclick="editTime('@Model.ReservationId')"></i><span class="border-b border-primary ">編集</span>
                                    }
                                </span>
                            </div>
                            <div>
                                <div class="text-[#D75A8B] font-futura pb-1">
                                    ¥@Model.Price
                                </div>
                                <div class="flex items-center gap-2">
                                    <div class="flex items-end gap-1">
                                        <div class="text-[#D17979] text-[11px]">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 13 13" fill="none">
                                                <path d="M6.5 0C2.91569 0 0 2.91569 0 6.5C0 10.0843 2.91569 13 6.5 13C10.0843 13 13 10.0843 13 6.5C13 2.91569 10.0843 0 6.5 0ZM6.5 1.08333C9.49821 1.08333 11.9167 3.50179 11.9167 6.5C11.9167 9.49821 9.49821 11.9167 6.5 11.9167C3.50179 11.9167 1.08333 9.49821 1.08333 6.5C1.08333 3.50179 3.50179 1.08333 6.5 1.08333ZM5.95833 2.16667V7.04167H9.75V5.95833H7.04167V2.16667H5.95833Z" fill="#D17979" />
                                            </svg>
                                        </div>
                                        <div class="text-[11px] text-[#282828] font-futura " style="line-height:100%; display:flex; align-items:end;">
                                            @Model.PlanTime 分制
                                        </div>
                                    </div>
                                    <div class="flex items-end gap-1">
                                        <div class="text-[#D17979] text-[11px]">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none">
                                                <path d="M12.2377 0L11.7188 0.146433L7.60045 1.28536L7.09821 1.43179L7.19866 1.78974L3.33147 0.699624L2.8125 0.553191L2.66183 1.05757L1.15513 6.0363C0.973075 6.65253 0.862165 7.38877 1.07143 8.10263C1.24093 8.68023 1.66574 9.23545 2.32701 9.56696L1.84152 11.2753L0.301339 10.836L0 11.8448L4.1183 13L4.41964 11.9912L2.87946 11.5519L3.36496 9.85983C4.10575 9.9188 4.76284 9.65848 5.22321 9.25782C5.79241 8.76158 6.11258 8.10059 6.29464 7.48435L7.61719 3.18899L8.70536 6.94743V6.9637C8.88742 7.57994 9.20759 8.24093 9.77679 8.73717C10.2414 9.1419 10.8901 9.38595 11.635 9.3229L12.1205 11.0313L10.5804 11.4706L10.8817 12.4793L15 11.3242L14.6987 10.3154L13.1585 10.7547L12.6562 9.04631C13.3175 8.7148 13.7423 8.15957 13.9118 7.58198C14.1211 6.86812 14.0269 6.13188 13.8449 5.51564L12.3884 0.50438L12.2377 0ZM11.5179 1.28536L12.1875 3.61201H8.83929L8.42076 2.14768L11.5179 1.28536ZM3.54911 1.85482L6.62946 2.70088L6.1942 4.13267H2.84598L3.54911 1.85482ZM9.14062 4.65332H12.4888L12.8237 5.80851C12.9681 6.29255 13.0183 6.86812 12.8906 7.30538C12.763 7.74265 12.5202 8.04975 11.8694 8.23279C11.2186 8.41583 10.844 8.2755 10.4967 7.97247C10.1493 7.66943 9.87095 7.15488 9.72656 6.67084L9.14062 4.65332ZM2.5279 5.17397H5.87612L5.27344 7.19149H5.2567C5.11231 7.67553 4.85073 8.19008 4.50335 8.49312C4.15597 8.79615 3.78139 8.93648 3.13058 8.75344C2.47977 8.5704 2.23703 8.2633 2.10938 7.82603C1.98172 7.38877 2.03195 6.8132 2.17634 6.32916L2.5279 5.17397Z" fill="#D17979" />
                                            </svg>
                                        </div>
                                        <div class="text-[11px] text-[#282828] font-futura" style="display:flex; align-items:end; line-height:100%;">
                                            飲み放題
                                        </div>
                                    </div>
                                    <div class="flex items-end gap-1">
                                        <div class="text-[#D17979] text-[11px]">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                                <path d="M6 0C3.68672 0 1.8 1.85813 1.8 4.13636C1.8 5.56055 2.53828 6.82546 3.65625 7.57102C1.51641 8.47585 0 10.5671 0 13H1.2C1.2 10.3825 3.34219 8.27273 6 8.27273C8.65781 8.27273 10.8 10.3825 10.8 13H12C12 10.5671 10.4836 8.47585 8.34375 7.57102C9.46172 6.82546 10.2 5.56055 10.2 4.13636C10.2 1.85813 8.31328 0 6 0ZM6 1.18182C7.66406 1.18182 9 2.49751 9 4.13636C9 5.77521 7.66406 7.09091 6 7.09091C4.33594 7.09091 3 5.77521 3 4.13636C3 2.49751 4.33594 1.18182 6 1.18182Z" fill="#D17979" />
                                            </svg>
                                        </div>
                                        <div class="text-[11px] text-[#282828] font-futura"  style="display:flex; align-items:end; line-height:100%;">
                                            場内指名 @Model.Nomination 名まで
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     @*   <div class="h-[37px] rounded-[5px] mt-[9px] border border-[#E3AB00] text-[#E3AB00] font-bold flex justify-center items-center text-sm gap-[2px]" style="background:#FFFAF5">
                            <i class="las la-coins text-[18px]"></i> 500ポイント獲得できます！
                        </div>*@
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Pop up section for reschedule time section-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <style>
        .minute-scroll::-webkit-scrollbar {
            display: none;
            /* Hide scrollbar for webkit browsers (Chrome, Safari) */
        }

        .minute-scroll {
            scrollbar-width: none;
        }

        .hours-scroll::-webkit-scrollbar {
            display: none;
            /* Hide scrollbar for webkit browsers (Chrome, Safari) */
        }

        .hours-scroll {
            scrollbar-width: none;
        }

        .picker {
            position: relative;
            width: 300px;
            overflow: hidden;
            margin: 1rem auto 0;
            outline: 1px solid #ccc;
            padding: 0 30px;
        }

        .swiper-container {
            width: 80px;
            height: 210px;
            float: left;
        }

        .swiper-slide {
            color: #18181B;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.35px;
            padding: 5px 0;
        }

        .swiper-slide-prev,
        .swiper-slide-next {
            cursor: pointer;
        }

        .swiper-slide-active {
            opacity: 1;
        }

        .vizor {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            height: 70px;
            position: absolute;
            top: 50%;
            left: 1rem;
            right: 1rem;
            transform: translateY(-50%);
            font-size: 2rem;
            line-height: 62px;
        }

            .vizor:before,
            .vizor:after {
                content: ':';
                display: inline-block;
                line-height: inherit;
                height: 100%;
                position: absolute;
                top: 0;
                transform: translateX(-50%);
            }

            .vizor:before {
                left: 95px;
            }

            .vizor:after {
                left: 175px;
            }

        .arrows .swiper-container:after,
        .arrows .swiper-container:before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px;
            border-color: transparent;
            opacity: 0.5;
        }

        .arrows .swiper-container:before {
            top: 0.5rem;
            border-top-width: 0;
            border-bottom-color: currentColor;
        }

        .arrows .swiper-container:after {
            bottom: 0.5rem;
            border-bottom-width: 0;
            border-top-color: currentColor;
        }
    </style>
    <!-- drawer component -->
    <div id="drawer-date" class="fixed bottom-0 left-0 right-0 z-40 w-full h-screen overflow-y-auto transition-transform  translate-y-full"
         tabindex="-1" aria-labelledby="drawer-bottom-label">
        <div class="h-screen flex flex-col justify-end" style=" background: rgba(27, 27, 27, 0.50); ">
            <div class="text-center text-white mb-2 text-2xl">
                <div data-drawer-hide="drawer-date" aria-controls="drawer-date">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="px-4 pt-6 pb-6 bg-white responsiveModalPopup " style="padding-top: 24px; border-radius: 6px 6px 0px 0px;">
                <div class="text-sm text-[#333] font-bold mb-3">Select Working Hours</div>
                <div class=" relative">
                    <div id="reservation_id" value="" hidden></div>
                    <div class="flex justify-center gap-5 items-center h-[171px] py-6 ">
                        <div class="relative">
                            <div class="  overflow-y-scroll hours-scroll " style="height: 171px; ">
                                <div class="swiper-slide">00</div>
                                <div class="swiper-slide">01</div>
                                <div class="swiper-slide">02</div>
                                <div class="swiper-slide">03</div>
                                <div class="swiper-slide">04</div>
                                <div class="swiper-slide">05</div>
                                <div class="swiper-slide">06</div>
                                <div class="swiper-slide">07</div>
                                <div class="swiper-slide">08</div>
                                <div class="swiper-slide">09</div>
                                <div class="swiper-slide">10</div>
                                <div class="swiper-slide">11</div>
                                <div class="swiper-slide">12</div>
                                <div class="swiper-slide">13</div>
                                <div class="swiper-slide">14</div>
                                <div class="swiper-slide">15</div>
                                <div class="swiper-slide">16</div>
                                <div class="swiper-slide">17</div>
                                <div class="swiper-slide">18</div>
                                <div class="swiper-slide">19</div>
                                <div class="swiper-slide">20</div>
                                <div class="swiper-slide">21</div>
                                <div class="swiper-slide">22</div>
                                <div class="swiper-slide">23</div>
                            </div>
                            <div id="hourShadow" class="absolute  bottom-[56px] h-[36px] w-full " style=" top:40%">
                            </div>
                        </div>
                        <div class="relative" style="height: 72px;">
                            <div class=" overflow-y-scroll   minute-scroll absolute " style="height: 72px;  top:30%">
                                <div class="swiper-slide">00</div>
                                <div class="swiper-slide">30</div>
                                <div class="swiper-slide">00</div>
                                <div class="swiper-slide">30</div>
                                <div class="swiper-slide">00</div>
                            </div>
                            <div id="minuteShadow" class="absolute  bottom-[56px] h-[36px] w-full " style="">
                            </div>
                        </div>
                        <div id="test"
                             class="absolute  bottom-[56px] h-[36px] w-full border border-zinc-300 text-[#18181B] bg-[#333]"
                             style="border-radius: 6px; background: rgba(118, 118, 128, 0.12);">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3" style=" border-radius: 8px; " id="btn_next" onclick="openModal('modal2')">
                    <span class="h-full w-full">
                        検索
                    </span>
                </button>
            </div>
        </div>
    </div>
    <!--warning pop up modal-->
    <div id="modal2" class="modal" style="display:none; ">
        <div class="modal-content">
            <div class="relative w-full max-w-2xl max-h-full" style="z-index:1000">
                <span class=" absolute  z-30 text-[#fff] text-[28px] cursor-pointer right-3" onclick="closeModal('modal2')"
                      style="top:-49px">&times;</span>
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow py-6 flex  flex-col">
                    <!-- Modal header -->
                    <div class="text-center pt-2 pb-4 px-2 border-b border-[#DCDCDC] flex flex-col justify-center gap-1 ">
                        <div class=" text-[16px] font-semibold text-[#1A1C1E]">確認</div>
                        <div class=" text-[12px] font-normal text-[#1A1C1E]">ご予約の時間を変更でよろしいですか？</div>
                    </div>
                    <!-- Modal body -->
                    <div class="grid gap-4 p-6 pt-4 grid-cols-2">
                        <button class=" h-[40px] border-[1px] border-[#B12D23] rounded text-[#B12D23] text-[14px] font-medium leading-[24px] underline " onclick="closeModal('modal2')"
                                data-modal-hide="defaultModal">
                            いいえ
                        </button>
                        <button class=" btn-primary rounded h-[40px]  text-[#FFFFFF] font-medium text-[14px]  leading-[24px]" onclick="RescheduleReservation()"
                                data-modal-hide="defaultModal">
                            はい
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>function editTime(reservationid) {
            $('#reservation_id').val(reservationid);
        }
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            var firstModal = document.getElementById("drawer-date");
            if (modal) {
                modal.style.display = "block";
                firstModal.style.zIndex = "20";
            }
        }
        // Function to close a specific modal
        function closeModal(modalId) {
            var modal = document.getElementById(modalId);
            var firstModal = document.getElementById("drawer-date");

            if (modal) {
                modal.style.display = "none";
                firstModal.style.zIndex = "40";
            }
        }

        // Close the modal if the overlay is clicked
        window.onclick = function (event) {
            var modals = document.getElementsByClassName("modal");
            for (var i = 0; i < modals.length; i++) {
                if (event.target == modals[i]) {
                    closeModal(modals[i].id);
                }
            }
        }
        // Close the modal only if the overlay is clicked outside of modal1
        window.onclick = function (event) {
            var modal1 = document.getElementById('modal1');
            // Check if the click is outside of modal1
            if (modal1 && event.target !== modal1 && !modal1.contains(event.target)) {
                closeModal('modal1');
            }
        }
        function RescheduleReservation() {
            var reservationid = $('#reservation_id').val();
            var data = {
                Selectedhour: hour,
                Selectedminute: minute,
                ReservationID: reservationid,
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
            };
            $.ajax({
                type: "POST",
                url: "/ReservationHistoryManagementV2/RescheduleReservation",
                data: data,
                success: function (response) {
                    if (response.redirectToUrl != null || response.redirectToUrl != "") {
                        window.location.href = response.redirectToUrl;
                    } else {
                        window.location.reload();
                    }
                    //console.log("Ajax call successful", response);
                },
                error: function (error) {
                    window.location.reload();
                    //console.error("Ajax call failed", error);
                }
            });
        }</script>
</body>
</html>