@model List<CRS.CUSTOMER.APPLICATION.Models.SearchV2.SearchFilterClubDetailModel>
@{
    var TypeValue = ViewBag.TypeValue?.ToString();
    var filter = "";
    if (TypeValue == "s00001")
    {
        filter = "今すぐ行けるお店";
    }
    else if (TypeValue == "s00002")
    {
        filter = "貸し切りOK";
    }
    else if (TypeValue == "s00003")
    {
        filter = "在籍人数が多い";
    }
    else if (TypeValue == "s00004")
    {
        filter = "VIPルームあり";
    }
    else if (TypeValue == "s00005")
    {
        filter = "女子会向き";
    }
    var TotalClubCount = ViewBag.TotalClubCount;
    ViewBag.Title = $"{filter}からホストクラブを探す({TotalClubCount}件)‖ホスログ ||◤推しホストが見つかる◢|| ホストクラブ初回来店・ネット予約";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var PostURL = ViewBag.PostURL;
    DateTime currentTime = DateTime.Parse(DateTime.Now.ToString("HH:mm"));
    var TotalSearchResult = ViewBag.TotalRecords;
    var metaContent = $"業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。利用シーン「{filter}」から{TotalSearchResult}件のホストクラブ情報を掲載中！";
}
<meta name="description" content="@metaContent">

<style>

    input[type=radio]:checked + label {
        color: #D75A8B;
        font-weight: 600;
    }

    input[type=radio]:checked {
        appearance: none;
        -webkit-appearance: none;
        border-radius: 50%;
        background: #D75A8B;
        border: 3px solid #FFF;
        box-shadow: 0 0 0 4px #D75A8B;
        width: 13px;
        height: 13px;
    }

    input[type=radio] {
        box-shadow: 0 0 0 4px rgba(102, 102, 102, 0.2);
        /*    border: 1.5px solid rgba(102, 102, 102, 0.2);*/
        appearance: none;
        -webkit-appearance: none;
        border-radius: 50%;
        width: 13px;
        height: 13px;
    }
</style>
<style>

    .next-prev-btn {
        border: 1px solid #F8F8F8;
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        flex: none;
        cursor: pointer
    }

    .page-number-list div {
        border: 1px solid #F8F8F8;
        display: flex;
        height: 44px;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        cursor: default;
    }

        .page-number-list div.active {
            color: #D75A8B;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            background: #F3F3F3;
        }

    .owl-dots > .active {
        background: #E3A1A1;
    }

    .locationSearch:focus {
        outline: none;
    }
</style>
<script src="~/Content/assets/js/pagination.js"></script>
<div class="flex items-center  border-b border-b-[#E8E8E8] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[44px]" onclick="window.location.href='/'">
    <div class="flex gap-2 items-center absolute top-[12px] text-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
            <path d="M15.2347 2.74084C14.7855 2.29167 14.0614 2.29167 13.6122 2.74084L5.99469 10.3583C5.63719 10.7158 5.63719 11.2933 5.99469 11.6508L13.6122 19.2683C14.0614 19.7175 14.7855 19.7175 15.2347 19.2683C15.6839 18.8192 15.6839 18.095 15.2347 17.6458L8.59802 11L15.2439 4.35417C15.6839 3.91417 15.6839 3.18084 15.2347 2.74084Z"
                  fill="#BCB08A" />
        </svg>@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
    </div>
    <div class="text-center w-full font-bold"></div>
</div>
<!-- radio button  -->
<section class='px-4 py-3 border border-b border-[#E6E6E6]'>

    <div class='grid grid-cols-2 '>
        <div class='flex flex-col gap-2'>
            <div class='flex gap-[10px] items-center' onclick="PreferenceRedirect('s00001');">
                <input class="custom-radio" name="radio-group" type="radio" id='click' @(TypeValue == "s00001" ? "checked" : "")>
                <label for='click' class='font-medium text-[14px] cl'>今すぐ行けるお店</label>
            </div>

            <div class='flex gap-[10px] items-center' onclick="PreferenceRedirect('s00003');">
                <input name="radio-group" type="radio" id='click2' @(TypeValue == "s00003" ? "checked" : "")>
                <label for="click2" class='font-medium text-[14px] cl'>在籍人数が多い</label>
            </div>

            <div class='flex gap-[10px] items-center' onclick="PreferenceRedirect('s00005');">
                <input name="radio-group" type="radio" id='click4' @(TypeValue == "s00005" ? "checked" : "")>
                <label for="click4" class=' font-medium text-[14px] cl'>女子会向き</label>
            </div>
        </div>

        <div class='flex flex-col gap-2'>
            <div class='flex gap-[10px] items-center' onclick="PreferenceRedirect('s00002');">
                <input name="radio-group" type="radio" id='click1' @(TypeValue == "s00002" ? "checked" : "")>
                <label for="click1" class=' font-medium text-[14px] cl'>貸し切りOK</label>
            </div>

            <div class='flex gap-[10px] items-center' onclick="PreferenceRedirect('s00004');">
                <input name="radio-group" type="radio" id='click3' @(TypeValue == "s00004" ? "checked" : "")>
                <label for="click3" class=' font-medium text-[14px] cl'>VIPルームあり</label>
            </div>
        </div>

    </div>
</section>
<div class='px-4 py-2 text-[12px] font-semibold bg-[#FDFBFA]'>
    検索結果 @TotalSearchResult 件
</div>
<div class="list_wrap">
    @foreach (var item in Model)
    {
        <div class="club_content">
            <!-- s/link -->
            <a onclick="ClubDetailRedirectFunction('@item.ClubCode', '@item.LocationURL')">
                <ul class="club_tags">
                    @if (!string.IsNullOrEmpty(@item.Tag1))
                    {
                        <li class="tag_location"><img class="map_pin" src="~/Content/assets/images/location_icon.svg" alt="ピン"> @item.Tag1</li>
                    }
                    @if (!string.IsNullOrEmpty(@item.Tag2))
                    {
                        <li class="tag_rank">ランク @item.Tag2</li>
                    }
                    @if (!string.IsNullOrEmpty(@item.Tag3))
                    {
                        <li class="tag_platinum">  @item.Tag3</li>
                    }

                    @if (!string.IsNullOrEmpty(@item.Tag4))
                    {
                        <li class="tag_good">@item.Tag4</li>
                    }
                    @if (!string.IsNullOrEmpty(@item.Tag5))
                    {
                        <li class="tag_big">  @item.Tag5</li>
                    }
                </ul>
                <div class="club_header">
                    <div class="club_logo"><img class="logo" alt="ロゴ" src="@item.ClubLogo"></div>
                    <div class="club_info">
                        <h3 class="club_name">@item.ClubNameEnglish</h3>
                        <p class="club_kana">@item.ClubNameJapanese</p>
                        <p class="club_group">@item.GroupName</p>
                    </div>
                    @if (item.IsBookmarked.ToUpper() == "Y")
                    {
                        <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId', '', 'club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-filled.svg"></div>
                    }
                    else
                    {
                        <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId', '', 'club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-notfilled.svg"></div>
                    }
                </div>
                <ul class="club_thumb">
                    @foreach (var item2 in item.HostGalleryImage)
                    {
                        <li><img alt="@item.ClubNameEnglish ([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="@item2"></li>
                    }

                </ul>
                <div class="club_rate">
                    <ul class="rate_stars">
                        @{
                            var unratedScale = (5 - item.AverageRating);
                            for (int i = 0; i < item.AverageRating; i++)
                            {
                                <li><img src="~/Content/assets/images/ratingstar-filled.svg" alt="未評価"></li>
                            }
                            for (int i = 0; i < unratedScale; i++)
                            {
                                <li><img src="~/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>
                            }
                        }

                        <li class="rate_value"> @item.AverageRating</li>
                    </ul>
                    <ul class="rate_review">
                        <li><img src="~/Content/assets/images/comment.svg" alt="コメント"></li>
                        <li class="comment_value">@item.TotalComment</li>
                    </ul>
                </div>
                <p class="club_pr"> @item.ClubDescription</p>
            </a>
            <!-- e/link -->
            <!-- s/club footer -->
            <div class="club_footer">
                <!-- s/club status -->
                <div class="club_status">
                    <!-- s/opening hours -->
                    @if (!string.IsNullOrEmpty(@item.ClubOpeningTime) && !string.IsNullOrEmpty(@item.ClubClosingTime))
                    {
                        if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "DAY")
                        {
                            <div class="opening_hours">
                                <img src="~/Content/assets/images/customer/sun.svg" alt="夜"
                                     @* @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime*@
                                <span style="line-height:13px;">
                                    @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime

                                </span>
                            </div>
                        }
                        else if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                        {
                            <div class="opening_hours">
                                <img src="/Content/assets/images/customer/moon.svg" alt="夜">
                                @* @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime*@
                                <span style="line-height:13px;">
                                    @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime

                                </span>
                            </div>
                        }

                        <!-- e/opening hours -->
                        <!-- s/available -->
                        if (!string.IsNullOrEmpty(item.TodaysClubSchedule) && item.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE" && DateTime.Parse(item.ClubClosingTime) > currentTime)
                        {
                            <div class="available">本日空席あり</div>
                        }
                        else
                        {
                            <div class="available disabled">本日空席あり</div>
                        }
                    }
                    <!-- e/available -->
                </div>
                <!-- e/club status -->
                <!-- s/reservation btn -->
                <button class="rsv_btn gradient" onclick="InitiateClubReservationFunction('@item.ClubId', '','','@PostURL')">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Book_Now
                    @* 今すぐ予約する*@
                </button>
                <!-- e/reservation btn -->
            </div>
            <!-- e/club footer -->
        </div>
    }
    <form method="post" id="pagination-form-id" hidden>
        <input name="SearchFilter" value="" hidden />
        <input name="StartIndex" id="startindex-id" value="0" hidden />
    </form>
    @if (Model.Count > 0)
    {
        <!-- for pagination -->
        <div id="pagination-container" class="flex justify-between pagination-container-wrapper my-[7px] " style="width: 100%; background: white">
            <button id="prev-btn" class="next-prev-btn" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M10.707 2.13599C10.8945 2.32351 10.9998 2.57782 10.9998 2.84299C10.9998 3.10815 10.8945 3.36246 10.707 3.54999L5.75705 8.49999L10.707 13.45C10.8892 13.6386 10.99 13.8912 10.9877 14.1534C10.9854 14.4156 10.8803 14.6664 10.6949 14.8518C10.5095 15.0372 10.2586 15.1424 9.99645 15.1447C9.73425 15.1469 9.48165 15.0461 9.29305 14.864L3.63605 9.20699C3.44858 9.01946 3.34326 8.76515 3.34326 8.49999C3.34326 8.23482 3.44858 7.98052 3.63605 7.79299L9.29305 2.13599C9.48058 1.94852 9.73488 1.8432 10 1.8432C10.2652 1.8432 10.5195 1.94852 10.707 2.13599Z" fill="#959595" />
                </svg>
            </button>
            <div id="page-numbers" class="page-number-list flex  w-full" style="justify-content:space-evenly"></div>
            <button id="next-btn" class="next-prev-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M5.29295 2.13605C5.10548 2.32358 5.00017 2.57788 5.00017 2.84305C5.00017 3.10821 5.10548 3.36252 5.29295 3.55005L10.243 8.50005L5.29295 13.45C5.11079 13.6387 5.01 13.8913 5.01228 14.1535C5.01456 14.4156 5.11973 14.6665 5.30513 14.8519C5.49054 15.0373 5.74135 15.1424 6.00355 15.1447C6.26575 15.147 6.51835 15.0462 6.70695 14.864L12.364 9.20705C12.5514 9.01952 12.6567 8.76521 12.6567 8.50005C12.6567 8.23488 12.5514 7.98058 12.364 7.79305L6.70695 2.13605C6.51942 1.94858 6.26512 1.84326 5.99995 1.84326C5.73479 1.84326 5.48048 1.94858 5.29295 2.13605Z" fill="#959595" />
                </svg>
            </button>
        </div>
    }
</div>
@if (TotalSearchResult > 0)
{
    <div style="background-color: #FFFFFF;" class="flex flex-row items-center justify-end gap-1 pr-[16px] my-[12px]">
        <div class="flex flex-row items-center justify-end gap-1 my-[12px]" id="scrollToTopButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M6.99219 7.83594H24.9858V9.68464H6.99219V7.83594ZM23.5763 23.5191L16.9187 16.6789V30.6674H15.0893V16.6789L8.43168 23.5191L7.14213 22.1942L15.989 13.1047L24.8359 22.1942L23.5763 23.5191Z" fill="black" />
                <path d="M9.81179 1.39648C9.96611 1.39648 10.0278 1.45811 10.0278 1.61217V1.67379C10.0278 1.82785 9.96611 1.88947 9.81179 1.88947H8.63897C8.6081 1.88947 8.6081 1.88947 8.6081 1.92028V6.51123C8.6081 6.54204 8.57724 6.57286 8.54637 6.57286C8.51551 6.57286 8.48465 6.54204 8.48465 6.51123V1.92028C8.48465 1.79704 8.51551 1.76623 8.63897 1.76623H9.81179C9.87352 1.76623 9.90439 1.73541 9.90439 1.67379V1.61217C9.90439 1.55054 9.87352 1.51973 9.81179 1.51973H6.84886C6.78713 1.51973 6.75627 1.55054 6.75627 1.61217V1.67379C6.75627 1.73541 6.78713 1.76623 6.84886 1.76623H8.02169C8.14514 1.76623 8.17601 1.82785 8.17601 1.92028V6.51123C8.17601 6.54204 8.14514 6.57286 8.11428 6.57286C8.08342 6.57286 8.05255 6.54204 8.05255 6.51123V1.92028C8.05255 1.88947 8.05255 1.88947 8.02169 1.88947H6.84886C6.69454 1.88947 6.63281 1.82785 6.63281 1.67379V1.61217C6.63281 1.45811 6.69454 1.39648 6.84886 1.39648H9.81179Z" fill="black" />
                <path d="M12.9571 3.15188C12.9571 2.31996 12.4941 1.82697 11.8151 1.82697C11.1052 1.82697 10.6731 2.31996 10.6731 3.15188V3.67568C10.6731 3.82973 10.6114 3.89136 10.4571 3.89136H10.3953C10.241 3.89136 10.1793 3.82973 10.1793 3.67568V3.15188C10.1793 2.01184 10.8274 1.33398 11.8151 1.33398C12.8027 1.33398 13.4509 2.01184 13.4509 3.15188V3.82973C13.4509 3.86055 13.42 3.89136 13.3891 3.89136C13.3583 3.89136 13.3274 3.86055 13.3274 3.82973V3.15188C13.3274 2.07347 12.741 1.45723 11.8151 1.45723C10.8892 1.45723 10.3028 2.10428 10.3028 3.15188V3.67568C10.3028 3.7373 10.3336 3.76811 10.3953 3.76811H10.4571C10.5188 3.76811 10.5497 3.7373 10.5497 3.67568V3.15188C10.5497 2.22752 11.0435 1.70372 11.8151 1.70372C12.5867 1.70372 13.0805 2.25834 13.0805 3.15188V3.82973C13.0805 3.86055 13.0496 3.89136 13.0188 3.89136C12.9879 3.89136 12.9571 3.86055 12.9571 3.82973V3.15188ZM10.6423 4.81571C10.6423 5.64763 11.1052 6.14061 11.7842 6.14061C12.4941 6.14061 12.9262 5.64763 12.9262 4.81571V4.29191C12.9262 4.13785 12.9879 4.07623 13.1422 4.07623H13.204C13.3583 4.07623 13.42 4.13785 13.42 4.29191V4.81571C13.42 5.95574 12.7719 6.6336 11.7842 6.6336C10.7966 6.6336 10.1484 5.95574 10.1484 4.81571V4.13785C10.1484 4.10704 10.1793 4.07623 10.2102 4.07623C10.241 4.07623 10.2719 4.10704 10.2719 4.13785V4.81571C10.2719 5.89412 10.8583 6.51035 11.7842 6.51035C12.7101 6.51035 13.2966 5.86331 13.2966 4.81571V4.29191C13.2966 4.23029 13.2657 4.19947 13.204 4.19947H13.1422C13.0805 4.19947 13.0496 4.23029 13.0496 4.29191V4.81571C13.0496 5.74006 12.5558 6.26386 11.7842 6.26386C11.0126 6.26386 10.5188 5.70925 10.5188 4.81571V4.13785C10.5188 4.10704 10.5497 4.07623 10.5805 4.07623C10.6114 4.07623 10.6423 4.10704 10.6423 4.13785V4.81571Z" fill="black" />
                <path d="M17.8352 1.39648C17.9896 1.39648 18.0513 1.45811 18.0513 1.61217V1.67379C18.0513 1.82785 17.9896 1.88947 17.8352 1.88947H16.6624C16.6315 1.88947 16.6315 1.88947 16.6315 1.92028V6.51123C16.6315 6.54204 16.6007 6.57286 16.5698 6.57286C16.5389 6.57286 16.5081 6.54204 16.5081 6.51123V1.92028C16.5081 1.79704 16.5389 1.76623 16.6624 1.76623H17.8352C17.897 1.76623 17.9278 1.73541 17.9278 1.67379V1.61217C17.9278 1.55054 17.897 1.51973 17.8352 1.51973H14.8723C14.8106 1.51973 14.7797 1.55054 14.7797 1.61217V1.67379C14.7797 1.73541 14.8106 1.76623 14.8723 1.76623H16.0451C16.1686 1.76623 16.1994 1.82785 16.1994 1.92028V6.51123C16.1994 6.54204 16.1686 6.57286 16.1377 6.57286C16.1069 6.57286 16.076 6.54204 16.076 6.51123V1.92028C16.076 1.88947 16.076 1.88947 16.0451 1.88947H14.8723C14.718 1.88947 14.6562 1.82785 14.6562 1.67379V1.61217C14.6562 1.45811 14.718 1.39648 14.8723 1.39648H17.8352Z" fill="black" />
                <path d="M21.0781 3.15188C21.0781 2.31996 20.6152 1.82697 19.9362 1.82697C19.2263 1.82697 18.7942 2.31996 18.7942 3.15188V3.67568C18.7942 3.82973 18.7325 3.89136 18.5782 3.89136H18.5164C18.3621 3.89136 18.3004 3.82973 18.3004 3.67568V3.15188C18.3004 2.01184 18.9485 1.33398 19.9362 1.33398C20.9238 1.33398 21.572 2.01184 21.572 3.15188V3.82973C21.572 3.86055 21.5411 3.89136 21.5102 3.89136C21.4794 3.89136 21.4485 3.86055 21.4485 3.82973V3.15188C21.4485 2.07347 20.8621 1.45723 19.9362 1.45723C19.0103 1.45723 18.4239 2.10428 18.4239 3.15188V3.67568C18.4239 3.7373 18.4547 3.76811 18.5164 3.76811H18.5782C18.6399 3.76811 18.6708 3.7373 18.6708 3.67568V3.15188C18.6708 2.22752 19.1646 1.70372 19.9362 1.70372C20.7078 1.70372 21.2016 2.25834 21.2016 3.15188V3.82973C21.2016 3.86055 21.1707 3.89136 21.1399 3.89136C21.109 3.89136 21.0781 3.86055 21.0781 3.82973V3.15188ZM18.7634 4.81571C18.7634 5.64763 19.2263 6.14061 19.9053 6.14061C20.6152 6.14061 21.0473 5.64763 21.0473 4.81571V4.29191C21.0473 4.13785 21.109 4.07623 21.2633 4.07623H21.3559C21.5102 4.07623 21.572 4.13785 21.572 4.29191V4.81571C21.572 5.95574 20.9238 6.6336 19.9362 6.6336C18.9485 6.6336 18.2695 5.95574 18.2695 4.81571V4.13785C18.2695 4.10704 18.3004 4.07623 18.3313 4.07623C18.3621 4.07623 18.393 4.10704 18.393 4.13785V4.81571C18.393 5.89412 18.9794 6.51035 19.9053 6.51035C20.8312 6.51035 21.4176 5.86331 21.4176 4.81571V4.29191C21.4176 4.23029 21.3868 4.19947 21.3251 4.19947H21.2633C21.2016 4.19947 21.1707 4.23029 21.1707 4.29191V4.81571C21.1707 5.74006 20.6769 6.26386 19.9053 6.26386C19.1337 6.26386 18.6399 5.70925 18.6399 4.81571V4.13785C18.6399 4.10704 18.6708 4.07623 18.7016 4.07623C18.7325 4.07623 18.7634 4.10704 18.7634 4.13785V4.81571Z" fill="black" />
                <path d="M23.8834 3.89224C24.5933 3.89224 24.9945 3.49168 24.9945 2.87545C24.9945 2.25921 24.5933 1.85866 23.8834 1.85866H22.8958C22.8649 1.85866 22.8649 1.85866 22.8649 1.88947V6.35717C22.8649 6.51123 22.8032 6.57286 22.6489 6.57286H22.5871C22.4328 6.57286 22.3711 6.51123 22.3711 6.35717V1.64298C22.3711 1.48892 22.4328 1.39648 22.618 1.39648H23.8834C24.9019 1.39648 25.4883 1.98191 25.4883 2.87545C25.4883 3.76899 24.9019 4.35441 23.8834 4.35441H23.1118C23.081 4.35441 23.0501 4.3236 23.0501 4.29279C23.0501 4.26198 23.081 4.23116 23.1118 4.23116H23.8834C24.8093 4.23116 25.3649 3.67655 25.3649 2.84464C25.3649 2.01272 24.8093 1.45811 23.8834 1.45811H22.5871C22.4945 1.45811 22.4637 1.48892 22.4637 1.58135V6.35717C22.4637 6.4188 22.4945 6.44961 22.5563 6.44961H22.618C22.6797 6.44961 22.7106 6.4188 22.7106 6.35717V1.92028C22.7106 1.79704 22.7415 1.76623 22.8649 1.76623H23.8526C24.6242 1.76623 25.0871 2.2284 25.0871 2.87545C25.0871 3.52249 24.6242 3.98467 23.8526 3.98467H23.081C23.0501 3.98467 23.0192 3.95386 23.0192 3.92305C23.0192 3.89224 23.0501 3.86142 23.081 3.86142H23.8834V3.89224Z" fill="black" />
            </svg>
        </div>
    </div>
}

@section scripts
{
    <script>
        function PreferenceRedirect(Type) {
             var prefecturesArea = '@ViewBag.PrefecturesArea';
             var searchUrl = `/search${prefecturesArea}/?TopSearch=${Type}`;
             var form = document.createElement('form');
             form.method = 'POST';
             form.action = searchUrl;
             document.body.appendChild(form);
             form.submit();
        }

        function closeImagePopup() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>

    <script>
        let currentPage =  Math.floor((@ViewBag.StartIndex) / 25) + 1;
        const totalPages = @(ViewBag.TotalRecords != null ? Math.Ceiling(Convert.ToDouble(ViewBag.TotalRecords) / 25) : 0);
        var prefecturesArea = "@ViewBag.PrefecturesArea";
        var typeValue = "@TypeValue";
        var page_size = 25;
        initializePagination(currentPage, totalPages, prefecturesArea, typeValue, page_size)
        scrollToTop();
        adjustFilterHeight();
    </script>
}
