
<div class="py-[10px] px-[16px] flex justify-between border-b border-b-[#ECECEC] sticky top-0 bg-white z-[10]" style="z-index:12">
    @if (!string.IsNullOrEmpty(@ViewBag.BackButtonURL))
    {
        <div class="flex gap-2 items-center top-[12px] left-4 text-sm" onclick="window.history.back()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="22" height="23" viewBox="0 0 22 23" fill="none">
                <path d="M15.2352 3.24084C14.786 2.79167 14.0618 2.79167 13.6127 3.24084L5.99518 10.8583C5.63768 11.2158 5.63768 11.7933 5.99518 12.1508L13.6127 19.7683C14.0618 20.2175 14.786 20.2175 15.2352 19.7683C15.6843 19.3192 15.6843 18.595 15.2352 18.1458L8.59851 11.5L15.2443 4.85417C15.6843 4.41417 15.6843 3.68084 15.2352 3.24084Z"
                      fill="#BCB08A" />
            </svg> @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
        </div>
    }
    else
    {
        <div class="flex gap-2 items-center top-[12px] left-4 text-sm" onclick="WindowHistoryBack();">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="22" height="23" viewBox="0 0 22 23" fill="none">
                <path d="M15.2352 3.24084C14.786 2.79167 14.0618 2.79167 13.6127 3.24084L5.99518 10.8583C5.63768 11.2158 5.63768 11.7933 5.99518 12.1508L13.6127 19.7683C14.0618 20.2175 14.786 20.2175 15.2352 19.7683C15.6843 19.3192 15.6843 18.595 15.2352 18.1458L8.59851 11.5L15.2443 4.85417C15.6843 4.41417 15.6843 3.68084 15.2352 3.24084Z"
                      fill="#BCB08A" />
            </svg> @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
        </div>
    }

    <div class="flex gap-4">
        @if (@Session["Username"] != null)
        {
            <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" onclick="window.location.href='@Url.Action("ViewAllNotifications", "NotificationManagement")'">
                <i class="las la-bell" style="color:#d75a88"></i>
            </div>
        }
        @if (@Session["Username"] != null)
        {
            <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" data-drawer-target="drawer-right-example"
                 data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
                <i class="las la-bars" style="color:#d75a88"></i>
            </div>
        }
        else
        {
            <div class="text-xl text-warmgray cursor-pointer" style="font-size:1.65rem" onclick="window.location.href='/login'">
                <i class="las la-bars" style="color:#d75a88"></i>
            </div>
        }
    </div>
</div>