@using Newtonsoft.Json

@functions {
    public dynamic ReadJson()
    {
        string filePath = HttpContext.Current.Server.MapPath("~/App_Data/RedirectURLConfiguration.json");
        string jsonContent = System.IO.File.ReadAllText(filePath);
        var jsonData = JsonConvert.DeserializeObject<dynamic>(jsonContent);
        return jsonData;
    }
}
@{
    var jsonData = ReadJson();
}

<!-- #region Header -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/global_v1.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/club_v2.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/customcss.css">

    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/Content/CustomHelper_v1.js"></script>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Noto+Sans+JP:wght@400;500;600;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@500;600;700&family=Roboto+Condensed:wght@500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z189BCRTWP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z189BCRTWP');</script>
    @*  <title>ホスログ | @ViewBag.Title</title>*@
    <title>@ViewBag.Title</title>

    @{
        var phase = System.Configuration.ConfigurationManager.AppSettings["phase"];
        if (!string.IsNullOrEmpty(phase) && phase.ToUpper() == "LIVE")
        {
            <meta property="og:title" content="ホスログ/公式ホームページ">
            <meta property="og:type" content="article">
            <meta property="og:url" content="https://hoslog.jp/">
            <meta property="og:image" content="https://hoslogjapan.s3.ap-northeast-1.amazonaws.com/logo.png">
        }
    }
    @*  <meta property="og:title" content="ホスログ/公式ホームページ">
        <meta property="og:type" content="article">
        <meta property="og:url" content="https://hoslog.jp/">
        <meta property="og:image" content="https://hoslogjapan.s3.ap-northeast-1.amazonaws.com/logo.png">*@
    @*<meta property="og:description" content="業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びに失敗しません☆予約時に好みをリクエスト出来て推しホストに出会いやすい！歌舞伎町を中心に全国から厳選した★★★件のホストクラブ・★★★人のホスト情報を掲載中！">*@
    <style>

        .ui-datepicker {
            /* width: max-content; */
            width: 98%;
            background-color: #FBF8F8;
            padding: 12px 8px;
            position: relative !important;
            top: unset !important;
            left: unset !important;
            border: none !important;
            font-family: "yu-gothic-pr6n", sans-serif;
            font-size: 14px;
            display: block !important;
            border-radius: 8px;
        }

        .modal-content-logout {
            max-width: 100%;
            width: 312px;
            background: #fff;
            padding: 16px;
            border-radius: 4px
        }

        .log-outButton {
            border-radius: 8px;
            background: #D75A8B;
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px; /* 100% */
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .ui-state-default {
            display: flex !important;
            align-items: center;
            justify-content: center;
            border: none !important;
            background: inherit !important;
            font-weight: normal;
            color: #454545;
            height: 36px;
            width: 36px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #FBF8F8 !important;
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active,
        .ui-widget-header .ui-state-active,
        a.ui-button:active,
        .ui-button:active,
        .ui-button.ui-state-active:hover {
            border: 1px solid #D75A8B !important;
            background: inherit !important;
            font-weight: normal;
            color: #D75A8B !important;
            text-align: center;
            border-radius: 5px;
        }

        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            border: 1px solid #D75A8B !important;
            background: #D75A8B !important;
            color: #FFFFFF !important;
            border-radius: 5px;
        }

        .ui-widget-header {
            border: none;
            background-color: inherit !important;
        }

        .ui-datepicker .ui-datepicker-title {
            text-align: left;
            margin: 0px;
            color: #44464F;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 142.857% */
            letter-spacing: 0.1px;
            padding: 10px 8px;
        }

        .ui-datepicker .ui-datepicker-prev {
            right: 45px;
            left: unset !important;
            height: 40px;
            width: 40px;
            border: 1px solid #FBF8F8;
            cursor: pointer;
        }

        .ui-datepicker .ui-datepicker-next {
            height: 40px;
            width: 40px;
            right: 10px !important;
            border: 1px solid #FBF8F8;
            cursor: pointer;
        }

            .ui-datepicker .ui-datepicker-next span {
                background-image: url("/Content/assets/images/navigate_next.svg");
                background-repeat: no-repeat;
                background-position: center;
            }

        .ui-datepicker .ui-datepicker-prev span {
            background-image: url("/Content/assets/images/navigate_before.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        .ui-datepicker th:last-child {
            color: #697DBF;
        }

        th.ui-datepicker-week-end {
            color: #D75A8B;
        }
        /*  .ui-datepicker th:nth-last-child(2) {
            color: #697DBF;
        }*/

        #selectedDateBtn {
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #D75A8B;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .disable-click {
            pointer-events: none;
        }

        .affiliation {
            display: flex;
            padding: 4px 0px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 8px;
            display: none;
        }

        .affiliationText {
            color: #999;
            text-align: center;
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
        }

        .dividerCol {
            color: #999;
            text-align: center;
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
            display: none
            /* 18.26px */
        }

        #leftcontent {
            display: none;
        }

        .modalContentWrapper {
            padding: 0 16px;
        }

        @@media (min-width: 640px) {
            body {
                /* background-image: url('../../content/assets/images/sprinkle.png');
            background-repeat: no-repeat;
            background-size: cover;*/
                background: url('/content/assets/images/sprinkle.png') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-color: none;
            }

            .modalContentWrapper {
                width: 375px !important;
                /*left: 50% !important;*/
                transform: translate(-0%, -25%) !important;
                top: 13% !important;
                position: relative !important;
                margin-top: 0% !important;
                padding: 0 16px;
                /* bottom: -40px; */
            }

            #toast-container {
                max-width: 375px !important;
                width: 100% !important;
                left: 50%;
                transform: translate(-35%);
            }

            #noscrollx {
                overflow-x: hidden;
            }


            #test {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                /* grid-template-columns: repeat(3, minmax(0, 1fr));*/
                grid-auto-columns: auto;
            }

            #innersec {
                background-color: #FFFFFF;
                width: 375px;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                overflow-y: auto;
                box-shadow: 0px 0px 24px 0px #0D102E40;
            }

            #leftcontent {
                display: flex;
            }

            #rightcontent {
                display: flex;
            }

            .transform-none {
                left: 50%;
                transform: translate(-50%);
                width: 375px;
            }

            #rightcontent img {
                max-width: 100%
            }

            .transition-transform {
                transition-property: none;
                transition-timing-function: unset;
                transition-duration: unset;
            }

            .bg-gray-900 {
                background-color: transparent;
            }

            #innerfixed {
                max-width: 300px;
                width: 100%;
                top: 35%
            }
        }

        #leftfix {
            max-width: 140px;
            width: 100%;
            top: 35%
        }

            #leftfix img {
                max-width: 130px;
            }

            #leftfix #siteurl p {
                font-size: 15px !important;
            }

        #innerfixed {
            max-width: 140px;
            width: 100%;
        }


        @@media(min-width: 1005px) {
            #leftfix {
                top: 10%;
                max-width: 300px;
            }

            #innerfixed {
                top: 10%;
                max-width: 300px;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 300px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 300px !important;
                height: 152px !important;
            }
        }

        @@media(min-width: 640px) and (max-width: 730px) {

            #innerfixed {
                top: 24% !important;
                max-width: 126px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 126px !important;
                height: 35px !important;
            }

            .imgclassfirst {
                width: 126px !important;
                height: 63px !important;
            }
        }


        @@media(min-width: 731px) and (max-width: 800px) {

            #innerfixed {
                top: 24% !important;
                max-width: 158px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 158px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 158px !important;
                height: 100px !important;
            }
        }

        @@media(min-width: 801px) and (max-width: 900px) {

            #innerfixed {
                top: 15% !important;
                max-width: 191px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 191px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 191px !important;
                height: 100px !important;
            }
        }

        @@media(min-width: 901px) and (max-width: 970px) {

            #innerfixed {
                top: 9% !important;
                max-width: 252px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 252px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 252px !important;
                height: 152px !important;
            }
        }

        @@media(min-width: 918px) and (max-width: 1004px) {

            #innerfixed {
                top: 9% !important;
                max-width: 230px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 300px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 300px !important;
                height: 152px !important;
            }
        }


    </style>

</head>
<body>
    <!-- #endregion -->
    <!-- #region Navbar -->
    <div id="test">
        <div id="leftcontent" style="margin-top: 30%; " class="flex  flex-col items-center ">
            <div id="leftfix" class="fixed">
                <div class="flex flex-row justify-center">
                    <img src="~/content/assets/images/bglogo.png" />
                </div>
                <div id="siteurl" class="flex flex-row justify-center">
                    <p style="font-size: 25px; font-weight: 600; margin-bottom: 26px" class="text-black">https://hoslog.jp/  </p>
                </div>
                <a href="@jsonData.CustomerRegistration.url" style="max-width: 300px; height: 57px; background-color: #D75A8B; border-radius: 2px; cursor: pointer; " class="flex flex-row justify-center items-center text-center">
                    <div>
                        <p style="font-size:18px;font-weight:600 ; " class="text-white">@jsonData.CustomerRegistration.text</p>
                    </div>
                </a>
                <a href="@jsonData.ClubRegistration.url" target="blank" style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor: pointer; " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <p style="font-size:18px;font-weight:600" class="text-black">@jsonData.ClubRegistration.text</p>
                    </div>
                </a>
                <a href="@jsonData.AffiliateRegistration.url" target="blank" style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor:pointer; " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <p style="font-size:18px;font-weight:600" class="text-black">@jsonData.AffiliateRegistration.text</p>
                    </div>
                </a>
            </div>



        </div>
        <div id="innersec" class="flex flex-col  justify-between h-screen">
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "Dashboard")
                {
                    Html.RenderPartial("_HomePageNavMenu");
                }
                else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "NavMenu")
                {
                    Html.RenderPartial("_NavMenu");
                }
                else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "NotificationNavNavMenu")
                {
                    Html.RenderPartial("_NotificationNavMenu");
                }
                else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "SearchNavMenu")
                {
                    Html.RenderPartial("_SearchFilterNavMenu");
                }
                else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "ClubHostDetailNavMenu")
                {
                    Html.RenderPartial("_ClubHostDetailNavMenu");
                }

                <div id="drawer-right-example"
                     class="fixed  top-0 right-0 z-[60] h-screen  overflow-y-auto transition-transform translate-x-1 bg-white w-[90%] translate-x-full" style="z-index:9999"
                     aria-labelledby="drawer-right-label">

                    <div class="h-full flex flex-col justify-between  overflow-y-auto bg-gray-50 ">
                        <div class=" font-medium">
                            <div class=" bg-[#EFEFEF] flex justify-between items-center pb-3" style="height:90px">
                                <a href="#" class="flex items-center gap-2 px-4 pt-4 group">
                                    @if ((Session["ProfileImage"] == null))
                                    {
                                        <img class="rounded-full  object-cover border border-[#E1E1E1]" style="height:60px; width:60px"
                                             src="~/Content/assets/images/customer/demo-image.jpeg" alt="profileimage">
                                    }
                                    else
                                    {
                                        <img class="rounded-full w-[40px] h-[40px] object-cover border border-[#E1E1E1]" style="height:60px; width:60px"
                                             src="@Session["ProfileImage"]" alt="profileimage">
                                    }
                                    <div class="flex flex-col gap-[2px]">

                                        <span class=" text-[#252525]  font-[700]" style="font-size: 12px; line-height: 12px;"> @Session["Username"]</span>
                                        <div class="flex flex-col">

                                            <span class=" text-[#252525] font-normal text-clip" style="font-size:11px; width:178px; ">@string.Concat("@", @Session["CustomerCode"])</span>

                                            @if (@Session["Username"] != null)
                                            {
                                                <div style="display: flex; justify-content: flex-start; align-items: center; min-width: 110px; width: fit-content; color: #E3AB00; margin-top:2px">
                                                    <span style="margin-right:2px">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                                                            <path d="M7.79167 0C6.96989 0 6.2251 0.153972 5.64323 0.44401C5.06136 0.73405 4.58333 1.20671 4.58333 1.83333V3.66667C4.58333 3.72575 4.60303 3.78304 4.61198 3.83854C4.18587 3.72754 3.71322 3.66667 3.20833 3.66667C2.38656 3.66667 1.64176 3.82064 1.0599 4.11068C0.478027 4.40072 0 4.87337 0 5.5V9.16667C0 9.79329 0.478027 10.266 1.0599 10.556C1.64176 10.846 2.38656 11 3.20833 11C4.03011 11 4.7749 10.846 5.35677 10.556C5.93864 10.266 6.41667 9.79329 6.41667 9.16667V8.98047C6.8374 9.09147 7.29753 9.16667 7.79167 9.16667C8.61344 9.16667 9.35824 9.0127 9.9401 8.72266C10.522 8.43262 11 7.95996 11 7.33333V1.83333C11 1.20671 10.522 0.73405 9.9401 0.44401C9.35824 0.153972 8.61344 0 7.79167 0ZM7.79167 0.916667C8.48991 0.916667 9.11117 1.06706 9.52474 1.27474C9.93831 1.48242 10.0833 1.70085 10.0833 1.83333C10.0833 1.96582 9.93831 2.18424 9.52474 2.39193C9.11117 2.59961 8.48991 2.75 7.79167 2.75C7.09342 2.75 6.47217 2.59961 6.05859 2.39193C5.64502 2.18424 5.5 1.96582 5.5 1.83333C5.5 1.70085 5.64502 1.48242 6.05859 1.27474C6.47217 1.06706 7.09342 0.916667 7.79167 0.916667ZM5.5 3.13672C5.54834 3.16357 5.5931 3.19759 5.64323 3.22266C6.2251 3.5127 6.96989 3.66667 7.79167 3.66667C8.61344 3.66667 9.35824 3.5127 9.9401 3.22266C9.99023 3.19759 10.035 3.16357 10.0833 3.13672V3.66667C10.0833 3.79915 9.93831 4.01758 9.52474 4.22526C9.11117 4.43294 8.48991 4.58333 7.79167 4.58333C7.09342 4.58333 6.47217 4.43294 6.05859 4.22526C5.64502 4.01758 5.5 3.79915 5.5 3.66667V3.13672ZM3.20833 4.58333C3.90658 4.58333 4.52783 4.73372 4.94141 4.94141C5.35498 5.14909 5.5 5.36751 5.5 5.5C5.5 5.63249 5.35498 5.85091 4.94141 6.05859C4.52783 6.26628 3.90658 6.41667 3.20833 6.41667C2.51009 6.41667 1.88883 6.26628 1.47526 6.05859C1.06169 5.85091 0.916667 5.63249 0.916667 5.5C0.916667 5.36751 1.06169 5.14909 1.47526 4.94141C1.88883 4.73372 2.51009 4.58333 3.20833 4.58333ZM10.0833 4.97005V5.5C10.0833 5.63249 9.93831 5.85091 9.52474 6.05859C9.11117 6.26628 8.48991 6.41667 7.79167 6.41667C7.27067 6.41667 6.79981 6.33073 6.41667 6.20182V5.5C6.41667 5.44092 6.39697 5.38363 6.38802 5.32812C6.81413 5.43913 7.28678 5.5 7.79167 5.5C8.61344 5.5 9.35824 5.34603 9.9401 5.05599C9.99023 5.03092 10.035 4.99691 10.0833 4.97005ZM0.916667 6.80339C0.965007 6.83024 1.00977 6.86426 1.0599 6.88932C1.64176 7.17936 2.38656 7.33333 3.20833 7.33333C4.03011 7.33333 4.7749 7.17936 5.35677 6.88932C5.4069 6.86426 5.45166 6.83024 5.5 6.80339V7.33333C5.5 7.46582 5.35498 7.68425 4.94141 7.89193C4.52783 8.09961 3.90658 8.25 3.20833 8.25C2.51009 8.25 1.88883 8.09961 1.47526 7.89193C1.06169 7.68425 0.916667 7.46582 0.916667 7.33333V6.80339ZM10.0833 6.80339V7.33333C10.0833 7.46582 9.93831 7.68425 9.52474 7.89193C9.11117 8.09961 8.48991 8.25 7.79167 8.25C7.27067 8.25 6.79981 8.1766 6.41667 8.04948V7.16146C6.8374 7.27246 7.29574 7.33333 7.79167 7.33333C8.61344 7.33333 9.35824 7.17936 9.9401 6.88932C9.99023 6.86426 10.035 6.83024 10.0833 6.80339ZM0.916667 8.63672C0.965007 8.66357 1.00977 8.69759 1.0599 8.72266C1.64176 9.0127 2.38656 9.16667 3.20833 9.16667C4.03011 9.16667 4.7749 9.0127 5.35677 8.72266C5.4069 8.69759 5.45166 8.66357 5.5 8.63672V9.16667C5.5 9.29915 5.35498 9.51758 4.94141 9.72526C4.52783 9.93294 3.90658 10.0833 3.20833 10.0833C2.51009 10.0833 1.88883 9.93294 1.47526 9.72526C1.06169 9.51758 0.916667 9.29915 0.916667 9.16667V8.63672Z" fill="#E3AB00" />
                                                        </svg>
                                                    </span>
                                                    <span class="  font-normal text-clip" style="font-size:11px;font-weight:500; ">@Session["Amount"] pt</span>

                                                </div>
                                            }
                                        </div>
                                        @*<span class="ml-[12px] text-[#252525]  font-normal text-clip" style="font-size:14px; width:178px">@Session["Amount"]</span>*@
                                        <span class="ml-[12px] flex justify-start gap-[2px] items-center">
                                        </span>
                                    </div>
                                </a>
                                <button type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example"
                                        class=" flex flex-col justify-center items-center z-50 pr-[18px] pt-[6px]" onclick="NavCloseFunction();">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                        <path d="M4.80859 18.3535L5.81229 19.4923L19.1889 7.18757L18.1852 6.04875L4.80859 18.3535Z"
                                              fill="#BCB08A" />
                                        <path d="M4.99926 7.25692L6.01562 6.12988L19.2538 18.5899L18.2374 19.717L4.99926 7.25692Z"
                                              fill="#BCB08A" />
                                    </svg>
                                    <span class="text-[#BCB08A] text-[10px] font-normal leading-[18px]">
                                        閉じる
                                    </span>
                                </button>
                            </div>
                            <div>
                                <a href="/user/account/profile" class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height:45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12 3.75C10.6084 3.75264 9.2746 4.30662 8.29061 5.29061C7.30661 6.2746 6.75264 7.60843 6.75 9C6.75114 9.86096 6.9632 10.7085 7.36763 11.4686C7.77207 12.2287 8.35656 12.8781 9.07 13.36C6.396 14.508 4.5 17.162 4.5 20.25H6C6 16.928 8.678 14.25 12 14.25C15.322 14.25 18 16.928 18 20.25H19.5C19.5 17.162 17.605 14.508 14.93 13.36C15.6436 12.8782 16.2281 12.2288 16.6326 11.4687C17.0371 10.7086 17.249 9.861 17.25 9C17.2474 7.60843 16.6934 6.2746 15.7094 5.29061C14.7254 4.30662 13.3916 3.75264 12 3.75ZM12 5.25C14.08 5.25 15.75 6.92 15.75 9C15.75 11.08 14.08 12.75 12 12.75C9.92 12.75 8.25 11.08 8.25 9C8.25 6.92 9.92 5.25 12 5.25Z"
                                              fill="#D75A8B" />
                                    </svg>
                                    <span class="ml-[10px] text-[14px]">
                                        プロフィール編集
                                    </span>
                                </a>
                            </div>
                            <div class="">
                                <a href="@Url.Action("ReservationHistory", "ReservationHistoryManagementV2")" class="flex items-center  py-[10px] px-4  rounded-lg  group " style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12 3C8.87402 3 6.11426 4.58496 4.5 7.00781V4.5H3V9.75H8.25V8.25H5.53125C6.82617 6.01465 9.22266 4.5 12 4.5C16.1514 4.5 19.5 7.84863 19.5 12C19.5 16.1514 16.1514 19.5 12 19.5C7.84863 19.5 4.5 16.1514 4.5 12H3C3 16.9629 7.03711 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM11.25 6V12.75H16.5V11.25H12.75V6H11.25Z"
                                              fill="#D75A8B" />
                                    </svg>
                                    <span class="ml-[10px] text-[14px]">予約確認・変更</span>
                                </a>
                            </div>
                            <div class="">
                                <a href="/user/account/review" class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M2.25 4.5V19.5H9.43945L12 22.0605L14.5605 19.5H21.75V4.5H2.25ZM3.75 6H20.25V18H13.9395L12 19.9395L10.0605 18H3.75V6ZM6.75 8.25V9.75H17.25V8.25H6.75ZM6.75 11.25V12.75H17.25V11.25H6.75ZM6.75 14.25V15.75H14.25V14.25H6.75Z"
                                              fill="#D75A8B" />
                                    </svg>
                                    <span class="ml-[10px] text-[14px] ">レビュー投稿</span>
                                </a>
                            </div>
                            <div class="">
                                <a href="/user/account/bookmark/?bmktab=01" class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M5.25 3.375V20.625L6.44531 19.7344L12 15.5625L17.5547 19.7344L18.75 20.625V3.375H5.25ZM6.75 4.875H17.25V17.625L12.4453 14.0156L12 13.6875L11.5547 14.0156L6.75 17.625V4.875Z" fill="#D75A8B" />
                                    </svg>

                                    <span class="ml-[10px] text-[14px] ">ブックマーク</span>
                                </a>
                            </div>


                            <div class="">
                                <a href="/profileManagement/points"
                                   class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M15.75 3C14.4053 3 13.1865 3.25195 12.2344 3.72656C11.2822 4.20117 10.5 4.97461 10.5 6V9C10.5 9.09668 10.5322 9.19043 10.5469 9.28125C9.84961 9.09961 9.07617 9 8.25 9C6.90527 9 5.68652 9.25195 4.73438 9.72656C3.78223 10.2012 3 10.9746 3 12V18C3 19.0254 3.78223 19.7988 4.73438 20.2734C5.68652 20.748 6.90527 21 8.25 21C9.59473 21 10.8135 20.748 11.7656 20.2734C12.7178 19.7988 13.5 19.0254 13.5 18V17.6953C14.1885 17.877 14.9414 18 15.75 18C17.0947 18 18.3135 17.748 19.2656 17.2734C20.2178 16.7988 21 16.0254 21 15V6C21 4.97461 20.2178 4.20117 19.2656 3.72656C18.3135 3.25195 17.0947 3 15.75 3ZM15.75 4.5C16.8926 4.5 17.9092 4.74609 18.5859 5.08594C19.2627 5.42578 19.5 5.7832 19.5 6C19.5 6.2168 19.2627 6.57422 18.5859 6.91406C17.9092 7.25391 16.8926 7.5 15.75 7.5C14.6074 7.5 13.5908 7.25391 12.9141 6.91406C12.2373 6.57422 12 6.2168 12 6C12 5.7832 12.2373 5.42578 12.9141 5.08594C13.5908 4.74609 14.6074 4.5 15.75 4.5ZM12 8.13281C12.0791 8.17676 12.1523 8.23242 12.2344 8.27344C13.1865 8.74805 14.4053 9 15.75 9C17.0947 9 18.3135 8.74805 19.2656 8.27344C19.3477 8.23242 19.4209 8.17676 19.5 8.13281V9C19.5 9.2168 19.2627 9.57422 18.5859 9.91406C17.9092 10.2539 16.8926 10.5 15.75 10.5C14.6074 10.5 13.5908 10.2539 12.9141 9.91406C12.2373 9.57422 12 9.2168 12 9V8.13281ZM8.25 10.5C9.39258 10.5 10.4092 10.7461 11.0859 11.0859C11.7627 11.4258 12 11.7832 12 12C12 12.2168 11.7627 12.5742 11.0859 12.9141C10.4092 13.2539 9.39258 13.5 8.25 13.5C7.10742 13.5 6.09082 13.2539 5.41406 12.9141C4.7373 12.5742 4.5 12.2168 4.5 12C4.5 11.7832 4.7373 11.4258 5.41406 11.0859C6.09082 10.7461 7.10742 10.5 8.25 10.5ZM19.5 11.1328V12C19.5 12.2168 19.2627 12.5742 18.5859 12.9141C17.9092 13.2539 16.8926 13.5 15.75 13.5C14.8975 13.5 14.127 13.3594 13.5 13.1484V12C13.5 11.9033 13.4678 11.8096 13.4531 11.7188C14.1504 11.9004 14.9238 12 15.75 12C17.0947 12 18.3135 11.748 19.2656 11.2734C19.3477 11.2324 19.4209 11.1768 19.5 11.1328ZM4.5 14.1328C4.5791 14.1768 4.65234 14.2324 4.73438 14.2734C5.68652 14.748 6.90527 15 8.25 15C9.59473 15 10.8135 14.748 11.7656 14.2734C11.8477 14.2324 11.9209 14.1768 12 14.1328V15C12 15.2168 11.7627 15.5742 11.0859 15.9141C10.4092 16.2539 9.39258 16.5 8.25 16.5C7.10742 16.5 6.09082 16.2539 5.41406 15.9141C4.7373 15.5742 4.5 15.2168 4.5 15V14.1328ZM19.5 14.1328V15C19.5 15.2168 19.2627 15.5742 18.5859 15.9141C17.9092 16.2539 16.8926 16.5 15.75 16.5C14.8975 16.5 14.127 16.3799 13.5 16.1719V14.7188C14.1885 14.9004 14.9385 15 15.75 15C17.0947 15 18.3135 14.748 19.2656 14.2734C19.3477 14.2324 19.4209 14.1768 19.5 14.1328ZM4.5 17.1328C4.5791 17.1768 4.65234 17.2324 4.73438 17.2734C5.68652 17.748 6.90527 18 8.25 18C9.59473 18 10.8135 17.748 11.7656 17.2734C11.8477 17.2324 11.9209 17.1768 12 17.1328V18C12 18.2168 11.7627 18.5742 11.0859 18.9141C10.4092 19.2539 9.39258 19.5 8.25 19.5C7.10742 19.5 6.09082 19.2539 5.41406 18.9141C4.7373 18.5742 4.5 18.2168 4.5 18V17.1328Z" fill="#D75A8B" />
                                    </svg>
                                    <span class="ml-[10px] text-[14px] ">
                                        ポイント履歴
                                    </span>
                                </a>
                            </div>

                            <div class="">
                                <a href="/user/account/password/edit"
                                   class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M15 2.25C11.291 2.25 8.25 5.29102 8.25 9C8.25 9.38965 8.31445 9.73242 8.36719 10.0781L2.46094 15.9609L2.25 16.1953V21.75H7.5V19.5H9.75V17.25H12V15.0234C12.8848 15.457 13.916 15.75 15 15.75C18.709 15.75 21.75 12.709 21.75 9C21.75 5.29102 18.709 2.25 15 2.25ZM15 3.75C17.8916 3.75 20.25 6.1084 20.25 9C20.25 11.8916 17.8916 14.25 15 14.25C14.0918 14.25 13.1572 13.9834 12.4453 13.5938L12.2578 13.5H10.5V15.75H8.25V18H6V20.25H3.75V16.8281L9.67969 10.875L9.96094 10.6172L9.89062 10.2188C9.81445 9.76758 9.75 9.36621 9.75 9C9.75 6.1084 12.1084 3.75 15 3.75ZM16.5 6C15.6709 6 15 6.6709 15 7.5C15 8.3291 15.6709 9 16.5 9C17.3291 9 18 8.3291 18 7.5C18 6.6709 17.3291 6 16.5 6Z"
                                              fill="#D75A8B" />
                                    </svg>
                                    <span class="ml-[10px] text-[14px] ">パスワード変更</span>
                                </a>
                            </div>
                            @if (Session["Username"] != null)
                            {
                                <div class="" onclick="openModal('modal2')">
                                    <div class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; cursor: pointer; font-weight:700">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <g opacity="0.6">
                                                <path d="M12 3C7.81641 3 4.30664 5.87402 3.30469 9.75H4.85156C5.80957 6.70898 8.64844 4.5 12 4.5C16.1367 4.5 19.5 7.86328 19.5 12C19.5 16.1367 16.1367 19.5 12 19.5C8.64844 19.5 5.80957 17.291 4.85156 14.25H3.30469C4.30664 18.126 7.81641 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM11.5078 8.46094L10.4297 9.53906L12.1406 11.25H3V12.75H12.1406L10.4297 14.4609L11.5078 15.5391L14.5078 12.5391L15.0234 12L14.5078 11.4609L11.5078 8.46094Z"
                                                      fill="#BCB08A" />
                                            </g>
                                        </svg>
                                        <span class="ml-[10px] text-[14px] ">ログアウト</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="">
                                    <a href="/login"
                                       class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; cursor: pointer ;font-weight:700">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <g opacity="0.6">
                                                <path d="M12 3C7.81641 3 4.30664 5.87402 3.30469 9.75H4.85156C5.80957 6.70898 8.64844 4.5 12 4.5C16.1367 4.5 19.5 7.86328 19.5 12C19.5 16.1367 16.1367 19.5 12 19.5C8.64844 19.5 5.80957 17.291 4.85156 14.25H3.30469C4.30664 18.126 7.81641 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM11.5078 8.46094L10.4297 9.53906L12.1406 11.25H3V12.75H12.1406L10.4297 14.4609L11.5078 15.5391L14.5078 12.5391L15.0234 12L14.5078 11.4609L11.5078 8.46094Z"
                                                      fill="#BCB08A" />
                                            </g>
                                        </svg>
                                        <span class="ml-[10px] text-[14px] ">ログイン</span>
                                    </a>
                                </div>
                            }

                            <!-- divider -->
                            <hr class="my-2">
                        </div>
                    </div>
                </div>


                <!-- #endregion -->
                <!----Render Body section start-->
                <div id="noscrollx">
                    <input type="text" id="current-location-id" value="/tokyo/kabukicho" hidden />
                    @Html.AntiForgeryToken()
                    @RenderBody()
                    <div class="loader" id="loader-id-v2" style="display:none;">
                        <img src="~/Content/assets/images/loader.gif" class="h-[150px]" style="opacity:100%" />
                    </div>
                    <div id="clubreservationpartialview-id">

                    </div>

                    <div id="locationfilterpopup-id">

                    </div>

                    <div id="preferencefilterpopUp-id">

                    </div>
                    <div id="datetimefilterpopup-id">

                    </div>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && (ViewBag.ActionPageName == "Dashboard" || ViewBag.ActionPageName == "SearchFilter"))
            {
                <div>
                    <div class="py-4 px-[33px] bg-primary-100 flex justify-between items-center">
                        @{
                            var SystemLinkModel = ApplicationUtilities.GetSessionValue("SystemLinkModel") as List<CRS.CUSTOMER.APPLICATION.Models.Home.SystemLinkModel>;

                            if (SystemLinkModel != null && SystemLinkModel.Count > 0)
                            {
                                int i = 0;
                                foreach (var item in SystemLinkModel)
                                {
                                    <a href="@item.Link" target="_blank">
                                        <img class="h-[24px] w-[24px]" src="@item.PlatformImage" />
                                    </a>
                                    bool isLastItem = ++i == SystemLinkModel.Count;
                                    if (!isLastItem)
                                    {<div class="w-[1px] h-[16px] bg-[#ffffff99]"></div>}
                                }
                            }
                        }
                    </div>
                    <div class="footer bg-footer">
                        <div class="footer-logo px-4 pt-[12px] pb-[16px]" style="padding-top:12px">
                            <img class="" src="~/Content/assets/images/logo_2.svg" />
                        </div>
                        <div class="p-4">
                            <!--#region need to uncomment-->
                            <div class="footer-link text-white grid grid-cols-2 ">
                                <div class="flex flex-col gap-[8px]">
                                    <!--<a href="/company" class="text-xs">-->
                                    @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.OperatingCompany*@
                                    <!--運営会社
                                </a>-->
                                    <a href="/faq" class="text-xs">
                                        よくあるご質問
                                        @*  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Hoslog_Limited_Plan*@
                                    </a>
                                    <a href="/support" class="text-xs">
                                        @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.UserGuide*@
                                        お問い合わせ
                                    </a>

                                    @* <a href="/faq" class="text-xs">
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.FAQ
                                    </a>*@
                                </div>
                                <div class="flex flex-col gap-[8px]">

                                    <a href="@Url.Action("Register","Home")" class="text-xs">
                                        @*  @crs.customer.application.resources.resource.inquiry*@
                                        新規会員登録(無料)
                                    </a>
                                    <a href="/company" class="text-xs">
                                        @*   @CRS.CUSTOMER.APPLICATION.Resources.Resource.OperatingCompany*@
                                        運営会社
                                    </a>
                                    <a href="/policy" class="text-xs">
                                        プライバシーポリシー
                                        @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.PrivacyPolicy*@
                                    </a>
                                    <a href="/rule" class="text-xs">
                                        @* terms and condition*@
                                        ホスログ利用規約
                                    </a>
                                    <!--<a href="" class="text-xs" style="height:16px">-->
                                    @* 運営会社*@
                                    <!--</a>-->
                                    @*                                <a href="https://hoslog.jp/" class="text-xs">
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Register_an_Account
                                    </a>*@
                                </div>
                            </div>

                            @* divider*@
                            <div style="border-top: 1px dashed #999999; padding: 0 16px; margin-top: 14px"></div>

                            <div class="text-[#999999] font-bold text-[11px] flex gap-[8px] justify-center py-2 mt-2">
                                <a target="_blank" href="@jsonData.AffiliateRegistration.url">
                                    アフィリエイト登録
                                </a>

                                <div class="w-[11px] flex justify-center"> | </div>

                                <a href="@jsonData.ClubRegistration.url" target="_blank">
                                    店舗オーナー登録
                                </a>
                            </div>
                            <!--#endregion need to uncomment-->

                            <div class="affiliation">
                                <div class="affiliationText">
                                    <a href="http://43.207.72.221:93/" style="">アフィリエイター登録</a>
                                </div>
                                <div class="dividerCol">|</div>
                                <div class="affiliationText"><a href="http://43.207.72.221:92/" style=""> 店舗オーナー登録 </a></div>
                            </div>


                            <div class=" my-4 p-[8px] border rounded-[4px] border-[#393939] bg-[#232323] text-center text-white" style="font-size: 0.7rem;">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.WarningNotes
                            </div>
                            <div class='text-center  text-white' style="font-size:12px">© <span> 2019 - @DateTime.Now.Year </span>  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Hoslog</div>
                        </div>
                    </div>
                </div>
            }
        </div>








        <!--<div id="rightcontent" style="margin-top: 10%; " class="flex flex-col items-center">
        <div id="innerfixed" class="fixed   flex flex-col gap-2">-->
        @* <div >*@
        <!--<img src="~/content/assets/images/hpi1.jpeg" style="width:inherit" />-->
        @* </div>
        <div>*@
        <!--<img src="~/content/assets/images/hpi2.jpeg" style="width:inherit" />-->
        @*  </div>
        <div>*@
        <!--<img src="~/content/assets/images/hpi3.jpeg" style="width:inherit" />-->
        @*</div>
        <div>*@
        <!--<img src="~/content/assets/images/hpi4.jpeg" style="width:inherit" />-->
        @*  </div>
        <div>*@
        <!--<img src="~/content/assets/images/hpi5.jpeg" style="width:inherit" />-->
        @* </div>
        <div>*@
        <!--<img src="~/content/assets/images/hpi6.jpeg" style="width:inherit" />-->
        @*  </div>*@
        <!--</div>

    </div>-->

        <div id="rightcontent" style="margin-top: 10%; " class="flex flex-col items-center">
            <div id="innerfixed" class="fixed   flex flex-col gap-2">
                @{
                    if (Session["AdvertisementImage"] != null)
                    {
                        var advertisementimage = Session["AdvertisementImage"] as List<string>;
                        if (advertisementimage != null && advertisementimage.Count > 0)
                        {
                            var i = 0;
                            foreach (var item in advertisementimage)
                            {
                                @*<img src="@item"  style="width:300px;height:152px;"/>*@
                                if (i < 2)
                                {
                                    <div class="image-container">
                                        <img src="@item" class="imgclassfirst" />
                                    </div>
                                }
                                else
                                {
                                    <div class="image-container">
                                        <img src="@item" class="imgclasssecond" />
                                    </div>
                                }

                                i++;

                            }
                        }
                    }

                }
                </div>

            </div>

            <div id="modal2" class="modal modalWrapper bg-[#fff] w-[132px]" style="display:none; border-radius:12px; z-index:10000;">
                <div class="modal-content-logout flex gap-[24px] flex-col">
                    <div class="font-normal text-[16px] text-[#1A1C1E]">
                        ログアウトしてもよろしいですか？
                    </div>

                    <div class="flex gap-3 justify-center">
                        <a href="@Url.Action("LogOff", "Home")" class="log-outButton w-[120px]">
                            はい
                        </a>
                        <div style="cursor:pointer" onclick="closeModal('modal2')" class="flex justify-center items-center underline w-[120px]">
                            いいえ
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('select').select2({
                        minimumResultsForSearch: Infinity
                    });
                    setInterval(NotificationFunction, 20000);
                    // Get current URL
                    var currentUrl = window.location.href;
                    // Parse query string from current URL
                    var QueryData = ParseQueryString(currentUrl);
                    var PostURL = QueryData['PostURL'];
                    if (PostURL) {
                        var IsRedirectURL = QueryData['IsRedirectURL'];
                        var FunctionName = QueryData['FunctionName'];
                        var ClubId = QueryData['ClubId'];
                        var SelectedDate = QueryData['SelectedDate'];
                        var SelectedHost = QueryData['SelectedHost'];
                        var hostId = QueryData['hostId'];
                        var agentType = QueryData['agentType'];
                        var dynamicParams = {};

                        // Iterate over QueryData to populate dynamicParams
                        Object.keys(QueryData).forEach(key => {
                            // Exclude 'PostURL' from dynamicParams
                            if (key !== 'PostURL') {
                                dynamicParams[key] = QueryData[key];
                            }
                        });

                        // Create a form element
                        var form = document.createElement('form');
                        form.method = 'POST';
                        var actionURL = new URL(PostURL, window.location.origin);
                        if (IsRedirectURL) {
                            actionURL.searchParams.append('IsRedirectURL', IsRedirectURL);
                        }
                        if (FunctionName) {
                            actionURL.searchParams.append('FunctionName', FunctionName);
                        }

                        if (ClubId) {
                            actionURL.searchParams.append('ClubId', ClubId);
                        }

                        if (SelectedDate) {
                            actionURL.searchParams.append('SelectedDate', SelectedDate);
                        }

                        if (SelectedHost) {
                            actionURL.searchParams.append('SelectedHost', SelectedHost);
                        }

                        if (hostId) {
                            actionURL.searchParams.append('hostId', hostId);
                        }

                        if (agentType) {
                            actionURL.searchParams.append('agentType', agentType);
                        }
                        form.action = actionURL.toString();

                        // Append dynamicParams as hidden form inputs
                        Object.keys(dynamicParams).forEach(key => {
                            var input = document.createElement('input');
                            input.type = 'hidden';
                            input.name = key;
                            input.value = dynamicParams[key];
                            form.appendChild(input);
                        });

                        // Append the form to the document body and submit it
                        document.body.appendChild(form);
                        form.submit();
                    }
                    else {
                        CheckIfHasRedirectFunction();
                    }
                });

                function ParseQueryString(url) {
                    let queryString = url.split('?')[1] || '';
                    let queryObject = {};
                    queryString.split('&').forEach(function (part) {
                        let item = part.split('=');
                        queryObject[item[0]] = decodeURIComponent(item[1]);
                    });
                    return queryObject;
                }</script>
            <!-- #endregion -->
            <!-- #region Fotter-links -->
            <script src="~/Content/assets/js/modal.js"></script>

            <script src="~/Content/assets/js/slider.js"></script>
            <script src="~/Content/assets/js/tabs.js"></script>
            <script src="~/Content/assets/js/toogle.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
                    integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
            <script>
                // Get the button

                let mybutton = document.getElementById("myBtn");
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };
                function scrollFunction() {
                    if (mybutton) {
                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                            mybutton.style.display = "block";
                        } else {
                            mybutton.style.display = "none";
                        }
                    }
                }
                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }</script>

            <script>
    //For toaster Notification
    $(function () {
    {
        @if (TempData["Notifications"] != null)
        {
            var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
            foreach (var note in messages)
            {
                <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
                 @*<text>showNotification("@note.Message", "", "@note.NotificationType");</text>*@
            }

        }
        @{
            ViewBag.Notifications = string.Empty;
        }
        }
    });
            function NotificationFunction() {
                $.ajax({
                    url: '/NotificationManagement/HasUnReadNotification',
                    type: 'POST',
                    success: function (result) {
                        if (result.HasUnReadNotification && document.getElementById("notification-bell-id")) {
                            document.getElementById("notification-bell-id").getElementsByTagName("span")[0].style.display = "block";
                        }
                        else {
                        }
                    },
                    error: function () {
                    }
                });
            }

            </script>

            <script>
                function OnLoadLoaderFunction() {
                    document.getElementById('loader-id-v2').style.display = 'flex';
                    document.body.addEventListener('touchmove', preventDefault, { passive: false });
                    document.body.classList.add('no-scroll-loader');
                    setTimeout(function () {
                        document.getElementById('loader-id-v2').style.display = 'none';
                        document.body.removeEventListener('touchmove', preventDefault, { passive: false });
                        document.body.classList.remove('no-scroll-loader');
                    }, 10000);
                }
                function preventDefault(event) {
                    event.preventDefault();
                }
                function EnableLoaderFunction() {
                    document.getElementById('loader-id-v2').style.display = 'flex';
                    document.body.addEventListener('touchmove', preventDefault, { passive: false });
                    document.body.classList.add('no-scroll-loader');
                }
                function DisableLoaderFunction() {
                    document.getElementById('loader-id-v2').style.display = 'none';
                    document.body.removeEventListener('touchmove', preventDefault, { passive: false });
                    document.body.classList.remove('no-scroll-loader');
                }

                function NavCloseFunction() {
                    document.getElementById('drawer-right-example').classList.add('translate-x-full');
                }</script>
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
            <script src="~/Content/assets/js/reservation-common.js"></script>
            <script src="~/Content/assets/js/search-filter-common.js"></script>
            <script src="~/Content/assets/js/ManageRedirectURL.js"></script>
            <script src="~/Content/assets/js/BookmarkManagement.js"></script>
            <script>
        function WindowHistoryBack() {
            var previousUrl = document.referrer;
            if (isLoginPageWithReturnUrl(previousUrl)) {
                window.location.href = '/';
            }
            else {
                WindowBackForNavMenu('@TempData["BackFromMenuBar"]')
            }
        }
        GotoNavMenu()
        function isLoginPageWithReturnUrl(url) {
            return url.includes("ReturnURL");
        }

        if (/iPad|iPhone|iPod/.test(navigator.userAgent)) {
            document.body.style.overscrollBehaviorY = 'contain';
        }

        function HostDetailRedirectFunction(HostCode, ClubCode, PrefecturesArea) {
            var url = `/area${PrefecturesArea}/hostclub/${encodeURIComponent(ClubCode)}/${HostCode}`;
            window.location.href = url;
        }

        function ClubDetailRedirectFunction(ClubCode, PrefecturesArea) {
            var url = `/area${PrefecturesArea}/hostclub/${encodeURIComponent(ClubCode)}/`;
            window.location.href = url;
        }</script>
            @RenderSection("scripts", required: false)
</body>
</html>
<!-- #endregion -->