<!-- #region Header -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/global.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/customcss.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Noto+Sans+JP:wght@400;500;600;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@500;600;700&family=Roboto+Condensed:wght@500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z189BCRTWP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z189BCRTWP');
    </script>
    @*  <title>ホスログ | @ViewBag.Title</title>*@
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="ホスログ/公式ホームページ">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://hoslog.jp/">
    <meta property="og:image" content="https://hoslog.jp/Content/assets/images/customer/demo-image.jpeg">
    <meta property="og:description" content="業界初！ホストクラブの初回来店がネット予約出来る「ホスログ」。ランキングやレビュー（口コミ）でお店選びに失敗しません☆予約時に好みをリクエスト出来て推しホストに出会いやすい！歌舞伎町を中心に全国から厳選した★★★件のホストクラブ・★★★人のホスト情報を掲載中！">
    <style>
        .ui-datepicker {
            /* width: max-content; */
            width: 98%;
            background-color: #FBF8F8;
            padding: 12px 8px;
            position: relative !important;
            top: unset !important;
            left: unset !important;
            border: none !important;
            font-family: "Noto Sans", sans-serif;
            font-size: 14px;
            display: block !important;
            border-radius: 8px;
        }


        .ui-state-default {
            display: flex !important;
            align-items: center;
            justify-content: center;
            border: none !important;
            background: inherit !important;
            font-weight: normal;
            color: #454545;
            height: 36px;
            width: 36px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #FBF8F8 !important;
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active,
        .ui-widget-header .ui-state-active,
        a.ui-button:active,
        .ui-button:active,
        .ui-button.ui-state-active:hover {
            border: 1px solid #D75A8B !important;
            background: inherit !important;
            font-weight: normal;
            color: #D75A8B !important;
            text-align: center;
            border-radius: 5px;
        }

        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            border: 1px solid #D75A8B !important;
            background: #D75A8B !important;
            color: #FFFFFF !important;
            border-radius: 5px;
        }

        .ui-widget-header {
            border: none;
            background-color: inherit !important;
        }

        .ui-datepicker .ui-datepicker-title {
            text-align: left;
            margin: 0px;
            color: #44464F;
            font-family: "Noto Sans JP";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            /* 142.857% */
            letter-spacing: 0.1px;
            padding: 10px 8px;
        }

        .ui-datepicker .ui-datepicker-prev {
            right: 45px;
            left: unset !important;
            height: 40px;
            width: 40px;
            border: 1px solid #FBF8F8;
            cursor: pointer;
        }

        .ui-datepicker .ui-datepicker-next {
            height: 40px;
            width: 40px;
            right: 10px !important;
            border: 1px solid #FBF8F8;
            cursor: pointer;
        }

            .ui-datepicker .ui-datepicker-next span {
                background-image: url("../../Content/assets/images/navigate_next.svg");
                background-repeat: no-repeat;
                background-position: center;
            }

        .ui-datepicker .ui-datepicker-prev span {
            background-image: url("../../Content/assets/images/navigate_before.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        .ui-datepicker th:last-child {
            color: #D75A8B;
        }

        .ui-datepicker th:nth-last-child(2) {
            color: #697DBF;
        }

        #selectedDateBtn {
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #D75A8B;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .disable-click {
            pointer-events: none;
        }

        .affiliation {
            display: flex;
            padding: 4px 0px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 8px;
            display: none;
        }

        .affiliationText {
            color: #999;
            text-align: center;
            font-family: "Noto Sans JP";
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
        }

        .dividerCol {
            color: #999;
            text-align: center;
            font-family: "Noto Sans JP";
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
            display: none
            /* 18.26px */
        }
    </style>
</head>
<body class="md:hidden">
    <!-- #endregion -->
    <!-- #region Navbar -->
    <div class="flex flex-col  justify-between h-screen">
        <div>
            @if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "Dashboard")
            {
                Html.RenderPartial("_HomePageNavMenu");
            }
            else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "NavMenu")
            {
                Html.RenderPartial("_NavMenu");
            }
            else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "NotificationNavNavMenu")
            {
                Html.RenderPartial("_NotificationNavMenu");
            }
            else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "SearchNavMenu")
            {
                Html.RenderPartial("_SearchFilterNavMenu");
            }
            else if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && ViewBag.ActionPageName == "ClubHostDetailNavMenu")
            {
                Html.RenderPartial("_ClubHostDetailNavMenu");
            }

            <div id="drawer-right-example"
                 class="fixed  top-0 right-0 z-[60] h-screen  overflow-y-auto transition-transform translate-x-1 bg-white w-[90%] translate-x-full" style="z-index:9999"
                 aria-labelledby="drawer-right-label">

                <div class="h-full flex flex-col justify-between  overflow-y-auto bg-gray-50 ">
                    <div class=" font-medium">
                        <div class=" bg-[#EFEFEF] flex justify-between items-center pb-3" style="height:90px">
                            <a href="#" class="flex items-center px-4 pt-4 group">
                                @if ((Session["ProfileImage"] == null))
                                {
                                    <img class="rounded-full  object-cover border border-[#E1E1E1]" style="height:60px; width:60px"
                                         src="~/Content/assets/images/customer/demo-image.jpeg" alt="profileimage">
                                }
                                else
                                {
                                    <img class="rounded-full w-[40px] h-[40px] object-cover border border-[#E1E1E1]" style="height:60px; width:60px"
                                         src="@Session["ProfileImage"]" alt="profileimage">
                                }
                                <div class="flex flex-col">

                                    <span class="ml-[12px] text-[#252525]  font-[700]" style="font-size:16px"> @Session["Username"]</span>
                                    <span class="ml-[12px] text-[#252525]  font-normal text-clip" style="font-size:14px; width:178px">@Session["EmailAddress"]</span>

                                    @if (@Session["Username"] != null)
                                    {
                                        <div style="display: flex; justify-content: flex-start; align-items: center; border: 1px solid #F89336; border-radius: 3px; min-width: 110px; width: fit-content; color: #F89336; " class="ml-[12px]">
                                            <span style="margin-right:4px">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                    <path d="M5.38429 4.16669C4.90152 4.16669 4.40272 4.33948 4.00608 4.66799C3.60945 4.99649 3.33301 5.50159 3.33301 6.11113C3.33301 6.62762 3.56137 7.06816 3.84583 7.41755C4.13028 7.76695 4.47483 8.04228 4.79134 8.31382C5.42435 8.8569 5.89711 9.30313 5.89711 10C5.89711 10.0741 5.82099 10.2526 5.72083 10.395C5.62067 10.5374 5.52852 10.6228 5.52852 10.6228L6.2657 11.3064C6.2657 11.3064 6.42996 11.1507 6.58621 10.9267C6.72043 10.7349 6.86666 10.488 6.90673 10.1671C6.96482 10.3247 7.02091 10.4861 7.08301 10.638C7.43557 11.5001 7.84222 12.273 8.30096 12.8559C8.46722 13.0686 8.6395 13.2566 8.8298 13.418C7.77011 13.4901 6.92275 14.3256 6.92275 15.3472V15.8334H13.0766V15.3472C13.0766 14.3143 12.2132 13.475 11.1375 13.418C11.3298 13.2566 11.5141 13.0667 11.6824 12.8559C12.1431 12.2749 12.5437 11.5001 12.9003 10.638C12.9664 10.4766 13.0305 10.3038 13.0926 10.1367C13.1267 10.4709 13.2749 10.7292 13.4131 10.9267C13.5694 11.1507 13.7336 11.3064 13.7336 11.3064L14.4708 10.6228C14.4708 10.6228 14.3787 10.5374 14.2785 10.395C14.1784 10.2526 14.1022 10.0741 14.1022 10C14.1022 9.30313 14.575 8.8569 15.208 8.31382C15.5245 8.04228 15.8691 7.76695 16.1535 7.41755C16.438 7.06816 16.6663 6.62762 16.6663 6.11113C16.6663 5.50159 16.3899 4.99649 15.9933 4.66799C15.5966 4.33948 15.0978 4.16669 14.6151 4.16669C13.96 4.16669 13.5113 4.44962 13.2689 4.6528H6.73044C6.48806 4.44962 6.03934 4.16669 5.38429 4.16669ZM5.38429 5.13891C5.62668 5.13891 5.78293 5.21107 5.89711 5.27563C5.91113 6.26684 6.09142 7.39097 6.37788 8.49611C6.10544 8.14672 5.7649 7.85619 5.46442 7.59985C5.1399 7.32261 4.84342 7.06626 4.64711 6.82511C4.4508 6.58395 4.35865 6.37507 4.35865 6.11113C4.35865 5.77123 4.49887 5.56046 4.69519 5.39716C4.8915 5.23385 5.16193 5.13891 5.38429 5.13891ZM14.6151 5.13891C14.8374 5.13891 15.1078 5.23385 15.3042 5.39716C15.5005 5.56046 15.6407 5.77123 15.6407 6.11113C15.6407 6.37507 15.5486 6.58395 15.3522 6.82511C15.1559 7.06626 14.8594 7.32261 14.5349 7.59985C14.2284 7.86189 13.8819 8.16381 13.6054 8.5265C13.8999 7.41376 14.0882 6.28013 14.1022 5.27563C14.2164 5.21107 14.3727 5.13891 14.6151 5.13891ZM6.98685 5.62502H13.0125C12.9344 7.07006 12.5397 8.83221 11.9388 10.2886C11.6062 11.0938 11.2216 11.7926 10.849 12.2635C10.4764 12.7344 10.1359 12.9167 9.98365 12.9167C9.83341 12.9167 9.50488 12.7344 9.13429 12.2635C8.7637 11.7926 8.37507 11.0957 8.04455 10.2886C7.44759 8.83032 7.06498 7.06247 6.98685 5.62502ZM9.48685 7.08335V9.51391H10.5125V7.08335H9.48685ZM8.97403 14.375H11.0253C11.3939 14.375 11.6463 14.5896 11.8266 14.8611H8.17275C8.35304 14.5896 8.60544 14.375 8.97403 14.375Z" fill="#F89336" />
                                                </svg>
                                            </span>
                                            <span class="  font-normal text-clip" style="font-size:12px;font-weight:500;">@Session["Amount"] ポイント</span>

                                        </div>
                                    }
                                    @*<span class="ml-[12px] text-[#252525]  font-normal text-clip" style="font-size:14px; width:178px">@Session["Amount"]</span>*@
                                    <span class="ml-[12px] flex justify-start gap-[2px] items-center">
                                    </span>
                                </div>
                            </a>
                            <button type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example"
                                    class=" flex flex-col justify-center items-center z-50 pr-[18px] pt-[6px]" onclick="NavCloseFunction();">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                    <path d="M4.80859 18.3535L5.81229 19.4923L19.1889 7.18757L18.1852 6.04875L4.80859 18.3535Z"
                                          fill="#BCB08A" />
                                    <path d="M4.99926 7.25692L6.01562 6.12988L19.2538 18.5899L18.2374 19.717L4.99926 7.25692Z"
                                          fill="#BCB08A" />
                                </svg>
                                <span class="text-[#BCB08A] text-[10px] font-normal leading-[18px]">
                                    閉じる
                                </span>
                            </button>
                        </div>
                        <div>
                            <a href="/user/account/profile" class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height:45px; font-weight:700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M12 3.75C10.6084 3.75264 9.2746 4.30662 8.29061 5.29061C7.30661 6.2746 6.75264 7.60843 6.75 9C6.75114 9.86096 6.9632 10.7085 7.36763 11.4686C7.77207 12.2287 8.35656 12.8781 9.07 13.36C6.396 14.508 4.5 17.162 4.5 20.25H6C6 16.928 8.678 14.25 12 14.25C15.322 14.25 18 16.928 18 20.25H19.5C19.5 17.162 17.605 14.508 14.93 13.36C15.6436 12.8782 16.2281 12.2288 16.6326 11.4687C17.0371 10.7086 17.249 9.861 17.25 9C17.2474 7.60843 16.6934 6.2746 15.7094 5.29061C14.7254 4.30662 13.3916 3.75264 12 3.75ZM12 5.25C14.08 5.25 15.75 6.92 15.75 9C15.75 11.08 14.08 12.75 12 12.75C9.92 12.75 8.25 11.08 8.25 9C8.25 6.92 9.92 5.25 12 5.25Z"
                                          fill="#D75A8B" />
                                </svg>
                                <span class="ml-[10px] text-[14px]">
                                    プロフィール編集
                                </span>
                            </a>
                        </div>
                        <div class="">
                            <a href="@Url.Action("ReservationHistory", "ReservationHistoryManagementV2")" class="flex items-center  py-[10px] px-4  rounded-lg  group " style="height: 45px; font-weight:700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M12 3C8.87402 3 6.11426 4.58496 4.5 7.00781V4.5H3V9.75H8.25V8.25H5.53125C6.82617 6.01465 9.22266 4.5 12 4.5C16.1514 4.5 19.5 7.84863 19.5 12C19.5 16.1514 16.1514 19.5 12 19.5C7.84863 19.5 4.5 16.1514 4.5 12H3C3 16.9629 7.03711 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM11.25 6V12.75H16.5V11.25H12.75V6H11.25Z"
                                          fill="#D75A8B" />
                                </svg>
                                <span class="ml-[10px] text-[14px]">予約確認・変更</span>
                            </a>
                        </div>
                        <div class="">
                            <a href="/user/account/review" class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M2.25 4.5V19.5H9.43945L12 22.0605L14.5605 19.5H21.75V4.5H2.25ZM3.75 6H20.25V18H13.9395L12 19.9395L10.0605 18H3.75V6ZM6.75 8.25V9.75H17.25V8.25H6.75ZM6.75 11.25V12.75H17.25V11.25H6.75ZM6.75 14.25V15.75H14.25V14.25H6.75Z"
                                          fill="#D75A8B" />
                                </svg>
                                <span class="ml-[10px] text-[14px] ">レビュー投稿</span>
                            </a>
                        </div>
                        <div class="">
                            <a href="/user/account/bookmark/?bmktab=01" class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M5.25 3.375V20.625L6.44531 19.7344L12 15.5625L17.5547 19.7344L18.75 20.625V3.375H5.25ZM6.75 4.875H17.25V17.625L12.4453 14.0156L12 13.6875L11.5547 14.0156L6.75 17.625V4.875Z" fill="#D75A8B" />
                                </svg>

                                <span class="ml-[10px] text-[14px] ">ブックマーク</span>
                            </a>
                        </div>
                        <div class="">
                            <a href="/user/account/password/edit"
                               class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M15 2.25C11.291 2.25 8.25 5.29102 8.25 9C8.25 9.38965 8.31445 9.73242 8.36719 10.0781L2.46094 15.9609L2.25 16.1953V21.75H7.5V19.5H9.75V17.25H12V15.0234C12.8848 15.457 13.916 15.75 15 15.75C18.709 15.75 21.75 12.709 21.75 9C21.75 5.29102 18.709 2.25 15 2.25ZM15 3.75C17.8916 3.75 20.25 6.1084 20.25 9C20.25 11.8916 17.8916 14.25 15 14.25C14.0918 14.25 13.1572 13.9834 12.4453 13.5938L12.2578 13.5H10.5V15.75H8.25V18H6V20.25H3.75V16.8281L9.67969 10.875L9.96094 10.6172L9.89062 10.2188C9.81445 9.76758 9.75 9.36621 9.75 9C9.75 6.1084 12.1084 3.75 15 3.75ZM16.5 6C15.6709 6 15 6.6709 15 7.5C15 8.3291 15.6709 9 16.5 9C17.3291 9 18 8.3291 18 7.5C18 6.6709 17.3291 6 16.5 6Z"
                                          fill="#D75A8B" />
                                </svg>
                                <span class="ml-[10px] text-[14px] ">パスワード変更</span>
                            </a>
                        </div>
                        @if (Session["Username"] != null)
                        {
                            <div class="">
                                <a href="@Url.Action("LogOff", "Home")"
                                   class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <g opacity="0.6">
                                            <path d="M12 3C7.81641 3 4.30664 5.87402 3.30469 9.75H4.85156C5.80957 6.70898 8.64844 4.5 12 4.5C16.1367 4.5 19.5 7.86328 19.5 12C19.5 16.1367 16.1367 19.5 12 19.5C8.64844 19.5 5.80957 17.291 4.85156 14.25H3.30469C4.30664 18.126 7.81641 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM11.5078 8.46094L10.4297 9.53906L12.1406 11.25H3V12.75H12.1406L10.4297 14.4609L11.5078 15.5391L14.5078 12.5391L15.0234 12L14.5078 11.4609L11.5078 8.46094Z"
                                                  fill="#BCB08A" />
                                        </g>
                                    </svg>
                                    <span class="ml-[10px] text-[14px] ">ログアウト</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="">
                                <a href="/login"
                                   class="flex items-center  py-[10px] px-4  rounded-lg  group" style="height: 45px; font-weight:700">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <g opacity="0.6">
                                            <path d="M12 3C7.81641 3 4.30664 5.87402 3.30469 9.75H4.85156C5.80957 6.70898 8.64844 4.5 12 4.5C16.1367 4.5 19.5 7.86328 19.5 12C19.5 16.1367 16.1367 19.5 12 19.5C8.64844 19.5 5.80957 17.291 4.85156 14.25H3.30469C4.30664 18.126 7.81641 21 12 21C16.9629 21 21 16.9629 21 12C21 7.03711 16.9629 3 12 3ZM11.5078 8.46094L10.4297 9.53906L12.1406 11.25H3V12.75H12.1406L10.4297 14.4609L11.5078 15.5391L14.5078 12.5391L15.0234 12L14.5078 11.4609L11.5078 8.46094Z"
                                                  fill="#BCB08A" />
                                        </g>
                                    </svg>
                                    <span class="ml-[10px] text-[14px] ">ログイン</span>
                                </a>
                            </div>
                        }

                        <!-- divider -->
                        <hr class="my-2">
                    </div>
                </div>
            </div>


            <!-- #endregion -->
            <!----Render Body section start-->
            <div>
                <input type="text" id="current-location-id" value="" hidden />
                @Html.AntiForgeryToken()
                @RenderBody()
                <div class="loader" id="loader-id-v2" style="display:none;">
                    <img src="~/Content/assets/images/loader.gif" class="h-[150px]" style="opacity:100%" />
                </div>
                <div id="clubreservationpartialview-id">

                </div>

                <div id="locationfilterpopup-id">

                </div>

                <div id="preferencefilterpopUp-id">

                </div>
                <div id="datetimefilterpopup-id">

                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ActionPageName) && (ViewBag.ActionPageName == "Dashboard" || ViewBag.ActionPageName == "SearchFilter"))
        {
            <div>
                <div class="py-4 px-[33px] bg-primary-100 flex justify-between items-center">
                    @{
                        var SystemLinkModel = ApplicationUtilities.GetSessionValue("SystemLinkModel") as List<CRS.CUSTOMER.APPLICATION.Models.Home.SystemLinkModel>;

                        if (SystemLinkModel != null && SystemLinkModel.Count > 0)
                        {
                            int i = 0;
                            foreach (var item in SystemLinkModel)
                            {
                                <a href="@item.Link" target="_blank">
                                    <img class="h-[24px] w-[24px]" src="@item.PlatformImage" />
                                </a>
                                bool isLastItem = ++i == SystemLinkModel.Count;
                                if (!isLastItem)
                                {<div class="w-[1px] h-[16px] bg-[#ffffff99]"></div>}
                            }
                        }
                    }
                </div>
                <div class="footer bg-footer">
                    <div class="footer-logo px-4 pt-[12px] pb-[16px]" style="padding-top:30px">
                        <img class="h-[30px] w-[102px]" src="~/Content/assets/images/logo_2.svg" />
                    </div>
                    <div class="p-4">
                        <!--#region need to uncomment-->
                        <!--  <div class="footer-link text-white grid grid-cols-2 ">
                        <!--      <div class="grid gap-[8px]">
                        <!--          <a href="/company" class="text-xs">
                        <!--              @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.OperatingCompany*@
                        <!--              運営会社
                        <!--          </a>
                        <!--          <a href="/faq" class="text-xs">
                        <!--              よくあるご質問
                        <!--              @*  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Hoslog_Limited_Plan*@
                        <!--          </a>
                        <!--          <a href="/support" class="text-xs">
                        <!--              @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.UserGuide*@
                        <!--              お問い合わせ
                        <!--          </a>
                        <!--
                        <!--          @* <a href="/faq" class="text-xs">
                        <!--                  @CRS.CUSTOMER.APPLICATION.Resources.Resource.FAQ
                        <!--              </a>*@
                        <!--      </div>
                        <!--      <div class="grid gap-[8px]">
                        <!--
                        <!--          <!--<a href="@Url.Action("Register","Home")" class="text-xs">-->
                        <!--          @*  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Inquiry*@
                        <!--          <!--新規会員登録(無料)
                        <!--          </a>-->
                        <!--          <!--<a href="/company" class="text-xs">-->
                        <!--          @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.OperatingCompany*@
                        <!--          <!--運営会社
                        <!--          </a>-->
                        <!--          <a href="/policy" class="text-xs">
                        <!--              プライバシーポリシー
                        <!--              @* @CRS.CUSTOMER.APPLICATION.Resources.Resource.PrivacyPolicy*@
                        <!--          </a>
                        <!--          <a href="/rule" class="text-xs">
                        <!--              @* terms and condition*@
                        <!--              ホスログ利用規約
                        <!--          </a>
                        <!--          <a href="" class="text-xs" style="height:16px">
                        <!--              @* 運営会社*@
                        <!--          </a>
                        <!--          @*                                <a href="https://hoslog.jp/" class="text-xs">
                        <!--                  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Register_an_Account
                        <!--              </a>*@
                        <!--      </div>
                        <!--  </div>
                        <!--
                        <!--  @* divider*@
                        <!--  <div style="border-top: 1px dashed #999; padding: 0 16px; margin-top:14px"></div>
                         <!--#endregion need to uncomment-->

                        <div class="affiliation">
                            <div class="affiliationText">
                                <a href="http://43.207.72.221:93/" style="font-family: Noto Sans">アフィリエイター登録</a>
                            </div>
                            <div class="dividerCol">|</div>
                            <div class="affiliationText"><a href="http://43.207.72.221:92/" style="font-family: Noto Sans"> 店舗オーナー登録 </a></div>
                        </div>


                        <div class=" my-4 p-[8px] border rounded-[4px] border-[#393939] bg-[#232323] text-xs text-center text-white">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.WarningNotes
                        </div>
                        <div class='text-center  text-white' style="font-size:12px">© 2019 - @DateTime.Now.Year  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Hoslog</div>
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('select').select2({
                minimumResultsForSearch: Infinity
            });
            setInterval(NotificationFunction, 20000);
            CheckIfHasRedirectFunction();
        });
    </script>
    <!-- #endregion -->
    <!-- #region Fotter-links -->
    <script src="~/Content/assets/js/slider.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/toogle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
            integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script>
        // Get the button

        let mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script>
    //For toaster Notification
    $(function () {
    {
        @if (TempData["Notifications"] != null)
        {
            var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
            foreach (var note in messages)
            {
                <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
            }

        }
        @{
            ViewBag.Notifications = string.Empty;
        }
        }
    });
            function NotificationFunction() {
                $.ajax({
                    url: '/NotificationManagement/HasUnReadNotification',
                    type: 'POST',
                    success: function (result) {
                        if (result.HasUnReadNotification && document.getElementById("notification-bell-id")) {
                            document.getElementById("notification-bell-id").getElementsByTagName("span")[0].style.display = "block";
                        }
                        else {
                        }
                    },
                    error: function () {
                    }
                });
            }

    </script>

    <script>
        function OnLoadLoaderFunction() {
            document.getElementById('loader-id-v2').style.display = 'flex';
            document.body.addEventListener('touchmove', preventDefault, { passive: false });
            document.body.classList.add('no-scroll-loader');
            setTimeout(function () {
                document.getElementById('loader-id-v2').style.display = 'none';
                document.body.removeEventListener('touchmove', preventDefault, { passive: false });
                document.body.classList.remove('no-scroll-loader');
            }, 10000);
        }
        function preventDefault(event) {
            event.preventDefault();
        }
        function EnableLoaderFunction() {
            document.getElementById('loader-id-v2').style.display = 'flex';
            document.body.addEventListener('touchmove', preventDefault, { passive: false });
            document.body.classList.add('no-scroll-loader');
        }
        function DisableLoaderFunction() {
            document.getElementById('loader-id-v2').style.display = 'none';
            document.body.removeEventListener('touchmove', preventDefault, { passive: false });
            document.body.classList.remove('no-scroll-loader');
        }

        function NavCloseFunction() {
            document.getElementById('drawer-right-example').classList.add('translate-x-full');
        }
    </script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/Content/assets/js/reservation-common.js"></script>
    <script src="~/Content/assets/js/search-filter-common.js"></script>
    <script src="~/Content/assets/js/ManageRedirectURL.js"></script>
    <script src="~/Content/assets/js/BookmarkManagement.js"></script>
    <script>
        function WindowHistoryBack() {
            var previousUrl = document.referrer;
            if (isLoginPageWithReturnUrl(previousUrl)) {
                window.location.href = '/';
            }
            else {
                window.history.back();
            }
        }

        function isLoginPageWithReturnUrl(url) {
            return url.includes("ReturnURL");
        }

        if (/iPad|iPhone|iPod/.test(navigator.userAgent)) {
            document.body.style.overscrollBehaviorY = 'contain';
        }

        function HostDetailRedirectFunction(HostCode, ClubCode, PrefecturesArea) {
            var url = `/area${PrefecturesArea}/hostclub/${encodeURIComponent(ClubCode)}/${HostCode}`;
            window.location.href = url;
        }

        function ClubDetailRedirectFunction(ClubCode, PrefecturesArea) {
            var url = `/area${PrefecturesArea}/hostclub/${encodeURIComponent(ClubCode)}/`;
            window.location.href = url;
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
<!-- #endregion -->