@model CRS.CUSTOMER.APPLICATION.Models.DashboardV2.PreferenceFilterModel
<style>
    .preferance > input[type="checkbox"] {
        display: none;
    }

    /* Style the labels to look like bordered options */
    label {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border: 1px solid #d75a8b;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Style the labels when they are selected */
    .preferance > input[type="checkbox"]:checked + label {
        background-color: #fff;
        border-color: #d75a8b;
        color: #d75a8b;
    }
    .preferance > input[type="checkbox"]:checked + label {
        background-color: #fff;
        border-color: #d75a8b;
        color: #d75a8b;
    }

    .preferance > input[type="checkbox"] + label {
        background-color: #fff;
        /*  border-color: #d75a8b;
        color: */ /*#d75a8b;*/
    }
</style>
<style>
    .map-container #map {
        height: 365px;
    }

    .gm-style div[aria-label="Google Map"] > div:last-child {
        display: none;
    }
</style>
<!------------------------------------------------------- #region PREFERENCE------------------------------------------------------->
<!-- drawer component -->
<div id="drawer-filter-location"
     class="fixed bottom-0 left-0 right-0 z-40 w-full h-screen overflow-y-auto transition-transform " tabindex="-1"
     aria-labelledby="drawer-bottom-label">

    <div class="h-screen flex flex-col justify-end" style=" background: rgba(27, 27, 27, 0.50); ">
        <div class="text-center text-white mb-2 text-2xl" onclick="ClosePreferenceFilterPopUp();">
            <div data-drawer-hide="drawer-filter-location" aria-controls="drawer-filter-location">
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="px-4 pb-6 bg-white drawer-filter-location relative no-scrollbar">
            <div class="">
                <div class="bg-[#fff]  ">
                    <div class="sticky top-0 z-10  pt-6 mt-[1px] bg-[#FFF] overflow-hidden overflow-x-auto no-scrollbar">
                        <div class="flex gap-[24px] w-full " style="border-bottom: 4px solid #F4F4F4;">
                            <div class="flex tab-container-plane  bg-white gap-6 w-full text-sm no-scrollbar">
                                <button id="tab1Button"
                                        class="tab-button-plane-preference preferance-tab w-max flex-none tab-link active">
                                    ホストクラブ
                                </button>
                                <button id="tab2Button"
                                        class="tab-button-plane-preference preferance-tab w-max flex-none tab-link pt-0 ">
                                    ホスト
                                </button>
                                <button id="tab3Button"
                                        class="tab-button-plane-preference preferance-tab w-max flex-none tab-link pt-0 ">
                                    新規店舗
                                </button>
                                <button id="tab4Button"
                                        class="tab-button-plane-preference preferance-tab w-max flex-none tab-link pt-0 ">
                                    現在地に近い店舗
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <div class="bg-white pb-4 ">
                            <div id="tab1" class="tab-content-plane-preference  tab-preferance  ">
                                <!----------------------------- #region host-club ----------------------------->
                                <div class="pb-8">
                                    <!-- 店舗カテゴリーから探す -->
                                    <div>
                                        <div class="text-xs text-[#333]">
                                            こだわりから探す
                                        </div>
                                        <form action="/Search/ClubSearchResult" method="get" id="club-filter-form-id">
                                            <div class="relative input-search-wrapper h-[40px] my-4 ">
                                                <div class="absolute inset-y-0 left-0 flex items-center pt-[5pxa] pl-[16px] pointer-events-none">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                        <path d="M8.125 1.875C11.5698 1.875 14.375 4.68018 14.375 8.125C14.375 9.62158 13.8501 10.9937 12.9688 12.0703L17.9492 17.0508L17.0508 17.9492L12.0703 12.9688C10.9937 13.8501 9.62158 14.375 8.125 14.375C4.68018 14.375 1.875 11.5698 1.875 8.125C1.875 4.68018 4.68018 1.875 8.125 1.875ZM8.125 3.125C5.35645 3.125 3.125 5.35645 3.125 8.125C3.125 10.8936 5.35645 13.125 8.125 13.125C10.8936 13.125 13.125 10.8936 13.125 8.125C13.125 5.35645 10.8936 3.125 8.125 3.125Z"
                                                              fill="#CECCC5" />
                                                    </svg>
                                                </div>
                                                <input type="search" id="club-search" name="SearchFilter" class="input-search block w-full h-[40px] focus-visible:outline-none" placeholder="店舗名から探す" autocomplete="off">
                                                <input type="text" class="location-class" id="LocationId_1" name="LocationId" value="" hidden />
                                                <input type="text" id="club-category-id" name="ClubCategory" value="" hidden />
                                                <input type="text" id="price-id" name="Price" value="" hidden />
                                                <input type="text" id="time-type-id" name="Shift" value="" hidden />
                                                <input type="text" id="time-id" name="Time" value="" hidden />
                                                <input type="text" id="clubavailability-id" name="ClubAvailability" value="" hidden />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="flex flex-col gap-[13px] mt-2">
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                店舗カテゴリーから探す
                                            </div>
                                            <form class="search-field-selection">
                                                <div class="flex flex-col w-full ">
                                                    <div class="flex flex-row flex-wrap  gap-[24px]">
                                                        @foreach (var item in Model.ClubCategoryModel)
                                                        {
                                                            <div class="preferance">
                                                                <input type="checkbox" id="ClubCategoryModel_@item.StaticValue" name="search-by-store-category" value="@item.StaticValue" class="club-category-class">
                                                                <label for="ClubCategoryModel_@item.StaticValue" class="w-[88px]">@item.StaticLabel</label>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                料金
                                            </div>
                                            <form class="search-field-selection ">
                                                <div class="flex flex-col   w-full ">
                                                    <div class="flex flex-row flex-wrap  gap-[24px]">
                                                        @foreach (var item in Model.PlanPriceModel)
                                                        {
                                                            <div class="preferance">
                                                                <input type="checkbox" id="PlanPriceModel_@item.StaticValue" class="plan-price-class hidden" name="search-by-plan" value="@item.StaticValue">
                                                                <label for="PlanPriceModel_@item.StaticValue" class="w-[88px]">@item.StaticLabel</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="border-y-[1px] border-[#EFEFEF] py-[10px]">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                料金
                                            </div>
                                            <div class="flex flex-row mt-[8px] gap-6 mb-4">
                                                <div class="search-by-business-hours search-by-business-hours-select text-[#333] text-sm">
                                                    <div class="">
                                                        <svg class="inactive-svg" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <circle cx="6.5" cy="6.5" r="5" stroke="#666666" stroke-opacity="0.4" stroke-width="2" />
                                                        </svg>
                                                        <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <circle cx="6.5" cy="6.5" r="5" stroke="#D75A8B" stroke-width="2" />
                                                            <circle cx="6.4987" cy="6.4987" r="2.66667" fill="#D75A8B" />
                                                        </svg>
                                                    </div>
                                                    <div class="searchbybusinesshoursValue text-sm text-[#333]" data-info="@ApplicationUtilities.EncryptParameter("1").ToString()">昼</div>
                                                </div>
                                                <div class="search-by-business-hours search-by-business-hours-select text-[#333] text-sm ">
                                                    <div class="">
                                                        <svg class="inactive-svg" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <circle cx="6.5" cy="6.5" r="5" stroke="#666666" stroke-opacity="0.4" stroke-width="2" />
                                                        </svg>
                                                        <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <circle cx="6.5" cy="6.5" r="5" stroke="#D75A8B" stroke-width="2" />
                                                            <circle cx="6.4987" cy="6.4987" r="2.66667" fill="#D75A8B" />
                                                        </svg>
                                                    </div>
                                                    <div class="searchbybusinesshoursValue text-sm text-[#333]" data-info="@ApplicationUtilities.EncryptParameter("2").ToString()">夜</div>
                                                </div>
                                                <div class="search-by-business-hours search-by-business-hours-select text-[#333] text-sm contains-time-class">
                                                    <div class="">
                                                        <svg class="inactive-svg" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <circle cx="6.5" cy="6.5" r="5" stroke="#666666" stroke-opacity="0.4" stroke-width="2" />
                                                        </svg>
                                                        <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                                                             viewBox="0 0 13 13" fill="none">
                                                            <circle cx="6.5" cy="6.5" r="5" stroke="#D75A8B" stroke-width="2" />
                                                            <circle cx="6.4987" cy="6.4987" r="2.66667" fill="#D75A8B" />
                                                        </svg>
                                                    </div>
                                                    <div class="searchbybusinesshoursValue text-sm text-[#333]" data-info="@ApplicationUtilities.EncryptParameter("3").ToString()">時間を指定する</div>
                                                </div>

                                            </div>
                                            <!------------------------------------------------------------------------------#region Time------------------------------------------------------------------------------>
                                            <div class="relative" id="time-div-id" style="display:none;">
                                                <div class=" showTimeList h-[32px] w-[72px] px-3 py-1 bg-[#F6F6F6] rounded-[4px] text-[#666] text-xs flex justify-between items-center">
                                                    <div id="selected-time-id">
                                                        01:00
                                                    </div>
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
                                                            <path d="M4 5L0.535898 0.5L7.4641 0.5L4 5Z" fill="#666666" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div id="timeListContainer" class=" timeListContainer rounded-[4px] bg-[#F6F6F6] w-[72px]" style="display: none;">
                                                    @for (int i = 0; i <= 23; i++)
                                                    {
                                                        <div class="timeList  h-[32px]  px-3 py-1 text-[#666] text-xs flex justify-between items-center">
                                                            @{
                                                                var timeValue = i.ToString("00") + ":00";
                                                                <div class="timeValue" data-info="@ApplicationUtilities.EncryptParameter(timeValue).ToString()">
                                                                    @timeValue
                                                                </div>
                                                            }
                                                            <div class="activeTime">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                                                    <path d="M8.94643 3L4.88393 7.31494L3.05357 5.37077L2.25 6.22238L4.48214 8.59236L4.88393 9L5.28571 8.59236L9.75 3.8524L8.94643 3Z"
                                                                          fill="#666666" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <!------------------------------------------------------------------------------#endregion------------------------------------------------------------------------------>
                                        </div>
                                        <div>
                                            <div class="flex flex-col mt-[8px] gap-6 mb-4">
                                                <div class="multi-select text-[#333] text-sm">
                                                    <div class="multi-select-value text-sm text-[#333]" data-value="@ApplicationUtilities.EncryptParameter("0").ToString()">今すぐ行けるお店</div>
                                                    <div class="">
                                                        <svg class="inactive-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                                             viewBox="0 0 25 24" fill="none">
                                                            <circle opacity="0.4" cx="12.5" cy="12" r="7" stroke="#666666" stroke-opacity="0.4"
                                                                    stroke-width="4" />
                                                        </svg>
                                                        <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                                             viewBox="0 0 25 24" fill="none">
                                                            <circle cx="12.5" cy="12" r="7.5" stroke="#D75A8B" stroke-width="3" />
                                                            <circle cx="12.5" cy="12" r="4" fill="#D75A8B" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            @foreach (var item in Model.ClubAvailabilityModel)
                                            {
                                                <div class="flex flex-col mt-[8px] gap-6 mb-4">
                                                    <div class="multi-select text-[#333] text-sm ">
                                                        <div class="multi-select-value text-sm text-[#333]" data-value="@item.StaticValue">@item.StaticLabel</div>
                                                        <div class="">
                                                            <svg class="inactive-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                                                 viewBox="0 0 25 24" fill="none">
                                                                <circle opacity="0.4" cx="12.5" cy="12" r="7" stroke="#666666" stroke-opacity="0.4"
                                                                        stroke-width="4" />
                                                            </svg>
                                                            <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="25" height="24"
                                                                 viewBox="0 0 25 24" fill="none">
                                                                <circle cx="12.5" cy="12" r="7.5" stroke="#D75A8B" stroke-width="3" />
                                                                <circle cx="12.5" cy="12" r="4" fill="#D75A8B" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                    <div class="flex py-4 items-center fixed bottom-0 left-0 w-full px-4 bg-white ">
                                        <button class="btn btn-primary" style=" border-radius: 8px; " onclick="ClubFilterSubmitButton();">
                                            <a class="h-full w-full">
                                                検索する
                                            </a>
                                        </button>
                                    </div>
                                </div>
                                <!----------------------------- #endregion ----------------------------->
                            </div>
                            <div id="tab2" class="tab-content-plane-preference  tab-preferance hidden">
                                <!----------------------------- #region host ----------------------------->
                                <div class="pb-8">
                                    <div>
                                        <div class="text-xs text-[#333]">
                                            こだわりから探す
                                        </div>
                                        <form action="/Search/HostSearchResult" method="get" id="host-filter-form-id">
                                            <div class="relative input-search-wrapper h-[40px] my-4 ">
                                                <div class="absolute inset-y-0 left-0 flex items-center pt-[5pxa] pl-[16px] pointer-events-none">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                        <path d="M8.125 1.875C11.5698 1.875 14.375 4.68018 14.375 8.125C14.375 9.62158 13.8501 10.9937 12.9688 12.0703L17.9492 17.0508L17.0508 17.9492L12.0703 12.9688C10.9937 13.8501 9.62158 14.375 8.125 14.375C4.68018 14.375 1.875 11.5698 1.875 8.125C1.875 4.68018 4.68018 1.875 8.125 1.875ZM8.125 3.125C5.35645 3.125 3.125 5.35645 3.125 8.125C3.125 10.8936 5.35645 13.125 8.125 13.125C10.8936 13.125 13.125 10.8936 13.125 8.125C13.125 5.35645 10.8936 3.125 8.125 3.125Z"
                                                              fill="#CECCC5" />
                                                    </svg>
                                                </div>
                                                <input type="search" id="host-search" name="SearchFilter" class="input-search block w-full h-[40px] focus-visible:outline-none" placeholder="ホスト名から探す" autocomplete="off">
                                                <input type="text" class="location-class" id="LocationId_2" name="LocationId" value="" hidden />
                                                <input type="text" id="host-height-id" name="Height" value="" hidden />
                                                <input type="text" id="host-age-id" name="Age" value="" hidden />
                                                <input type="text" id="host-bloodtype-id" name="BloodType" value="" hidden />
                                                <input type="text" id="host-constellationgroup-id" name="ConstellationGroup" value="" hidden />
                                                <input type="text" id="host-occupation-id" name="Occupation" value="" hidden />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="flex flex-col gap-[13px]">

                                        <!-- 身長を選ぶ -->
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                身長を選ぶ
                                            </div>
                                            <form class="search-field-selection">
                                                <div class="flex flex-col   w-full ">
                                                    <div class="flex flex-row flex-wrap  gap-[16px]">
                                                        @foreach (var item in Model.HeightModel)
                                                        {
                                                            <div class="preferance">
                                                                <input type="checkbox" id="HeightModel_@item.StaticValue" name="choose-your-height" class="host-height" value="@item.StaticValue">
                                                                <label for="HeightModel_@item.StaticValue">@item.StaticLabel</label>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                年齢を選ぶ
                                            </div>
                                            <form class="search-field-selection">
                                                <div class="flex flex-col   w-full ">
                                                    <div class="flex flex-row flex-wrap gap-[16px]">
                                                        @foreach (var item in Model.AgeModel)
                                                        {
                                                            <div class="preferance">
                                                                <input type="checkbox" id="AgeModel_@item.StaticValue" name="select-age" class="host-age" value="@item.StaticValue">
                                                                <label class="w-[64px]" for="AgeModel_@item.StaticValue">@item.StaticLabel</label>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                血液型を選ぶ
                                            </div>
                                            <form class="search-field-selection">
                                                <div class="flex flex-col   w-full ">
                                                    <div class="flex flex-row flex-wrap gap-[16px]">
                                                        @foreach (var item in Model.BloodTypeModel)
                                                        {
                                                            <div class="preferance">
                                                                <input type="checkbox" id="BloodTypeModel_@item.StaticValue" name="choose-blood-type" class="host-blood-type" value="@item.StaticValue">
                                                                <label class="w-[64px]" for="BloodTypeModel_@item.StaticValue">@item.StaticLabel</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                星座を選ぶ
                                            </div>
                                            <form class="search-field-selection">
                                                <div class="flex flex-col   w-full ">
                                                    <div class="flex flex-row flex-wrap gap-[24px]">
                                                        @{
                                                            var ConstellationImage = "/Content/assets/images/customer/Constellation/";
                                                            foreach (var item in ViewBag.HostConstellationGroup as List<CRS.CUSTOMER.SHARED.StaticDataCommon>)
                                                            {
                                                                ConstellationImage = "/Content/assets/images/customer/Constellation/" + item.ExtraData1.ToString().ToLower() + ".svg";
                                                                <div class="preferance">
                                                                    <input type="checkbox" id="zodiac_@item.Value" name="hostConstellationGroup" class="host-constellation-group-class" value="@item.Value">
                                                                    <label class="w-[92px] gap-[6px]" for="zodiac_@item.Value">
                                                                        @item.Text
                                                                        <img class="h-[3px] w-[3px] object-fill  rounded-full "
                                                                             src="@ConstellationImage" alt="img">
                                                                    </label>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="">
                                            <div class="text-sm text-[#333] font-bold mb-2">
                                                前職を選ぶ
                                            </div>
                                            <div class="input-field-common">
                                                <select id="host-occupation-ddl-id" style="width: 100%;" class="text-[#B7B7B7] h-[44px]">
                                                    @foreach (var item in Model.OccupationModel)
                                                    {
                                                        if (!string.IsNullOrEmpty(item.StaticValue) && item.StaticValue.Trim() == "0")
                                                        {
                                                            <option value="@item.StaticValue" selected>
                                                                @item.StaticLabel
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.StaticValue">
                                                                @item.StaticLabel
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <div class="flex py-4 items-center fixed bottom-0 left-0 w-full px-4 bg-white">
                                    <button class="btn btn-primary" style=" border-radius: 8px;" onclick="HostFilterSubmitButton();">
                                        <a href="#" class="h-full w-full">
                                            検索する
                                        </a>
                                    </button>
                                </div>
                                <!----------------------------- #endregion ----------------------------->
                            </div>
                            <div id="tab3" class="tab-content-plane-preference  tab-preferance hidden ">
                                <!----------------------------- #region NEW STORE ---------------------------------->
                                <div class="pb-8">
                                    <div>
                                        <div class="text-sm text-[#333] font-bold mb-2">
                                            新規店舗
                                        </div>
                                        @if (Model.ClubModel != null && Model.ClubModel.Count > 0)
                                        {

                                            <div class="grid grid-cols-3 gap-2">
                                                @foreach (var item in Model.ClubModel)
                                                {
                                                    <a href="#">
                                                        <div class="new-host-card">
                                                            <div class="image">
                                                                <img src="@item.ClubLogo" alt="club-logo" />
                                                            </div>
                                                            <div>
                                                                <div class="title">
                                                                    @item.ClubName
                                                                </div>
                                                                <div class="description">
                                                                    @item.ClubNameJapanese
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                            </div>
                                            <div class="flex items-center gap-1 justify-center w-full text-[#D75A8B] text-xs mt-1 ">
                                                <div class="border-b-[1px] border-[#D75A8B] pb-[1px] " onclick="NewClubRenderFunction()">
                                                    続きを見る
                                                </div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                                    <path d="M5 9L8 6L5 3" stroke="#D75A8B" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0] flex justify-center items-center">
                                                <div class="text-[#18181B] font-semibold mt-12 text-center">
                                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.NoSearchRecordFound
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="pt-[13px]">
                                        <div class="text-sm text-[#333] font-bold mb-2">
                                            あなたにマッチするホスト
                                        </div>
                                        @if (Model.HostModel != null && Model.HostModel.Count > 0)
                                        {
                                            <div class="grid grid-cols-3 gap-[2px]">
                                                @{
                                                    foreach (var item in Model.HostModel)
                                                    {
                                                        var activeClass = !string.IsNullOrEmpty(item.IsBookmarked) && item.IsBookmarked.Trim().Equals("Y", StringComparison.OrdinalIgnoreCase) ? "active" : string.Empty;
                                                        <div class="hosts-that-match-you @activeClass">
                                                            <img src="@item.HostLogo" alt="host-logo" />
                                                            <div class="like-host">
                                                                <svg class="inActive-svg" xmlns="http://www.w3.org/2000/svg" width="31" height="34"
                                                                     viewBox="0 0 31 34" fill="none">
                                                                    <g filter="url(#filter0_d_3058_46008)">
                                                                        <circle cx="17" cy="17" r="10" fill="white" />
                                                                    </g>
                                                                    <path d="M13.0968 17.4266L13.0868 17.4167L13.0784 17.4089L13.0783 17.4088L13.0763 17.4068C13.0729 17.4036 13.0665 17.3974 13.0575 17.3883C13.0393 17.3701 13.011 17.3408 12.976 17.302C12.9051 17.2235 12.8112 17.1105 12.7196 16.9748C12.5183 16.6767 12.3672 16.3544 12.3672 16.0296C12.3672 14.8742 13.3248 13.9062 14.5018 13.9062C15.5079 13.9062 16.1721 14.5083 16.4677 14.8082L17.0018 15.3499L17.5359 14.8082C17.8316 14.5083 18.4957 13.9062 19.5018 13.9062C20.6789 13.9062 21.6364 14.8742 21.6364 16.0296C21.6364 16.3638 21.4878 16.6965 21.2937 16.9787C21.2005 17.1141 21.1068 17.2235 21.0373 17.2977C21.0029 17.3345 20.9754 17.3617 20.9582 17.3783C20.9497 17.3865 20.9437 17.392 20.9409 17.3946C20.9404 17.3951 20.94 17.3954 20.9397 17.3957C20.9395 17.3959 20.9393 17.396 20.9392 17.3961L20.9239 17.4095L20.9068 17.4266L17.0018 21.3277L13.0968 17.4266Z"
                                                                          stroke="#E3A1A1" stroke-width="1.5" />
                                                                    <defs>
                                                                        <filter id="filter0_d_3058_46008" x="0" y="0" width="34" height="34"
                                                                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                                                            <feColorMatrix in="SourceAlpha" type="matrix"
                                                                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                                                            <feOffset />
                                                                            <feGaussianBlur stdDeviation="3.5" />
                                                                            <feComposite in2="hardAlpha" operator="out" />
                                                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                                                            <feBlend mode="normal" in2="BackgroundImageFix"
                                                                                     result="effect1_dropShadow_3058_46008" />
                                                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3058_46008"
                                                                                     result="shape" />
                                                                        </filter>
                                                                    </defs>
                                                                </svg>
                                                                <svg class="active-svg" xmlns="http://www.w3.org/2000/svg" width="31" height="34"
                                                                     viewBox="0 0 31 34" fill="none">
                                                                    <g filter="url(#filter0_d_3058_39409)">
                                                                        <circle cx="17" cy="17" r="10" fill="#D75A8B" />
                                                                    </g>
                                                                    <path d="M14.5018 13.1562C12.9108 13.1562 11.6172 14.4598 11.6172 16.0296C11.6172 16.5774 11.8666 17.0518 12.098 17.3945C12.3293 17.7372 12.5667 17.9572 12.5667 17.9572L16.7254 22.1117L17.0018 22.387L17.2782 22.1117L21.4369 17.9572C21.4369 17.9572 22.3864 17.1236 22.3864 16.0296C22.3864 14.4598 21.0928 13.1562 19.5018 13.1562C18.1812 13.1562 17.3308 13.9479 17.0018 14.2817C16.6728 13.9479 15.8224 13.1562 14.5018 13.1562Z"
                                                                          fill="white" />
                                                                    <defs>
                                                                        <filter id="filter0_d_3058_39409" x="0" y="0" width="34" height="34"
                                                                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                                                            <feColorMatrix in="SourceAlpha" type="matrix"
                                                                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                                                            <feOffset />
                                                                            <feGaussianBlur stdDeviation="3.5" />
                                                                            <feComposite in2="hardAlpha" operator="out" />
                                                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                                                            <feBlend mode="normal" in2="BackgroundImageFix"
                                                                                     result="effect1_dropShadow_3058_39409" />
                                                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3058_39409"
                                                                                     result="shape" />
                                                                        </filter>
                                                                    </defs>
                                                                </svg>

                                                            </div>
                                                            <div class="description">
                                                                <div class="title">@item.HostNameEnglish</div>
                                                                <div class="club-name"><img src="@item.ClubLogo" alt="club-logo" />@item.ClubNameEnglish</div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="flex items-center gap-1 justify-center w-full text-[#D75A8B] text-xs mt-1 ">
                                                <div class="border-b-[1px] border-[#D75A8B] pb-[1px] " onclick="NewHostRenderFunction()">
                                                    続きを見る
                                                </div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12" fill="none">
                                                    <path d="M5 9L8 6L5 3" stroke="#D75A8B" stroke-linecap="round" stroke-linejoin="round" />
                                                </svg>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0] flex justify-center items-center">
                                                <div class="text-[#18181B] font-semibold mt-12 text-center">
                                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.NoSearchRecordFound
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                                @*<div class="flex py-4 items-center fixed bottom-0 left-0 w-full px-4 bg-white z-10">

                                        <button class="btn btn-primary" style=" border-radius: 8px; ">

                                            <a href="#" class="h-full w-full">
                                                検索する
                                            </a>
                                        </button>
                                    </div>*@
                                <!----------------------------- #endregion ----------------------------->
                            </div>
                            <div id="tab4" class="tab-content-plane-preference  tab-preferance  hidden">
                                <!----------------------------- #region MAP ---------------------------->
                                <div class="flex items-center gap-1 text-[#d75a8b] text-[10px] px-[2px] py-3  w-max" onclick="setUserLocation()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                        <path d="M8.00156 1C5.29256 1 3.10156 3.191 3.10156 5.9C3.10156 9.575 8.00156 15 8.00156 15C8.00156 15 12.9016 9.575 12.9016 5.9C12.9016 3.191 10.7106 1 8.00156 1ZM4.50156 5.9C4.50156 3.968 6.06956 2.4 8.00156 2.4C9.93356 2.4 11.5016 3.968 11.5016 5.9C11.5016 7.916 9.48556 10.933 8.00156 12.816C6.54556 10.947 4.50156 7.895 4.50156 5.9Z"
                                              fill="#D75A8B" />
                                        <path d="M8 7.64844C8.9665 7.64844 9.75 6.86494 9.75 5.89844C9.75 4.93194 8.9665 4.14844 8 4.14844C7.0335 4.14844 6.25 4.93194 6.25 5.89844C6.25 6.86494 7.0335 7.64844 8 7.64844Z"
                                              fill="#D75A8B" />
                                    </svg>
                                    現在地
                                </div>
                                <div class="map-container">
                                    <div id="map"></div>
                                </div>

                                <div class="map-card mt-2 mx-auto w-full" id="map-card" style="display: none;border-radius: 10px;">
                                    <div class="flex gap-1">
                                        <img src="" id="clubImage" class="h-6 w-6 rounded-full border border-[#F1EEEE]" alt="">
                                        <div class="text-[#333]">
                                            <div class="text-[10px] text-ellipsis-customer h-[15px] " id="clubNameEng" style="width:100%">
                                            </div>
                                            <div class="text-[8px]" id="clubNamejpn"></div>
                                            <div class="flex gap-1 items-center">
                                                <span class="review-start text-[#F0D830] text-xs" id="rating-label-id">
                                                    @*<i class="las la-star"></i> <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star"></i>
                                                        <i class="las la-star-half-alt"></i>*@
                                                </span>
                                                <div class="text-[8px]" id="rating"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-col justify-between items-end" style="padding-right:2px">
                                        <div class="text-[10px]">50m</div>
                                        <a href="#" id="clubUrl">
                                            <div class="text-[8px] border-b-[1px] border-[#D75A8B] text-[#D75A8B] w-max">詳細を見る</div>

                                        </a>

                                    </div>
                                </div>
                                @*<div class="flex py-4 items-center fixed bottom-0 left-0 w-full px-4 bg-white">
                                        <button class="btn btn-primary" style=" border-radius: 8px; ">
                                            <a href="#" class="h-full w-full">
                                                検索する
                                            </a>
                                        </button>
                                    </div>*@
                                <!----------------------------- #endregion ----------------------------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!------------------------------------------------------- #endregion ------------------------------------------------------->
