<!-- #region Header -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <link rel="stylesheet" href="~/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/global.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/responsive.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/customcss.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z189BCRTWP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z189BCRTWP');
    </script>
    <title>@ViewBag.Title</title>
</head>
<body class="md:hidden">
    <div id="test">
        <div id="leftcontent" style="margin-top: 30%; " class="flex  flex-col items-center ">
            <div id="leftfix" class="fixed">
                <div class="flex flex-row justify-center">
                    <img src="~/content/assets/images/bglogo.png" />
                </div>
                <div id="siteurl" class="flex flex-row justify-center">
                    <p style="font-size: 25px; font-weight: 600; margin-bottom: 26px" class="text-black">https://hoslog.jp/  </p>
                </div>
                <a style="max-width: 300px; height: 57px; background-color: #D75A8B ;border-radius:2px " class="flex flex-row justify-center items-center text-center">
                    <div>
                        <p id="textContainerone" style="font-size:18px;font-weight:600 ; " class="text-white">
                            <span class="japanese-text">
                                い
                            </span>
                        </p>
                    </div>
                </a>
                <a style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>

                        <p style="font-size:18px;font-weight:600" class="text-black">店舗オーナー登録</p>
                    </div>
                </a>
                <a style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <p style="font-size:18px;font-weight:600" class="text-black">アフィリエイター登録</p>
                    </div>
                </a>

            </div>



        </div>

        <!-- #endregion -->
        <!-- #region Navbar -->
        <div id="innersec">
            <div class="flex flex-col  justify-between h-screen">
                <div>
                    <!----Render Body section start-->
                    <div>
                        @RenderBody()
                    </div>
                </div>
                <!--Render Body section end-->
                <!-- #region Footer -->
                <!-- Go up section -->
                <button onclick="topFunction()" id="myBtn">
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Frame">
                            <path id="Vector"
                                  d="M18 3.375C9.936 3.375 3.375 9.936 3.375 18C3.375 26.064 9.936 32.625 18 32.625C26.064 32.625 32.625 26.064 32.625 18C32.625 9.936 26.064 3.375 18 3.375ZM18 5.625C19.6257 5.62303 21.2357 5.94177 22.738 6.56297C24.2403 7.18417 25.6053 8.09563 26.7548 9.24515C27.9044 10.3947 28.8158 11.7597 29.437 13.262C30.0582 14.7643 30.377 16.3743 30.375 18C30.377 19.6257 30.0582 21.2357 29.437 22.738C28.8158 24.2403 27.9044 25.6053 26.7548 26.7548C25.6053 27.9044 24.2403 28.8158 22.738 29.437C21.2357 30.0582 19.6257 30.377 18 30.375C16.3743 30.377 14.7643 30.0582 13.262 29.437C11.7597 28.8158 10.3947 27.9044 9.24515 26.7548C8.09563 25.6053 7.18417 24.2403 6.56297 22.738C5.94177 21.2357 5.62303 19.6257 5.625 18C5.62303 16.3743 5.94177 14.7643 6.56297 13.262C7.18417 11.7597 8.09563 10.3947 9.24515 9.24515C10.3947 8.09563 11.7597 7.18417 13.262 6.56297C14.7643 5.94177 16.3743 5.62303 18 5.625ZM18 9.984L10.7925 17.1915L12.375 18.8085L16.875 14.3085V25.875H19.125V14.31L23.625 18.81L25.2075 17.19L18 9.984Z"
                                  fill="#E3AB00" />
                        </g>
                    </svg>

                </button>
                <!-- go up end  -->
            </div>
        </div>

        <div id="rightcontent" style="margin-top: 10%; " class="flex flex-col items-center">
            <div id="innerfixed" class="fixed   flex flex-col gap-2">
                @* <div >*@
                <img src="~/content/assets/images/hpi1.jpeg" style="width:inherit" />
                @* </div>
                    <div>*@
                <img src="~/content/assets/images/hpi2.jpeg" style="width:inherit" />
                @*  </div>
                    <div>*@
                <img src="~/content/assets/images/hpi3.jpeg" style="width:inherit" />
                @*</div>
                    <div>*@
                <img src="~/content/assets/images/hpi4.jpeg" style="width:inherit" />
                @*  </div>
                    <div>*@
                <img src="~/content/assets/images/hpi5.jpeg" style="width:inherit" />
                @* </div>
                    <div>*@
                <img src="~/content/assets/images/hpi6.jpeg" style="width:inherit" />
                @*  </div>*@
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('select').select2({
                minimumResultsForSearch: Infinity
            });
        });
    </script>
    <!-- #endregion -->
    <!-- #region Fotter-links -->
    <script src="~/Content/assets/js/slider.js"></script>
    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/toogle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
            integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (mybutton) {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script>
    //For toaster Notification
    $(function () {
    {
        @if (TempData["Notifications"] != null)
        {
            var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
            foreach (var note in messages)
            {
                <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
            }

        }
        @{
            ViewBag.Notifications = string.Empty;
        }
        }
    });
    </script>
    <script>
        function WindowHistoryBack() {
            var previousUrl = document.referrer;
            if (isLoginPageWithReturnUrl(previousUrl)) {
                window.location.href = '/';
            }
            else {
                window.history.back();
            }
        }

        function isLoginPageWithReturnUrl(url) {
            return url.includes("ReturnURL");
        }
    </script>
    <script src="~/Content/assets/js/ManageRedirectURL.js"></script>
    <script src="~/Content/assets/js/BookmarkManagement.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<!-- #endregion -->