<!-- #region Header section -->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/global.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/.css">
    <link rel="stylesheet" href="~/Content/assets/css/customer/responsive.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Noto+Sans+JP:wght@400;500;600;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@500;600;700&family=Roboto+Condensed:wght@500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    *@
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <!--share js-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include Clipboard.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        "warmgray": "#BCB08A",
                        "warmgray-1": "#a09e91",
                        "warmgray-2": "#404040",
                        "charcoalBlack": "#292F33",
                        "primary": "#D75A8B",
                        "primaryDark": "#d17979",
                        "footer": "#2C2C2C",
                        "primary-softrose": "#e3a1a1",
                        "secondary-1": "#333",
                        "blue": "#697DBF",
                        "red": "#B12D23",
                        'creamy-secondary': "#EFEFEF",
                        "blushpink": "#FFC6C6"
                    }
                }
            }
        }
    </script>

    <title>@ViewBag.Title</title>
    <style>
        @@media (min-width: 640px) {
        #innersec{
            height:102vh;
        }
        }


            .ui-datepicker {
                /* width: max-content; */
                width: 98%;
                background-color: #FBF8F8;
                padding: 12px 8px;
                position: relative !important;
                top: unset !important;
                left: unset !important;
                border: none !important;
                font-family: "yu-gothic-pr6n", sans-serif;
                font-size: 14px;
                display: block !important;
                border-radius: 8px;
            }

            .ui-state-default {
                display: flex !important;
                align-items: center;
                justify-content: center;
                border: none !important;
                background: inherit !important;
                font-weight: normal;
                color: #454545;
                height: 36px;
                width: 36px;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border: 1px solid #FBF8F8 !important;
            }

            .ui-state-active,
            .ui-widget-content .ui-state-active,
            .ui-widget-header .ui-state-active,
            a.ui-button:active,
            .ui-button:active,
            .ui-button.ui-state-active:hover {
                border: 1px solid #D75A8B !important;
                background: inherit !important;
                font-weight: normal;
                color: #D75A8B !important;
                text-align: center;
                border-radius: 5px;
            }

            .ui-state-highlight,
            .ui-widget-content .ui-state-highlight,
            .ui-widget-header .ui-state-highlight {
                border: 1px solid #D75A8B !important;
                background: #D75A8B !important;
                color: #FFFFFF !important;
                border-radius: 5px;
            }

            .ui-widget-header {
                border: none;
                background-color: inherit !important;
            }

            .ui-datepicker .ui-datepicker-title {
                text-align: left;
                margin: 0px;
                color: #44464F;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                /* 142.857% */
                letter-spacing: 0.1px;
                padding: 10px 8px;
            }

            .ui-datepicker .ui-datepicker-prev {
                right: 45px;
                left: unset !important;
                height: 40px;
                width: 40px;
                border: 1px solid #FBF8F8;
                cursor: pointer;
            }

            .ui-datepicker .ui-datepicker-next {
                height: 40px;
                width: 40px;
                right: 10px !important;
                border: 1px solid #FBF8F8;
                cursor: pointer;
            }

                .ui-datepicker .ui-datepicker-next span {
                    background-image: url("../../Content/assets/images/navigate_next.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                }

            .ui-datepicker .ui-datepicker-prev span {
                background-image: url("../../Content/assets/images/navigate_before.svg");
                background-repeat: no-repeat;
                background-position: center;
            }

            .ui-datepicker th:last-child {
                color: #697DBF;
            }

            th.ui-datepicker-week-end {
                color: #D75A8B;
            }

            @@media (min-width: 640px) {
                #innersec {
                    height: 100vh;
                    padding-top: 22px;
                }
            }

     
    </style>
</head>


<body >

    <div id="test">
        <div id="leftcontent" style="margin-top: 30%; " class="flex  flex-col items-center ">
            <div id="leftfix" class="fixed">
                <div class="flex flex-row justify-center">
                    <img src="~/content/assets/images/bglogo.png" />
                </div>
                <div id="siteurl" class="flex flex-row justify-center">
                    <p style="font-size: 25px; font-weight: 600; margin-bottom: 26px" class="text-black">https://hoslog.jp/  </p>
                </div>
                <a style="max-width: 300px; height: 57px; background-color: #D75A8B; border-radius: 2px; cursor:pointer " class="flex flex-row justify-center items-center text-center">
                    <div>
                        <p id="textContainerone" style="font-size:18px;font-weight:600 ; " class="text-white">
                            <span class="japanese-text">
                               
                            </span>
                        </p>
                    </div>
                </a>
                <a style="max-width: 300px; height: 57px; border-radius: 2px; cursor: pointer; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <span>
                      ウェレ　い
                        </span>
                        @*<p style="font-size:18px;font-weight:600" class="text-black">新規会員登録</p>*@
                    </div>
                </a>
                <a style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor:pointer " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <p style="font-size:18px;font-weight:600" class="text-black">新規会員登録</p>
                    </div>
                </a>
               
            </div>



        </div>
        <div id="innersec">
             @RenderBody()
        </div>
        <div id="rightcontent" style="margin-top: 10%; " class="flex flex-col items-center">
            <div id="innerfixed" class="fixed   flex flex-col gap-2">
                @* <div >*@
                <img src="~/content/assets/images/hpi1.jpeg" style="width:inherit" />
                @* </div>
                <div>*@
                <img src="~/content/assets/images/hpi2.jpeg" style="width:inherit" />
                @*  </div>
                <div>*@
                <img src="~/content/assets/images/hpi3.jpeg" style="width:inherit" />
                @*</div>
                <div>*@
                <img src="~/content/assets/images/hpi4.jpeg" style="width:inherit" />
                @*  </div>
                <div>*@
                <img src="~/content/assets/images/hpi5.jpeg" style="width:inherit" />
                @* </div>
                <div>*@
                <img src="~/content/assets/images/hpi6.jpeg" style="width:inherit" />
                @*  </div>*@
            </div>

        </div>

    </div>


    <!-- #endregion -->
   
    <!-- #region Footer section -->

    <script src="~/Content/assets/js/tabs.js"></script>
    <script src="~/Content/assets/js/toogle.js"></script>
    <script src="~/Content/assets/js/owl.carousel.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"
            integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;

        }
    </script>
    <script>
     //For toaster Notification
     $(function () {
         {
             @if (TempData["Notifications"] != null)
             {
                 var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
                 foreach (var note in messages)
                 {
                     <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
                 }

             }
             @{
                 ViewBag.Notifications = string.Empty;
             }
         }
     });
      /*  document.addEventListener("DOMContentLoaded", function () {
            // Text to be displayed
            var textToDisplay = "こんにちは、";

            // Get the container element
            var container = document.getElementById("textContainerone");

            // Insert the text into the container
            container.textContent = textToDisplay;
        });*/
    </script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/Content/assets/js/reschedule-reservation.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>

<!-- #endregion -->
