@model List<CRS.CUSTOMER.APPLICATION.Models.ReviewManagement.CustomerReviewedListModel>
@{
    ViewBag.Title = "レビュー投稿 ‖ ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex items-center border-t-[2px] border-t-[#C8B477] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[47   px]">
    <div class="flex gap-2 items-center absolute top-[12px] left-4 text-sm" onclick="window.location.href='/'">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="22" height="23" viewBox="0 0 22 23" fill="none">
            <path d="M15.2352 3.24084C14.786 2.79167 14.0618 2.79167 13.6127 3.24084L5.99518 10.8583C5.63768 11.2158 5.63768 11.7933 5.99518 12.1508L13.6127 19.7683C14.0618 20.2175 14.786 20.2175 15.2352 19.7683C15.6843 19.3192 15.6843 18.595 15.2352 18.1458L8.59851 11.5L15.2443 4.85417C15.6843 4.41417 15.6843 3.68084 15.2352 3.24084Z"
                  fill="#BCB08A" />
        </svg>  @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
    </div>
    <div class="text-center w-full ">@CRS.CUSTOMER.APPLICATION.Resources.Resource.ReviewAndComments</div>
</div>
@if (Model.Count <= 0)
{
    <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0] flex justify-center items-center ">
        <img src="~/Content/assets/images/review.svg" style="margin-top:147px" />
        <div class="text-[#18181B] font-semibold mt-12 text-center">
            まだ評価やレビューはありません
            @*  @CRS.CUSTOMER.APPLICATION.Resources.Resource.YouHaveNoReviewCommentsYet*@
        </div>
    </div>
}
else
{
    <div class="flex flex-col gap-6  px-4  border-t border-t-[#E0E0E0] ">
        <div>
            @foreach (var group in Model.GroupBy(item => item.DateGroup))
            {
                <div class="py-[12px] text-xs text-[#18181B]">
                    @group.Key
                </div>
                <div class="flex flex-col gap-3">
                    @foreach (var item in group)
                    {
                        <div class=" py-[4px]  flex gap-[12px]">
                            <div class="flex-none">
                                @if (!string.IsNullOrEmpty(item.ClubLogo))
                                {
                                    <img src="@item.ClubLogo"
                                         class="h-[40px] w-[40px] rounded-full border border-[#EFEFEF]" alt="">
                                }
                                else
                                {

                                    <img src="~/Content/assets/images/customer/demo-image.jpeg"
                                         class="h-[40px] w-[40px] rounded-full border border-[#EFEFEF]" alt="">
                                }
                            </div>
                            <div class="flex justify-between w-full">
                                <div>
                                    <div class="text-sm  mb-1 text-[#667085]">
                                        <p>
                                            @item.ClubName に
                                            <span class="review-start text-[#F0D830]">
                                                @for (int i = 0; i < Convert.ToInt32(item.RatingScale); i++)
                                                {
                                                    <i class="las la-star"></i>
                                                }
                                            </span>
                                            でレビュー..
                                        </p>
                                    </div>
                                    <div class="flex gap-1 items-center text-xs ">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8"
                                                 fill="none">
                                                <path d="M4.09894 0C1.86935 0 0.0556641 1.79427 0.0556641 4C0.0556641 6.20573 1.86935 8 4.09894 8C6.32853 8 8.14221 6.20573 8.14221 4C8.14221 1.79427 6.32853 0 4.09894 0ZM4.09894 0.666667C5.96395 0.666667 7.46833 2.15495 7.46833 4C7.46833 5.84505 5.96395 7.33333 4.09894 7.33333C2.23393 7.33333 0.729543 5.84505 0.729543 4C0.729543 2.15495 2.23393 0.666667 4.09894 0.666667ZM3.762 1.33333V4.33333H6.12058V3.66667H4.43588V1.33333H3.762Z"
                                                      fill="#7E6D5E" />
                                            </svg>
                                        </div>
                                        <p class="text-[8px] text-[#A09E91]">投稿日時 : @item.CommentedOn
                                    </div>

                                </div>
                                <a onclick="ClubDetailReviewTabRedirectFunction('@item.ClubCode', '@item.LocationURL');">
                                    <i class="las la-chevron-circle-right text-[#959595] text-[18px]"></i>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}

<script>
    function ClubDetailReviewTabRedirectFunction(ClubCode, PrefecturesArea) {
        var url = `/area${PrefecturesArea}/hostclub/${encodeURIComponent(ClubCode)}/review`;
        window.location.href = url;
    }
</script>