@model CRS.CUSTOMER.APPLICATION.Models.ReviewManagement.Review4ViewModel
@{
    ViewBag.Title = "Review-4";
    Layout = "~/Views/Shared/_ReviewLayout.cshtml";
    var Request = Model.ReviewClubDetailModel;
    var TotalDichotomousQuestion = Model.ReviewDichotomousQuestionModel.Count;
}
<div class="flex flex-col justify-between h-screen">
    <div>
        <!-- header  -->
        <div class="flex items-center gap-[10px] pt-[13px] px-[14px] pb-[9px] border-b border-b-[#DCDCDC]">
            <div class="circle-border circle-fourth-quater ">
                <div class="text tracking-tight	">4/<span>4</span></div>
            </div>
            <div>
                <div class="text-[13px] font-bold pb-[5px]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.AnswerClubQuestionnaire</div>
                <div class="text-[11px] text-[#7E6D5E]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.PleaseAnswerASimpleChoiceQuestion</div>
            </div>
        </div>
        <!-- header end  -->
        <div style="height: calc(100vh - 180px);" class="no-scrollbar overflow-y-scroll pb-4">
            <!-- image  -->
            <div class="px-[14px] py-3 grid gap-3">
                <div class="flex gap-[8px] p-[14px] bg-[#F6F6F6] border border-[#EAEAEA] rounded-[6px]">
                    <div data-modal-target="defaultModal" data-modal-toggle="defaultModal">
                        @if (!string.IsNullOrEmpty(Model.ReviewClubDetailModel.ClubLogo))
                        {
                            <img src="@Model.ReviewClubDetailModel.ClubLogo"
                                 class="h-[48px] w-[48px] object-cover rounded-full" />
                        }
                        else
                        {
                            <img src="~/Content/assets/images/customer/demo-image.jpeg"
                                 class="h-[48px] w-[48px] object-cover rounded-full" />
                        }
                    </div>
                    <div>
                        <div class='text-sm font-bold text-charcolBlack '>@Model.ReviewClubDetailModel.ClubNameEnglish</div>
                        <div class='text-xs  text-[#404040] '>@Model.ReviewClubDetailModel.ClubNameJapanese</div>
                        <div class="text-[10px] text-[#A09E91] flex gap-[2px] items-center">
                            <i class="fa-solid fa-location-dot text-primary"></i>
                            @Model.ReviewClubDetailModel.ClubLocationName
                        </div>
                    </div>
                </div>
            </div>
            <!-- image end  -->
            <!-- qtn section  -->
            <div class="px-[14px] mt-[12px] grid gap-[18px]">
                <!-- select answer -->
                @{
                    int i = 1;

                    foreach (var item in Model.ReviewDichotomousQuestionModel)
                    {
                        <div class="review-dichotomous-class">
                            <div class="text-sx font-bold pb-2">@item.RemarkLabel</div>
                            <div class="grid grid-cols-3 gap-[6px] section-@i">
                                @{
                                    foreach (var item2 in Model.ReviewDichotomousAnswerModel)
                                    {
                                        if (!string.IsNullOrEmpty(item2.RemarkLabelEnglish) && item2.RemarkLabelEnglish.ToLower() == "yes")
                                        {
                                            <div class="review-select-qtn text-primary" id="box1">
                                                <input hidden class="review-dichotomous-answer-class" value="@item.RemarkId:@item2.RemarkId" data-extra-info="@item.RemarkLabel:@item2.RemarkLabel" />
                                                <div class="image">
                                                    <div class="unactive-image">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"
                                                             fill="none">
                                                            <path d="M17 0C7.62565 0 0 7.62565 0 17C0 26.3743 7.62565 34 17 34C26.3743 34 34 26.3743 34 17C34 7.62565 26.3743 0 17 0ZM17 2.83333C24.8415 2.83333 31.1667 9.15853 31.1667 17C31.1667 24.8415 24.8415 31.1667 17 31.1667C9.15853 31.1667 2.83333 24.8415 2.83333 17C2.83333 9.15853 9.15853 2.83333 17 2.83333ZM9.20833 9.91667C8.03516 9.91667 7.08333 10.8685 7.08333 12.0417C7.08333 12.1745 7.0944 12.3018 7.1276 12.4401C7.18848 12.7777 7.32682 13.0654 7.52604 13.3255C8.58854 15.1572 11.3333 17 11.3333 17C11.3333 17 15.5833 14.2995 15.5833 12.0417C15.5833 10.8685 14.6315 9.91667 13.4583 9.91667C12.2852 9.91667 11.3333 10.8685 11.3333 12.0417C11.3333 10.8685 10.3815 9.91667 9.20833 9.91667ZM20.5417 9.91667C19.3685 9.91667 18.4167 10.8685 18.4167 12.0417C18.4167 12.1745 18.4277 12.3018 18.4609 12.4401C18.5218 12.7777 18.6602 13.0654 18.8594 13.3255C19.9219 15.1572 22.6667 17 22.6667 17C22.6667 17 25.4834 15.1738 26.5182 13.2812C26.7451 12.8607 26.9167 12.4512 26.9167 12.0417C26.9167 10.8685 25.9648 9.91667 24.7917 9.91667C23.6185 9.91667 22.6667 10.8685 22.6667 12.0417C22.6667 10.8685 21.7148 9.91667 20.5417 9.91667ZM9.65104 21.25L7.21615 22.6667C9.17513 26.0479 12.8164 28.3333 17 28.3333C21.1836 28.3333 24.8249 26.0479 26.7839 22.6667L24.349 21.25C22.877 23.79 20.1543 25.5 17 25.5C13.8457 25.5 11.123 23.79 9.65104 21.25Z"
                                                                  fill="#D75A8B" />
                                                        </svg>
                                                    </div>
                                                    <div class="active-image">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34"
                                                             fill="none">
                                                            <path d="M17 0C7.62565 0 0 7.62565 0 17C0 26.3743 7.62565 34 17 34C26.3743 34 34 26.3743 34 17C34 7.62565 26.3743 0 17 0ZM17 2.83333C24.8415 2.83333 31.1667 9.15853 31.1667 17C31.1667 24.8415 24.8415 31.1667 17 31.1667C9.15853 31.1667 2.83333 24.8415 2.83333 17C2.83333 9.15853 9.15853 2.83333 17 2.83333ZM9.20833 9.91667C8.03516 9.91667 7.08333 10.8685 7.08333 12.0417C7.08333 12.1745 7.0944 12.3018 7.1276 12.4401C7.18848 12.7777 7.32682 13.0654 7.52604 13.3255C8.58854 15.1572 11.3333 17 11.3333 17C11.3333 17 15.5833 14.2995 15.5833 12.0417C15.5833 10.8685 14.6315 9.91667 13.4583 9.91667C12.2852 9.91667 11.3333 10.8685 11.3333 12.0417C11.3333 10.8685 10.3815 9.91667 9.20833 9.91667ZM20.5417 9.91667C19.3685 9.91667 18.4167 10.8685 18.4167 12.0417C18.4167 12.1745 18.4277 12.3018 18.4609 12.4401C18.5218 12.7777 18.6602 13.0654 18.8594 13.3255C19.9219 15.1572 22.6667 17 22.6667 17C22.6667 17 25.4834 15.1738 26.5182 13.2812C26.7451 12.8607 26.9167 12.4512 26.9167 12.0417C26.9167 10.8685 25.9648 9.91667 24.7917 9.91667C23.6185 9.91667 22.6667 10.8685 22.6667 12.0417C22.6667 10.8685 21.7148 9.91667 20.5417 9.91667ZM9.65104 21.25L7.21615 22.6667C9.17513 26.0479 12.8164 28.3333 17 28.3333C21.1836 28.3333 24.8249 26.0479 26.7839 22.6667L24.349 21.25C22.877 23.79 20.1543 25.5 17 25.5C13.8457 25.5 11.123 23.79 9.65104 21.25Z"
                                                                  fill="white" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="text">@item2.RemarkLabel</div>
                                            </div>
                                        }
                                        else if (!string.IsNullOrEmpty(item2.RemarkLabelEnglish) && item2.RemarkLabelEnglish.ToLower() == "neither")
                                        {
                                            var isDisabled = "";
                                            if (item.RemarkId == "t7GwWlssMlrZ41235asf4214yliLozVg77tt4yh788qqw77tt4yh788qqw")
                                            {
                                                isDisabled = "disabled";
                                            }
                                            <div class="review-select-qtn text-green @isDisabled" id="box2">
                                                <input hidden class="review-dichotomous-answer-class" value="@item.RemarkId:@item2.RemarkId" data-extra-info="@item.RemarkLabel:@item2.RemarkLabel" />
                                                <div class="image">
                                                    <div class="image">
                                                        <div class="unactive-image">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                                                                 viewBox="0 0 34 34" fill="none">
                                                                <path d="M17 0C7.62646 0 0 7.62646 0 17C0 26.3735 7.62646 34 17 34C26.3735 34 34 26.3735 34 17C34 7.62646 26.3735 0 17 0ZM17 2.61538C24.9312 2.61538 31.3846 9.06885 31.3846 17C31.3846 24.9312 24.9312 31.3846 17 31.3846C9.06885 31.3846 2.61538 24.9312 2.61538 17C2.61538 9.06885 9.06885 2.61538 17 2.61538ZM11.1154 11.7692C10.5952 11.7692 10.0962 11.9759 9.72837 12.3438C9.36051 12.7116 9.15385 13.2105 9.15385 13.7308C9.15385 14.251 9.36051 14.7499 9.72837 15.1178C10.0962 15.4856 10.5952 15.6923 11.1154 15.6923C11.6356 15.6923 12.1345 15.4856 12.5024 15.1178C12.8703 14.7499 13.0769 14.251 13.0769 13.7308C13.0769 13.2105 12.8703 12.7116 12.5024 12.3438C12.1345 11.9759 11.6356 11.7692 11.1154 11.7692ZM22.8846 11.7692C22.3644 11.7692 21.8655 11.9759 21.4976 12.3438C21.1297 12.7116 20.9231 13.2105 20.9231 13.7308C20.9231 14.251 21.1297 14.7499 21.4976 15.1178C21.8655 15.4856 22.3644 15.6923 22.8846 15.6923C23.4048 15.6923 23.9038 15.4856 24.2716 15.1178C24.6395 14.7499 24.8462 14.251 24.8462 13.7308C24.8462 13.2105 24.6395 12.7116 24.2716 12.3438C23.9038 11.9759 23.4048 11.7692 22.8846 11.7692ZM15.6923 18.3179V20.2667C16.8705 20.2667 17.6232 20.8092 17.6232 21.0916C17.6232 21.373 16.8751 21.9097 15.7051 21.9141C15.7007 21.9141 15.6967 21.9141 15.6923 21.9141V21.9166V23.8628V23.8654C15.6967 23.8654 15.7007 23.8654 15.7051 23.8654C16.8751 23.8697 17.6232 24.4065 17.6232 24.6878C17.6232 24.9703 16.8705 25.5128 15.6923 25.5128V27.4615C17.8748 27.4615 19.5847 26.2426 19.5847 24.6878C19.5847 23.9915 19.2271 23.372 18.6525 22.8897C19.2271 22.4075 19.5847 21.788 19.5847 21.0916C19.5847 19.5368 17.8748 18.3179 15.6923 18.3179Z"
                                                                      fill="#33AF31" />
                                                            </svg>
                                                        </div>
                                                        <div class="active-image">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                                                                 viewBox="0 0 34 34" fill="none">
                                                                <path d="M17 0C7.62646 0 0 7.62646 0 17C0 26.3735 7.62646 34 17 34C26.3735 34 34 26.3735 34 17C34 7.62646 26.3735 0 17 0ZM17 2.61538C24.9312 2.61538 31.3846 9.06885 31.3846 17C31.3846 24.9312 24.9312 31.3846 17 31.3846C9.06885 31.3846 2.61538 24.9312 2.61538 17C2.61538 9.06885 9.06885 2.61538 17 2.61538ZM11.1154 11.7692C10.5952 11.7692 10.0962 11.9759 9.72837 12.3438C9.36051 12.7116 9.15385 13.2105 9.15385 13.7308C9.15385 14.251 9.36051 14.7499 9.72837 15.1178C10.0962 15.4856 10.5952 15.6923 11.1154 15.6923C11.6356 15.6923 12.1345 15.4856 12.5024 15.1178C12.8703 14.7499 13.0769 14.251 13.0769 13.7308C13.0769 13.2105 12.8703 12.7116 12.5024 12.3438C12.1345 11.9759 11.6356 11.7692 11.1154 11.7692ZM22.8846 11.7692C22.3644 11.7692 21.8655 11.9759 21.4976 12.3438C21.1297 12.7116 20.9231 13.2105 20.9231 13.7308C20.9231 14.251 21.1297 14.7499 21.4976 15.1178C21.8655 15.4856 22.3644 15.6923 22.8846 15.6923C23.4048 15.6923 23.9038 15.4856 24.2716 15.1178C24.6395 14.7499 24.8462 14.251 24.8462 13.7308C24.8462 13.2105 24.6395 12.7116 24.2716 12.3438C23.9038 11.9759 23.4048 11.7692 22.8846 11.7692ZM15.6923 18.3179V20.2667C16.8705 20.2667 17.6232 20.8092 17.6232 21.0916C17.6232 21.373 16.8751 21.9097 15.7051 21.9141C15.7007 21.9141 15.6967 21.9141 15.6923 21.9141V21.9166V23.8628V23.8654C15.6967 23.8654 15.7007 23.8654 15.7051 23.8654C16.8751 23.8697 17.6232 24.4065 17.6232 24.6878C17.6232 24.9703 16.8705 25.5128 15.6923 25.5128V27.4615C17.8748 27.4615 19.5847 26.2426 19.5847 24.6878C19.5847 23.9915 19.2271 23.372 18.6525 22.8897C19.2271 22.4075 19.5847 21.788 19.5847 21.0916C19.5847 19.5368 17.8748 18.3179 15.6923 18.3179Z"
                                                                      fill="white" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text">@item2.RemarkLabel</div>
                                            </div>
                                        }
                                        else if (!string.IsNullOrEmpty(item2.RemarkLabelEnglish) && item2.RemarkLabelEnglish.ToLower() == "no")
                                        {
                                            <div class="review-select-qtn text-blue" id="box3">
                                                <input hidden class="review-dichotomous-answer-class" value="@item.RemarkId:@item2.RemarkId" data-extra-info="@item.RemarkLabel:@item2.RemarkLabel" />
                                                <div class="image">
                                                    <div class="image">
                                                        <div class="unactive-image">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                                                                 viewBox="0 0 34 34" fill="none">
                                                                <path d="M17 0C7.62646 0 0 7.62646 0 17C0 26.3735 7.62646 34 17 34C26.3735 34 34 26.3735 34 17C34 14.314 33.3569 11.7801 32.2428 9.51908C31.8505 10.4436 31.2079 11.2288 30.4115 11.8382C31.0314 13.4427 31.3846 15.1797 31.3846 17C31.3846 24.9312 24.9312 31.3846 17 31.3846C9.06885 31.3846 2.61538 24.9312 2.61538 17C2.61538 9.06885 9.06885 2.61538 17 2.61538C18.7667 2.61538 20.4535 2.95032 22.0188 3.53486C22.3588 2.7607 22.751 1.96473 23.1656 1.17488C21.2511 0.42688 19.176 0 17 0ZM26.8077 0C26.8077 0 23.5385 5.58987 23.5385 7.32257C23.5385 9.05526 25.0031 10.4615 26.8077 10.4615C28.6123 10.4615 30.0769 9.05526 30.0769 7.32257C30.0769 5.58987 26.8077 0 26.8077 0ZM7.84615 14.3846V17H14.3846V14.3846H7.84615ZM19.6154 14.3846V17H26.1538V14.3846H19.6154Z"
                                                                      fill="#5578D2" />
                                                            </svg>
                                                        </div>
                                                        <div class="active-image">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                                                                 viewBox="0 0 34 34" fill="none">
                                                                <path d="M17 0C7.62646 0 0 7.62646 0 17C0 26.3735 7.62646 34 17 34C26.3735 34 34 26.3735 34 17C34 14.314 33.3569 11.7801 32.2428 9.51908C31.8505 10.4436 31.2079 11.2288 30.4115 11.8382C31.0314 13.4427 31.3846 15.1797 31.3846 17C31.3846 24.9312 24.9312 31.3846 17 31.3846C9.06885 31.3846 2.61538 24.9312 2.61538 17C2.61538 9.06885 9.06885 2.61538 17 2.61538C18.7667 2.61538 20.4535 2.95032 22.0188 3.53486C22.3588 2.7607 22.751 1.96473 23.1656 1.17488C21.2511 0.42688 19.176 0 17 0ZM26.8077 0C26.8077 0 23.5385 5.58987 23.5385 7.32257C23.5385 9.05526 25.0031 10.4615 26.8077 10.4615C28.6123 10.4615 30.0769 9.05526 30.0769 7.32257C30.0769 5.58987 26.8077 0 26.8077 0ZM7.84615 14.3846V17H14.3846V14.3846H7.84615ZM19.6154 14.3846V17H26.1538V14.3846H19.6154Z"
                                                                      fill="white" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text">@item2.RemarkLabel</div>
                                            </div>

                                        }
                                    }
                                }
                            </div>
                        </div>
                        i++;
                    }
                }
                <!-- select  answer end -->
            </div>
            <!-- qtn section-->
        </div>
    </div>
    <div class="px-4 py-[18px] shadow-review absolute bottom-0 left-0 w-full bg-white">
        <a onclick="SubmitFunction();" class="">
            <button class="button-curve btn-primary h-[46px]">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Continue
                <div class="absolute top-[14px] right-[15px]">
                    <i class="fa-solid fa-arrow-right text-[18px]"></i>
                </div>
            </button>
        </a>
        <div class="text-center mt-[10px]">
            <a onclick="history.back()" class="text-xs border-b border-[#404040] ">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.BackToPreviousPage
            </a>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            // Loop through each section
            for (let i = 1; i <= 5; i++) { // Change 2 to the number of sections you have
                const sectionClass = `.section-${i}`;
                // Add a click event handler to each box in the current section
                $(`${sectionClass} .review-select-qtn`).click(function () {
                    // Remove any existing active classes from all boxes in the current section
                    $(`${sectionClass} .review-select-qtn`).removeClass("active");
                    // Determine which box was clicked
                    var boxId = $(this).attr('id');
                    // Set the corresponding active class based on the clicked box
                    if (boxId === "box1") {
                        $(this).addClass("active");
                    } else if (boxId === "box2") {
                        $(this).addClass("active");
                    } else if (boxId === "box3") {
                        $(this).addClass("active");
                    }
                });
            }
        });

        function SubmitFunction() {
            const ReviewDichotomousQAList = [];
            const ReviewDichotomousQADisplayLabelList = [];
            $('.review-dichotomous-class .active .review-dichotomous-answer-class').each(function () {
                ReviewDichotomousQAList.push($(this).val());
                ReviewDichotomousQADisplayLabelList.push(this.dataset.extraInfo);
            });
            if (ReviewDichotomousQAList === null || ReviewDichotomousQAList === "" || ReviewDichotomousQAList.length <= 0) {
                toastr.info('申し訳ございませんがアンケートに答えてください'); /*'Please answer the questions'*/
                return false;
            }
            else if (ReviewDichotomousQAList.length != @TotalDichotomousQuestion) {
                toastr.info('申し訳ございませんが全アンケートに答えてください。'); /* Please answer all the questions*/
                return false;
            }
            DataStorageFunction(ReviewDichotomousQAList, ReviewDichotomousQADisplayLabelList);
              var reviewDetail = @Html.Raw(Json.Encode(@Request));
              var encodedReviewDetail = encodeURIComponent(JSON.stringify(reviewDetail));
              var url = '@Url.Action("ReviewDetails", "ReviewManagement")' + '?Request=' + encodedReviewDetail;
              window.location.href = url;
        }

        const DataStorageFunction = (i, j) => {
            localStorage.setItem("ReviewDichotomousQAIdList", JSON.stringify(i));
            localStorage.setItem("ReviewDichotomousQADisplayLabelList", JSON.stringify(j));
        }
    </script>
}