@model CRS.CUSTOMER.APPLICATION.Models.LocationManagement.LocationClubHostModel

<style>

    /* decorate */
    .disabled {
        color: #aaaaaa !important;
        background: #d7d7d7 !important;
    }

    .gradient {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(96deg, #99aefb 10%, #f04aa4 61.32%, #e7b282 98.78%);
    }
    /* list area */
    .list_wrap {
        width: 100%;
        height: auto;
        display: block;
        float: left;
        background: #efefef;
    }

    .club_content {
        width: 100%;
        height: auto;
        margin: 10px 0 0 0;
        padding: 15px 0 0 0;
        display: block;
        float: left;
        border-bottom: 1px solid #efefef;
        /*   background: #fcfcfc;*/
        background: #fff;
    }

        .club_content:first-child {
            margin-top: 0;
        }

        .club_content:last-child {
            margin-bottom: 0;
        }

        .club_content a {
            width: 100%;
            height: 100%;
            display: block;
        }

    ul.club_tags, .club_header, .club_rate, .club_pr {
        padding-left: 15px;
        padding-right: 10px;
    }
    /* tags */
    ul.club_tags {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
        display: inline-flex;
        flex-wrap: wrap;
    }

        ul.club_tags li {
            width: auto;
            height: auto;
            margin: 5px 0 0 5px;
            padding: 2px 8px;
            display: inline-flex;
            align-items: center;
            color: #ffffff;
            font-size: 10px;
            font-weight: 600;
            border-radius: 3px;
        }

            ul.club_tags li:first-child {
                margin-left: 0;
            }

            ul.club_tags li.tag_location {
                padding: 0;
                color: #aaaaaa;
                font-size: 0.8rem;
            }

            ul.club_tags li.tag_rank {
                background: #BFA3B6;
            }

            ul.club_tags li.tag_gold {
                background: #d4b78a;
            }

            ul.club_tags li.tag_good {
                background: #96b41f;
            }

            ul.club_tags li.tag_platinum {
                background: #697DBF;
            }

            ul.club_tags li.tag_big {
                background: #efb726;
            }
    /* hostclub info */
    .club_header {
        width: 100%;
        height: auto;
        /* display: flex;
        flex-wrap: wrap;
        align-items: flex-start;*/
        display: flex;
        justify-content: space-between;
    }

    .club_logo {
        width: 45px;
        height: 45px;
        margin: 0 10px 0 0;
        padding: 0;
        display: inline-flex;
    }

        .club_logo img {
            width: 100%;
            height: 100%;
            border: 1px solid #e5e7eb;
            border-radius: 50%;
            background: #efefef;
            object-fit: cover;
        }

    .club_info {
        width: calc(100% - 100px);
        height: auto;
        max-height: 45px; /* as 「.club_logo」height */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    h3.club_name, p.club_kana, p.club_group {
        display: inline-flex;
        align-items: center;
    }

    .club_info h3, .club_info p {
        width: 100%;
        font-size: 0.7rem;
        font-weight: 600;
    }

    h3.club_name {
        height: 19px;
        font-size: 0.9rem;
    }

    p.club_kana, p.club_group {
        height: 13px;
        color: #aaaaaa;
    }

    p.club_group {
        color: #e3a1a1;
        font-weight: normal;
    }

    .action_keep {
        width: 33px;
        height: 33px;
        padding: 1px;
        display: inline-flex;
        flex-flow: wrap-reverse;
    }

        .action_keep img {
            width: 33px;
            height: 33PX;
            aspect-ratio: 1 / 1;
        }
    /* hostclub thumb */
    ul.club_thumb {
        width: 100%;
        height: auto;
        margin: 10px 0;
        display: flex;
        flex-wrap: nowrap;
    }

        ul.club_thumb li {
            width: calc(100% / 3);
            height: auto;
            margin: 0;
            padding: 0 0 0 2px;
            display: inline-flex;
            aspect-ratio: 1 / 1;
        }

            ul.club_thumb li:first-child {
                padding: 0;
            }

            ul.club_thumb li img {
                width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                background: #efefef;
            }
    /* rate */
    .club_rate, ul.rate_stars, ul.rate_stars li, ul.rate_review {
        height: 18px; /* as 「ul.rate_stars li」 width */
    }

    .club_rate {
        width: 100%;
        height: 18px;
        display: flex;
        flex-wrap: nowrap;
        font-size: 1.1rem;
    }

    ul.rate_stars {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        ul.rate_stars li {
            width: 18px;
            margin: 0 0 0 2px;
            padding: 0;
            display: inline-flex;
            align-items: center;
        }

            ul.rate_stars li:first-child {
                margin: 0;
            }

            ul.rate_stars li img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
            }

            ul.rate_stars li.rate_value {
                /*width: auto;
                height: 18px;
                margin: 0 0 0 8px;
                padding: 2px 0 0 0;
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: 0;*/
                width: auto;
                height: 18px;
                margin: 0 0 0 8px;
                padding: 0;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0;
            }

    ul.rate_review {
        width: auto;
        margin: 0 0 0 10px;
        display: inline-flex;
    }

        ul.rate_review li.comment_value {
            /* width: auto;
            height: 18px;
            margin: 0 0 0 5px;
            padding: 4px 0 0 0;
            display: inline-flex;
            align-items: center;
            font-size: 0.8rem;*/
            width: auto;
            height: 20px;
            margin: 0 0 0 2px;
            padding: 0;
            display: inline-flex;
            align-items: center;
            font-size: 14px;
        }

        ul.rate_review li:first-child {
            width: 20px;
            height: 20px;
        }

    .rate_review img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    p.club_pr {
        /* width: 100%;
        height: 50px;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.75rem;
        overflow: hidden;*/
        width: 100%;
        height: 50px;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.75rem;
        overflow: hidden;
        line-height: 1.4;
        text-overflow: ellipsis;

    }
    /* hostclub footer */
    .club_footer {
        width: 100%;
        height: auto;
        margin: 10px 0 0 0;
        padding: 15px 15px 20px 15px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e5e7eb;
    }

    .club_status {
        width: 120px;
        height: auto;
        margin: 0;
        display: inline-flex;
        flex-flow: column;
    }

    .opening_hours {
        width: 140px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 0.02rem;
    }

        .opening_hours img {
            width: 18px;
            height: 18px;
            margin: 0 5px 0 0;
            display: inline-flex;
            align-items: center;
        }

    .available {
        width: 100%;
        height: auto;
        margin: 5px 0 0 0;
        padding: 1.4px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 3px;
        background: #d4b78a;
    }

    .club_footer .rsv_btn {
        /* width: calc(100% - 160px);
        height: 45px;
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        display: inline-flex;*/
        width: calc(100% - 135px);
        height: 45px;
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        display: inline-flex;
        letter-spacing: 1px;
        border-radius: 4px;
    }
</style>

<div id="tab1" class="tab-content-plane  exclude-class">
    <div class="list_wrap">
        @foreach (var item in Model.ClubListModel)
        {
            /* new improvememnt*/
            <div class="club_content">
                <!-- s/link -->
                <a onclick="ClubDetailRedirectFunction('@item.ClubCode', '@item.LocationURL')">
                    <!-- s/club_tag -->
                    <ul class="club_tags">
                        @if (!string.IsNullOrEmpty(@item.Tag1))
                        {
                            <!-- s/tag -->
                            <li class="tag_location"><img class="map_pin" src="~/Content/assets/images/location_icon.svg" alt="ピン"> @item.Tag1</li>
                            <!-- e/tag -->
                        }
                        @if (!string.IsNullOrEmpty(@item.Tag2))
                        {
                            <!-- s/tag -->
                            <li class="tag_rank">
                                ランク @item.Tag2
                            </li>
                        }
                        <!-- e/tag -->
                        <!-- s/tag -->
                        @if (!string.IsNullOrEmpty(@item.Tag3))
                        {
                            <li class="tag_platinum">  @item.Tag3</li>
                        }

                        @if (!string.IsNullOrEmpty(@item.Tag4))
                        {
                            <!-- e/tag -->
                            <!-- s/tag -->
                            <li class="tag_good">@item.Tag4</li>
                        }
                        @if (!string.IsNullOrEmpty(@item.Tag5))
                        {
                            <li class="tag_big">  @item.Tag5</li>
                        }
                        <!-- e/tag -->
                    </ul>
                    <!-- e/club_tag -->
                    <!-- s/club header -->
                    <div class="club_header">
                        <!-- s/club logo -->
                        <div class="club_logo"><img class="logo" alt="ロゴ" src="@item.ClubLogo"></div>
                        <!-- e/club logo -->
                        <!-- s/club info -->
                        <div class="club_info">
                            <!-- s/club_name -->
                            <h3 class="club_name">@item.ClubName</h3>
                            <!-- e/club_name -->
                            <!-- s/club kana -->
                            <p class="club_kana">@item.ClubNameJapanese</p>
                            <!-- e/club kana -->
                            <!-- s/club group -->
                            <p class="club_group">@item.GroupName</p>
                            <!-- e/club group -->
                        </div>
                        <!-- e/club info -->
                        <!-- s/action btn -->
                        @if (item.IsBookmarked.ToUpper() == "Y")
                        {
                            <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId', '', 'club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-filled.svg"></div>
                        }
                        else
                        {
                            <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId', '', 'club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-notfilled.svg"></div>
                        }
                        <!-- e/action btn -->
                    </div>
                    <!-- e/club header -->
                    <!-- s/thumb area -->
                    <ul class="club_thumb">
                        <!-- s/club thumb -->
                        @foreach (var item2 in item.HostGalleryImage)
                        {
                            <li><img alt="@item.ClubName ([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="@item2"></li>
                        }
                        <!-- e/club thumb -->
                        <!-- s/club thumb -->
                        @* <li><img alt="[club]([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="images/Content/UserUpload/Host/Gallery/GalleryImage_202404041520250819.jpg"></li>*@
                        <!-- e/club thumb -->
                        <!-- s/club thumb -->
                        @*<li><img alt="[club]([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="images/Content/UserUpload/Host/Gallery/GalleryImage_202404041519587224.jpg"></li>*@
                        <!-- e/club thumb -->
                    </ul>
                    <!-- e/thumb area -->
                    <!-- s/club rate -->
                    <div class="club_rate">
                        <!-- s/club rank -->
                        <ul class="rate_stars">
                            <!-- s/rank star -->
                            @{
                                var unratedScale = (5 - item.AverageRating);
                                for (int i = 0; i < item.AverageRating; i++)
                                {
                                    <li><img src="~/Content/assets/images/ratingstar-filled.svg" alt="未評価"></li>
                                }
                                for (int i = 0; i < unratedScale; i++)
                                {
                                    <!-- e/rank star -->
                                    <!-- s/rank star -->
                                    <li><img src="~/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>
                                }
                            }
                            <!-- e/rank star -->
                            <!-- s/rank star -->
                            @*<li><img src="/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>*@
                            <!-- e/rank star -->
                            <!-- s/rank star -->
                            @* <li><img src="/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>*@
                            <!-- e/rank star -->
                            <!-- s/rank star -->
                            @*<li><img src="/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>*@
                            <!-- e/rank star -->
                            <!-- s/rank star -->
                            <li class="rate_value"> @item.AverageRating</li>
                            <!-- e/rank star -->
                        </ul>
                        <!-- e/club rank -->
                        <!-- s/club review -->
                        <ul class="rate_review">
                            <!-- s/comment frame -->
                            <li><img src="~/Content/assets/images/comment.svg" alt="コメント"></li>
                            <!-- e/comment frame -->
                            <!-- s/comment value -->
                            <li class="comment_value">@item.TotalComment</li>
                            <!-- e/comment value -->
                        </ul>
                        <!-- e/club review -->
                    </div>
                    <!-- e/club rate -->
                    <!-- s/club pr -->
                    <p class="club_pr"> @item.ClubDescription</p>
                    <!-- e/club pr -->
                </a>
                <!-- e/link -->
                <!-- s/club footer -->
                <div class="club_footer">
                    <!-- s/club status -->
                    <div class="club_status">
                        <!-- s/opening hours -->
                        @{
                            DateTime currentTime = DateTime.Parse(DateTime.Now.ToString("HH:mm"));
                        }
                        @if (!string.IsNullOrEmpty(@item.ClubOpeningTime) && !string.IsNullOrEmpty(@item.ClubClosingTime))
                        {
                            if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "DAY")
                            {
                                <div class="opening_hours">
                                    <img src="~/Content/assets/images/customer/sun.svg" alt="夜">
                                   @* @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime*@
                                    <span style="line-height:13px;">
                                        @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime
                                    </span>
                                </div>
                            }
                            else if (!string.IsNullOrEmpty(@item.ClubTimePeriod) && @item.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                            {
                    <div class="opening_hours">
                        <img src="/Content/assets/images/customer/moon.svg" alt="夜">
                      @*  @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime*@

                        <span style="line-height:13px;">
                            @item.ClubOpeningTime &#xff5e; @item.ClubClosingTime
                        </span>

                    </div>
                            }

                            <!-- e/opening hours -->
                            <!-- s/available -->


                            if (!string.IsNullOrEmpty(item.TodaysClubSchedule) && item.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE" && DateTime.Parse(item.ClubClosingTime) > currentTime)
                            {
                                <div class="available">本日空席あり</div>
                            }
                            else
                            {
                                <div class="available disabled">本日空席あり</div>
                            }
                        }
                        <!-- e/available -->
                    </div>
                    <!-- e/club status -->
                    <!-- s/reservation btn -->
                    <button class="rsv_btn gradient" onclick="InitiateClubReservationFunction('@item.ClubId')">
                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Book_Now
                        @* 今すぐ予約する*@
                    </button>
                    <!-- e/reservation btn -->
                </div>
                <!-- e/club footer -->

            </div>
            /* new improvememnt end*/


            <div style="background-color: #e8e8e8;" class=" h-[8px] my-[0px] py-[0px]">

            </div>
        }
    </div>
    <div style="background-color: #F6F6F6; height:42px; display:flex; width:100%"
         class="flex flex-row gap-[4px] justify-center h-[24px] items-center my-[0px] pb-[12px] ">
        <div style="line-height:18px;" class="text-[#D75A8B] underline text-[12px]" onclick="CurrentLocationRedirectFunction();">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.See_more
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M4.5 9L7.5 6L4.5 3" stroke="#D75A8B" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>
@*club section end
    Host image section*@
<div id="tab2" class="tab-content-plane exclude-class" style="display:none;">
    @foreach (var item in Model.HostListModel)
    {
        <div class="flex flex-row gap-[16px] mx-[16px]">
            <div style="border-radius: 4px;" class="w-[128px] mt-[16px]  h-auto flex  justify-end text-center relative">
                <div class="w-full flex justify-center" onclick="HostDetailRedirectFunction('@item.HostCode', '@item.ClubCode', '@item.LocationURL');">
                    <img class="w-[128px] h-[180px] object-cover rounded-[2px]"
                         src="@item.HostImage" />
                </div>
                @if (!string.IsNullOrEmpty(item.IsBookmarked.ToUpper()) && item.IsBookmarked.ToUpper() == "Y")
                {
                    <div id="like" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId','@item.HostId','host', this)">
                        <img src="~/Content/assets/images/loveicon-filled.svg" class="h-[34px] w-[34px]" alt="bookmark" />
                    </div>
                }
                else
                {
                    <div id="like" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId','@item.HostId','host', this)">
                        <img src="~/Content/assets/images/loveicon-nf.svg" class="h-[34px] w-[34px]" alt="bookmark" />
                    </div>
                }
            </div>
            <div class="grid mt-[16px]  mb-[10px] grid-rows-7" style="margin-right:16px">
                <div style="line-height: 140%;" class="text-[10px]">
                    <p class="font-[700] text-[13px]" style="padding-bottom:4px">

                        @if (string.IsNullOrEmpty(@item.HostNameJapanese))
                        {
                            @item.HostName
                        }
                        else
                        {
                            @item.HostNameJapanese
                        }
                    </p>
                    @if (!string.IsNullOrEmpty(item.FormattedDOB))
                    {
                        <p>誕生日 :<span> @item.FormattedDOB</span> </p>
                    }
                    else
                    {
                        <p>誕生日 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }
                    @if (!string.IsNullOrEmpty(item.HostBirthPlace))
                    {
                        <p>出身地 :<span> @item.HostBirthPlace</span> </p>
                    }
                    else
                    {
                        <p>出身地 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }
                    @if (!string.IsNullOrEmpty(item.HostBloodType))
                    {
                        <p>血液型 :<span> @item.HostBloodType</span> </p>
                    }
                    else
                    {
                        <p>血液型 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }
                    @if (!string.IsNullOrEmpty(item.HostConstellationGroup))
                    {
                        <p>星座 :<span> @item.HostConstellationGroup</span> </p>
                    }
                    else
                    {
                        <p>星座 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }
                    @if (!string.IsNullOrEmpty(item.Occupation))
                    {
                        <p>前職 :<span> @item.Occupation</span> </p>
                    }
                    else
                    {
                        <p>前職 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }

                    @if (!string.IsNullOrEmpty(item.HostHeight))
                    {
                        <p>身長 :<span> @item.HostHeight</span> </p>
                    }
                    else
                    {
                        <p>身長 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }
                    @if (!string.IsNullOrEmpty(item.LiquorStrength))
                    {
                        <p>お酒の強さ :<span> @item.LiquorStrength </span> </p>
                    }
                    else
                    {
                        <p>お酒の強さ :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                    }

                </div>
                <div class="flex flex-row gap-1 items-center mb-[8px] mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                        <path d="M2.71459 7.28802L2.70677 7.27992L2.70002 7.27344L2.69991 7.27333L2.69977 7.2732L2.69972 7.27314L2.69946 7.2729L2.69551 7.26898C2.69096 7.26443 2.68308 7.25648 2.67238 7.24533C2.65094 7.223 2.6184 7.18812 2.57856 7.14233C2.49833 7.0501 2.39165 6.91721 2.28715 6.75669C2.06486 6.41524 1.87295 6.01061 1.87295 5.57856C1.87295 4.15772 3.00042 3.00912 4.34113 3.00912C5.48553 3.00912 6.23896 3.72054 6.56537 4.06389L7.00022 4.52129L7.43507 4.06389C7.76149 3.72054 8.51491 3.00912 9.65931 3.00912C11 3.00912 12.1275 4.15772 12.1275 5.57856C12.1275 6.01777 11.9411 6.4329 11.7225 6.76253C11.6159 6.92322 11.509 7.05249 11.4297 7.14051C11.3902 7.18425 11.3583 7.21705 11.3376 7.23769C11.3272 7.24799 11.3198 7.25519 11.3156 7.25915L11.3127 7.26192L11.3121 7.26241L11.3121 7.26247L11.3119 7.26261L11.3118 7.26271L11.2993 7.27409L11.2859 7.28802L7.00022 11.7279L2.71459 7.28802Z"
                              stroke="#D75A8B" stroke-width="1.2" />
                    </svg>
                    <p class="text-[10px]">
                        @item.HostLoveCount
                    </p>
                </div>
                <div style="padding: 4px; width:144px" class="flex bg-[#F6F6F6]  flex-row gap-[5px] rounded-[4px]" onclick="ClubDetailRedirectFunction('@item.ClubCode', '@item.LocationURL');">
                    <div>
                        <img style="border: 1px solid #F1EEEE;" class="object-cover h-[32px] w-[32px] rounded-full "
                             src="@item.ClubLogo" alt="clublogo">
                    </div>
                    <div class="flex flex-col justify-center ">
                        <p style="line-height: 100%;padding-bottom:3px;overflow:hidden; text-overflow:ellipsis;white-space:nowrap; max-width:90px" class="text-[10px] text-[#292F33] font-[700]">
                            @item.ClubName
                        </p>
                        <p style="line-height: 100%;" class="text-[8px] text-[#A09E91] font-[400]">
                            @item.ClubNameJapanese
                        </p>

                    </div>
                </div>
            </div>
        </div>
        @* <div class="bg-[#F6F6F6] h-[4px] mt-[16px]">

            </div>*@
        <div style="background-color: #e8e8e8;" class=" h-[8px] my-[0px] py-[0px]">

        </div>
    }
    <div style="background-color: #F6F6F6; height:42px"
         class="flex flex-row gap-[4px] justify-center h-[24px] items-center my-[0px] pb-[12px] ">
        <div style="line-height:18px;" class="text-[#D75A8B] underline text-[12px]" onclick="CurrentLocationRedirectFunction('host');">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.See_more
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M4.5 9L7.5 6L4.5 3" stroke="#D75A8B" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</div>
@*Host image section end*@
