@{
    ViewBag.Title = "Payment Method";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="px-4 py-[12px] grid border-t border-[#EFEFEF] ">
    <p class="font-[600] text-[14px]">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Currently_Linked
    </p>
    <button class="mt-[16px]" onclick="AddCreditCard()">
        <div class="flex flex-row items-center justify-between">
            <div class="flex flex-row items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                    <path d="M2.75 0.5C1.5166 0.5 0.5 1.5166 0.5 2.75V13.25C0.5 14.4834 1.5166 15.5 2.75 15.5H19.25C20.4834 15.5 21.5 14.4834 21.5 13.25V2.75C21.5 1.5166 20.4834 0.5 19.25 0.5H2.75ZM2.75 2H19.25C19.6748 2 20 2.3252 20 2.75V4.25H2.75V5.75H20V13.25C20 13.6748 19.6748 14 19.25 14H2.75C2.3252 14 2 13.6748 2 13.25V2.75C2 2.3252 2.3252 2 2.75 2Z"
                          fill="#D75A8B" />
                    <p class="font-[400] ml-[10px]">
                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Card
                        <span class="text-[#A09E91]">
                            (@CRS.CUSTOMER.APPLICATION.Resources.Resource.Card_Type)
                        </span>
                    </p>
                </svg>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M10 17L15 12L10 7" stroke="black" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </button>
    <div class="flex text-[#000] flex-col mt-[23px] gap-[16px]">
        <p class="text-[14px] font-[600]">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Add_Methods
        </p>
        <div class="flex  flex-row font-[400] gap-[10px] items-center">
            <div class=" rounded-[29px] bg-[#F8F8F8] p-[10px]">
                <svg xmlns=" http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M5 9H3V16H5V9ZM11 9H9V16H11V9ZM19.5 18H0.5V20H19.5V18ZM17 9H15V16H17V9ZM10 2.26L15.21 5H4.79L10 2.26ZM10 0L0.5 5V7H19.5V5L10 0Z"
                          fill="#A09E91" />
                </svg>
            </div>
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Bank_Account
            </p>
        </div>
        <div class="flex flex-row font-[400] gap-[10px] items-center">
            <div class=" rounded-[29px] bg-[#F8F8F8] p-[10px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                    <path d="M2.6 0.440002C1.445 0.440002 0.5 1.385 0.5 2.54V13.46C0.5 14.615 1.445 15.56 2.6 15.56H19.4C20.555 15.56 21.5 14.615 21.5 13.46V2.54C21.5 1.385 20.555 0.440002 19.4 0.440002H2.6ZM2.6 1.28H19.4C20.1005 1.28 20.66 1.83946 20.66 2.54V13.46C20.66 14.1606 20.1005 14.72 19.4 14.72H2.6C1.89945 14.72 1.34 14.1606 1.34 13.46V2.54C1.34 1.83946 1.89945 1.28 2.6 1.28ZM11.3806 5.06C11.1198 5.1125 10.9212 5.34711 10.9212 5.62438C10.9212 5.93774 11.1805 6.18875 11.4987 6.18875C11.8121 6.18875 12.0631 5.93774 12.0631 5.62438C12.0631 5.3061 11.8121 5.06 11.4987 5.06C11.4594 5.06 11.4184 5.0518 11.3806 5.06ZM7.56125 5.55875L6.6425 5.71625L6.51125 6.53L6.18313 6.5825L6.065 7.33063H6.51125V8.90563C6.51125 9.31414 6.61297 9.58485 6.82625 9.75875C7.00508 9.90313 7.25281 9.98188 7.61375 9.98188C7.89266 9.98188 8.07312 9.93266 8.19125 9.90313V9.05C8.12562 9.06641 7.97633 9.1025 7.87625 9.1025C7.66297 9.1025 7.56125 8.99586 7.56125 8.74813V7.33063H8.12562L8.25687 6.53H7.56125V5.55875ZM4.76562 6.46438C4.39977 6.46438 4.10445 6.56117 3.88625 6.74C3.65984 6.92703 3.545 7.18789 3.545 7.51438C3.545 8.105 3.90266 8.36422 4.49 8.5775C4.86898 8.71203 4.98875 8.81047 4.98875 8.95813C4.98875 9.1025 4.86898 9.18125 4.6475 9.18125C4.37352 9.18125 3.91906 9.04016 3.62375 8.86625L3.4925 9.68C3.74516 9.82438 4.21273 9.98188 4.7 9.98188C5.08719 9.98188 5.41531 9.88016 5.63188 9.70625C5.87469 9.5143 5.99937 9.23047 5.99937 8.86625C5.99937 8.2625 5.6368 8.01641 5.04125 7.80313C4.72297 7.685 4.5425 7.59313 4.5425 7.44875C4.5425 7.32735 4.6393 7.265 4.81812 7.265C5.14461 7.265 5.48094 7.38805 5.71062 7.50125L5.84187 6.6875C5.65977 6.60055 5.28242 6.46438 4.76562 6.46438ZM14.3862 6.46438C14.0729 6.46438 13.8022 6.59727 13.5462 6.87125L13.4937 6.53H12.5356V11.1631L13.625 10.9794V9.90313C13.7907 9.95563 13.958 9.98188 14.1106 9.98188C14.3797 9.98188 14.7636 9.90477 15.0687 9.575C15.3608 9.25672 15.515 8.76617 15.515 8.11813C15.515 7.54391 15.4051 7.11078 15.1869 6.83188C14.9949 6.58414 14.7259 6.46438 14.3862 6.46438ZM17.4181 6.46438C16.501 6.46438 15.9219 7.14852 15.9219 8.23625C15.9219 8.84492 16.081 9.29774 16.3812 9.58813C16.6503 9.84899 17.0359 9.98188 17.5362 9.98188C17.9973 9.98188 18.4222 9.87196 18.6912 9.69313L18.5731 8.95813C18.3073 9.1025 18.0022 9.16813 17.6544 9.16813C17.446 9.16813 17.2984 9.12875 17.195 9.03688C17.0818 8.94172 17.0195 8.78586 16.9981 8.56438H18.7831C18.788 8.51188 18.7962 8.2625 18.7962 8.18375C18.7962 7.64399 18.6716 7.22399 18.4419 6.92375C18.2073 6.6186 17.866 6.46438 17.4181 6.46438ZM10.3306 6.4775C10.0255 6.4775 9.78266 6.63664 9.6875 6.92375L9.62187 6.53H8.67688V9.91625H9.75312V7.71125C9.88766 7.54555 10.0829 7.48813 10.3438 7.48813C10.4012 7.48813 10.4537 7.48813 10.5275 7.50125V6.50375C10.4537 6.48735 10.3962 6.4775 10.3306 6.4775ZM10.9475 6.53V9.91625H12.0369V6.53H10.9475ZM17.3131 7.19938C17.341 7.19282 17.3607 7.19938 17.3919 7.19938C17.6347 7.19938 17.7692 7.42907 17.7856 7.90813H16.985C17.0112 7.48649 17.1212 7.2486 17.3131 7.19938ZM14.0319 7.29125C14.3059 7.29125 14.4387 7.57836 14.4387 8.1575C14.4387 8.48727 14.3945 8.74485 14.2944 8.91875C14.2074 9.08446 14.0696 9.16813 13.9137 9.16813C13.8055 9.16813 13.712 9.14516 13.625 9.1025V7.50125C13.8071 7.3093 13.9712 7.29125 14.0319 7.29125Z"
                          fill="#A09E91" />
                </svg>
            </div>
            <p>
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Stripe
            </p>
        </div>
    </div>
</div>
<script>
    function AddCreditCard() {
        window.location.href = "/PaymentMethodManagement/AddCreditCard";
    }
</script>

