@model CRS.CUSTOMER.APPLICATION.Models.Home.ForgotPasswordModel

@{
    ViewBag.Title = "パスワードの再設定‖ホスログ《 ホストクラブ初回来店・ネット予約 》";
    Layout = null;
}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/global.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/customcss.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="/Content/assets/js/owl.carousel.js"></script>
    <script src="/Content/assets/js/modal.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="/Content/js/NotificationMessageToaster.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>Hoslog | @ViewBag.Title</title>
</head>

<body class="md:hidden">
    <style>
        .forgetPasswordWrapper {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            margin: 16px 0;
        }

        .header {
            color: #18181B;
           


            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
        }

        .suggestionText {
            color: #A1A1AA;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
        }

        .inputWrapper {
            border: 1px solid #ECECEC;
            border-radius: 4px;
        }
        /*
            .inputWrapper > input {
                border: none;
                outline: none;
            }*/

        .message {
            font-size: 12px;
            letter-spacing: 0.4px;
        }

        .btn {
            background: #D75A8B;
            padding: 8px 12px;
            color: #fff;
            font-weight: 700;
            line-height: 24px;
            font-size: 14px;
            margin-top: 18px;
        }

        .inputContainer {
            background: none;
        }

        input:focus {
            border-color: #d75a8b !important;
            --tw-ring-shadow: none !important;
        }
    </style>
    <div>
        <!-- for back button -->
        <div class="flex items-center  border-b border-b-[#E8E8E8] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[44px]">
            <div class="flex gap-2 items-center absolute top-[12px] text-sm" onclick="window.location.href='/login'">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.2347 2.74084C14.7855 2.29167 14.0614 2.29167 13.6122 2.74084L5.99469 10.3583C5.63719 10.7158 5.63719 11.2933 5.99469 11.6508L13.6122 19.2683C14.0614 19.7175 14.7855 19.7175 15.2347 19.2683C15.6839 18.8192 15.6839 18.095 15.2347 17.6458L8.59802 11L15.2439 4.35417C15.6839 3.91417 15.6839 3.18084 15.2347 2.74084Z"
                          fill="#BCB08A" />
                </svg>戻る
            </div>
            <div class="text-center w-full font-bold"></div>
        </div>
        <!-- back button end -->
        <div class=" px-6">
            <!-- for request for forget password -->
            <div class="forgetPasswordWrapper">
                <div class="header">
                    パスワードを忘れの方
                </div>
                <div class="suggestionText">パスワードをリセットするには電話番号を入力してください</div>
            </div>
            <!-- for contact number input field -->
            @using (Html.BeginForm("ForgotPassword", "Home", new { }, FormMethod.Post, new { @role = "form", @id = "fpform", @class = "form form-login" }))
            {
                <input type="hidden" value="" id="timet" name="timet" />
                @Html.HiddenFor(m => m.CaptureTime);
                @Html.AntiForgeryToken()
                <div class="inputWrapper">
                    @Html.TextBoxFor(model => model.MobileNo, new
               {
                   @class = "contactNumber w-full ring-0 border-1",
                   @placeholder = "携帯電話番号",
                   @type = "number",
                   @style = "border:1px solid #F1F1F1; border-radius:4px",
                   oninput = "limitInputLength(this, 11)"

               })
                </div>
                <span class="validationMessage">
                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "error-validation-msg" })
                </span>
                <!-- for message -->
                <div class="text-[#18181B] font-medium text-center leading-4 tracking-wider message mt-4">
                    SMSの受信拒否設定がされてないことを確認の上、以下のボタンを押してください
                </div>
            }
            <!-- for sebding code  -->
            <div>
                <button type="submit" class="btn border rounded-lg  w-full" id="btnCl" name="FormSubmit" value="Next">認証コードを受け取る</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">

        function limitInputLength(input, maxLength) {
            var value = input.value;
            // Remove non-numeric characters
            var numericValue = value.replace(/\D/g, '');
            // Trim to maximum length
            var trimmedValue = numericValue.substring(0, maxLength);
            // Update input value
            input.value = trimmedValue;


        }

        $("#btnCl").click(function (e) {
            e.preventDefault();
            var date = new Date();
            var year = date.getFullYear();  // yields year
            var month = ('0' + (date.getMonth() + 1)).slice(-2);// yields month (add one as '.getMonth()' is zero indexed)
            var day = ('0' + (date.getDate())).slice(-2);      // yields date //date.getDate();
            var hour = ('0' + (date.getHours())).slice(-2); // date.getHours();     // yields hours
            var minute = ('0' + (date.getMinutes())).slice(-2);//date.getMinutes(); // yields minutes
            var second = ('0' + (date.getSeconds())).slice(-2);// date.getSeconds(); // yields seconds
            var miliseconds = ('00' + date.getMilliseconds()).slice(-3);
            // After this construct a string with the above results as below
            var time = year + "-" + month + "-" + day + " " + hour + ':' + minute + ':' + second + ':' + miliseconds;
            $("#CaptureTime").val(time);
            $("#timet").val(time);
            $("#fpform").submit();
        });
    </script>
    <script src="/Content/js/NotificationMessageToaster.js"></script>
    <script>
    //For toaster Notification
    $(function () {
    {
        @if (TempData["Notifications"] != null)
        {
            var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
            foreach (var note in messages)
            {
                <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
            }
        }
        @{
            ViewBag.Notifications = string.Empty;
        }
        }
    });
    </script>
    <script src="~/Content/validation.js"></script>
</body>
</html>