@model CRS.CUSTOMER.APPLICATION.Models.Home.RegistrationModel
@{
    ViewBag.Title = "Forgot Password | OTP";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/global.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/customcss.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="/Content/assets/js/owl.carousel.js"></script>
    <script src="/Content/assets/js/modal.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="/Content/js/NotificationMessageToaster.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>Hoslog | @ViewBag.Title</title>
</head>
<body class="md:hidden">
    <!--<div class="mx-[16px]">
        <div class="flex justify-start flex-row mt-5">
            <div class="flex justify-center items-center" onclick="window.location.href='@Url.Action("Index","Home")'">
                <div class="pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18" fill="none">
                        <path d="M10.2352 0.740836C9.78601 0.29167 9.06184 0.29167 8.61268 0.740836L0.995176 8.35834C0.637676 8.71584 0.637676 9.29333 0.995176 9.65084L8.61268 17.2683C9.06184 17.7175 9.78601 17.7175 10.2352 17.2683C10.6843 16.8192 10.6843 16.095 10.2352 15.6458L3.59851 9L10.2443 2.35417C10.6843 1.91417 10.6843 1.18084 10.2352 0.740836Z" fill="#BCB08A" />
                    </svg>
                </div>
                <a class="text-[#292F33]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back</a>
            </div>
        </div>
        <div class="pt-4">
            <p class="font-[500] text-[14px]"> @CRS.CUSTOMER.APPLICATION.Resources.Resource.Enter_6_digit_code_sent_in_sms</p>
            <p class="mt-2 mb-8 font-[600] ">+ 81- @Model.MobileNumber</p>
        </div>-->
    @*@using (Html.BeginForm("VerifyforgotpasswordOTP", "Home", FormMethod.Post, new { @role = "form", @id = "formSubmit" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.AgentId)
            @Html.HiddenFor(model => model.MobileNumber)
            <input type="hidden" name="exptime" id="exptime" value='@Html.Raw(Session["exptime"]!=null?Session["exptime"].ToString():"")' />
            <div class="input-field">
                <input type="text" id="OTP1" name="OTP1" onkeypress="return isNumber(event)" required />
                <input type="text" id="OTP2" name="OTP2" onkeypress="return isNumber(event)" disabled required />
                <input type="text" id="OTP3" name="OTP3" onkeypress="return isNumber(event)" disabled required />
                <input type="text" id="OTP4" name="OTP4" onkeypress="return isNumber(event)" disabled required />
                <input type="text" id="OTP5" name="OTP5" onkeypress="return isNumber(event)" disabled required />
                <input type="text" id="OTP6" name="OTP6" onkeypress="return isNumber(event)" disabled required />
            </div>
            <div class="resend-div-class">
                <p id="otp-code-timer" class="small text-muted mt-3"></p>
                <div class="mt-5 text-center resend-div" id="resend-div">
                    <div class="login-txt">
                        <a href="#" id="resend-verification-code" class="disable-link resnd"> @CRS.CUSTOMER.APPLICATION.Resources.Resource.Request_a_new_code</a>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-6">
                <button name="submit" id="valCod" value="Next" class="btn btn-primary rounded-[44px] ">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Next</button>
            </div>
        }*@
    <!--</div>-->

    <style>
        .customContainer {
            padding: 0 24px;
        }

        .identification {
            color: #18181B;
            font-family: "Noto Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            margin-top: 12px;
            /* 100% */
        }

        input {
            background: none;
            outline: none;
        }

            input:focus {
                background: none;
                outline: none;
            }

        .displayMessage {
            margin-top: 16px;
            color: var(--Secondary-Text-II, #A1A1AA);
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Noto Sans";
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 160% */
        }

        .remainigTime {
            color: #B12D23;
            text-align: right;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Noto Sans";
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 160% */
        }

        .otpContainer {
            margin-top: 16px;
            margin-bottom: 24px;
            border: 1px solid #ECECEC;
            border-radius: 4px;
        }

            .otpContainer > input {
                border: none;
            }

                .otpContainer > input ::placeholder {
                    color: #A6A6A6;
                    font-family: "Noto Sans JP";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                }

        .returnButton {
            border-radius: 4px;
            border: 1px solid #F1F1F1;
            color: #5F5F5F;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Noto Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
        }

        .nextButton {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
            border-radius: 4px;
            background: #D75A8B;
            color: #FFF;
            font-family: "Noto Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
        }

        .acessCodeWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }

        .accessCodeText {
            color: #18181B;
            font-family: "Noto Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 133.333% */
            letter-spacing: 0.4px;
        }

        .accessCodeLink {
            color: #839AD6;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Noto Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.4px;
            text-decoration-line: underline;
        }

        .activated {
            display: flex;
        }

        .waitingMessage {
            color: #000;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: "Noto Sans";
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .waitingMessageWrapper {
            border-radius: 4px;
            background: #FFEDED;
            margin-top: 16px;
            /*display: none;*/
        }

        .inputContainer {
            background: none;
        }
    </style>
    <div id="myform">
        <!-- for back button -->
        <div class="flex items-center  border-b border-b-[#E8E8E8] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[44px]">
            <div class="flex gap-2 items-center absolute top-[12px] text-sm" onclick="window.location.href='@Url.Action("Index","Home")'">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.2347 2.74084C14.7855 2.29167 14.0614 2.29167 13.6122 2.74084L5.99469 10.3583C5.63719 10.7158 5.63719 11.2933 5.99469 11.6508L13.6122 19.2683C14.0614 19.7175 14.7855 19.7175 15.2347 19.2683C15.6839 18.8192 15.6839 18.095 15.2347 17.6458L8.59802 11L15.2439 4.35417C15.6839 3.91417 15.6839 3.18084 15.2347 2.74084Z"
                          fill="#BCB08A" />
                </svg>戻る
            </div>
            <div class="text-center w-full font-bold"></div>
        </div>
        <!-- back button end -->
        <div class=" px-6">
            <!-- for request for identification -->
            <div class="identification">
                ご本人確認のお願い
            </div>
            <!-- for message -->
            <div class="displayMessage">

            </div>
            <input type="hidden" name="exptime" id="exptime" value='@Html.Raw(Session["exptime"]!=null?Session["exptime"].ToString():"")' />
            <div class="flex justify-end items-end remainigTime" id="otp-code-timer">
                @*1 分 59 秒*@
            </div>
            <!-- for waiting message -->
            <div id="waitingMessageWrapper">
                <div class="flex p-2 gap-2 items-center waitingMessageWrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8 1.5C4.416 1.5 1.5 4.416 1.5 8C1.5 11.584 4.416 14.5 8 14.5C11.584 14.5 14.5 11.584 14.5 8C14.5 4.416 11.584 1.5 8 1.5ZM8 2.5C8.72252 2.49912 9.43811 2.64079 10.1058 2.91688C10.7735 3.19297 11.3801 3.59806 11.891 4.10896C12.4019 4.61985 12.807 5.22652 13.0831 5.8942C13.3592 6.56189 13.5009 7.27748 13.5 8C13.5009 8.72252 13.3592 9.43811 13.0831 10.1058C12.807 10.7735 12.4019 11.3801 11.891 11.891C11.3801 12.4019 10.7735 12.807 10.1058 13.0831C9.43811 13.3592 8.72252 13.5009 8 13.5C7.27748 13.5009 6.56189 13.3592 5.8942 13.0831C5.22652 12.807 4.61985 12.4019 4.10896 11.891C3.59806 11.3801 3.19297 10.7735 2.91688 10.1058C2.64079 9.43811 2.49912 8.72252 2.5 8C2.49912 7.27748 2.64079 6.56189 2.91688 5.8942C3.19297 5.22652 3.59806 4.61985 4.10896 4.10896C4.61985 3.59806 5.22652 3.19297 5.8942 2.91688C6.56189 2.64079 7.27748 2.49912 8 2.5ZM7.5 5V6H8.5V5H7.5ZM7.5 7V11H8.5V7H7.5Z"
                              fill="black" />
                    </svg>
                    <p class="waitingMessage">
                        2分まで、認証コードを再送信できません。
                    </p>
                </div>
            </div>
            @using (Html.BeginForm("VerifyforgotpasswordOTP", "Home", FormMethod.Post, new { @role = "form", @id = "formSubmit" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AgentId)
                @Html.HiddenFor(model => model.MobileNumber)
                @Html.HiddenFor(model => model.NickName)
                <!-- for otp container -->
                <div class="otpContainer ring-0 focus:ring-0 focus:ring-transparent">
                    <input type="number" placeholder="認証コード" class="inputContainer w-full ring-0 focus:ring-0 focus:ring-transparent"  name="OTPCode" oninput="limitInputLength(this, 6)"  maxlength="6" required>
                </div>
                <!-- for button group -->
                <div class="flex justify-between items-center gap-4 mb-4">
                    <button class="returnButton" onclick="window.location.href='@Url.Action("Index","Home")'">戻る</button>
                    <button class="nextButton" type="submit" name="submit" id="valCod" value="Next">次</button>
                </div>
            }
            <!-- for unable to get code  -->
            <div class="acessCodeWrapper">
                <div class="accessCodeText">
                    コードを取得できませんでしたか?
                </div>
                <div class="accessCodeLink" id="resend-verification-code">
                    <p class="accessCodeLink">
                        新しいコードをリクエストする
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/validation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>

        var isValid = false;
        $('#valCod').prop('disabled', true).css('opacity', '0.5');
        function limitInputLength(input, maxLength) {
            var value = input.value;
            var numericValue = value.replace(/\D/g, '');
            var trimmedValue = numericValue.substring(0, maxLength);
            // Update input value
            input.value = trimmedValue;
            if (input.value.length > 5) {
                $('#valCod').prop('disabled', false).removeAttr('style');
            }
            else
            {
                $('#valCod').prop('disabled', true).css('opacity', '0.5');
            }
        }
        function maskLastFourDigits(number)
        {
            // Check if the number is valid
            if (typeof number !== "string" || number.length < 4) {
                return "Invalid mobile number";
            }
            // Extract the last four digits
            var lastFourDigits = number.slice(-4);
            // Mask the rest of the number with asterisks
            var maskedNumber = number.slice(0, -4).replace(/\d/g, '*') + lastFourDigits;
            return maskedNumber;

        }

        //-----masked mobile number-----//
        var mobileNumber = "@Model.MobileNumber"; // Assuming Razor syntax
        if ("@Model.MobileNumber" !== "")
        {
        var message = "+ 81-" + maskLastFourDigits(mobileNumber) + " 宛にSMSを送信しました、メッセージに記載された6桁の数字を確認し、入力してください";
        $(".displayMessage").text(message);
        }



        $(function () {
            var today = new Date();
            var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date + ' ' + time;
            countdown($("#exptime").val());
            isValid = false;
            var fTime = $("#exptime").val();
            var divElement = document.getElementById("resend-verification-code");
            divElement.style.pointerEvents = "none";
            divElement.style.opacity = 0.5;
            var buttonsAndInputs = divElement.getElementsByTagName("button");
            for (var i = 0; i < buttonsAndInputs.length; i++) {
                buttonsAndInputs[i].disabled = true;
            }

        });
        function countdown(endtime) {
            /* var countDownDate = new Date(endtime).getTime();*/
            var endtime = endtime
            const dateParts = endtime.split(' ');
            const date = dateParts[0];
            const time = dateParts[1];
            const [year, month, day] = date.split(/[-\/]/);
            const [hours, minutes, seconds] = time.split(':');
            //const isoDate = new Date(Date.UTC(year, month - 1, day, hours, minutes, seconds)).toISOString();
            const isoDate = new Date(year, month - 1, day, hours, minutes, seconds).toISOString();
            const countDownDate = new Date(isoDate);
            var x = setInterval(function () {
                //var now = new Date();
                var date2 = new Date().toISOString();
                const now = new Date(date2);
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                document.getElementById("otp-code-timer").innerHTML = minutes + "分 " + seconds + "秒 ";
                if (distance < 0) {
                    isValid = true;
                    clearInterval(x);
                    var divElement = document.getElementById("resend-verification-code");
                    divElement.style.pointerEvents = "auto";
                    divElement.style.opacity = 1;
                    var buttonsAndInputs = divElement.getElementsByTagName("button");
                    for (var i = 0; i < buttonsAndInputs.length; i++) {
                        buttonsAndInputs[i].disabled = false;
                    }
                    $('#waitingMessageWrapper').hide();
                    $("#resend-div").removeClass('resend-div');
                    $("#resend-verification-code").removeClass('disable-link');
                    document.getElementById("otp-code-timer").innerHTML = "";
                    //document.getElementById("otp-code-timer").innerHTML = "あなたの認証コードは期限切れです。再送してください。";//= "Your code is expired. Please resend.";
                }
            }, 1000);
        }
    </script>
    <script>
        $('#resend-verification-code').click('click', function () {
            $('#waitingMessageWrapper').show();
            var divElement = document.getElementById("resend-verification-code");
            divElement.style.pointerEvents = "none";
            divElement.style.opacity = 0.5;
            var buttonsAndInputs = divElement.getElementsByTagName("button");
            for (var i = 0; i < buttonsAndInputs.length; i++) {
                buttonsAndInputs[i].disabled = true;
            }
            if (isValid == true) {
                $(this).addClass('disable-link');
                $("#resend-div").addClass('resend-div');
                var RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                var MobileNo = $('input[name="MobileNo"]').val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ResendFPOTP", "Home")',
                        data: {
                            '__RequestVerificationToken': RequestVerificationToken, 'MobileNumber': '@Model.MobileNumber', 'AgentId': '@Model.AgentId'
                        },
                        success: function (result) {
                            if (result.code == "0") {
                                $("#exptime").val(result.ExpTime);
                                countdown(result.ExpTime);
                                $("#resend-div-class").hide();
                                toastr.success(result.message);
                                isValid = false;
                            }
                            else {
                                toastr.info(result.message);
                            }
                        },
                        error: function (error) {
                        }
                    })
            }
        });
    </script>
    <script>
        $('#waitingMessageWrapper').hide();
    </script>
    <script>
 //For toaster Notification
 $(function () {
 {
     @if (TempData["Notifications"] != null)
     {
         var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
         foreach (var note in messages)
         {
             <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
         }
     }
     @{
         ViewBag.Notifications = string.Empty;
     }
     }
 });
    </script>
</body>
</html>
