@model CRS.CUSTOMER.APPLICATION.Models.Home.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <title>Hoslog | @ViewBag.Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Noto+Sans+JP:wght@400;500;600;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@500;600;700&family=Roboto+Condensed:wght@500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <style>
        :root {
            /*font-family: 'Noto Sans JP', sans-serif;*/
            font-family: 'Noto Sans JP';
            color: #292f33;
            font-size: 16px;
        }
    </style>
    <style>
        .error-signup {
            display: block;
            background: #c1ecfc;
            text-align: left;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 10pt !important;
            margin-bottom: 5px;
            text-align: center;
        }

        .in {
            color: #48dd61
        }

        .out {
            color: #F15656
        }

        .the-datepicker__deselect {
            position: absolute;
            top: 22px;
            right: 38px;
        }

        .form__control {
            height: calc(3rem + 2px) !important;
        }

        label.error {
            color: #eb0000;
            line-height: 2;
            font-size: 12px;
            font-weight: 200 !important;
        }

        .button__groupDateReg .btngroupDateReg__selected {
            background-color: #083473;
            color: #ffffff;
        }

        .input-group input {
            border: 1px solid #D9D9D9;
            border-radius: 3px;
        }

            .input-group input:focus {
                border-color: #d75a8b !important;
                outline: none;
                box-shadow: none
            }

            .input-group input:focus-visible {
                outline: none;
                box-shadow: none
            }
    </style>
</head>

<body class="md:hidden">
    <div class="px-4">
        <div class="flex justify-start flex-row mt-5">
            <div class="flex justify-center items-center" onclick="window.location.href='@Url.Action("Index","Home")'">
                <div class="pr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="18" viewBox="0 0 11 18" fill="none">
                        <path d="M10.2352 0.740836C9.78601 0.29167 9.06184 0.29167 8.61268 0.740836L0.995176 8.35834C0.637676 8.71584 0.637676 9.29333 0.995176 9.65084L8.61268 17.2683C9.06184 17.7175 9.78601 17.7175 10.2352 17.2683C10.6843 16.8192 10.6843 16.095 10.2352 15.6458L3.59851 9L10.2443 2.35417C10.6843 1.91417 10.6843 1.18084 10.2352 0.740836Z" fill="#BCB08A" />
                    </svg>
                </div>                <a class="text-[#292F33]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Back</a>
            </div>
        </div>
        <div class="form__wrapper">
            @*<h2 class="text-[#D75A8B] mt-[25px] mb-[16px] font-bold">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Forget_password</h2>*@
            <h2 class="mt-[25px] mb-[16px] font-bold">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Forget_password</h2>
            @using (Html.BeginForm("ForgotPassword", "Home", new { }, FormMethod.Post, new { @role = "form", @id = "fpform", @class = "form form-login" }))
            {
                <input type="hidden" value="" id="timet" name="timet" />
                @Html.HiddenFor(m => m.CaptureTime);
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3">
                            @Html.NTextBoxFor(m => m.MobileNo, new { @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight ", @placeholder = CRS.CUSTOMER.APPLICATION.Resources.Resource.MobileNumberPlaceholder, @maxlength = 11, @onkeypress = "return isNumber(event)" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3 ">
                            @Html.NTextBoxFor(m => m.Username, new { @class = "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight ", @placeholder = CRS.CUSTOMER.APPLICATION.Resources.Resource.Enter_nickname, @maxlength = 50 })
                        </div>
                    </div>
                </div>
                <br />
                <div class="flex rounded-full justify-center items-center text-white h-[48px] mt-[164px] bg-[#D75A8B] mx-[15px]">
                    <p class="ml-2 text-[14px] w-full h-full flex items-center justify-center cursor-pointer" id="btnCl" name="FormSubmit" value="Next">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Next</p>
                </div>
            }
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnCl").click(function (e) {
            e.preventDefault();
            var date = new Date();
            var year = date.getFullYear();  // yields year
            var month = ('0' + (date.getMonth() + 1)).slice(-2);// yields month (add one as '.getMonth()' is zero indexed)
            var day = ('0' + (date.getDate())).slice(-2);      // yields date //date.getDate();
            var hour = ('0' + (date.getHours())).slice(-2); // date.getHours();     // yields hours
            var minute = ('0' + (date.getMinutes())).slice(-2);//date.getMinutes(); // yields minutes
            var second = ('0' + (date.getSeconds())).slice(-2);// date.getSeconds(); // yields seconds
            var miliseconds = ('00' + date.getMilliseconds()).slice(-3);
            // After this construct a string with the above results as below
            var time = year + "-" + month + "-" + day + " " + hour + ':' + minute + ':' + second + ':' + miliseconds;
            $("#CaptureTime").val(time);
            $("#timet").val(time);
            $("#fpform").submit();
        });
    </script>
    <script>
    //For toaster Notification
    $(function () {
    {
        @if (TempData["Notifications"] != null)
        {
            var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
            foreach (var note in messages)
            {
                <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
            }
        }
        @{
            ViewBag.Notifications = string.Empty;
        }
        }
    });
    </script>
    <script src="~/Content/validation.js"></script>
</body>
</html>