﻿@model CRS.CUSTOMER.APPLICATION.Models.Home.LoginRequestModel
@{
    ViewBag.Title = "ホスログ | サインイン";
    Layout = null;
    var CallJavaScriptFunction = ViewBag.CallJavaScriptFunction;
}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/global.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/customcss.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="/Content/assets/js/owl.carousel.js"></script>
    <script src="/Content/assets/js/modal.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="md:hidden">
    <!--new login ui -->

    <style>
        .borderTop {
            border-top: 1px solid #ECECEC;
        }

        .loginContainer {
            padding: 0 24px;
        }

        .login {
            color: #18181B;
            font-weight: 700;
            line-height: 16px;
            font-size: 16px;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .inputWrapper {
            border: 1px solid #ECECEC;
            border-radius: 4px;
        }

        input {
            border: none;
            outline: none;
            background: none;
        }

            input:focus {
                shape-outside: none;
                border: none;
                outline: none;
            }

            input::placeholder {
                color: #A6A6A6;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }

        .rememberMe {
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.4px;
        }

        .checkBox {
            border: 0.5px solid #D9D9D9;
            border-radius: 1.5px;
            color: #D75A8B;
        }

            .checkBox:focus {
                border: 0.5px solid #D9D9D9;
                border-radius: 1.5px;
            }

        .forgetPassword {
            color: #839AD6;
            font-family: "Noto Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.4px;
        }

        .loginButton {
            background: #D75A8B;
            padding: 8px 12px;
            color: #fff;
            font-weight: 700;
            line-height: 24px;
            font-size: 14px;
            margin-top: 30px;
        }

        .termsAndContion {
            color: rgba(24, 24, 27, 0.60);
            font-weight: 700;
        }

        .termLink {
            color: #839AD6;
            font-size: 11px;
        }

        .spertator {
            width: calc((100% - 185px)/2);
            height: 1px;
            background-color: #A1A1AA;
        }

        .otherAccotunt {
            color: #666;
            text-align: center;
            font-family: "Noto Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 166%;
            padding: 0 13px;
            white-space: nowrap;
        }

        .registerButton {
            background: #FFF;
            padding: 8px 12px;
            color: #D75A8B;
            font-weight: 600;
            line-height: 23px;
            font-size: 14px;
            margin-top: 18px;
            border: 1px solid #D75A8B;
            letter-spacing: -0.165px;
        }

        .affiliation {
            display: flex;
            padding: 4px 0px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 18px;
            display: none
        }

        .affiliationText {
            color: #839AD6;
            text-align: center;
            font-family: "Noto Sans JP";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
            display: none
        }

        .dividerCol {
            color: #999;
            text-align: center;
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
            display: none
            /* 18.26px */
        }

        .touggleButton {
            display: hidden;
        }

        .contactNumber {
            background: none;
        }

        input {
            --tw-ring-shadow: 0 0 #000 !important;
            background: none;
            font-size: 12px;
        }

            input[type="password"] {
                font-size: 18px;
                letter-spacing: 0.5px;
            }

                input[type="password"]:focus {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

                input[type="password"]:focus-visible {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }
    </style>
    <div class="  ">

        <div class=" px-[24px] flex justify-between border-b border-b-[#ECECEC] bg-white z-[10]" style="z-index:12; padding-bottom:10px">
            <a class="flex gap-[6px] items-center" href="@Url.Action("Index","DashboardV2")">
                <img src="~/Content/assets/images/logo.svg" class="h-[24px]" alt='logo' />
            </a>
            <div class="flex gap-4">
                <div class="text-xl text-warmgray cursor-pointer" onclick="window.location.href='@Url.Action("ViewAllNotifications","NotificationManagement")'">
                    @*<i class="las la-bell relative" id="notification-bell-id">
                            <span class="h-[5px] w-[5px] bg-red rounded-full border-[1px] border-[#E8E0C6] absolute top-[4px] right-[3px]" style="display:none;"></span>
                        </i>*@
                </div>
                @* <div class="text-xl text-warmgray cursor-pointer" data-drawer-target="drawer-right-example"
                         data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
                        <i class="las la-bars"></i>
                    </div>*@
            </div>
        </div>
        <div class="loginContainer">
            <div class="login">ログイン</div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @role = "form", @id = "Form" }))
            {
                @Html.AntiForgeryToken()
                <input name="ReturnURL" value="@ViewBag.ReturnURL" hidden />
                <div class="inputWrapper focus:text-[12px]">
                    @Html.TextBoxFor(model => model.LoginId, new
                    {
                    @class = "contactNumber focus:outline-none border-none  w-full ring-0 focus:ring-0 focus:ring-transparent",
                    @placeholder = "携帯電話番号"

                    })
                    @*<span class="validationMessage ">
                    @Html.ValidationMessageFor(m => m.LoginId)
                </span>*@
                    <hr>
                    <div class="relative">
                        @Html.TextBoxFor(model => model.Password, new { @class = "w-full border-none  focus:outline-none bg-transparent ring-0 focus:ring-0 focus:ring-transparent focus:text-[12px] password-field", @type = "password", @placeholder = "●●●●●", @maxlength = "32" })
                        <i class="las la-eye password-eye absolute top-3 right-2 text-[2] " style="font-size: 24px; color: #A1A1AA" onclick="togglePassword()"></i>
                    </div>
                </div>

                <div class="validationMessage  text-[10px] font-normal leading-[13.62px] mt-2">
                    @Html.ValidationMessageFor(m => m.LoginId, "", new { @class = "error-validation-msg" })
                    @*      @Html.ValidationMessageFor(m => m.Password)*@
                </div>


                <!-- for check box -->
                <div class="checkboxWrapper flex justify-between items-center">
                    <div>
                        <input type="checkbox" name="RememberMe" value="Remember"
                               class="checkBox focus:outline-none bg-transparent ring-offset-0 ring-0 focus:ring-0 focus:ring-transparent focus:ring-shadow-none"
                               id="rememberMe">
                        <label for="rememberMe" class="rememberMe">ログインしたままにする</label>
                    </div>
                    <!-- for forget pasword -->
                    <div>
                        <a href="~/home/ForgotPassword" class="forgetPassword" style="text-transform:uppercase ">パスワードをお忘れですか <span style="font-size:14px">?</span></a>
                    </div>
                </div>
                <!-- for login  -->
                <div>
                    <button type="submit" class="loginButton border rounded-lg  w-full" id="FormSubmit" name="FormSubmit" value="Next">ログイン</button>
                </div>
            }
            <!-- for term and condition -->
            <div class="mt-4 flex justify-center items-center flex-col">
                <div class="flex justify-center items-center text-[11px] font-bold leading-[15px] termsAndContion">
                    <a href="@Url.Action("termsAndCondition","Footer")" class="termLink">利用規約</a><span>と</span>
                    <a href="@Url.Action("privacypolicy","Footer")" class="termLink">プライバシーポリシー</a>
                    <span> に</span>
                </div>
                <div class=" text-[11px]" style="color: rgba(24, 24, 27, 0.60); font-weight:500">
                    同意したものとみなします
                </div>
            </div>
            <!-- for other account -->
            <!-- for other account new -->
            <div class=" mt-16 " style="border: 1px solid #FFEAF5; border-radius: 3px; background: #FFFBFD ">
                <div class="flex justify-center items-center mx-4" style="margin-top:15px">
                    <div class="border  spertator"></div>
                    <span class="otherAccotunt" style="text-transform:uppercase">初めてホスログをご利用ですか <span style="font-size:14px">?</span></span>
                    <div class="border  spertator"></div>
                </div>
                <!-- for new registration -->
                <div class="mx-4" style="margin-bottom:18px">
                    <button type="submit" class="registerButton border rounded-lg  w-full " id="RegisterId">新しくホスログを始める</button>
                </div>
            </div>
          
            <!-- for other account new end -->
            <!-- for affiliation -->
            <div class="affiliation">
                <div class="affiliationText">
                    <a href=@Model.affiliateURL style="font-family: Noto Sans">アフィリエイター登録</a>
                </div>
                <div class="dividerCol">|</div>
                <div class="affiliationText"><a href=@Model.clubURL style="font-family: Noto Sans"> 店舗オーナー登録 </a></div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.password-eye').forEach(function (eyeIcon) {
            eyeIcon.addEventListener('click', function () {
                togglePassword(this);
            });
        });
        function togglePassword(eyeIcon) {
            const passwordInput = eyeIcon.previousElementSibling; // Get the input element before the icon

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('la-eye');
                eyeIcon.classList.add('la-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('la-eye-slash');
                eyeIcon.classList.add('la-eye');
            }
        }
        $('#rememberMe').click(function () {
            var myCheckbox = document.getElementById("rememberMe");
            if (myCheckbox.checked) $('#rememberMe').val(true);
            else $('#rememberMe').val(false);
        });
        document.getElementById("RegisterId").onclick = function () {
            location.href = "/Home/Register";
        };
    </script>
    <script>
        $("#FormSubmit").click(function () {
            $("#Form").submit();
        });
    </script>
    <script>
        //For toaster Notification
        $(function () {
        {
@if (TempData["Notifications"] != null)
        {
        var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
        foreach (var note in messages)
        {
<text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
        }
        }
@{
        ViewBag.Notifications = string.Empty;
}
        }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
        clearLocalStorage();
        });
        function clearLocalStorage() {
        if ('@CallJavaScriptFunction' === "True") {
        localStorage.clear();
        }
        }
    </script>
    <script>

    </script>
    <script src="~/Content/validation.js"></script>
</body>
</html>