@using Newtonsoft.Json

@functions {
    public dynamic ReadJson()
    {
        string filePath = HttpContext.Current.Server.MapPath("~/App_Data/RedirectURLConfiguration.json");
        string jsonContent = System.IO.File.ReadAllText(filePath);
        var jsonData = JsonConvert.DeserializeObject<dynamic>(jsonContent);
        return jsonData;
    }
}
@{
    var jsonData = ReadJson();
}

﻿﻿@model CRS.CUSTOMER.APPLICATION.Models.Home.LoginRequestModel
@{
    ViewBag.Title = "ログイン‖ホスログ《 ホストクラブ初回来店・ネット予約 》";
    Layout = null;
    var CallJavaScriptFunction = ViewBag.CallJavaScriptFunction;
}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Content/assets/css/tailwind.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/global_v1.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/club.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/customcss.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/assets/css/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/assets/css/customer/responsive.css">
    <script src="~/Content/js/NotificationMessageToaster.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <script src="/Content/assets/js/owl.carousel.js"></script>
    <script src="/Content/assets/js/modal.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="md:hidden">
    <!--new login ui -->

    <style>

        .borderTop {
            border-top: 1px solid #ECECEC;
        }

        .loginContainer {
            padding: 0 24px;
        }

        .login {
            color: #18181B;
            font-weight: 700;
            line-height: 16px;
            font-size: 16px;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .inputWrapper {
            border: 1px solid #ECECEC;
            border-radius: 4px;
        }

        input {
            border: none;
            outline: none;
            background: none;
        }

            input:focus {
                shape-outside: none;
                border: none;
                outline: none;
            }

            input::placeholder {
                color: #A6A6A6;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
            }

        .rememberMe {
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.4px;
        }

        .checkBox {
            border: 0.5px solid #D9D9D9;
            border-radius: 1.5px;
            color: #D75A8B;
        }

            .checkBox:focus {
                border: 0.5px solid #D9D9D9;
                border-radius: 1.5px;
            }

        .forgetPassword {
            color: #839AD6;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.4px;
        }

        .loginButton {
            background: #D75A8B;
            padding: 8px 12px;
            color: #fff;
            font-weight: 700;
            line-height: 24px;
            font-size: 14px;
            margin-top: 30px;
        }

        .termsAndContion {
            color: rgba(24, 24, 27, 0.60);
            font-weight: 700;
        }

        .termLink {
            color: #839AD6;
            font-size: 11px;
        }

        .spertator {
            width: calc((100% - 185px)/2);
            height: 1px;
            background-color: #A1A1AA;
            opacity: 0.2
        }

        .otherAccotunt {
            color: #666;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 166%;
            padding: 0 13px;
            white-space: nowrap;
        }

        .registerButton {
            background: #FFF;
            padding: 8px 12px;
            color: #D75A8B;
            font-weight: 600;
            line-height: 23px;
            font-size: 14px;
            margin-top: 18px;
            border: 1px solid #D75A8B;
            letter-spacing: -0.165px;
        }

        .affiliation {
            display: flex;
            padding: 4px 0px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-top: 18px;
            display: none
        }

        .affiliationText {
            color: #839AD6;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
            display: none
        }

        .dividerCol {
            color: #999;
            text-align: center;
            font-size: 11px;
            font-style: normal;
            font-weight: 700;
            line-height: 166%;
            display: none
            /* 18.26px */
        }

        .touggleButton {
            display: hidden;
        }

        .contactNumber {
            background: none;
        }

        input {
            --tw-ring-shadow: 0 0 #000 !important;
            background: none;
            font-size: 12px;
        }

            input[type="password"] {
                font-size: 18px;
                letter-spacing: 0.5px;
            }

                input[type="password"]:focus {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

                input[type="password"]:focus-visible {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }

        .md\:hidden {
            display: block;
        }

        @@media (min-width: 640px) {
            .loginContainer {
                height: auto !important
            }

            .loginResponsive {
                padding-top: 24px !important;
            }
        }

        @@media (min-width: 640px) {
            body {
                /* background-image: url('../../content/assets/images/sprinkle.png');
        background-repeat: no-repeat;
        background-size: cover;*/
                /*   background: url('/content/assets/images/sprinkle.png') no-repeat center center fixed;*/
                background-color: #FFEAEE;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-color: none;
            }

            .modalContentWrapper {
                width: 375px !important;
                /*left: 50% !important;*/
                transform: translate(-0%, -25%) !important;
                top: 13% !important;
                position: relative !important;
                margin-top: 0% !important;
                padding: 0 16px;
                /* bottom: -40px; */
            }

            #toast-container {
                max-width: 375px !important;
                width: 100% !important;
                left: 50%;
                transform: translate(-35%);
            }

            #noscrollx {
                overflow-x: hidden;
            }


            #test {
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                /* grid-template-columns: repeat(3, minmax(0, 1fr));*/
                grid-auto-columns: auto;
            }

            #innersec {
                background-color: #FFFFFF;
                width: 375px;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                overflow-y: auto;
                box-shadow: 0px 0px 24px 0px #0D102E40;
            }

            #leftcontent {
                display: flex;
            }

            #rightcontent {
                display: flex;
            }

            .transform-none {
                left: 50%;
                transform: translate(-50%);
                width: 375px;
            }

            #rightcontent img {
                max-width: 100%
            }

            .transition-transform {
                transition-property: none;
                transition-timing-function: unset;
                transition-duration: unset;
            }

            .bg-gray-900 {
                background-color: transparent;
            }

            #innerfixed {
                max-width: 300px;
                width: 100%;
                top: 35%
            }
        }

        @@media(min-width: 1005px) {
            #leftfix {
                top: 10%;
                max-width: 300px;
            }

            #innerfixed {
                top: 10%;
                max-width: 300px;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 300px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 300px !important;
                height: 152px !important;
            }
        }

        @@media(min-width: 640px) and (max-width: 730px) {

            #innerfixed {
                top: 24% !important;
                max-width: 126px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 126px !important;
                height: 35px !important;
            }

            .imgclassfirst {
                width: 126px !important;
                height: 63px !important;
            }
        }


        @@media(min-width: 731px) and (max-width: 800px) {

            #innerfixed {
                top: 24% !important;
                max-width: 158px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 158px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 158px !important;
                height: 100px !important;
            }
        }

        @@media(min-width: 801px) and (max-width: 900px) {

            #innerfixed {
                top: 15% !important;
                max-width: 191px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 191px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 191px !important;
                height: 100px !important;
            }
        }

        @@media(min-width: 901px) and (max-width: 970px) {

            #innerfixed {
                top: 9% !important;
                max-width: 252px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 252px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 252px !important;
                height: 152px !important;
            }
        }

        @@media(min-width: 918px) and (max-width: 1004px) {

            #innerfixed {
                top: 9% !important;
                max-width: 230px !important;
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            }

                .image-container img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                }

            .imgclasssecond {
                width: 300px !important;
                height: 76px !important;
            }

            .imgclassfirst {
                width: 300px !important;
                height: 152px !important;
            }
        }
    </style>
    <div id="lgoinWrapper">
        <div id="leftcontent" style="margin-top: 30%; " class="flex  flex-col items-center ">
            <div id="leftfix" class="fixed">
                <a href="/" class="flex flex-row justify-center">
                    <img src="~/content/assets/images/bglogo.png" />
                </a>
                <div id="siteurl" class="flex flex-row justify-center">
                    <p style="font-size: 25px; font-weight: 600; margin-bottom: 26px" class="text-black">https://hoslog.jp/  </p>
                </div>

                <a href="@jsonData.CustomerRegistration.url" style="max-width: 300px; height: 57px; background-color: #D75A8B; border-radius: 2px; cursor: pointer; " class="flex flex-row justify-center items-center text-center">
                    <div>
                        <p style="font-size:18px;font-weight:600 ; " class="text-white">@jsonData.CustomerRegistration.text</p>
                    </div>
                </a>
                <a href="@jsonData.ClubRegistration.url" target="_blank" style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor: pointer; " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <p style="font-size:18px;font-weight:600" class="text-black">@jsonData.ClubRegistration.text</p>
                    </div>
                </a>
                <a href="@jsonData.AffiliateRegistration.url" target="_blank" style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor:pointer; " class="flex flex-row justify-center items-center bg-white mt-3">
                    <div>
                        <p style="font-size:18px;font-weight:600" class="text-black">@jsonData.AffiliateRegistration.text</p>
                    </div>
                </a>


                @*<a href="https://hoslog.jp/user/register" style="max-width: 300px; height: 57px; background-color: #D75A8B; border-radius: 2px; cursor: pointer; " class="flex flex-row justify-center items-center text-center">
            <div>
                <p style="font-size:18px;font-weight:600 ; " class="text-white">新規会員登録</p>
            </div>
        </a>
        <a href="https://owner.hoslog.jp/owner/register/" target="_blank" style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor: pointer; " class="flex flex-row justify-center items-center bg-white mt-3">
            <div>
                <p style="font-size:18px;font-weight:600" class="text-black">店舗オーナー登録</p>
            </div>
        </a>
        <a href="https://affiliate.hoslog.jp/auth/register" target="_blank" style="max-width: 300px; height: 57px; border-radius: 2px; box-shadow: 0px 0px 12px 0px rgba(30, 34, 75, 0.15); cursor:pointer; " class="flex flex-row justify-center items-center bg-white mt-3">
            <div>
                <p style="font-size:18px;font-weight:600" class="text-black">アフィリエイター登録</p>
            </div>
        </a>*@
            </div>


        </div>
        <div id="innersec">

            <div class=" px-[24px] flex justify-between border-b border-b-[#ECECEC] bg-white z-[10] loginResponsive" style="z-index:12; padding-bottom:10px">
                <a class="flex gap-[6px] items-center" href="/">
                    <img src="~/Content/assets/images/logo.svg" class="h-[24px]" alt='logo' />
                </a>
                <div class="flex gap-4">
                    <div class="text-xl text-warmgray cursor-pointer" onclick="window.location.href='@Url.Action("ViewAllNotifications","NotificationManagement")'">
                    </div>
                </div>
            </div>
            <div class="loginContainer">
                <div class="login">ログイン</div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @role = "form", @id = "Form" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="ReturnURL" value="@ViewBag.ReturnURL" hidden />
                    <div class="inputWrapper focus:text-[12px]">
                        @Html.TextBoxFor(model => model.LoginId, new
                        {
                        @class = "contactNumber focus:outline-none border-none  w-full ring-0 focus:ring-0 focus:ring-transparent",
                        @placeholder = "携帯電話番号"
                        })
                        <hr>
                        <div class="relative">
                            @Html.TextBoxFor(model => model.Password, new { @class = "w-full border-none  focus:outline-none bg-transparent ring-0 focus:ring-0 focus:ring-transparent focus:text-[12px] password-field", @type = "password", @placeholder = "●●●●●", @maxlength = "32" })
                            <i class="las la-eye password-eye cursor-pointer absolute top-2 right-2 text-[2] " style="font-size: 24px; color: #A1A1AA" onclick="togglePassword()"></i>
                        </div>
                    </div>
                    @*<div class="validationMessage  text-[10px] font-normal leading-[13.62px] mt-2">
                            @Html.ValidationMessageFor(m => m.LoginId, "", new { @class = "error-validation-msg" })
                        </div>*@
                    <!-- for check box -->
                    <div class="checkboxWrapper flex justify-between items-center">
                        <div>
                            <input type="checkbox" name="RememberMe" value="Remember"
                                   class="checkBox focus:outline-none bg-transparent ring-offset-0 ring-0 focus:ring-0 focus:ring-transparent focus:ring-shadow-none"
                                   id="rememberMe">
                            <label for="rememberMe" class="rememberMe">ログインしたままにする</label>
                        </div>
                        <!-- for forget pasword -->
                        <div>
                            <a href="@Url.Action("remind", "user")" class="forgetPassword" style="text-transform:uppercase ">パスワードをお忘れですか <span style="font-size:14px">?</span></a>
                        </div>
                    </div>
                    <!-- for login  -->
                    <div>
                        <button type="submit" class="loginButton border rounded-lg  w-full" id="FormSubmit" name="FormSubmit" value="Next">ログイン</button>
                    </div>
                }
                <!-- for term and condition -->
                <div class="mt-4 flex justify-center items-center flex-col">
                    <div class="flex justify-center items-center text-[11px] font-bold leading-[15px] termsAndContion">
                        <a href="/rule?origin=login" target="_blank" class="termLink">利用規約</a><span>と</span>
                        <a href="/policy?origin=login" target="_blank" class="termLink">プライバシーポリシー</a>
                        <span> に</span>
                    </div>
                    <div class=" text-[11px]" style="color: rgba(24, 24, 27, 0.60); font-weight:500">
                        同意したものとみなします
                    </div>
                </div>
                <!-- for other account -->
                <!-- for other account new -->
                <div class=" mt-16 " style="border: 1px solid #FFEAF5; border-radius: 3px; background: #FFFBFD ">
                    <div class="flex justify-center items-center mx-4" style="margin-top:15px">
                        <div class="  spertator"></div>
                        <span class="otherAccotunt" style="text-transform:uppercase">初めてホスログをご利用ですか <span style="font-size:14px">?</span></span>
                        <div class="  spertator"></div>
                    </div>
                    <!-- for new registration -->
                    <div class="mx-4" style="margin-bottom:18px">
                        <button type="submit" class="registerButton border rounded-lg  w-full " id="RegisterId">新しくホスログを始める</button>
                    </div>
                </div>

                <!-- for other account new end -->
                <!-- for affiliation -->
                <div class="affiliation">
                    <div class="affiliationText">
                        <a href=@Model.affiliateURL style="">アフィリエイター登録</a>
                    </div>
                    <div class="dividerCol">|</div>
                    <div class="affiliationText"><a href=@Model.clubURL style=""> 店舗オーナー登録 </a></div>
                </div>
            </div>
        </div>
        <!--<div id="rightcontent" style="margin-top: 10%; " class="flex flex-col items-center">
            <div id="innerfixed" class="fixed   flex flex-col gap-2">-->
        @* <div >*@
        <!--<img src="../../content/assets/images/hpi1.jpeg" style="width:inherit" />-->
        @* </div>
            <div>*@
        <!--<img src="../../content/assets/images/hpi2.jpeg" style="width:inherit" />-->
        @*  </div>
            <div>*@
        <!--<img src="../../content/assets/images/hpi3.jpeg" style="width:inherit" />-->
        @*</div>
            <div>*@
        <!--<img src="../../content/assets/images/hpi4.jpeg" style="width:inherit" />-->
        @*  </div>
            <div>*@
        <!--<img src="../../content/assets/images/hpi5.jpeg" style="width:inherit" />-->
        @* </div>
            <div>*@
        <!--<img src="../../content/assets/images/hpi6.jpeg" style="width:inherit" />-->
        @*  </div>*@
        <!--</div>

        </div>-->

        <div id="rightcontent" style="margin-top: 10%; " class="flex flex-col items-center">
            <div id="innerfixed" class="fixed   flex flex-col gap-2">
                @{
                    if (Session["AdvertisementImage"] != null)
                    {
                        var advertisementimage = Session["AdvertisementImage"] as List<CRS.CUSTOMER.SHARED.CommonManagement.AdvertisementCommon>;
                        if (advertisementimage != null && advertisementimage.Count > 0)
                        {
                            var i = 0;
                            foreach (var item in advertisementimage)
                            {
                                @*<img src="@item"  style="width:300px;height:152px;"/>*@
                                if (item.status.ToUpper() == "A")
                                {
                                    if (i < 2)
                                    {
                                        <div class="image-container">
                                            <a href="@item.link" target="_blank">
                                                <img src="@item.image" class="imgclassfirst" alt="Advertisement Image" />
                                            </a>
                                            @*<img src="@item.image" class="imgclassfirst" />*@
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="image-container">
                                            <a href="@item.link" target="_blank">
                                                <img src="@item.image" class="imgclasssecond" alt="Advertisement Image" />
                                            </a>
                                            @*<img src="@item.image" class="imgclasssecond" />*@
                                        </div>
                                    }
                                }

                                i++;

                            }
                        }
                    }

                }
            </div>

        </div>

    </div>
    <script>
        document.querySelectorAll('.password-eye').forEach(function (eyeIcon) {
            eyeIcon.addEventListener('click', function () {
                togglePassword(this);
            });
        });
        function togglePassword(eyeIcon) {
            const passwordInput = eyeIcon.previousElementSibling; // Get the input element before the icon

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('la-eye');
                eyeIcon.classList.add('la-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('la-eye-slash');
                eyeIcon.classList.add('la-eye');
            }
        }
        $('#rememberMe').click(function () {
            var myCheckbox = document.getElementById("rememberMe");
            if (myCheckbox.checked) $('#rememberMe').val(true);
            else $('#rememberMe').val(false);
        });
        document.getElementById("RegisterId").onclick = function () {
            location.href = "/user/register";
        };
    </script>
    <script>
        $("#FormSubmit").click(function () {
            $("#Form").submit();
        });
    </script>
    <script>
        //For toaster Notification
        $(function () {
        {
            @if (TempData["Notifications"] != null)
                    {
                    var messages = (List<CRS.CUSTOMER.SHARED.NotificationModel>)TempData["Notifications"];
                    foreach (var note in messages)
                    {
            <text>showNotification("@note.Message", "@note.Title", "@note.NotificationType");</text>
                    }
                    }
            @{
                    ViewBag.Notifications = string.Empty;
            }
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            clearLocalStorage();
            });
            function clearLocalStorage() {
            if ('@CallJavaScriptFunction' === "True") {
            localStorage.clear();
            }
        }
    </script>
    <script src="~/Content/validation.js"></script>
</body>
</html>