@model CRS.CUSTOMER.APPLICATION.Models.ReservationHistory.CustomerReservationDetailModel
@{
    ViewBag.Title = "Reservation Detail";
    Layout = "~/Views/Shared/_Reservation-Layout.cshtml";
}
<div class="flex justify-between h-screen flex-col	bg-[#F8F8F8]">
    <div>
        <div class="flex items-center border-t-[2px] border-t-[#C8B477] border-b border-b-[#E8E8E8] sticky top-0 bg-white z-[10] relative px-4 py-[10px] h-[44px]">
            <div class="flex gap-2 items-center absolute top-[12px] left-4 text-sm" onclick="history.go(-1); return false;">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M15.2347 2.74084C14.7855 2.29167 14.0614 2.29167 13.6122 2.74084L5.99469 10.3583C5.63719 10.7158 5.63719 11.2933 5.99469 11.6508L13.6122 19.2683C14.0614 19.7175 14.7855 19.7175 15.2347 19.2683C15.6839 18.8192 15.6839 18.095 15.2347 17.6458L8.59802 11L15.2439 4.35417C15.6839 3.91417 15.6839 3.18084 15.2347 2.74084Z"
                          fill="#BCB08A" />
                </svg><a class="text-[#292F33]">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
                </a>
            </div>
            <div class="text-center w-full font-bold">@CRS.CUSTOMER.APPLICATION.Resources.Resource.ReservationDetails</div>
        </div>
        <div class="round-image-text flex gap-[14px] px-4 py-[12px]">
            <img class="w-[32px] h-[32px] rounded-full" src="@Model.LogoImage" />
            <div class="text-image">
                <div class="text-xs font-bold">@Model.ClubName1</div>
                <div class="text-[10px]">@Model.ClubName2</div>
            </div>
        </div>
        <!-- table section 1  -->
        <div class="py-[8px] px-4 bg-[#E5E5E5] text-xs font-bold">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.CustomerInformation
        </div>
        <div class="px-4 py-[12px] grid gap-[6px] ">
            <table>
                <tr>
                    <td class="w-[110px] text-xs">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Username</td>
                    <td class="text-sm font-semibold">: @Model.NickName</td>
                </tr>
                <tr>
                    <td class="w-[110px] text-xs">@CRS.CUSTOMER.APPLICATION.Resources.Resource.MobileNumber</td>
                    <td class="text-sm font-semibold">: @Model.MobileNumber</td>
                </tr>
                <tr>
                    <td class="w-[110px] text-xs">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Email</td>
                    <td class="text-sm font-semibold">: @Model.EmailAddress</td>
                </tr>
            </table>
        </div>
        <!-- table section 1 end  -->
        <!-- table section 2  -->
        <div class="py-[8px] px-4 bg-[#E5E5E5] text-xs font-bold">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.ReservationDetails
        </div>
        <div class="px-4 py-[12px] grid gap-[6px] ">
            <table>
                <tr>
                    <td class="w-[110px] text-xs">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Date.ToUpper()</td>
                    <td class="text-sm font-semibold">
                        : @Model.VisitDate
                    </td>
                </tr>
                <tr>
                    <td class="w-[110px] text-xs">@CRS.CUSTOMER.APPLICATION.Resources.Resource.NumberOfPeople.ToUpper()</td>
                    <td class="text-sm font-semibold">: @Model.NoOfPeople 人</td>
                </tr>
                @if (Model.ReservedTime != "")
                {
                    <tr>
                        <td class="w-[110px] text-xs">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Time.ToUpper()</td>
                        <td class="text-sm font-semibold">: @Model.ReservedTime 時</td>
                    </tr>
                }

            </table>
        </div>
        <!-- table section 2 end -->
        <!-- table section 3  -->
        <div class="py-[8px] px-4 bg-[#E5E5E5] text-xs font-bold uppercase">
            @Model.PlanName
        </div>
        <div class="px-4 py-[12px] grid ">
            <div class="flex justify-between items-center py-2">
                <div class="flex items-center text-[18px] font-bold gap-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M6.00195 1C3.24195 1 1.00195 3.24 1.00195 6C1.00195 8.76 3.24195 11 6.00195 11C8.76195 11 11.002 8.76 11.002 6C11.002 3.24 8.76195 1 6.00195 1ZM4.64695 8.145L2.85195 6.35C2.65695 6.155 2.65695 5.84 2.85195 5.645C3.04695 5.45 3.36195 5.45 3.55695 5.645L5.00195 7.085L8.44195 3.645C8.63695 3.45 8.95196 3.45 9.14696 3.645C9.34196 3.84 9.34196 4.155 9.14696 4.35L5.35195 8.145C5.16195 8.34 4.84195 8.34 4.64695 8.145Z"
                              fill="#479A35" />
                    </svg><div id="PriceId">@Model.Price 円</div>
                </div>
                <div class="text-[#878787] text-sm">@CRS.CUSTOMER.APPLICATION.Resources.Resource.TaxIncluded</div>

            </div>
            <div class="flex justify-between items-center py-2">
                <div class="flex items-center text-sm gap-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12"
                         height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M6.00195 1C3.24195 1 1.00195 3.24 1.00195 6C1.00195 8.76 3.24195 11 6.00195 11C8.76195 11 11.002 8.76 11.002 6C11.002 3.24 8.76195 1 6.00195 1ZM4.64695 8.145L2.85195 6.35C2.65695 6.155 2.65695 5.84 2.85195 5.645C3.04695 5.45 3.36195 5.45 3.55695 5.645L5.00195 7.085L8.44195 3.645C8.63695 3.45 8.95196 3.45 9.14696 3.645C9.34196 3.84 9.34196 4.155 9.14696 4.35L5.35195 8.145C5.16195 8.34 4.84195 8.34 4.64695 8.145Z"
                              fill="#479A35" />
                    </svg><div id="PlanNameId">@Model.Liquor</div>
                </div>
            </div>
            <div class="flex justify-between items-center py-2">
                <div class="flex items-center text-sm gap-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12"
                         height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M6.00195 1C3.24195 1 1.00195 3.24 1.00195 6C1.00195 8.76 3.24195 11 6.00195 11C8.76195 11 11.002 8.76 11.002 6C11.002 3.24 8.76195 1 6.00195 1ZM4.64695 8.145L2.85195 6.35C2.65695 6.155 2.65695 5.84 2.85195 5.645C3.04695 5.45 3.36195 5.45 3.55695 5.645L5.00195 7.085L8.44195 3.645C8.63695 3.45 8.95196 3.45 9.14696 3.645C9.34196 3.84 9.34196 4.155 9.14696 4.35L5.35195 8.145C5.16195 8.34 4.84195 8.34 4.64695 8.145Z"
                              fill="#479A35" />
                    </svg><div id="PlanTimeId">@Model.PlanTime</div>
                </div>
            </div>
            <div class="flex justify-between items-center py-2 ">
                <div class="flex items-center text-sm gap-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12"
                         height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M6.00195 1C3.24195 1 1.00195 3.24 1.00195 6C1.00195 8.76 3.24195 11 6.00195 11C8.76195 11 11.002 8.76 11.002 6C11.002 3.24 8.76195 1 6.00195 1ZM4.64695 8.145L2.85195 6.35C2.65695 6.155 2.65695 5.84 2.85195 5.645C3.04695 5.45 3.36195 5.45 3.55695 5.645L5.00195 7.085L8.44195 3.645C8.63695 3.45 8.95196 3.45 9.14696 3.645C9.34196 3.84 9.34196 4.155 9.14696 4.35L5.35195 8.145C5.16195 8.34 4.84195 8.34 4.64695 8.145Z"
                              fill="#479A35" />
                    </svg><div id="RemarksId"> @Model.Remarks</div>
                </div>
            </div>
        </div>
        <!-- table section 3 end -->
        @*<div class="py-[7px] mx-4 border border-[#F89336] text-xs mb-[13px] text-[#F89336] rounded-[3px] flex gap-[6px] items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M5.88429 4.16663C5.40152 4.16663 4.90272 4.33942 4.50608 4.66793C4.10945 4.99643 3.83301 5.50153 3.83301 6.11107C3.83301 6.62756 4.06137 7.0681 4.34583 7.41749C4.63028 7.76689 4.97483 8.04222 5.29134 8.31376C5.92435 8.85684 6.39711 9.30307 6.39711 9.99996C6.39711 10.074 6.32099 10.2525 6.22083 10.3949C6.12067 10.5373 6.02852 10.6228 6.02852 10.6228L6.7657 11.3064C6.7657 11.3064 6.92996 11.1507 7.08621 10.9266C7.22043 10.7348 7.36666 10.488 7.40673 10.1671C7.46482 10.3247 7.52091 10.4861 7.58301 10.638C7.93557 11.5001 8.34222 12.2729 8.80096 12.8559C8.96722 13.0685 9.1395 13.2565 9.3298 13.4179C8.27011 13.4901 7.42275 14.3256 7.42275 15.3472V15.8333H13.5766V15.3472C13.5766 14.3142 12.7132 13.4749 11.6375 13.4179C11.8298 13.2565 12.0141 13.0666 12.1824 12.8559C12.6431 12.2748 13.0437 11.5001 13.4003 10.638C13.4664 10.4766 13.5305 10.3038 13.5926 10.1367C13.6267 10.4709 13.7749 10.7291 13.9131 10.9266C14.0694 11.1507 14.2336 11.3064 14.2336 11.3064L14.9708 10.6228C14.9708 10.6228 14.8787 10.5373 14.7785 10.3949C14.6784 10.2525 14.6022 10.074 14.6022 9.99996C14.6022 9.30307 15.075 8.85684 15.708 8.31376C16.0245 8.04222 16.3691 7.76689 16.6535 7.41749C16.938 7.0681 17.1663 6.62756 17.1663 6.11107C17.1663 5.50153 16.8899 4.99643 16.4933 4.66793C16.0966 4.33942 15.5978 4.16663 15.1151 4.16663C14.46 4.16663 14.0113 4.44956 13.7689 4.65274H7.23044C6.98806 4.44956 6.53934 4.16663 5.88429 4.16663ZM5.88429 5.13885C6.12668 5.13885 6.28293 5.21101 6.39711 5.27557C6.41113 6.26678 6.59142 7.39091 6.87788 8.49605C6.60544 8.14666 6.2649 7.85613 5.96442 7.59979C5.6399 7.32255 5.34342 7.0662 5.14711 6.82505C4.9508 6.58389 4.85865 6.37501 4.85865 6.11107C4.85865 5.77117 4.99887 5.5604 5.19519 5.39709C5.3915 5.23379 5.66193 5.13885 5.88429 5.13885ZM15.1151 5.13885C15.3374 5.13885 15.6078 5.23379 15.8042 5.39709C16.0005 5.5604 16.1407 5.77117 16.1407 6.11107C16.1407 6.37501 16.0486 6.58389 15.8522 6.82505C15.6559 7.0662 15.3594 7.32255 15.0349 7.59979C14.7284 7.86183 14.3819 8.16375 14.1054 8.52643C14.3999 7.4137 14.5882 6.28007 14.6022 5.27557C14.7164 5.21101 14.8727 5.13885 15.1151 5.13885ZM7.48685 5.62496H13.5125C13.4344 7.07 13.0397 8.83215 12.4388 10.2886C12.1062 11.0937 11.7216 11.7925 11.349 12.2634C10.9764 12.7343 10.6359 12.9166 10.4836 12.9166C10.3334 12.9166 10.0049 12.7343 9.63429 12.2634C9.2637 11.7925 8.87507 11.0956 8.54455 10.2886C7.94759 8.83025 7.56498 7.0624 7.48685 5.62496ZM9.98685 7.08329V9.51385H11.0125V7.08329H9.98685ZM9.47403 14.375H11.5253C11.8939 14.375 12.1463 14.5895 12.3266 14.8611H8.67275C8.85304 14.5895 9.10544 14.375 9.47403 14.375Z"
                          fill="#F89336" />
                </svg>
                You will earn 500 points
            </div>*@
        <!-- image active  host-->
        <div class="py-[8px] px-4 bg-[#E5E5E5] text-xs font-bold uppercase">
            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Preferred_Host
            @{
                int hCount = Model.ReservationHostDetailModel.Count();
                hCount = hCount <= 0 ? 0 : hCount;
                <span class="pl-[24px] text-[#767676] font-medium">@hCount</span>
            }
        </div>
        <div class="grid grid-cols-3 gap-[12px] p-4">
            @{
                int i = 1;
                foreach (var item in Model.ReservationHostDetailModel)
                {
                    <div class="host-image active">
                        <div class="relative">
                            <div class="circle"></div>
                            <div class="active-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     viewBox="0 0 16 16" fill="none">
                                    <circle cx="8" cy="8" r="7.5" fill="#D75A8B" stroke="white" />
                                    <path d="M12 4L6.53906 9.46094L4.07812 7L3 8.07812L6 11.0781L6.53906 11.5938L7.07812 11.0781L13.0781 5.07812L12 4Z"
                                          fill="white" />
                                </svg>
                            </div>
                            <img src="@item.HostImagePath" alt="">
                            <div class="text-[10px] px-[6px] rounded-[2px] absolute bottom-1 left-1 bg-[#ffffffe6] leading-[17px]">
                                No. @i
                            </div>
                        </div>
                        <div class="py-1 px-2">
                            <div class="text-[10px] text-primary font-bold">@item.Occupation</div>
                            <div class="text-xs text-[#404040]">@item.HostName</div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
</div>



