@model List<CRS.CUSTOMER.APPLICATION.Models.NotificationManagement.NotificationDetailModel>
@{
    ViewBag.Title = "通知‖ホスログ《 ホストクラブ初回来店・ネット予約 》";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .notification-list {
        background: #fff;
        padding: 4px;
        border-radius: 4px;
        cursor: pointer;
    }

        .notification-list.active {
            background: #ffb6c11f;
        }

            .notification-list.active .circle {
                display: block;
                height: 6px;
                width: 6px;
                background: #D75A8B;
                border-radius: 50%;
                margin-right: 15px;
            }

        .notification-list .circle {
            display: none;
        }

    .btn-notification {
        display: flex;
        height: 31px;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 26%;
    }

    @@media(width > 639px) {
        .responsiveReviewModalPopup {
            max-width: 375px;
            width: 100%;
            margin: 0 auto;
        }
    }
</style>
<div class="overflow-x-hidden" style="height: calc(100vh - 44px)">

    <div class="flex flex-col gap-4 p-4">
        @Html.AntiForgeryToken()
        @if (Model.Count <= 0)
        {
            <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0] flex justify-center items-center"
                 style="height:calc(100vh - 47px)">
                <div class="text-[#18181B] font-semibold mt-12 text-center">@CRS.CUSTOMER.APPLICATION.Resources.Resource.YouHaveNoNotificationYet.</div>
            </div>
        }
        else
        {
            bool hasUnreadNotification = false;
            hasUnreadNotification = Model.Any(x => x.NotificationReadStatus.Trim().ToUpper() == "P") ? true : false;
            foreach (var group in Model.GroupBy(item => item.DateCategory))
            {
                <div class="notification-all">
                    <div class="flex justify-between items-center mb-3">
                        <div class="text-[#18181B] text-sm">@group.Key</div>
                        @if (hasUnreadNotification)
                        {
                            hasUnreadNotification = false;
                            <div class="flex gap-1 items-center text-primary cursor-pointer" id="markAllRead" onclick="ManageNotificationReadStatus();">
                                <img src="~/Content/assets/images/double-check.svg" alt="check">@CRS.CUSTOMER.APPLICATION.Resources.Resource.MarkAllAsRead
                            </div>
                        }
                    </div>
                    <div class="flex flex-col gap-3 ">
                        @{
                            var activeClassName = "";
                            foreach (var item in group)
                            {
                                if (!string.IsNullOrEmpty(item.NotificationReadStatus) && item.NotificationReadStatus.Trim().ToUpper() == "P")
                                {
                                    activeClassName = (!string.IsNullOrEmpty(item.NotificationReadStatus) && item.NotificationReadStatus.Trim().ToUpper() == "P") ? "active" : "";
                                    if (item.NotificationType == "レビュー")
                                    {
                                        <div onclick="Modal('@item.NotificationURL','@item.NotificationImage')">
                                            <div class="flex justify-between items-center notification-list @activeClassName" id="single_unread_status" data-id="@item.NotificationId">
                                                <div class="flex gap-3 w-max ">
                                                    <div class="flex-none">
                                                        <img src="@item.NotificationImage"
                                                             class="h-[32px] w-[32px] object-cover rounded-full" />
                                                    </div>
                                                    <div class="notification-detail-class" onclick="handleNotificationClick('@item.NotificationId');">
                                                        <input type="hidden" class="unread" value="@item.NotificationURL" id="notificationid-@item.NotificationId">
                                                        <div class='text-sm font-bold text-charcolBlack notification-title pb-1 '>@item.NotificationSubject</div>
                                                        <div class='text-xs  text-[#667085] pb-1'>@Html.Raw(@item.NotificationBody)</div>
                                                        @if (!string.IsNullOrEmpty(@item.SecondNotificationBody))
                                                        {
                                                            <br>
                                                            <div class='text-xs  text-[#667085] pb-1'>@item.SecondNotificationBody</div>
                                                        }
                                                        @if (!string.IsNullOrEmpty(@item.ThirdNotificationBody))
                                                        {
                                                            <br>
                                                            <div class='text-xs  text-[#667085] pb-1'>@item.ThirdNotificationBody</div>
                                                        }
                                                        <div class='text-[10px]  text-[#A1A1AA] pb-1'>@item.FormattedDate</div>
                                                        @if (@item.NotificationType.ToLower() == "no visit code" && string.IsNullOrEmpty(@item.IsRemarksDone.ToLower()))
                                                        {
                                                            @*<input type="hidden" name="NotificationId" value="@item.NotificationId"/>*@
                                                            <div class="flex items-center  gap-[6px] py-[11px]">
                                                                <button class="btn-notification btn-primary" onclick="ReservationCancelFunction('@item.NotificationId','Y');">
                                                                    <a class="h-full w-full">
                                                                        Yes
                                                                    </a>
                                                                </button>
                                                                <button class="btn-notification" type="button" style="border-radius: 4px;
                          border: 1px solid #A1A1AA;" onclick="ReservationCancelFunction('@item.NotificationId','N');">
                                                                    No
                                                                </button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="circle flex-none">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <div class="flex justify-between items-center notification-list @activeClassName" id="single_unread_status" data-id="@item.NotificationId">
                                                <div class="flex gap-3 w-max ">
                                                    <div class="flex-none">
                                                        <img src="@item.NotificationImage"
                                                             class="h-[32px] w-[32px] object-cover rounded-full" />
                                                    </div>
                                                    <div class="notification-detail-class" onclick="handleNotificationClick('@item.NotificationId');">
                                                        <input type="hidden" class="unread" value="" id="notificationid-@item.NotificationId">
                                                        <div class='text-sm font-bold text-charcolBlack notification-title pb-1 '>@item.NotificationSubject</div>
                                                        <div class='text-xs  text-[#667085] pb-1'>@Html.Raw(@item.NotificationBody)</div>
                                                        @if (!string.IsNullOrEmpty(@item.SecondNotificationBody))
                                                        {
                                                            <br>
                                                            <div class='text-xs  text-[#667085] pb-1'>@item.SecondNotificationBody</div>
                                                        }
                                                        @if (!string.IsNullOrEmpty(@item.ThirdNotificationBody))
                                                        {
                                                            <br>
                                                            <div class='text-xs  text-[#667085] pb-1'>@item.ThirdNotificationBody</div>
                                                        }
                                                        <div class='text-[10px]  text-[#A1A1AA] pb-1'>@item.FormattedDate</div>
                                                        @if (@item.NotificationType.ToLower() == "no visit code" && string.IsNullOrEmpty(@item.IsRemarksDone.ToLower()))
                                                        {
                                                            @*<input type="hidden" name="NotificationId" value="@item.NotificationId"/>*@
                                                            <div class="flex items-center  gap-[6px] py-[11px]">
                                                                <button class="btn-notification btn-primary" onclick="ReservationCancelFunction('@item.NotificationId','Y');">
                                                                    <a class="h-full w-full">
                                                                        Yes
                                                                    </a>
                                                                </button>
                                                                <button class="btn-notification" type="button" style="border-radius: 4px;
                          border: 1px solid #A1A1AA;" onclick="ReservationCancelFunction('@item.NotificationId','N');">
                                                                    No
                                                                </button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="circle flex-none">
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }
                                else
                                {
                                    activeClassName = (!string.IsNullOrEmpty(item.NotificationReadStatus) && item.NotificationReadStatus.Trim().ToUpper() == "P") ? "active" : "";
                                    <div class="flex justify-between items-center notification-list @activeClassName">
                                        <div class="flex gap-3 w-max ">
                                            <div class="flex-none">
                                                <img src="@item.NotificationImage"
                                                     class="h-[32px] w-[32px] object-cover rounded-full" />
                                            </div>
                                            <div class="notification-detail-class read-notification">
                                                <input type="hidden" value="@item.NotificationURL" id="notificationid">
                                                <div class='text-sm font-bold text-charcolBlack notification-title pb-1 '>@item.NotificationSubject</div>
                                                <div class='text-xs  text-[#667085] pb-1'>@Html.Raw(@item.NotificationBody)</div>
                                                @if (!string.IsNullOrEmpty(@item.SecondNotificationBody))
                                                {
                                                    <br>
                                                    <div class='text-xs  text-[#667085] pb-1'>@item.SecondNotificationBody</div>
                                                }
                                                @if (!string.IsNullOrEmpty(@item.ThirdNotificationBody))
                                                {
                                                    <br>
                                                    <div class='text-xs  text-[#667085] pb-1'>@item.ThirdNotificationBody</div>
                                                }
                                                <div class='text-[10px]  text-[#A1A1AA] pb-1'>@item.FormattedDate</div>

                                                @if (@item.NotificationType.ToLower() == "no visit code" && string.IsNullOrEmpty(@item.IsRemarksDone.ToLower()))
                                                {
                                                    @*<input type="hidden" name="NotificationId" value="@item.NotificationId"/>*@
                                                    <div class="flex items-center  gap-[6px] py-[11px]">
                                                        <button class="btn-notification btn-primary" onclick="ReservationCancelFunction('@item.NotificationId','Y');">
                                                            <a class="h-full w-full">
                                                                Yes
                                                            </a>
                                                        </button>
                                                        <button class="btn-notification" type="button" style="border-radius: 4px;
                        border: 1px solid #A1A1AA;" onclick="ReservationCancelFunction('@item.NotificationId','N');">
                                                            No
                                                        </button>

                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="circle flex-none">
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>



<div id="defaultModal" tabindex="-1" aria-hidden="true"
     class="fixed  top-0 left-0 right-0  z-50 responsiveReviewModalPopup hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full" style="top:28%;">
        <!-- Modal content -->
        <div class="relative bg-white  shadow dark:bg-gray-700 rounded-[6px]">
            <img src="/Content/assets/images/customer/demo-image.jpeg" alt="img"
                 class="h-[66px] w-[66px] rounded-full ring-2 ring-white absolute top-[-33px] left-[50%] translate-x-[-50%]" id="image" />
            <!-- Modal body -->
            <input type="hidden" value="" id="notification_modal">
            <input type="hidden" value="" id="notification_image">
            <div class=" bg-white rounded-[6px]" style="padding-top:38px;">
                <div class="grid justify-center text-center pb-[37px]">
                    <div class="text-[10px] text-warmgray-1 flex gap-1 justify-center">
                        <i class="fa-solid fa-location-dot text-primaryDark"></i>歌舞伎町
                    </div>
                    <div class="font-bold">ACQUA FUKUOKA</div>
                    <div class="text-xs pb-[6px] text-warmgray-2">アクアフクオカ</div>
                    <div class="text-[11px] bg-creamy-secondary rounded-[2px] py-[6px] px-[14px]">来店日：@ViewBag.DateFormat</div>
                </div>
                <div class="flex justify-center items-center pb-[10px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" fill="none">
                        <path d="M14 19.6465L1 1" stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    <div class="text-sm font-bold">ご来店ありがとうございました！</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 13 22" fill="none">
                        <path d="M1 20.6465L12 0.999999" stroke="black" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </div>

                <div class=" px-[20px]">
                    <button class="btn-gradient-rounded w-full" id="notification_url">レビューを投稿する</button>
                </div>
                <div class="text-sm font-bold text-center py-[20px]" onclick="closeModal('defaultModal')">今はスキップ</div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('.read-notification').on('click', function () {
            var redirectURL = $(this).find('input').val();
            if (redirectURL != null && redirectURL != '' && redirectURL != '#') {
                window.location.href = redirectURL;
            }
            else return false;
        });
        function ReservationCancelFunction(NotificationId, CustomerRemarks) {
            $.ajax({
                url: '/NotificationManagement/CustomerReservationCancelRemark',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(), NotificationId: NotificationId, CustomerRemarks: CustomerRemarks
                },
                success: function (result) {
                    if (result.Code === "0") {
                        toastr.info(result.Message);
                        //toastr.success(result.Message);
                        //pageLabel.innerHTML = result.PageTitle;
                        //markAllRead.innerHTML = '';
                        //notificationListItems.forEach(function (item) {
                        //    if (item.classList.contains('active')) {
                        //        item.classList.remove('active');
                        //    }
                        //});
                    }
                    else {
                        toastr.info(result.Message);
                    }
                },
                error: function () {
                    toastr.error("Something went wrong. Please try again later.");
                }
            });
        };

        var notificationListItems = document.querySelectorAll('.notification-list');
        var pageLabel = document.getElementById("page-label-id");
        var markAllRead = document.getElementById("markAllRead");
        var dataIdValue = null;
        function ManageNotificationReadStatus() {
            $('.active').each(function () {
                dataIdValue = $(this).data('id');
                $.ajax({
                    url: '/NotificationManagement/ManageNotificationReadStatus',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                        notificationId: dataIdValue
                    },
                    success: function (result) {
                        if (result.Code === "0") {
                            //toastr.success(result.Message);
                            pageLabel.innerHTML = result.PageTitle;
                            markAllRead.innerHTML = '';
                            notificationListItems.forEach(function (item) {
                                if (item.classList.contains('active')) {
                                    item.classList.remove('active');
                                }
                            });
                        }
                        else {
                            toastr.info(result.Message);
                        }
                    },
                    error: function () {
                        toastr.error("Something went wrong. Please try again later.");
                    }
                });
            });

        }
        function handleNotificationClick(notificationId) {
            var notificationUrl = document.getElementById('notificationid-' + notificationId).value;
            //ManageSingleNotificationReadStatus(notificationId, notificationUrl);
        }
        function ManageSingleNotificationReadStatus(id, notificationURL) {
            $.ajax({
                url: '/NotificationManagement/ManageSingleNotificationReadStatus',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    notificationId: id
                },
                success: function (result) {
                    if (result.Code === "0") {
                        if (notificationURL.toString() === "#") {
                            window.location.reload();
                        } else {
                            window.location.href = notificationURL;
                        }
                    }
                    else {
                        toastr.info(result.Message);
                    }
                },
                error: function () {
                    toastr.error("Something went wrong. Please try again later.");
                }
            });
        }

        function Modal(notificationUrl, notificationImage) {
            $('#notification_modal').val(notificationUrl);
            document.getElementById('image').src = notificationImage;
            openModal('defaultModal');
        }
        $('#notification_url').click('click', function () {
            let url = $('#notification_modal').val();
            window.location.href = url;
        })
    </script>
}
