@model CRS.CUSTOMER.APPLICATION.Models.ReservationManagementV2.BillingViewModel
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/_Reservation-Layout-V2.cshtml";
}

<div class="flex flex-col justify-between h-screen relative pb-8">
    <div>
        <!-- header  -->
        <div class="flex items-center justify-between  pt-[13px] px-[14px] pb-[9px] border-b border-b-[#DCDCDC]">
            <div class="flex items-center gap-[10px] ">
                <div class="circle-border circle-fourth-quater ">
                    <div class="text tracking-tight	">4/<span>4</span></div>
                </div>
                <div>
                    <div class="text-[13px] font-bold pb-[5px]">支払内容</div>
                    <div class="text-[11px] text-[#7E6D5E]">予約するプランを選んでください</div>
                </div>
            </div>
            <div onclick="window.history.go(-4)">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                    <path d="M5.86328 4.69727L4.69531 5.86523L11.8301 13L4.69531 20.1348L5.86328 21.3027L12.998 14.168L20.1328 21.3027L21.3008 20.1348L14.166 13L21.3008 5.86523L20.1328 4.69727L12.998 11.832L5.86328 4.69727Z"
                          fill="#BCB08A" />
                </svg>
            </div>
        </div>
        <!-- header end  -->
        <div style="height: calc(100vh - 140px);" class="no-scrollbar overflow-y-scroll pb-4 ">
            <!-- Reservation contents     -->
            <div class="px-[14px] py-3 flex flex-col gap-[6px]">
                <div class="text-[#D75A8B] text-sm font-semibold">予約内容</div>
                <div class="flex flex-col p-3 bg-[#F6F6F6] border border-[#EAEAEA] rounded-[6px]">
                    <table>
                        <tr>
                            <td>
                                <p class="text-xs font-bold pb-3">ユーザネーム :</p>

                            </td>
                            <td>
                                <p class="text-xs">
                                    <span class="pl-2 font-normal"> @Model.CustomerUserName</span>

                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p class="text-xs font-bold pb-3">予約時間 :</p>

                            </td>
                            <td>
                                <p class="text-xs">
                                    <span class="pl-2 font-normal" id="visitdatetime-id"></span>
                                </p>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <p class="text-xs font-bold ">プラン :</p>

                            </td>
                            <td>
                                <p class="text-xs">
                                    <span class="pl-2 font-normal" id="PlanName-Id"></span>
                                </p>
                            </td>

                        </tr>
                    </table>


                </div>
                @if (!string.IsNullOrEmpty(Model.ReservationRemark))
                {
                    <div class="rounded-[4px] bg-[#FFEDED] p-2 flex justify-between gap-2 items-start">
                        <div class="text-base text-[#000] flex items-start">
                            <i class="las la-info-circle"></i>
                        </div>
                        <div class="text-xs text-[#000]">
                            @Model.ReservationRemark
                        </div>

                    </div>
                }
                <div class="flex pl-2 text-xs text-[#000] gap-2 ">
                    <div>合計</div>
                    <div class="font-bold">@Model.CustomerCostAmount 円</div>
                </div>

            </div>
            <div class=" border-t-[1px] border-[#EFEFEF] py-3 px-4">
                <div class="h-[24px] text-sm text-[#383232] mb-2">支払いオプション</div>
                <div class="pt-[8px] grid gap-4 payment-type-class">
                    @{
                        var disabledClass = "";
                        if (!string.IsNullOrEmpty(Model.CustomerCostAmount) && Model.CustomerCostAmount.Trim() == "0")
                        {
                            disabledClass = "disabled";
                        }
                        foreach (KeyValuePair<string, string> item in ViewBag.PaymentMethodList as Dictionary<string, string>)
                        {
                            <div class="payment-option bg-[#FAFAFA] text-[#292F33] @disabledClass">
                                <div class="circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                         fill="none">
                                        <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                              fill="#ECECEC" />
                                    </svg>
                                </div>
                                <div class="circle-active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <mask id="path-1-inside-1_5443_133029" fill="white">
                                            <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z" />
                                        </mask>
                                        <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z" fill="#ECECEC" />
                                        <path d="M11 -2.95136C3.29658 -2.95136 -2.95136 3.29658 -2.95136 11H12.9514C12.9514 12.0794 12.0794 12.9514 11 12.9514V-2.95136ZM-2.95136 11C-2.95136 18.7034 3.29658 24.9514 11 24.9514V9.04864C12.0794 9.04864 12.9514 9.92058 12.9514 11H-2.95136ZM11 24.9514C18.7034 24.9514 24.9514 18.7034 24.9514 11H9.04864C9.04864 9.92058 9.92058 9.04864 11 9.04864V24.9514ZM24.9514 11C24.9514 3.29658 18.7034 -2.95136 11 -2.95136V12.9514C9.92058 12.9514 9.04864 12.0794 9.04864 11H24.9514ZM11 7.84864C12.7454 7.84864 14.1514 9.25458 14.1514 11H-1.75136C-1.75136 18.0374 3.96258 23.7514 11 23.7514V7.84864ZM14.1514 11C14.1514 12.7454 12.7454 14.1514 11 14.1514V-1.75136C3.96258 -1.75136 -1.75136 3.96258 -1.75136 11H14.1514ZM11 14.1514C9.25458 14.1514 7.84864 12.7454 7.84864 11H23.7514C23.7514 3.96258 18.0374 -1.75136 11 -1.75136V14.1514ZM7.84864 11C7.84864 9.25458 9.25458 7.84864 11 7.84864V23.7514C18.0374 23.7514 23.7514 18.0374 23.7514 11H7.84864Z" fill="#D75A8B" mask="url(#path-1-inside-1_5443_133029)" />
                                        <circle cx="11" cy="11" r="3" fill="#D75A8B" />
                                    </svg>
                                </div>
                                @Html.HiddenFor(model => item.Key, new { @id = "", @class = "payment-option-value" })
                                @item.Value
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex py-4 items-center fixed bottom-0 left-0 w-full px-4 bg-white"
     style="box-shadow: 0px -4px 9px 0px rgba(0, 0, 0, 0.04);">
    <button class="btn" onclick="WindowHistoryBack();">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
    </button>
    <button class="btn btn-primary" onclick="SubmitFunction();">
        <a class="h-full w-full">
            次
        </a>
    </button>
</div>
@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>
    <script>
        const decryptAndGetValue = key => localStorage.getItem(key) ? DecryptParameter(localStorage.getItem(key)) : "";
        $(document).ready(function () {
            const keys = ["VisitDate", "VisitTime", "PlanName"];

            keys.forEach(key => {
                const value = decryptAndGetValue(key);
                switch (key) {
                    case "VisitDate":
                        const FormattedVisitDateTime = FormatCurrentDateTime();
                        $('#visitdatetime-id').html(FormattedVisitDateTime);
                        break;
                    case "PlanName":
                        $('#PlanName-Id').html(value);
                        break;
                    default:
                        break;
                }
            });

            // Add click event listeners to payment options
            $('.payment-option').click(function () {
                // Check if the clicked element has the class "disabled"
                if (!$(this).hasClass('disabled')) {
                    $('.payment-option').removeClass('active');
                    $(this).addClass('active');
                }
            });

        });

        // Function to format the current date and time
        function FormatCurrentDateTime() {
            const now = new Date();

            const year = now.getFullYear();
            const month = now.getMonth() + 1; // getMonth() is zero-indexed
            const day = now.getDate();
            const hour = now.getHours();
            const minute = now.getMinutes();

            // Padding single digits with a leading zero
            const monthPadded = month.toString().padStart(2, '0');
            const dayPadded = day.toString().padStart(2, '0');
            const hourPadded = hour.toString().padStart(2, '0');
            const minutePadded = minute.toString().padStart(2, '0');

            return `${year}年${monthPadded}月${dayPadded}日 ${hourPadded}:${minutePadded}時`;
        }

        function SubmitFunction() {
            var PaymentType = $('.payment-type-class .active .payment-option-value').val();
            if (PaymentType == null || PaymentType == "") {
                if ('@Model.CustomerCostAmount.Trim()' === "0") {
                    PaymentType = 0;
                }
                else {
                    toastr.info('支払い方法が必要です');
                    //toastr.info('Payment type is required');
                    return false;
                }
            }
            const ClubId = localStorage.getItem("ClubId") || "";
            const PlanId = localStorage.getItem("PlanId") || "";
            var VisitDate = decryptAndGetValue("VisitDate");
            var VisitTime = decryptAndGetValue("VisitTime");
            var NoOfPeople = decryptAndGetValue("NoOfPeople");
            var HostIdList = JSON.parse(localStorage.getItem("HostIdList"));

            var url = `/ReservationManagementV3/ReservationConfirmation?ClubId=${ClubId}&PlanId=${PlanId}&VisitDate=${VisitDate}&VisitTime=${VisitTime}&NoOfPeople=${NoOfPeople}&PaymentType=${PaymentType}&HostIdList=${HostIdList}`;
            window.location.href = url;
        }
    </script>
}