@model CRS.CUSTOMER.APPLICATION.Models.ReservationManagementV2.HostViewV2Model
@{
    ViewBag.Title = "Host";
    Layout = "~/Views/Shared/_Reservation-Layout-V2.cshtml";
    var ClubDetailModel = Model.ClubDetailModel;
    var DefaultHostId = ApplicationUtilities.EncryptParameter("0").ToString();
}

<div class="flex flex-col justify-between h-screen relative pb-8">
    <div>
        <!-- header  -->
        <div class="flex items-center justify-between  pt-[13px] px-[14px] pb-[9px] border-b border-b-[#DCDCDC]">
            <div class="flex items-center gap-[10px] ">
                <div class="circle-border circle-second-quater ">
                    <div class="text tracking-tight	">2/<span>4</span></div>
                </div>
                <div>
                    <div class="text-[13px] font-bold pb-[5px]">プラン選択</div>
                    <div class="text-[11px] text-[#7E6D5E]">予約するプランを選んでください</div>
                </div>
            </div>
            <div onclick="window.history.go(-2)">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                    <path d="M5.86328 4.69727L4.69531 5.86523L11.8301 13L4.69531 20.1348L5.86328 21.3027L12.998 14.168L20.1328 21.3027L21.3008 20.1348L14.166 13L21.3008 5.86523L20.1328 4.69727L12.998 11.832L5.86328 4.69727Z"
                          fill="#BCB08A" />
                </svg>
            </div>
        </div>

        <!-- header end  -->
        <div style="height: calc(100vh - 140px);" class="no-scrollbar overflow-y-scroll pb-4 ">
            <input id="count" value="0" hidden />
            <!-- image  -->
            <div class="px-[14px] py-3 grid gap-3">
                <div class="flex gap-[8px] p-[14px] bg-[#F6F6F6] border border-[#EAEAEA] rounded-[6px]">
                    <div data-modal-target="defaultModal" data-modal-toggle="defaultModal">
                        @if (!string.IsNullOrEmpty(Model.ClubDetailModel.ClubLogo))
                        {
                            <img src="@Model.ClubDetailModel.ClubLogo"
                                 class="h-[48px] w-[48px] object-cover rounded-full border-[2px] border-[#EAEAEA]" alt="image" />
                        }
                        else
                        {
                            <img src="~/Content/assets/images/customer/demo-image.jpeg"
                                 class="h-[48px] w-[48px] object-cover rounded-full border-[2px] border-[#EAEAEA]" alt="image" />
                        }
                    </div>
                    <div>
                        <div class='text-sm font-bold text-charcolBlack '>@Model.ClubDetailModel.ClubNameEnglish</div>
                        <div class='text-xs  text-[#404040] '>@Model.ClubDetailModel.ClubNameJapanese</div>
                        <div class="text-[10px] text-[#A09E91] flex gap-[2px] items-center">
                            <i class="fa-solid fa-location-dot text-primary"></i>
                            @Model.ClubDetailModel.ClubLocationName
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-[#333] px-[14px]  pb-3 text-[10px] text-center">
                勤務状況によりご希望に添えないこともございます。当日の接客を確約するものではございませんので予めご了承ください。
            </div>
            <div class="px-[10px] grid gap-4 grid-cols-3 host-detail-class">
                <div class="host-selection default-host-section">
                    <input class="hostid-class" value="@DefaultHostId" hidden />
                    <div class="relative">
                        <div class="circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                 fill="none">
                                <circle cx="13" cy="13" r="12.5" fill="#F6F6F6" stroke="#DCDCDC" />
                                <path d="M19.2665 8L10.4487 17.4457L6.73349 13.4658L6 14.2516L10.082 18.6242L10.4487 19L10.8155 18.6242L20 8.78571L19.2665 8Z"
                                      fill="#DCDCDC" />
                            </svg>

                        </div>
                        <div class="active-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                 fill="none">
                                <circle cx="13" cy="13" r="12.5" fill="#D75A8B" stroke="#D75A8B" />
                                <path d="M19.2665 8L10.4487 17.4457L6.73349 13.4658L6 14.2516L10.082 18.6242L10.4487 19L10.8155 18.6242L20 8.78571L19.2665 8Z"
                                      fill="#fff" />
                            </svg>
                        </div>
                        <img src="~/Content/assets/images/customer/default-host-image.jpg" alt="image">
                    </div>
                    <div class="py-1 px-2">
                        <div class="text-[10px] text-primary font-bold">おまかせ</div>
                        <div class="text-xs text-[#404040]">誰でもOK！</div>
                    </div>
                </div>
                @foreach (var item in Model.HostListModel)
                {
                    <div class="host-selection">
                        <input class="hostid-class" value="@item.HostId" hidden />
                        <div class="relative">
                            <div class="circle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                     fill="none">
                                    <circle cx="13" cy="13" r="12.5" fill="#F6F6F6" stroke="#DCDCDC" />
                                    <path d="M19.2665 8L10.4487 17.4457L6.73349 13.4658L6 14.2516L10.082 18.6242L10.4487 19L10.8155 18.6242L20 8.78571L19.2665 8Z"
                                          fill="#DCDCDC" />
                                </svg>

                            </div>
                            <div class="active-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26"
                                     fill="none">
                                    <circle cx="13" cy="13" r="12.5" fill="#D75A8B" stroke="#D75A8B" />
                                    <path d="M19.2665 8L10.4487 17.4457L6.73349 13.4658L6 14.2516L10.082 18.6242L10.4487 19L10.8155 18.6242L20 8.78571L19.2665 8Z"
                                          fill="#fff" />
                                </svg>
                            </div>
                            @if (!string.IsNullOrEmpty(item.HostImage))
                            {
                                <img src="@item.HostImage" alt="image">
                            }
                            else
                            {
                                <img src="~/Content/assets/images/customer/demo-image.jpeg" alt="image">
                            }
                        </div>
                        <div class="py-1 px-2">
                            <div class="text-[10px] text-primary font-bold">@item.HostPosition</div>
                            <div class="text-xs text-[#404040]">@item.HostNameJapanese</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="flex py-4 items-center fixed bottom-0 left-0 w-full px-4 bg-white"
     style="box-shadow: 0px -4px 9px 0px rgba(0, 0, 0, 0.04);">
    <button class="btn" onclick="WindowHistoryBack();">
        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Back
    </button>
    <button class="btn btn-primary" onclick="SubmitFunction();">
        <a class="h-full w-full">
            次
        </a>
    </button>
</div>
@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>
    <script>
        //var maxActiveItem = localStorage.getItem("PlanNomination");
        var maxActiveItem = localStorage.getItem("NoOfPeople");
        let maxActive = 0;
        if (maxActiveItem != null || maxActiveItem != "") { maxActive = DecryptParameter(maxActiveItem); }
        $(document).ready(function () {
            SelectedHostFunction();
            var totalCount = 0;
            var SelectedHostId = localStorage.getItem("SelectedHost");
            if (SelectedHostId != null && SelectedHostId != '') {
                totalCount++;
                $('#count').text(totalCount);
            }
            // Add click event listeners to each div
            $('.host-selection').on('click', function () {
                if ($(this).hasClass('default-host-section')) {
                    DefaultHostSelectionFunction();
                    return;
                }
                else {
                    var element = document.querySelector(".host-selection.default-host-section");
                    if (element.classList.contains("active")) {
                        element.classList.remove("active");
                        $('#count').text(0);
                    }
                }
                var activeDivs = $('.active').length;
                const isActiveClass = $(this).hasClass('active');
                if (isActiveClass) {
                    totalCount--;
                    $(this).removeClass('active');
                }
                else if (activeDivs < (maxActive * 2) && !isActiveClass) {
                    totalCount++;
                    $(this).addClass('active');
                }
                $('#count').text(totalCount);

            });
        });

        function DefaultHostSelectionFunction() {
            var elements = document.querySelectorAll('.host-selection');
            elements.forEach(function (element) {
                if (!element.classList.contains('default-host-section')) {
                    element.classList.remove('active');
                }
            });
            const element = document.querySelector(".host-selection.default-host-section");
            if (element) {
                element.classList.toggle("active");
                const countValue = element.classList.contains("active") ? 1 : 0;
                document.getElementById('count').innerText = countValue;
            }
        }

        function SelectedHostFunction() {
            var SelectedHostId = localStorage.getItem("SelectedHost");
            if (SelectedHostId != null && SelectedHostId != '') {
                var divsWithSpecificValue = document.querySelectorAll('.host-selection > input[value="' + SelectedHostId + '"]');
                divsWithSpecificValue.forEach(function (element) {
                    element.closest('.host-selection').classList.add('active');
                });
            }
        }

        function SubmitFunction() {
            const HostIdList = [];
            $('.host-detail-class .active .hostid-class').each(function () { HostIdList.push($(this).val()); });
            if (HostIdList === null || HostIdList === "" || HostIdList.length <= 0) {
                /*toastr.info('Host is required');*/
                toastr.info('ホストが必要です');
                return false;
            }
            DataStorageFunction(HostIdList);
            var clubDetail = @Html.Raw(Json.Encode(@ClubDetailModel));
            var encodedClubDetail = encodeURIComponent(JSON.stringify(clubDetail));
            const url = `@Url.Action("Confirmation", "ReservationManagementV3")?ClubId=${'@Model.ClubDetailModel.ClubId'}&ClubDetailModel=${encodedClubDetail}&HostIdList=${HostIdList}`;
            window.location.href = url;
        }

        const DataStorageFunction = (HostIdList) => {
            localStorage.setItem("HostIdList", JSON.stringify(HostIdList));
        }
    </script>
}