@model CRS.CUSTOMER.APPLICATION.Models.BookmarkManagement.BookmarkManagementModel

@{
    ViewBag.Title = "Bookmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int clubCount = @Model.BookmarkedClubs.Count;
    int hostCount = Model.BookmarkedHosts.Count;
}
<style>
    #like {
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .inset-0 {
        inset: 5rem !important;
    }
</style>
<div class="">
    <div class="flex px-[16px] gap-[24px]" style="border-bottom: 4px solid #EFEFEF;">
        <div class="grid grid-cols-2 w-full tab-container-plane bg-white gap-[14px]">
            <button id="tab1Button" class="tab-button-plane tab-link active">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Club
            </button>
            <button id="tab2Button" class="tab-button-plane tab-link">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host
            </button>
        </div>
    </div>
</div>
<div>
    <div class="bg-white">
        <div id="tab1" class="tab-content-plane">

            <div class="flex flex-row items-center bg-[#E5E5E5] h-[32px]">
                <p class="pl-[16px] text-[14px] font-[500] ">
                    @clubCount @CRS.CUSTOMER.APPLICATION.Resources.Resource.Items
                </p>
            </div>
            @if (Model.BookmarkedClubs.Count <= 0)
            {
                <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0] flex justify-center items-center">
                    <div class="text-[#18181B] font-semibold mt-12 text-center">まだブックマークされたクラブがありません。</div>
                </div>
            }
            else
            {
                foreach (var club in Model.BookmarkedClubs)
                {
                    <div class="flex flex-col  gap-1 w-full   border-b-[4px] border-[#E5E5E5]">
                        <!-- location -->
                        <section class="tags flex flex-wrap pt-3 pb-2 gap-2 px-4 items-center ">
                            @if (!string.IsNullOrEmpty(club.Tag1))
                            {
                                <div style="border-radius: 2px; border:1px solid #F6F6F6" class="px-[2px] flex items-center justify-center gap-[2px] text-[#A09E91] text-[10px] leading-[16px]">
                                    <i class="fa-solid fa-location-dot text-[10px] text-[#D75A8B]"></i>
                                    @club.Tag1
                                </div>
                            }
                            <div class=" flex self-center gap-0.5  ">
                                @if (!string.IsNullOrEmpty(club.Tag2))
                                {
                                    <span class="  lg:text-[9px] text-xs   self-center   px-2 rounded-sm  bg-[#BFA3B6] text-[#FFFFFF]">
                                        @club.Tag2
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(club.Tag3))
                                {
                                    <span class="  lg:text-[9px] text-xs   self-center    px-2 rounded-sm  bg-[#697DBF] text-[#FFFFFF]">
                                        @club.Tag3
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(club.Tag4))
                                {
                                    <span class="   lg:text-[9px] text-xs   self-center    px-2 rounded-sm  text-[#FFFFFF] bg-[#96B41F]">
                                        @club.Tag4
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(club.Tag5))
                                {
                                    <span class="   lg:text-[9px] text-xs   self-center    px-2 rounded-sm   text-[#FFFFFF] bg-[#EFB726]">
                                        @club.Tag5
                                    </span>
                                }
                            </div>
                        </section>

                        <!-- club name -->
                        <section class="w-full flex px-4 pb-2 justify-between ">
                            <a onClick={goToTop}>
                                <div class="flex gap-2  hover:cursor-pointer transition-all delay-150">
                                    <div class="h-12 w-12 rounded-full border-borderColor bg-primary border overflow-hidden" onclick="ClubDetailActionFunction('@club.LocationId', '@club.ClubId')">
                                        <img src="@club.ClubLogo" alt="" title="club logo"
                                             class="w-full h-full image-cover" />
                                    </div>

                                    <div class="flex flex-col ">
                                        <div class="flex gap-1 text-base items-center  font-semibold">
                                            <div class="text-base items-start " title="club name">
                                                @club.ClubName
                                            </div>
                                        </div>
                                        <div class="text-xs items-start " title="club ">
                                            @club.ClubNameJapanese
                                        </div>
                                        <div class="text-[10px] items-start text-[#E3A1A1] " title="club group">
                                            @club.GroupName
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class=" w-6 h-6 flex flex-col justify-center items-center  scale-90">
                                <div class="flex flex-col justify-center items-center hover:cursor-pointer">

                                    <div onclick="handleRemoveBookmarks('@club.ClubId','','club')">
                                        <img src="~/Content/assets/images/bookmark-filled.svg" class="h-[24px] w-[24px] image-cover" alt="filled bookmark" />
                                    </div>

                                    <div style="line-height: 100%;" class="text-[9px] text-[#BCB08A] ">
                                        保存
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- photo -->
                        <section class="h-auto w-full grid grid-cols-3 bg-light gap-0.5">
                            @foreach (var item2 in club.HostGalleryImage)
                            {
                                <div class=" " onclick="OpenImagePopup('@item2')">
                                    <img src="@item2"
                                         class="aspect-square image-cover h-[120px] w-full" />
                                </div>
                            }

                        </section>

                        <!-- rating /commment -->
                        <section class=" flex justify-start flex-wrap align-top mt-2 px-4 gap-3">
                            <div class="flex items-center gap-0.5" title="club rank">
                                @{
                                    var unratedScale = (5 - club.AverageRating);
                                    for (int i = 0; i < club.AverageRating; i++)
                                    {
                                        <img src="~/Content/assets/images/ratingstar-filled.svg" class="h-[18px] w-[18px]" alt="rated" />
                                    }
                                    for (int i = 0; i < unratedScale; i++)
                                    {
                                        <img src="~/Content/assets/images/ratingstar-notfilled.svg" class="h-[18px] w-[18px]" alt="unrated" />
                                    }
                                }
                                <div class=" text-xs scale-110" title="club rating">
                                    @club.AverageRating
                                </div>
                            </div>

                            <div class="flex items-center gap-1 scale-75">
                                <div class="flex items-center  " title="comment">

                                    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16"
                                         fill="none">
                                        <path d="M1.52429 2.90909V12.8487H6.35078L8.06975 14.5455L9.78872 12.8487H14.6152V2.90909H1.52429ZM2.53129 3.90305H13.6082V11.8548H9.37176L8.06975 13.1399L6.76774 11.8548H2.53129V3.90305ZM4.54527 5.394V6.38796H11.5942V5.394H4.54527ZM4.54527 7.38192V8.37589H11.5942V7.38192H4.54527ZM4.54527 9.36985V10.3638H9.58024V9.36985H4.54527Z"
                                              fill="#BCB08A" />
                                    </svg>
                                </div>

                                <div class=" text-xs scale-110">@club.TotalComment</div>
                            </div>
                        </section>

                        <!-- club description -->

                        <section class="flex flex-col gap-2 px-4 mb-3 ">
                            <p class="line-clamp-3 font-[Noto Sans] text-xs   text-[#333333]">
                                @club.ClubDescription
                            </p>
                        </section>

                        <div class="px-4 py-[12px] flex justify-between items-center">
                            <div>
                                @if (!string.IsNullOrEmpty(club.ClubOpeningTime) && !string.IsNullOrEmpty(club.ClubClosingTime))
                                {
                                    <div class="flex justify-center items-center gap-1 pb-1">
                                        @if (!string.IsNullOrEmpty(club.ClubTimePeriod) && club.ClubTimePeriod.Trim().ToUpper() == "DAY")
                                        {
                                            <div class="h-4 w-4 rounded-[2px] bg-[#F89336] flex justify-center items-center">
                                                <img src="~/Content/assets/images/customer/sun.svg" />
                                            </div>
                                        }
                                        else if (!string.IsNullOrEmpty(club.ClubTimePeriod) && club.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                                        {
                                            <div class="h-4 w-4 rounded-[2px] bg-[#F89336] flex justify-center items-center">
                                                <img src="~/Content/assets/images/customer/moon.svg" />
                                            </div>
                                        }
                                        <div class="text-sm text-secondary-1 flex justify-center items-center">
                                            @club.ClubOpeningTime <span>
                                                <img src="~/Content/assets/images/customer/time-duration.svg" style="height:9px; width:8px" />

                                            </span>@club.ClubClosingTime
                                        </div>
                                    </div>
                                    if (!string.IsNullOrEmpty(club.TodaysClubSchedule) && club.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE")
                                    {
                                        <div class="bg-[#BCB08A] text-white w-max px-2 rounded-[2px] text-xs h-[18px] flex items-center justify-center">
                                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Reservable
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="bg-[#D7D7D7] text-white w-max px-2 rounded-[2px] text-xs h-[18px] flex items-center justify-center" style="background: #D7D7D7;  width:100%">
                                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.Reservable
                                        </div>
                                    }
                                }
                            </div>

                            @*<button class="btn-gradient" onclick="ClubReservationActionFunction('@club.ClubId', '@club.ClubName')">*@
                            <button class="btn-gradient" onclick="InitiateClubReservationFunction('@club.ClubId')">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Book_Now
                            </button>

                        </div>

                    </div>
                }
            }
        </div>
        <div id="tab2" class="tab-content-plane hidden">
            <div class="flex flex-row items-center bg-[#E5E5E5] h-[32px]">
                <p class="pl-[16px] text-[14px] font-[500] ">
                    @hostCount @CRS.CUSTOMER.APPLICATION.Resources.Resource.Items
                </p>
            </div>
            @if (Model.BookmarkedHosts.Count <= 0)
            {
                <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0] flex justify-center items-center">
                    <div class="text-[#18181B] font-semibold mt-12 text-center">まだブックマークされたホストがありません。</div>
                </div>
            }
            else
            {
                foreach (var item in Model.BookmarkedHosts)
                {
                    <div class="flex flex-col border-b-[4px] border-[#E3E2DB] py-3  ">
                        <div class="flex flex-row gap-[16px] mx-[16px]">
                            <div style="border-radius: 4px;" class="w-[128px] mt-[16px]  h-auto flex  justify-end text-center relative">
                                <div class="w-full flex justify-center" onclick="window.location.href='/LocationManagement/ViewHostDetail?HostId=@item.HostId'">
                                    <img class="w-[128px] h-[180px] object-cover rounded-[2px]"
                                         src="@item.HostImage" />
                                </div>
                                <div id="like" onclick="handleRemoveBookmarks('@item.ClubId','@item.HostId','host')">
                                    <img src="~/Content/assets/images/loveicon-filled.svg" class="h-[34px] w-[34px]" alt="bookmark" />
                                </div>
                            </div>
                            <div class="grid mt-[16px] mx-[16px] mb-[10px] grid-rows-7">
                                <div style="line-height: 140%;" class="text-[10px]">
                                    <p class="font-[700] text-[13px]">@item.HostName </p>

                                    <p>誕生日 :<span> @item.DOB</span> </p>

                                    <p>身長 :<span> @item.Height</span> </p>

                                    <p>血液型 :<span> @item.BloodType</span> </p>

                                    <p>星座 :<span> @item.ConstellationGroup</span> </p>

                                    <p>出身地 :<span> @item.Address</span> </p>

                                    <p>前職 :<span> @item.PreviousOccupation</span> </p>
                                    <p>お酒の強さ :<span> @item.LiquorStrength </span> </p>

                                </div>
                                <div class="flex flex-row gap-1 items-center mb-[8px] mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                        <path d="M2.71459 7.28802L2.70677 7.27992L2.70002 7.27344L2.69991 7.27333L2.69977 7.2732L2.69972 7.27314L2.69946 7.2729L2.69551 7.26898C2.69096 7.26443 2.68308 7.25648 2.67238 7.24533C2.65094 7.223 2.6184 7.18812 2.57856 7.14233C2.49833 7.0501 2.39165 6.91721 2.28715 6.75669C2.06486 6.41524 1.87295 6.01061 1.87295 5.57856C1.87295 4.15772 3.00042 3.00912 4.34113 3.00912C5.48553 3.00912 6.23896 3.72054 6.56537 4.06389L7.00022 4.52129L7.43507 4.06389C7.76149 3.72054 8.51491 3.00912 9.65931 3.00912C11 3.00912 12.1275 4.15772 12.1275 5.57856C12.1275 6.01777 11.9411 6.4329 11.7225 6.76253C11.6159 6.92322 11.509 7.05249 11.4297 7.14051C11.3902 7.18425 11.3583 7.21705 11.3376 7.23769C11.3272 7.24799 11.3198 7.25519 11.3156 7.25915L11.3127 7.26192L11.3121 7.26241L11.3121 7.26247L11.3119 7.26261L11.3118 7.26271L11.2993 7.27409L11.2859 7.28802L7.00022 11.7279L2.71459 7.28802Z"
                                              stroke="#D75A8B" stroke-width="1.2" />
                                    </svg>
                                    <p class="text-[10px]">
                                        @item.LoveCount
                                    </p>
                                </div>
                                <div style="padding: 4px; width:144px" class="flex bg-[#F6F6F6]  flex-row gap-[5px] rounded-[4px]">
                                    <div>
                                        <img style="border: 1px solid #F1EEEE;" class="object-cover h-[32px] w-[32px] rounded-full "
                                             src="@item.ClubLogo" alt="clublogo">
                                    </div>
                                    <div class="flex flex-col justify-center " style="width:55%">
                                        <p style="line-height: 100%;" class="text-[10px] text-[#292F33] font-[700] text-clip ">
                                            @item.ClubName
                                        </p>
                                        <p style="line-height: 100%;" class="text-[8px] text-[#A09E91] font-[400] text-clip ">
                                            @item.ClubNameJap
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="flex flex-col border-b-[4px] border-[#E3E2DB]  ">
                            <div class="flex p-[16px] flex-row gap-[16px] ">
                                <div id="hostcontainer">
                                    <div id="hostimage">
                                        <img class="rounded-[6px] h-[180px] object-fill w-[128px]"
                                             src="@host.HostImage" alt="host">
                                    </div>
                                    <div id="fav">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                             fill="pink"
                                             onclick="handleRemoveBookmarks('@host.ClubId','@host.HostId','host')"
                                             class="cursor-pointer">
                                            <g filter="url(#filter0_d_5748_18041)">
                                                <circle cx="20" cy="20" r="13" fill="white" />
                                            </g>
                                            <path d="M14.7644 20.7106L14.7545 20.7007L14.7458 20.6927C14.7461 20.6929 14.746 20.6929 14.7457 20.6926L14.7456 20.6925L14.7407 20.6878C14.7353 20.6826 14.7258 20.6734 14.7129 20.6604C14.687 20.6344 14.6476 20.5937 14.5993 20.5402C14.5021 20.4323 14.3729 20.2772 14.2466 20.0901C13.9759 19.6891 13.75 19.2245 13.75 18.7354C13.75 17.109 15.0956 15.75 16.75 15.75C18.1523 15.75 19.0715 16.5896 19.4659 16.9896L20 17.5313L20.5341 16.9896C20.9285 16.5896 21.8477 15.75 23.25 15.75C24.9044 15.75 26.25 17.109 26.25 18.7354C26.25 19.2337 26.0301 19.7109 25.7649 20.0966C25.6361 20.2839 25.5067 20.4347 25.4106 20.5376C25.3628 20.5887 25.3242 20.6269 25.2992 20.6509C25.292 20.6579 25.2859 20.6636 25.2811 20.6681C25.2776 20.6713 25.2749 20.6739 25.2728 20.6758L25.2689 20.6793L25.2688 20.6794L25.2685 20.6796L25.2527 20.6936L25.2356 20.7106L20 25.9409L14.7644 20.7106Z"
                                                  stroke="#E3A1A1" stroke-width="1.5" />
                                            <defs>
                                                <filter id="filter0_d_5748_18041" x="0" y="0" width="40" height="40"
                                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                                    <feOffset />
                                                    <feGaussianBlur stdDeviation="3.5" />
                                                    <feComposite in2="hardAlpha" operator="out" />
                                                    <feColorMatrix type="matrix"
                                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                                    <feBlend mode="normal" in2="BackgroundImageFix"
                                                             result="effect1_dropShadow_5748_18041" />
                                                    <feBlend mode="normal" in="SourceGraphic"
                                                             in2="effect1_dropShadow_5748_18041" result="shape" />
                                                </filter>
                                            </defs>
                                        </svg>
                                    </div>
                                </div>

                                <div class="flex flex-col text-[12px] text-[#404040]">
                                    <p class=" font-[700]">
                                        @host.HostName
                                    </p>
                                    <p class=" mt-[6px] ">
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Date_of_birth :<span>
                                            @host.DOB
                                        </span>
                                    </p>
                                    <p>
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Height :<span>
                                            @host.Height cm
                                        </span>
                                    </p>
                                    <p>
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Blood_Type :<span>
                                            @host.BloodType
                                        </span>
                                    </p>
                                    <p>
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Constellation :<span>
                                            @host.ConstellationGroup
                                        </span>
                                    </p>
                                    <p>
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Address :<span>
                                            @host.Address
                                        </span>
                                    </p>
                                    <p>
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Former_Job :<span>
                                            @host.PreviousOccupation
                                        </span>
                                    </p>
                                    <p>
                                        @CRS.CUSTOMER.APPLICATION.Resources.Resource.Strength_of_Alcohol :<span>
                                            @host.LiquorStrength
                                        </span>
                                    </p>
                                    <div class="flex flex-row mt-[10px]  items-center gap-[4px]">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"
                                             fill="none">
                                            <path d="M2.7141 6.78799L2.70628 6.77989L2.69953 6.77341L2.69942 6.77331L2.69929 6.77317L2.69923 6.77312L2.69897 6.77287L2.69502 6.76895C2.69047 6.7644 2.6826 6.75645 2.6719 6.7453C2.65045 6.72297 2.61791 6.68809 2.57808 6.6423C2.49784 6.55008 2.39116 6.41718 2.28666 6.25666C2.06437 5.91521 1.87246 5.51058 1.87246 5.07853C1.87246 3.65769 2.99993 2.50909 4.34064 2.50909C5.48504 2.50909 6.23847 3.22052 6.56488 3.56386L6.99973 4.02127L7.43458 3.56386C7.761 3.22052 8.51443 2.50909 9.65882 2.50909C10.9995 2.50909 12.127 3.65769 12.127 5.07853C12.127 5.51774 11.9406 5.93287 11.722 6.2625C11.6154 6.42319 11.5085 6.55246 11.4292 6.64048C11.3897 6.68422 11.3578 6.71703 11.3371 6.73766C11.3268 6.74796 11.3193 6.75517 11.3151 6.75913L11.3122 6.76189L11.3116 6.76238L11.3116 6.76244L11.3114 6.76259L11.3113 6.76268L11.2988 6.77406L11.2854 6.78799L6.99973 11.2279L2.7141 6.78799Z"
                                                  stroke="#D75A8B" stroke-width="1.2" />
                                        </svg>
                                        @host.LoveCount
                                    </div>
                                    <div class="flex flex-row items-center mt-[12px] gap-[4px]">
                                        <img class="rounded-[42px] h-[26px] w-[26px]"
                                             src="@host.ClubLogo" alt="">
                                        <div class="flex flex-col text-[12px] ">
                                            <p class="font-[700]">
                                                @host.ClubName
                                            </p>
                                            <p class="font-[400]">
                                                @host.ClubNameJap
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                }
            }
        </div>
    </div>
</div>
<div class="loader" id="loader-id">
    <img src="~/Content/assets/images/loader.gif" class="h-[150px]" />
</div>

@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>

    <script type="text/javascript">
        //const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat']
        //days.map((day, i) => {
        //    console.log(day, 'weekdays')
        //    document.getElementById('weekdays').innerHTML = day
        //})
        //const tabs = document.querySelector(".wrapper");
        //const tabButton = document.querySelectorAll(".tab-button");
        //const contents = document.querySelectorAll(".content");
        //tabs.onclick = e => {
        //    const id = e.target.dataset.id;
        //    if (id) {
        //        tabButton.forEach(btn => {
        //            btn.classList.remove("active");
        //        });
        //        e.target.classList.add("active");
        //        contents.forEach(content => {
        //            content.classList.remove("active");
        //        });
        //        const element = document.getElementById(id);
        //        element.classList.add("active");
        //    }
        //}

        document.addEventListener("DOMContentLoaded", function () {
            // The DOM is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        // If you also want to handle external resources like images, use the load event
        window.addEventListener("load", function () {
            // The entire page, including external resources, is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        function handleAddBookmarks(clubId, hostId, agentType) {
            ActivateLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/AddBookmarks',
                type: 'POST',
                data: { clubId: clubId, hostId: hostId, agentType: agentType },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        location.reload();
                    }
                },
                error: function () {
                    // Handle unexpected errors
                    //console.log('An unexpected error occurred.');
                    location.reload();
                }
            });
        }

        function handleRemoveBookmarks(clubId, hostId, agentType) {
            ActivateLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/RemoveBookmarks',
                type: 'POST',
                data: { clubId: clubId, hostId: hostId, agentType: agentType },
                success: function (result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        // Handle failure, e.g., show an error message
                        //console.log('Error: ' + result.message);
                        location.reload();
                    }
                },
                error: function () {
                    // Handle unexpected errors
                    //console.log('An unexpected error occurred.');
                    location.reload();
                }
            });
        }

        function ActivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "flex";
        }
        function DeactivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "none";
        }

        function ClubDetailActionFunction(i, j) {
            window.location.href = "/LocationManagement/ClubDetail_V2?LocationId=" + i + "&&ClubId=" + j;
        }

        function ClubReservationActionFunction(i, j, k) {
            DataStorageFunction(i, j);
            window.location.href = "/LocationManagement/ClubReservation?ClubId=" + i + "&SelectedDate=" + k;
        }</script>

    <script>
        const DataStorageFunction = (i, j) => {
            localStorage.setItem("ClubId", EncryptParameter(i));
            localStorage.setItem("ClubName", EncryptParameter(j));
        }</script>
}
