@model CRS.CUSTOMER.APPLICATION.Models.BookmarkManagement.BookmarkManagementModel

@{
    ViewBag.Title = "ブックマーク‖ ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int clubCount = @Model.BookmarkedClubs.Count;
    int hostCount = Model.BookmarkedHosts.Count;
    var bmktabVal = Model.bmktab;
    DateTime currentTime = DateTime.Parse(DateTime.Now.ToString("HH:mm"));
}
<style>
    #like {
        position: absolute;
        top: 3px;
        right: 3px;
    }

    .inset-0 {
        inset: 5rem !important;
    }
</style>
<div class="">
    <div class="flex px-[16px] gap-[24px]" style="border-bottom: 4px solid #EFEFEF;">
        <div class="grid grid-cols-2 w-full tab-container-plane bg-white gap-[14px]">
            <button id="tab1Button" class="tab-button-plane tab-link @(bmktabVal == "01" ? "active" : "")" onclick="window.location.href='/user/account/bookmark/?bmktab=01'">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Club
            </button>
            <button id="tab2Button" class="tab-button-plane tab-link @(bmktabVal == "02" ? "active" : "")" onclick="window.location.href='/user/account/bookmark/?bmktab=02'">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Host
            </button>
        </div>
    </div>
</div>
<div>
    <div class="bg-white">
        <div id="tab1" class="tab-content-plane @(bmktabVal == "02" ? "hidden" : "")">

            <div class="flex flex-row items-center bg-[#E5E5E5] h-[32px]">
                <p class="pl-[16px] text-[14px] font-[500] ">
                    @clubCount @CRS.CUSTOMER.APPLICATION.Resources.Resource.Items
                </p>
            </div>
            @if (Model.BookmarkedClubs.Count <= 0)
            {
                <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0]  justify-center items-center " style="padding-top:64px">
                    <div style="display:flex; justify-content:center; align-items:center">
                        <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="80" cy="80" r="79" stroke="#F4F4F4" stroke-width="2" />
                            <g clip-path="url(#clip0_5379_118965)">
                                <path d="M46.6668 46.667V56.8232L38.3335 67.9344V68.8892C38.3335 73.4574 42.0987 77.2225 46.6668 77.2225V113.334H91.1113V88.3337H96.6668V113.334H113.333V77.2225C117.902 77.2225 121.667 73.4574 121.667 68.8892V67.9344L113.333 56.8232V46.667H46.6668ZM52.2224 52.2225H107.778V55.0003H52.2224V52.2225ZM50.8335 60.5559H109.167L115.851 69.4969C115.547 70.7013 114.636 71.667 113.333 71.667C111.793 71.667 110.556 70.43 110.556 68.8892H105C105 70.43 103.763 71.667 102.222 71.667C100.682 71.667 99.4446 70.43 99.4446 68.8892H93.889C93.889 70.43 92.6521 71.667 91.1113 71.667C89.5705 71.667 88.3335 70.43 88.3335 68.8892H82.7779C82.7779 70.43 81.541 71.667 80.0002 71.667C78.4594 71.667 77.2224 70.43 77.2224 68.8892H71.6668C71.6668 70.43 70.4299 71.667 68.8891 71.667C67.3483 71.667 66.1113 70.43 66.1113 68.8892H60.5557C60.5557 70.43 59.3187 71.667 57.7779 71.667C56.2371 71.667 55.0002 70.43 55.0002 68.8892H49.4446C49.4446 70.43 48.2076 71.667 46.6668 71.667C45.3647 71.667 44.4533 70.7013 44.1495 69.4969L50.8335 60.5559ZM52.2224 75.0524C53.6981 76.387 55.6512 77.2225 57.7779 77.2225C59.9047 77.2225 61.8578 76.387 63.3335 75.0524C64.8092 76.387 66.7623 77.2225 68.8891 77.2225C71.0158 77.2225 72.9689 76.387 74.4446 75.0524C75.9203 76.387 77.8734 77.2225 80.0002 77.2225C82.1269 77.2225 84.08 76.387 85.5557 75.0524C87.0314 76.387 88.9845 77.2225 91.1113 77.2225C93.238 77.2225 95.1911 76.387 96.6668 75.0524C98.1425 76.387 100.096 77.2225 102.222 77.2225C104.349 77.2225 106.302 76.387 107.778 75.0524V107.778H102.222V82.7781H85.5557V107.778H52.2224V75.0524ZM57.7779 82.7781V102.223H80.0002V82.7781H57.7779ZM63.3335 88.3337H74.4446V96.667H63.3335V88.3337Z" fill="#C8C8C8" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5379_118965">
                                    <rect width="88.8889" height="88.8889" fill="white" transform="translate(35.5557 35.5557)" />
                                </clipPath>
                            </defs>
                        </svg>

                    </div>
                    <div class=" font-semibold mt-12 text-center" style="color:#000; font-size:12px; font-weight:500; line-height:14px; text-align:center">お気入りの店舗はありません</div>
                </div>
                @*<div style="margin-left:24px;margin-right:24px;" class="flex flex-row justify-center rounded-[8px] bg-[#D75A8B] mt-[16px]" onclick="window.location.href='/'" id="DateTimeFilter-Id">
                        <div class="my-[12px] text-[12px] font-[700] text-[#FFF] text-center " style="width:100%">
                            マイページヘ
                        </div>
                    </div>*@
            }
            else
            {
                <div class="list_wrap">
                    @foreach (var club in Model.BookmarkedClubs)
                    {
                        <div class="club_content">
                            <!-- s/link -->
                            @*<a onclick="ClubDetailActionFunction('@club.LocationId', '@club.ClubId')">*@
                            <a onclick="ClubDetailRedirectFunction('@club.ClubCode', '@club.LocationURL')">
                                <ul class="club_tags">
                                    @if (!string.IsNullOrEmpty(@club.Tag1))
                                    {
                                        <li class="tag_location"><img class="map_pin" src="~/Content/assets/images/location_icon.svg" alt="ピン"> @club.Tag1</li>
                                    }
                                    @if (!string.IsNullOrEmpty(@club.Tag2))
                                    {
                                        <li class="tag_rank">ランク @club.Tag2</li>
                                    }
                                    @if (!string.IsNullOrEmpty(@club.Tag3))
                                    {
                                        <li class="tag_platinum">  @club.Tag3</li>
                                    }

                                    @if (!string.IsNullOrEmpty(@club.Tag4))
                                    {
                                        <li class="tag_good">@club.Tag4</li>
                                    }
                                    @if (!string.IsNullOrEmpty(@club.Tag5))
                                    {
                                        <li class="tag_big">  @club.Tag5</li>
                                    }
                                </ul>
                                <div class="club_header">
                                    <div class="club_logo"><img class="logo" alt="ロゴ" src="@club.ClubLogo"></div>
                                    <div class="club_info">
                                        <h3 class="club_name">@club.ClubName</h3>
                                        <p class="club_kana">@club.ClubNameJapanese</p>
                                        <p class="club_group">@club.GroupName</p>
                                    </div>

                                    <div class="action_keep" onclick="event.stopPropagation(); ManageBookmark('@club.ClubId','','club', this)"><img alt="保存する" src="~/Content/assets/images/bookmark-filled.svg"></div>
                                </div>
                                <ul class="club_thumb">
                                    @foreach (var item2 in club.HostGalleryImage)
                                    {
                                        <li><img alt="@club.ClubName ([ruby])の写真‖[area]([prefectures])のホストクラブ‖ホスログ《ホストクラブ初回来店・ネット予約》" src="@item2"></li>
                                    }

                                </ul>
                                <div class="club_rate">
                                    <ul class="rate_stars">
                                        @{
                                            var unratedScale = (5 - club.AverageRating);
                                            for (int i = 0; i < club.AverageRating; i++)
                                            {
                                                <li><img src="~/Content/assets/images/ratingstar-filled.svg" alt="未評価"></li>
                                            }
                                            for (int i = 0; i < unratedScale; i++)
                                            {
                                                <li><img src="~/Content/assets/images/ratingstar-notfilled.svg" alt="未評価"></li>
                                            }
                                        }

                                        <li class="rate_value"> @club.AverageRating</li>
                                    </ul>
                                    <ul class="rate_review">
                                        <li><img src="~/Content/assets/images/comment.svg" alt="コメント"></li>
                                        <li class="comment_value">@club.TotalComment</li>
                                    </ul>
                                </div>
                                <p class="club_pr"> @club.ClubDescription</p>
                            </a>
                            <!-- e/link -->
                            <!-- s/club footer -->
                            <div class="club_footer">
                                <!-- s/club status -->
                                <div class="club_status">
                                    <!-- s/opening hours -->
                                    @if (!string.IsNullOrEmpty(@club.ClubOpeningTime) && !string.IsNullOrEmpty(@club.ClubClosingTime))
                                    {
                                        if (!string.IsNullOrEmpty(@club.ClubTimePeriod) && @club.ClubTimePeriod.Trim().ToUpper() == "DAY")
                                        {
                                            <div class="opening_hours">
                                                <img src="~/Content/assets/images/customer/sun.svg" alt="夜">
                                                @*@club.ClubOpeningTime &#xff5e; @club.ClubClosingTime*@
                                            <span style="line-height:13.5px;">
                                                @club.ClubOpeningTime &#xff5e; @club.ClubClosingTime

                                            </span>

                                            </div>
                                        }
                                        else if (!string.IsNullOrEmpty(@club.ClubTimePeriod) && @club.ClubTimePeriod.Trim().ToUpper() == "NIGHT")
                                        {
                                <div class="opening_hours">
                                    <img src="/Content/assets/images/customer/moon.svg" alt="夜">

                                  @*  @club.ClubOpeningTime &#xff5e; @club.ClubClosingTime*@
                                <span style="line-height:13.5px;">
                                    @club.ClubOpeningTime &#xff5e; @club.ClubClosingTime

                                </span>

                                </div>
                                        }

                                        <!-- e/opening hours -->
                                        <!-- s/available -->
                                        if (!string.IsNullOrEmpty(club.TodaysClubSchedule) && club.TodaysClubSchedule.Trim().ToUpper() == "RESERVABLE" && DateTime.Parse(club.ClubOpeningTime) < currentTime && DateTime.Parse(club.ClubClosingTime) > currentTime)
                                        {
                                            <div class="available">本日空席あり</div>
                                        }
                                        else
                                        {
                                            <div class="available disabled">本日空席あり</div>
                                        }
                                    }
                                    <!-- e/available -->
                                </div>
                                <!-- e/club status -->
                                <!-- s/reservation btn -->
                                <button class="rsv_btn gradient" onclick="InitiateClubReservationFunction('@club.ClubId')">
                                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Book_Now
                                    @* 今すぐ予約する*@
                                </button>
                                <!-- e/reservation btn -->
                            </div>
                            <!-- e/club footer -->
                        </div>
                    }
                </div>
            }
        </div>
        <div id="tab2" class="tab-content-plane @(bmktabVal == "01" ? "hidden" : "")">
            <div class="flex flex-row items-center bg-[#E5E5E5] h-[32px]">
                <p class="pl-[16px] text-[14px] font-[500] ">
                    @hostCount @CRS.CUSTOMER.APPLICATION.Resources.Resource.Items
                </p>
            </div>
            @if (Model.BookmarkedHosts.Count <= 0)
            {
                <div class="flex flex-col gap-4 p-4  border-t border-t-[#E0E0E0]  justify-center items-center " style="padding-top:64px">
                    <div style="display:flex; justify-content:center; align-items:center">
                        <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="80" cy="80" r="79" stroke="#F4F4F4" stroke-width="2" />
                            <path d="M79.9999 49.4443C69.2903 49.4443 60.5555 58.1791 60.5555 68.8888C60.5555 75.5837 63.9735 81.5298 69.1493 85.0346C59.2426 89.2881 52.2222 99.1188 52.2222 110.555H57.7777C57.7777 98.2508 67.6953 88.3332 79.9999 88.3332C92.3046 88.3332 102.222 98.2508 102.222 110.555H107.778C107.778 99.1188 100.757 89.2881 90.8506 85.0346C96.0264 81.5298 99.4444 75.5837 99.4444 68.8888C99.4444 58.1791 90.7096 49.4443 79.9999 49.4443ZM79.9999 54.9999C87.7039 54.9999 93.8888 61.1848 93.8888 68.8888C93.8888 76.5928 87.7039 82.7777 79.9999 82.7777C72.296 82.7777 66.1111 76.5928 66.1111 68.8888C66.1111 61.1848 72.296 54.9999 79.9999 54.9999Z" fill="#C8C8C8" />
                        </svg>


                    </div>
                    <div class=" font-semibold mt-12 text-center" style="color:#000; font-size:12px; font-weight:500; line-height:14px; text-align:center">お気入りのホストはありません</div>
                </div>
                @*<div style="margin-left:24px;margin-right:24px;" class="flex flex-row justify-center rounded-[8px] bg-[#D75A8B] mt-[16px]" onclick="window.location.href='/'" id="DateTimeFilter-Id">
                        <div class="my-[12px] text-[12px] font-[700] text-[#FFF] text-center " style="width:100%">
                            マイページヘ
                        </div>
                    </div>*@
            }
            else
            {
                foreach (var item in Model.BookmarkedHosts)
                {
                    <div class="flex flex-col border-b-[4px] border-[#E3E2DB] py-3  ">
                        <div class="flex flex-row gap-[16px] mx-[16px]">
                            <div style="border-radius: 4px;" class="w-[128px] mt-[16px]  h-auto flex  justify-end text-center relative">
                                <div class="w-full flex justify-center" onclick="HostDetailRedirectFunction('@item.HostCode', '@item.ClubCode', '@item.LocationURL');">
                                    <img class="w-[128px] h-[180px] object-cover rounded-[2px]"
                                         src="@item.HostImage" />
                                </div>
                                <div id="like" onclick="event.stopPropagation(); ManageBookmark('@item.ClubId', '@item.HostId', 'host', this)">
                                    <img src="~/Content/assets/images/loveicon-filled.svg" class="h-[34px] w-[34px]" alt="bookmark" />
                                </div>
                            </div>
                            <div class="grid mt-[16px] mb-[10px] grid-rows-7" style="margin-right:16px">
                                <div style="line-height: 140%;" class="text-[10px]" style="padding-bottom:4px">
                                    <p class="font-[700] text-[13px]">
                                        @if (string.IsNullOrEmpty(@item.HostNameJapanese))
                                        {
                                            @item.HostName
                                        }
                                        else
                                        {
                                            @item.HostNameJapanese
                                        }
                                    </p>
                                    @if (!string.IsNullOrEmpty(item.FormattedDOB))
                                    {
                                        <p>誕生日 :<span> @item.FormattedDOB</span> </p>
                                    }
                                    else
                                    {
                                        <p>誕生日 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Address))
                                    {
                                        <p>出身地 :<span> @item.Address</span> </p>
                                    }
                                    else
                                    {
                                        <p>出身地 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }
                                    @if (!string.IsNullOrEmpty(item.BloodType))
                                    {
                                        <p>血液型 :<span> @item.BloodType</span> </p>
                                    }
                                    else
                                    {
                                        <p>血液型 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }
                                    @if (!string.IsNullOrEmpty(item.ConstellationGroup))
                                    {
                                        <p>星座 :<span> @item.ConstellationGroup</span> </p>
                                    }
                                    else
                                    {
                                        <p>星座 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }
                                    @if (!string.IsNullOrEmpty(item.PreviousOccupation))
                                    {
                                        <p>前職 :<span> @item.PreviousOccupation</span> </p>
                                    }
                                    else
                                    {
                                        <p>前職 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }

                                    @if (!string.IsNullOrEmpty(item.Height))
                                    {
                                        <p>身長 :<span> @item.Height</span> </p>
                                    }
                                    else
                                    {
                                        <p>身長 :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }
                                    @if (!string.IsNullOrEmpty(item.LiquorStrength))
                                    {
                                        <p>お酒の強さ :<span> @item.LiquorStrength </span> </p>
                                    }
                                    else
                                    {
                                        <p>お酒の強さ :<span class="text-[#D17979] font-medium tracking-[1.2px] pl-1"> 未回答</span> </p>
                                    }

                                </div>
                                <div class="flex flex-row gap-1 items-center mb-[8px] mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                        <path d="M2.71459 7.28802L2.70677 7.27992L2.70002 7.27344L2.69991 7.27333L2.69977 7.2732L2.69972 7.27314L2.69946 7.2729L2.69551 7.26898C2.69096 7.26443 2.68308 7.25648 2.67238 7.24533C2.65094 7.223 2.6184 7.18812 2.57856 7.14233C2.49833 7.0501 2.39165 6.91721 2.28715 6.75669C2.06486 6.41524 1.87295 6.01061 1.87295 5.57856C1.87295 4.15772 3.00042 3.00912 4.34113 3.00912C5.48553 3.00912 6.23896 3.72054 6.56537 4.06389L7.00022 4.52129L7.43507 4.06389C7.76149 3.72054 8.51491 3.00912 9.65931 3.00912C11 3.00912 12.1275 4.15772 12.1275 5.57856C12.1275 6.01777 11.9411 6.4329 11.7225 6.76253C11.6159 6.92322 11.509 7.05249 11.4297 7.14051C11.3902 7.18425 11.3583 7.21705 11.3376 7.23769C11.3272 7.24799 11.3198 7.25519 11.3156 7.25915L11.3127 7.26192L11.3121 7.26241L11.3121 7.26247L11.3119 7.26261L11.3118 7.26271L11.2993 7.27409L11.2859 7.28802L7.00022 11.7279L2.71459 7.28802Z"
                                              stroke="#D75A8B" stroke-width="1.2" />
                                    </svg>
                                    <p class="text-[10px]">
                                        @item.LoveCount
                                    </p>
                                </div>
                                <div style="padding: 4px; width:144px" class="flex bg-[#F6F6F6]  flex-row gap-[5px] rounded-[4px]" onclick="ClubDetailRedirectFunction('@item.ClubCode', '@item.LocationURL')">
                                    <div>
                                        <img style="border: 1px solid #F1EEEE;" class="object-cover h-[32px] w-[32px] rounded-full "
                                             src="@item.ClubLogo" alt="clublogo">
                                    </div>
                                    <div class="flex flex-col justify-center " style="width:55%">
                                        <p style="line-height: 100%;" class="text-[10px] text-[#292F33] font-[700] text-clip ">
                                            @item.ClubName
                                        </p>
                                        <p style="line-height: 100%;" class="text-[8px] text-[#A09E91] font-[400] text-clip ">
                                            @item.ClubNameJap
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="loader" id="loader-id">
    <img src="~/Content/assets/images/loader.gif" class="h-[150px]" />
</div>

@section scripts
{
    <script src="~/Content/CustomHelper.js"></script>

    <script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
            // The DOM is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        // If you also want to handle external resources like images, use the load event
        window.addEventListener("load", function () {
            // The entire page, including external resources, is fully loaded, hide the loader
            document.getElementById("loader-id").style.display = "none";
        });

        function ActivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "flex";
        }
        function DeactivateLoaderFunction() {
            var myDiv = document.getElementById("loader-id");
            myDiv.style.display = "none";
        }

        //function ClubDetailActionFunction(i, j) {
        //    window.location.href = "/LocationManagement/ClubDetail_V2?LocationId=" + i + "&&ClubId=" + j;
        //}</script>
    <script>function ManageBookmark(ClubId, HostId, AgentType, ClickedElement) {
            EnableLoaderFunction();
            $.ajax({
                url: '/BookmarkManagement/ManageBookmark',
                type: 'POST',
                async: true,
                dataType: 'json',
                data: { clubId: ClubId, hostId: HostId, agentType: AgentType },
                success: function (data) {
                    if (!data.success) {
                        toastr.info(data.message ?? "Failed", "Information");
                    }
                    location.reload();
                    DisableLoaderFunction();
                },
                error: function () {
                    toastr.info(message, title);
                    DisableLoaderFunction();
                }
            })
        }</script>
}
