﻿@model CRS.CUSTOMER.APPLICATION.Models.ProfileManagement.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-container">
    <div class="px-4 pt-[12px]  grid border-t border-[#EFEFEF] ">
        <div class="flex flex-col gap-[8px] ">
            <div class="font-[600] text-[#D75A8B]">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.CreateNewPassword
            </div>
            <div class="text-[12px]">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Set_up_a_new_password_to_login
            </div>
        </div>

        @using (Html.BeginForm("ChangePassword", "ProfileManagement", FormMethod.Post, new { @class = "w-full max-w-lg mt-[24px]", @id = "Form" }))
        {
            @Html.AntiForgeryToken();
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                    <div class="input-field-common h-[92px] ">
                        <label class="block mb-2 text-sm font-medium text-secondary-100 ">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.OldPassword
                        </label>
                        <div class="password-input">
                            @Html.TextBoxFor(model => model.OldPassword, new
                               {
                                   @class = "w-full",
                                   @placeholder = CRS.CUSTOMER.APPLICATION.Resources.Resource.OldPassword,
                                   @maxLength = "16",
                                   type = "password"
                               })
                            <i class="las la-eye password-eye" onclick="togglePassword()"></i>

                            <span class="validationMessage">
                                @Html.ValidationMessageFor(m => m.OldPassword)
                            </span>
                        </div>
                        @*<div class="password-input">
                                <input type="password" class="w-full"
                                       placeHolder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.OldPassword"
                                       value="@Model.OldPassword"
                                       name="OldPassword"
                                       id="OldPassword"
                                       maxlength="16"
                                       required>
                                <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                            </div>*@
                    </div>
                    <div class="input-field-common h-[92px] ">
                        <label class="block mb-2 text-sm font-medium text-secondary-100 ">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.NewPassword
                        </label>
                        <div class="password-input">
                            @Html.TextBoxFor(model => model.NewPassword, new
                               {
                                   @class = "w-full",
                                   @placeholder = CRS.CUSTOMER.APPLICATION.Resources.Resource.NewPassword,
                                   @maxLength = "16",
                                   type = "password"
                               })
                            <i class="las la-eye password-eye" onclick="togglePassword()"></i>

                            <span class="validationMessage">
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </span>
                        </div>
                        @*<div class="password-input">
                                <input type="password" class="w-full"
                                       placeHolder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.NewPassword"
                                       value="@Model.NewPassword"
                                       name="NewPassword"
                                       id="NewPassword"
                                       maxlength="16"
                                       required>
                                <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                            </div>*@
                    </div>
                    <div class="input-field-common h-[92px]  ">
                        <label class="block mb-2 text-sm font-medium text-secondary-100 ">
                            @CRS.CUSTOMER.APPLICATION.Resources.Resource.ConfirmNewPassword
                        </label>
                        <div class="password-input">
                            @Html.TextBoxFor(model => model.ConfirmPassword, new
                               {
                                   @class = "w-full",
                                   @placeholder = CRS.CUSTOMER.APPLICATION.Resources.Resource.ConfirmNewPassword,
                                   @maxLength = "16",
                                   type = "password"
                               })
                            <i class="las la-eye password-eye" onclick="togglePassword()"></i>

                            <span class="validationMessage">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </span>
                        </div>
                        @*<div class="password-input">
                                <input type="password" class="w-full"
                                       placeHolder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.ConfirmNewPassword"
                                       value="@Model.ConfirmPassword"
                                       name="ConfirmPassword"
                                       id="ConfirmPassword"
                                       maxlength="16"
                                       required>
                                <i class="las la-eye password-eye" onclick="togglePassword()"></i>
                            </div>*@
                    </div>


                </div>

            </div>
            <div id="" class="flex rounded-full justify-center items-center text-white h-[48px]  bg-[#D75A8B]  mx-[16px] my-[16px]">
                <button type="submit" class="ml-2 text-[14px]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.ChangePassword</button>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
        document.querySelectorAll('.password-eye').forEach(function (eyeIcon) {
            eyeIcon.addEventListener('click', function () {
                togglePassword(this);
            });
        });

        function togglePassword(eyeIcon) {
            const passwordInput = eyeIcon.previousElementSibling; // Get the input element before the icon

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.classList.remove('la-eye');
                eyeIcon.classList.add('la-eye-slash');
            } else {
                passwordInput.type = 'password';
                eyeIcon.classList.remove('la-eye-slash');
                eyeIcon.classList.add('la-eye');
            }
        }
    </script>
}
