@model CRS.CUSTOMER.APPLICATION.Models.UserProfileManagement.UserProfileModel
@{
    ViewBag.Title = "プロフィール編集 ‖ ホスログ《 ホストクラブ初回来店・ネット予約》";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-content {
        max-width: 100%;
        width: 400px;
    }

    .save_modal-content {
        background: #fff;
        max-width: 100%;
        width: 312px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .modal_header {
        color: var(--1_Darker_Primary, #D17979);
        text-align: center;
        font-family: "Noto Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 14px */
    }

    .save_cont {
        margin-top: 18px;
    }

    .savebtn {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 32px;
        padding-left: 32px;
        gap: 12px;
        border-radius: 4px;
        background: var(--Darker_Primary, #D75A8B);
    }

    input:focus {
        border: 1px solid #d75a8b !important;
    }

    input:focus-visible {
        border: 1px solid #d75a8b !important;
        outline: none
    }

    ul.delete-confirm {
        list-style-type: circle;
        width: 80%;
        margin: 14px auto;
        color: #292F33;
    }

    ul li {
        text-align: start;
        gap: 5px;
        margin-bottom: 5px;
        padding-left: 12px;
        color: #292F33;
    }

    li::marker {
        content: "\25CF";
        color: #292F33;
        font-size: 0.5em;
    }
</style>
<div class=" no-scrollbar overflow-y-auto">

    <div class="px-[12px] py-[20px] grid border-y  ">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row">
                <div class="photocontainer">
                    <div class="profileimage">
                        @if (String.IsNullOrWhiteSpace(Model.ProfileImage))
                        {
                            <img class="rounded-full h-[64px] w-[64px] object-fill " src="~/Content/assets/images/customer/demo-image.jpeg" alt="Profile Image">
                        }
                        else
                        {
                            <img class="rounded-full h-[64px] w-[64px] object-fill " src="@Model.ProfileImage" alt="Profile Image">
                        }
                    </div>
                    <div class="editoption">
                        <input type="file" id="fileInput" accept="image/jpeg, image/png, image/jpg" style="display: none">
                        <button onclick="uploadProfileImage()">
                            <svg id="camera"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="18"
                                 height="18"
                                 viewBox="0 0 18 18"
                                 fill="none">
                                <path d="M6.46875 3.375L6.29297 3.60352L5.625 4.5H1.6875V14.625H16.3125V4.5H12.375L11.707 3.60352L11.5312 3.375H6.46875ZM7.03125 4.5H10.9688L11.6367 5.39648L11.8125 5.625H15.1875V13.5H2.8125V5.625H6.1875L6.36328 5.39648L7.03125 4.5ZM4.5 6.1875C4.19019 6.1875 3.9375 6.44019 3.9375 6.75C3.9375 7.05981 4.19019 7.3125 4.5 7.3125C4.80981 7.3125 5.0625 7.05981 5.0625 6.75C5.0625 6.44019 4.80981 6.1875 4.5 6.1875ZM9 6.1875C7.14331 6.1875 5.625 7.70581 5.625 9.5625C5.625 11.4192 7.14331 12.9375 9 12.9375C10.8567 12.9375 12.375 11.4192 12.375 9.5625C12.375 7.70581 10.8567 6.1875 9 6.1875ZM9 7.3125C10.2502 7.3125 11.25 8.31226 11.25 9.5625C11.25 10.8127 10.2502 11.8125 9 11.8125C7.74976 11.8125 6.75 10.8127 6.75 9.5625C6.75 8.31226 7.74976 7.3125 9 7.3125Z"
                                      fill="#8D8D8D" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col gap-[0px] pl-[16px]">
                    <div class="text-[14px] font-[700]">
                        @Model.NickName
                    </div>
                    @* <div class="text-[14px] ">
                            @Model.EmailAddress
                        </div>*@
                    <div class=" rounded-[3px] text-[#F89336] border-[#F89336] flex flex-row items-center rounded-[3px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                            <path d="M7.79167 0C6.96989 0 6.2251 0.153972 5.64323 0.44401C5.06136 0.73405 4.58333 1.20671 4.58333 1.83333V3.66667C4.58333 3.72575 4.60303 3.78304 4.61198 3.83854C4.18587 3.72754 3.71322 3.66667 3.20833 3.66667C2.38656 3.66667 1.64176 3.82064 1.0599 4.11068C0.478027 4.40072 0 4.87337 0 5.5V9.16667C0 9.79329 0.478027 10.266 1.0599 10.556C1.64176 10.846 2.38656 11 3.20833 11C4.03011 11 4.7749 10.846 5.35677 10.556C5.93864 10.266 6.41667 9.79329 6.41667 9.16667V8.98047C6.8374 9.09147 7.29753 9.16667 7.79167 9.16667C8.61344 9.16667 9.35824 9.0127 9.9401 8.72266C10.522 8.43262 11 7.95996 11 7.33333V1.83333C11 1.20671 10.522 0.73405 9.9401 0.44401C9.35824 0.153972 8.61344 0 7.79167 0ZM7.79167 0.916667C8.48991 0.916667 9.11117 1.06706 9.52474 1.27474C9.93831 1.48242 10.0833 1.70085 10.0833 1.83333C10.0833 1.96582 9.93831 2.18424 9.52474 2.39193C9.11117 2.59961 8.48991 2.75 7.79167 2.75C7.09342 2.75 6.47217 2.59961 6.05859 2.39193C5.64502 2.18424 5.5 1.96582 5.5 1.83333C5.5 1.70085 5.64502 1.48242 6.05859 1.27474C6.47217 1.06706 7.09342 0.916667 7.79167 0.916667ZM5.5 3.13672C5.54834 3.16357 5.5931 3.19759 5.64323 3.22266C6.2251 3.5127 6.96989 3.66667 7.79167 3.66667C8.61344 3.66667 9.35824 3.5127 9.9401 3.22266C9.99023 3.19759 10.035 3.16357 10.0833 3.13672V3.66667C10.0833 3.79915 9.93831 4.01758 9.52474 4.22526C9.11117 4.43294 8.48991 4.58333 7.79167 4.58333C7.09342 4.58333 6.47217 4.43294 6.05859 4.22526C5.64502 4.01758 5.5 3.79915 5.5 3.66667V3.13672ZM3.20833 4.58333C3.90658 4.58333 4.52783 4.73372 4.94141 4.94141C5.35498 5.14909 5.5 5.36751 5.5 5.5C5.5 5.63249 5.35498 5.85091 4.94141 6.05859C4.52783 6.26628 3.90658 6.41667 3.20833 6.41667C2.51009 6.41667 1.88883 6.26628 1.47526 6.05859C1.06169 5.85091 0.916667 5.63249 0.916667 5.5C0.916667 5.36751 1.06169 5.14909 1.47526 4.94141C1.88883 4.73372 2.51009 4.58333 3.20833 4.58333ZM10.0833 4.97005V5.5C10.0833 5.63249 9.93831 5.85091 9.52474 6.05859C9.11117 6.26628 8.48991 6.41667 7.79167 6.41667C7.27067 6.41667 6.79981 6.33073 6.41667 6.20182V5.5C6.41667 5.44092 6.39697 5.38363 6.38802 5.32812C6.81413 5.43913 7.28678 5.5 7.79167 5.5C8.61344 5.5 9.35824 5.34603 9.9401 5.05599C9.99023 5.03092 10.035 4.99691 10.0833 4.97005ZM0.916667 6.80339C0.965007 6.83024 1.00977 6.86426 1.0599 6.88932C1.64176 7.17936 2.38656 7.33333 3.20833 7.33333C4.03011 7.33333 4.7749 7.17936 5.35677 6.88932C5.4069 6.86426 5.45166 6.83024 5.5 6.80339V7.33333C5.5 7.46582 5.35498 7.68425 4.94141 7.89193C4.52783 8.09961 3.90658 8.25 3.20833 8.25C2.51009 8.25 1.88883 8.09961 1.47526 7.89193C1.06169 7.68425 0.916667 7.46582 0.916667 7.33333V6.80339ZM10.0833 6.80339V7.33333C10.0833 7.46582 9.93831 7.68425 9.52474 7.89193C9.11117 8.09961 8.48991 8.25 7.79167 8.25C7.27067 8.25 6.79981 8.1766 6.41667 8.04948V7.16146C6.8374 7.27246 7.29574 7.33333 7.79167 7.33333C8.61344 7.33333 9.35824 7.17936 9.9401 6.88932C9.99023 6.86426 10.035 6.83024 10.0833 6.80339ZM0.916667 8.63672C0.965007 8.66357 1.00977 8.69759 1.0599 8.72266C1.64176 9.0127 2.38656 9.16667 3.20833 9.16667C4.03011 9.16667 4.7749 9.0127 5.35677 8.72266C5.4069 8.69759 5.45166 8.66357 5.5 8.63672V9.16667C5.5 9.29915 5.35498 9.51758 4.94141 9.72526C4.52783 9.93294 3.90658 10.0833 3.20833 10.0833C2.51009 10.0833 1.88883 9.93294 1.47526 9.72526C1.06169 9.51758 0.916667 9.29915 0.916667 9.16667V8.63672Z" fill="#E3AB00" />
                        </svg>
                        <spam style="padding-left: 2px; font-size: 11px; font-weight: 500; color: #E3AB00 ">0 @CRS.CUSTOMER.APPLICATION.Resources.Resource.Points</spam>
                    </div>
                </div>
            </div>
            <div>
                @*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M18.75 3.02344C18.1758 3.02344 17.6133 3.24609 17.1797 3.67969L9.75 11.0859L9.58594 11.25L9.53906 11.4844L9.02344 14.1094L8.78906 15.2109L9.89062 14.9766L12.5156 14.4609L12.75 14.4141L12.9141 14.25L20.3203 6.82031C21.1846 5.95605 21.1846 4.54395 20.3203 3.67969C19.8867 3.24609 19.3242 3.02344 18.75 3.02344ZM18.75 4.47656C18.9258 4.47656 19.0986 4.56738 19.2656 4.73438C19.5996 5.06836 19.5996 5.43164 19.2656 5.76562L12 13.0312L10.7109 13.2891L10.9688 12L18.2344 4.73438C18.4014 4.56738 18.5742 4.47656 18.75 4.47656ZM3 6V21H18V11.1094L16.5 12.6094V19.5H4.5V7.5H11.3906L12.8906 6H3Z"
                              fill="#D1D1D1" />
                    </svg>*@
            </div>
        </div>
    </div>

    @using (Html.BeginForm("UpdateUserProfileDetail", "ProfileManagement", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        if (!string.IsNullOrEmpty(Model.EmailAddress))
        {
            @Html.HiddenFor(model => model.EmailAddress)
        }
        @Html.HiddenFor(model => model.Gender)
        @Html.HiddenFor(model => model.NickName)
        <div class="flex flex-col px-[16px]" style="background:#FAF7F9; padding-bottom:22px; padding-top:14px">

            <div class="input-field-common w-full flex flex-col">
                <label class="text-[14px] font-[700] uppercase mb-[10px]" for="fname">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Nickname <span class="text-[#D32F2F]">*</span>
                </label>
                <input placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.Nickname"
                       class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] "
                       type="text"
                       value="@Model.NickName"
                       disabled style="background-color:lightgrey">

            </div>
            <div class="input-field-common w-full flex flex-col">
                <label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]" for="fname">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.PhoneNumber<span class="text-[#D32F2F]">*</span>
                </label>
                <input placeholder="+101761408054" class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] "
                       type="text" value="@Model.MobileNumber" name="MobileNumber" disabled style="background-color:lightgrey">
            </div>

        </div>


        <div class="flex flex-col mx-[16px]">
            <div style="padding-top: 21px;text-align: center; font-size: 13px; color: #7E6D5E ">
                ホスログを便利に使うために登録しよう！
            </div>

            <div class="grid grid-cols-2 gap-[16px] mt-[12px] ">
                <div class="flex flex-col input-field-common">
                    <label class="text-[14px] font-[700] uppercase mb-[10px]" for="fname">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Surname <span class="text-[#D32F2F]"></span></label>
                    <input placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.Surname"
                           class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] ="
                           name="LastName"
                           type="text"
                           @* data-val="true"
                           data-val-required="@CRS.CUSTOMER.APPLICATION.Resources.Resource.This_field_is_required"*@
                           value="@Model.LastName"
                           id="Surname">
                    @* <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error-validation-msg" })
                        </div>*@
                </div>
                <div class="flex flex-col input-field-common">
                    <label class="text-[14px] font-[700] uppercase mb-[10px]" for="fname">@CRS.CUSTOMER.APPLICATION.Resources.Resource.GivenName </label>
                    <input placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.GivenName"
                           class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] ="
                           type="text"
                           data-val="true"
                           data-val-required="@CRS.CUSTOMER.APPLICATION.Resources.Resource.This_field_is_required"
                           value="@Model.FirstName"
                           name="FirstName"
                           id="GivenName">
                    <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error-validation-msg" })
                    </div>
                </div>
            </div>
            <label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]">
                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Gender<span class="text-[#D32F2F]"></span>
            </label>
            <div class="grid grid-cols-3 gap-[8px]">

                <div class="language-option  h-[40px]" data-gender="Female">
                    <div class="flex flex-row w-full  ">
                        <div class="flex items-center ">
                            <div class="flex flex-row items-center">
                                <div class="circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                         fill="none">
                                        <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                              fill="#ECECEC" />
                                    </svg>
                                </div>
                                <div class="circle-active">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"
                                         fill="none">
                                        <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                              fill="#ECECEC" />
                                        <path d="M11 7C8.792 7 7 8.792 7 11C7 13.208 8.792 15 11 15C13.208 15 15 13.208 15 11C15 8.792 13.208 7 11 7Z"
                                              fill="#D75A8B" />
                                    </svg>
                                </div>
                            </div>
                            <p class="lang">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Female
                            </p>
                        </div>
                    </div>
                </div>
                <div class="language-option  h-[40px]" data-gender="Male">
                    <div class="flex flex-row w-full  ">
                        <div class="flex flex-row items-center">
                            <div class="circle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                          fill="#ECECEC" />
                                </svg>
                            </div>
                            <div class="circle-active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                          fill="#ECECEC" />
                                    <path d="M11 7C8.792 7 7 8.792 7 11C7 13.208 8.792 15 11 15C13.208 15 15 13.208 15 11C15 8.792 13.208 7 11 7Z"
                                          fill="#D75A8B" />
                                </svg>
                            </div>
                        </div>
                        <div class="flex items-center ">
                            <p class="lang">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Male
                            </p>
                        </div>
                    </div>
                </div>
                <div class="language-option  h-[40px]" data-gender="Others">
                    <div class="flex flex-row w-full  ">
                        <div class="flex flex-row items-center">
                            <div class="circle">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                          fill="#ECECEC" />
                                </svg>
                            </div>
                            <div class="circle-active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M11 5C7.688 5 5 7.688 5 11C5 14.312 7.688 17 11 17C14.312 17 17 14.312 17 11C17 7.688 14.312 5 11 5ZM11 15.8C8.354 15.8 6.2 13.646 6.2 11C6.2 8.354 8.354 6.2 11 6.2C13.646 6.2 15.8 8.354 15.8 11C15.8 13.646 13.646 15.8 11 15.8Z"
                                          fill="#ECECEC" />
                                    <path d="M11 7C8.792 7 7 8.792 7 11C7 13.208 8.792 15 11 15C13.208 15 15 13.208 15 11C15 8.792 13.208 7 11 7Z"
                                          fill="#D75A8B" />
                                </svg>
                            </div>
                        </div>
                        <div class="flex items-center ">
                            <p class="lang">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Others
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="input-field-common w-full flex flex-col">
                <label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]" for="fname">
                    @CRS.CUSTOMER.APPLICATION.Resources.Resource.Email <span class="text-[#D32F2F]"></span>
                </label>
                @if (!string.IsNullOrEmpty(Model.EmailAddress))
                {
                    @Html.TextBoxFor(model => model.EmailAddress, new
               {
                   @class = "border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] ",
                   @placeholder = @CRS.CUSTOMER.APPLICATION.Resources.Resource.Email,
                   id = "emailInput",
                   @autocomplete = "off",
                   @disabled = "disabled",
                        @style = "background-color:lightgrey",
                   @type = "text"
               })
                    @*<input placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.Email"
                        class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] "
                        type="text"
                        value="@Model.EmailAddress"
                        id="emailInput"
                        name="EmailAddress"
                        disabled style="background-color:lightgrey">*@
                    <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "error-validation-msg" })
                    </div>
                }
                else
                {

                    @Html.TextBoxFor(model => model.EmailAddress, new
               {
                   @class = "border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] ",
                   @placeholder = @CRS.CUSTOMER.APPLICATION.Resources.Resource.Email,
                   @id = "emailInput",
                   @autocomplete = "off"
                   ,
                        @type = "text"
               })
                    @*<input placeholder="@CRS.CUSTOMER.APPLICATION.Resources.Resource.Email"
                        class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] "
                        type="text"
                        value="@Model.EmailAddress"
                        id="emailInput"
                        name="EmailAddress">*@
                    <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "error-validation-msg" })
                    </div>
                }

            </div>


            <div class="input-field-common flex flex-col" style="padding-bottom:12px">
                <label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]" for="fname">
                    生年月日
                    @*     @CRS.CUSTOMER.APPLICATION.Resources.Resource.ToConfirmAge*@
                    <span class="text-[#D32F2F]"></span>
                </label>
                <div class="grid grid-cols-3  gap-[6px]">
                    <div class="relative">
                        @Html.TextBoxFor(model => model.DOBYear, new { @class = "border-[1px] text-[#6A6A6A] rounded-[3px] w-full border-[#BEBEBE] ", @placeholder = "YYYY", @onkeypress = "return isNumber(event)", autocomplete = "off", @maxLength = '4' })
                        <span style="position: absolute; top: 10px; right: 10px; color: #6A6A6A">年</span>
                        <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                            @Html.ValidationMessageFor(m => m.DOBYear, "", new { @class = "error-validation-msg" })
                        </div>
                    </div>
                    <div class="relative">
                        @Html.TextBoxFor(model => model.DOBMonth, new { @class = "border-[1px] text-[#6A6A6A] rounded-[3px] w-full border-[#BEBEBE]", @placeholder = "MM", @onkeypress = "return isNumber(event)", autocomplete = "off", @maxLength = '2' })
                        <span style="position: absolute; top: 10px; right: 10px; color: #6A6A6A">月</span>
                        <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                            @Html.ValidationMessageFor(m => m.DOBMonth, "", new { @class = "error-validation-msg" })
                        </div>
                    </div>
                    <div class="relative">
                        @Html.TextBoxFor(model => model.DOBDay, new { @class = "border-[1px] text-[#6A6A6A] rounded-[3px] w-full border-[#BEBEBE]", @placeholder = "DD", @onkeypress = "return isNumber(event)", autocomplete = "off", @maxLength = '2' })
                        <span style="position: absolute; top: 10px; right: 10px; color: #6A6A6A">日</span>
                        <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                            @Html.ValidationMessageFor(m => m.DOBDay, "", new { @class = "error-validation-msg" })
                        </div>
                    </div>
                </div>
            </div>



            @*<label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.PreferredLocation</label>
                <div class="flex flex-col">
                    <div class="input-field-common">
                        <select id="default_select" style="width: 100%; font-size:15px"
                                class="default_select text-[#B7B7B7] h-[44px] select-common" name="PreferredLocationDDL">
                            @foreach (KeyValuePair<string, string> item in ViewBag.LocationDDL as Dictionary<string, string>)
                            {
                                var selectedId = ViewBag.PreferredLocationKey as string;
                                if (item.Key == selectedId)
                                {
                                    <option value="@item.Key" selected>
                                        @item.Value
                                    </option>
                                }
                                else
                                {
                                    <option value="@item.Key">
                                        @item.Value
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>*@
            <div style="display: flex; justify-content:flex-start; align-items:center; gap:7px">

                <div style="width:40%">
                    <label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Address <span class="text-[#D32F2F]"></span></label>
                    <div class="input-field-common mb-[10px] relative">
                        <div style="position: absolute; top: 10px; left: 10px; color: #6A6A6A" lang="">〒</div>
                        @Html.TextBoxFor(model => model.PostalCode, new { @class = "border-[1px]  text-[#6A6A6A] rounded-[3px] border-[#BEBEBE]", @style = "width:100%; padding-left:34px", @placeholder = "", autocomplete = "off" })

                        <div class="validationMessage">
                            @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "error-validation-msg" })
                        </div>
                    </div>
                </div>
                <div style="width:60%">
                    @*<label class="text-[14px] font-[700] mt-[12px] uppercase mb-[10px]">@CRS.CUSTOMER.APPLICATION.Resources.Resource.Address <span class="text-[#D32F2F]">*</span></label>*@
                    @* <div class="input-field-common mb-[10px] mt-[12px]" style="padding-top:12px">
                            @Html.TextBoxFor(model => model.PostalCode, new { @class = "border-[1px]  text-[#6A6A6A] rounded-[3px] border-[#BEBEBE]", @style = "width:100%; background:#404040", @placeholder = "住所自動入力", autocomplete = "off" })
                            <div class="validationMessage">
                                @Html.ValidationMessageFor(m => m.PostalCode)
                            </div>
                        </div>*@
                </div>

            </div>
            <div class="grid grid-cols-1 " style="padding-bottom:12px">
                <div class="input-field-common">
                    <select id="default_select" style="width: 100%; font-size:15px"
                            class="default_select text-[#B7B7B7] h-[44px] select-common" name="PrefectureDDL">
                        <option value="" selected>
                            都道府県を選択してください
                        </option>
                        @foreach (KeyValuePair<string, string> item in ViewBag.PrefectureDDL as Dictionary<string, string>)
                        {
                            var selectedId = ViewBag.PrefectureKey as string;
                            if (item.Key == selectedId)
                            {
                                <option value="@item.Key">
                                    @item.Value
                                </option>
                            }
                            else
                            {
                                <option value="@item.Key">
                                    @item.Value
                                </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-[6px]  " style="margin-bottom:12px">

                <div class="input-field-common">
                    <input placeholder="市区町村"
                           class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] h-[40px] w-full"
                           value="@Model.City"
                           type="text"
                           data-val="true"
                           data-val-required="@CRS.CUSTOMER.APPLICATION.Resources.Resource.This_field_is_required"
                           name="City">
                    <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "error-validation-msg" })
                    </div>
                </div>
                <div class="input-field-common">
                    <input placeholder="番地" class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] w-full"
                           value="@Model.Street"
                           type="text"
                           data-val="true"
                           data-val-required="@CRS.CUSTOMER.APPLICATION.Resources.Resource.This_field_is_required"
                           name="Street">
                    <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                        @Html.ValidationMessageFor(m => m.Street, "", new { @class = "error-validation-msg" })
                    </div>
                </div>
            </div>
            <div class="flex flex-col pb-[61px]">

                <div class="input-field-common ">
                    <input placeholder="建物名・部屋番号"
                           class="border-[1px] text-[#6A6A6A] rounded-[3px] border-[#BEBEBE] w-full "
                           type="text"
                           data-val="true"
                           data-val-required="@CRS.CUSTOMER.APPLICATION.Resources.Resource.This_field_is_required"
                           name="ResidenceNumber"
                           value="@Model.ResidenceNumber">
                    <div class="validationMessage text-[10px] font-normal leading-[13.62px]">
                        @Html.ValidationMessageFor(m => m.ResidenceNumber, "", new { @class = "error-validation-msg" })
                    </div>
                </div>

                @*<span class="text-[12px] font-[400] text-[#BDBDBD] ">
                        山田
                    </span>*@
            </div>
            <div class="text-[11px] text-[#D17979] underline leading-[16px] mt-[61px] mb-[19px]" style="margin-top:61px" onclick="openModal('modal1')">
                アカウント削除
                @*  @CRS.CUSTOMER.APPLICATION.Resources.Resource.DeleteYourAccount*@
            </div>


        </div>

        <div class="py-[12px] mt-[20px] px-[16px]  w-full grid grid-cols-1" style="box-shadow:0px 0px 7px 0px rgba(68,47,38,0.25)">

            <div class="grid grid-cols-1   ">
                @* <div style="border: 1px solid var(--Secondary-Text-II, #A1A1AA);"
                         class="flex rounded-[4px] justify-center items-center text-white h-[48px]    ">
                        <p class="ml-2 text-[14px] text-[#B7B7B7]" onclick="openModal('modal1')">@CRS.CUSTOMER.APPLICATION.Resources.Resource.DeleteYourAccount</p>
                    </div>*@
                <div onclick="openModal('save_Modal')" class="flex rounded-[4px] justify-center items-center text-white h-[48px]  bg-[#D75A8B]  ">
                    <button onclick="openModal('save_Modal')" class="ml-2 text-[14px]">
                        更新する
                        @*@CRS.CUSTOMER.APPLICATION.Resources.Resource.UpdateYourProfile*@
                    </button>
                </div>
            </div>
        </div>
    }
</div>
<!--<div id="modal1" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('modal1')">&times;</span>
        <div class="relative bg-white rounded-lg shadow overflow-hidden">-->
<!-- Modal content -->
<!--<div class="bg-[#FFF]  w-full rounded-b-lg shadow">
                <div class="grid gap-[12px] pb-[18px]">
                    <div>
                        <div class="flex flex-row justify-center">
                            <button onclick="closeModal('modal1')">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Cancel
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="flex flex-row justify-center">
                            <button class="button-curve btn-primary h-[29px] mx-[20px]" onclick="DeleteAccount()">
                                @CRS.CUSTOMER.APPLICATION.Resources.Resource.Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->



<div id="save_Modal" class="modal modalWrapper"
     style="display:none;">
    <div class="save_modal-content relative" style="max-width: 312px; border-radius: 15px;">
        <span class=" absolute  z-30 text-[#fff] text-[28px] cursor-pointer right-3" onclick="closeModal('save_Modal')"
              style="top:-49px">&times;</span>
        <div class="flex flex-col gap-1">

            <div class="modal_header">
                最終確認
            </div>

            <div class="text-[12px] flex justify-center mb-2">
                本当に削除してもよろしいですか？
            </div>
        </div>

        <div class="border"></div>

        <div class="save_cont flex gap-2 justify-center mt-4">
            <div onclick="closeModal('save_Modal')" class="flex justify-center items-center underline px-8 w-[135px]">
                キャンセル
            </div>
            <button onclick="closeModal('save_Modal')" type="submit" class="savebtn w-[135px]">
                削除する
            </button>
        </div>
    </div>
</div>






<div id="modal1" class="modal " style="display:none">
    <div class=" " style="width:90%">
        <div class="relative w-full max-w-2xl max-h-full" style="z-index:1000">
            <span class=" absolute  z-30 text-[#fff] text-[28px] cursor-pointer right-3" onclick="closeModal('modal1')"
                  style="top:-49px">&times;</span>
            <div id="cancel_id" value="" hidden></div>
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow py-6 flex  flex-col">
                <!-- Modal header -->
                <div class="text-center pt-2 pb-4 px-2 border-b border-[#DCDCDC] flex flex-col justify-center gap-1 ">
                    <div class=" text-[16px] font-semibold text-[#D17979]">アカウント削除</div>
                    <div class=" text-[12px] font-normal text-[#1A1C1E]">ご以下の情報が全て失われます</div>
                </div>
                <!-- Modal body -->
                <div style="border-radius: 4px; background: #EFEFEF;">
                    <ul style="color: #292F33; font-size: 11px; font-style: normal; font-weight: 400; line-height: 100%; list-style-type: circle;" class="delete-confirm">
                        <li>プロフィール情報</li>
                        <li>お支払い情報</li>
                        <li>予約情報</li>
                        <li>
                            ブックマーク
                        </li>
                        <li>
                            保有ポイント
                        </li>
                    </ul>
                </div>
                <div class="grid gap-4 p-6 pt-4 grid-cols-2">

                    <button class=" h-[40px]  text-[14px] font-medium leading-[24px] underline " style="color: #292F33; font-size:14px; line-height:24px; font-weight:500 " onclick="closeModal('modal1')"
                            data-modal-hide="defaultModal">
                        キャンセル
                    </button>
                    <button class=" btn-primary rounded h-[40px]  text-[#FFFFFF] font-medium text-[14px]  leading-[24px]" onclick="nextPopup()"
                            data-modal-hide="defaultModal">
                        削除する
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@*second popup*@

<div id="modal2" class="modal modalWrapper" style="display:none">
    <div class="modal-content modalContentWrapper">
        <div class="relative w-full max-w-2xl max-h-full" style="z-index:1000">
            <span class=" absolute  z-30 text-[#fff] text-[28px] cursor-pointer right-3" onclick="closeModal('modal2')"
                  style="top:-49px">&times;</span>
            <div id="cancel_id" value="" hidden></div>
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow py-6 flex  flex-col">
                <!-- Modal header -->
                <div class="text-center pt-2 pb-4 px-2 border-b border-[#DCDCDC] flex flex-col justify-center gap-1 ">
                    <div class=" text-[16px] font-semibold text-[#1A1C1E]">最終確認</div>
                    <div class=" text-[12px] font-normal text-[#1A1C1E]">本当に削除してもよろしいですか？</div>
                </div>
                <!-- Modal body -->
                <div class="grid gap-4 p-6 pt-4 grid-cols-2">
                    <button class=" h-[40px] border-[1px] border-[#B12D23] rounded text-[#B12D23] text-[14px] font-medium leading-[24px] underline " onclick="closeModal('modal2')"
                            data-modal-hide="defaultModal">
                        キャンセル
                    </button>
                    <button class=" btn-primary rounded h-[40px]  text-[#FFFFFF] font-medium text-[14px]  leading-[24px]" onclick="DeleteAccount()"
                            data-modal-hide="defaultModal">
                        削除する
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Content/assets/js/modal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/validation.js"></script>
    <script>
        document.body.addEventListener('touchmove', function (e) {
            e.preventDefault();
        });
    </script>
    <script>
    const uploadProfileImage = () => {
        // Trigger the file input to open the file selection dialog
        const fileInput = document.getElementById('fileInput');
        fileInput.click();

        // Listen for changes in the file input (when a file is selected)
        fileInput.addEventListener('change', () => {
            // Get the selected file from the input
            const selectedFile = fileInput.files[0];

            if (selectedFile) {
                // Create a FormData object and append the selected file
                const formData = new FormData();
                formData.append('file', selectedFile);

                // Send an AJAX POST request to the controller action
                fetch('/ProfileManagement/ChangeProfileImage', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                            location.reload();
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });
            }
        });
        };


    // Get all the div elements
        var divs = document.querySelectorAll('.language-option');
    // Add click event listeners to each div
        divs.forEach(function (div) {
        var genderValue = div.getAttribute('data-gender');
        var backEndGenderValue="@Model.Gender";

            if (genderValue === backEndGenderValue) {
            div.classList.add('active');
            $("div[data-gender='" + $(this).attr("data-gender") + "']").find('.lang').css("color", "#d75a8b");
            }
           else
            div.classList.remove('active');
            if ( "@Model.Gender" === "") {

                //$("div[data-gender='Female']").addClass("active");
                //$("div[data-gender='Female']").find('.lang').css("color", "#d75a8b");
             }
            div.addEventListener('click', function () {
            // Remove the 'bg-red' class from all divs
            divs.forEach(function (d) {
                d.classList.remove('active');


            });
            // Add the 'bg-red' class to the clicked div
                this.classList.add('active');
                $(".lang").css("color", "");
                $("div[data-gender='" + $(this).attr("data-gender") + "']").find('.lang').css("color", "#d75a8b")
            var genderValue = this.getAttribute('data-gender');
            $('#Gender').val(genderValue);
        });
        });
        $(".validationMessage").find('[data-valmsg-for="PostalCode"]').addClass("success text-[10px] font-normal leading-[13.62px]");
    function DeleteAccount() {
        $.ajax({
            type: 'POST',
            async: true,
            url: "/ProfileManagement/DeleteCustomereAccount",
            dataType: 'json',
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
            },
            success: function (data) {
                if (data.redirect) {
                    // Perform the redirect
                    window.location.href = data.redirect;
                } else {
                    window.location.reload();
                }
            },
            error: function (ex) {
                window.location.reload();
            }
        });
        }
        window.onload = function () {
            closeModal('modal1');
        }

        function nextPopup() {
            $('#modal2').show();
            $('#modal2').css("display","flex");

            $('#modal1').hide();

        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const postalCodeInput = document.querySelector('input[name="PostalCode"]');

            postalCodeInput.addEventListener('input', function () {
                let value = postalCodeInput.value.replace(/-/g, '');
                if (value.length > 3) {
                    value = value.slice(0, 3) + '-' + value.slice(3,7);
                }
                postalCodeInput.value = value;
            });
        });
    </script>
}
